<div data-ng-if="$ctrl.portfolioLoaded" class="animate-show">
	<div class="modal-backdrop"></div>
	<div class="modal-caseoverview d-flex flex-column bg-white">
	<!-- 	<span class="fa-stack fa-2x cursor-pointer close-icon close-icon--caseoverview" data-ng-click="$ctrl.closeCaseoverview()">
		  	<i class="fas fa-circle fa-stack-2x fa-inverse"></i>
		  	
		</span> -->

	<!-- 	<md-menu>
	 		<md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
				<i class="fas fa-cog fa-2x m-r-xs cursor-pointer"></i>
	 		</md-button>
	 		<md-menu-content>
	   			<md-menu-item><md-button ng-click="doSomething()">Remove patent</md-button></md-menu-item>
	 		</md-menu-content>
		</md-menu> -->

	<!-- 	<div data-ng-click="showOptions = !showOptions;"><i class="fas fa-ellipsis-v fa-lg m-r-xs cursor-pointer"></i></div>
		<div data-ng-class="{collapsed: 'showOptions'}" class="collapsable">
		    Stuff that gets hidden
		    <div>More stuff to hide</div>
		</div>		 -->
		<div class="caseoverview--options-panel cursor-pointer d-flex align-items-center">
			<i class="fas fa-ellipsis-v font-h3 m-r-sm cursor-pointer"></i>
			<i class="fas fa-times fa-2x cursor-pointer" data-ng-click="$ctrl.closeCaseoverview()"></i>
		</div>
			

		<div class="d-flex flex-grow-1 overflow-y-scroll overflow-x-hidden brbl-10 brtl-10">
			<div class="row flex-grow-1">
				<div class="col-md-12 col-lg-12 col-xl-12 d-flex flex-grow-1">
					<div class="d-flex flex-grow-1">
						<div class="width197 bg-light-grey">
							<ul class="tabs-left nav tabs-left--width197 m-t-lg">
								<li class="nav-item" data-ng-click="$ctrl.setTab('details'); activeLeft = 0;" data-ng-class="{'active': activeLeft === 0 }">
									<a class="nav-link d-flex flex-column">
										<span><i class="fal fa-info-circle font-h3"></i></span>
										Details
									</a>
								</li>
								<li class="nav-item" data-ng-click="$ctrl.setTab('notifications'); activeLeft = 1;" data-ng-class="{'active': activeLeft === 1 }">
									<a class="nav-link d-flex flex-column">
										<span><i class="fal fa-exclamation-circle font-h3"></i></span>							
										Notifications
									</a>
								</li>
								<li class="nav-item" data-ng-show="$ctrl.displayForm1200Tab" data-ng-click="$ctrl.setTab('form1200'); activeLeft = 2;" data-ng-class="{'active': activeLeft === 2}">
									<a class="nav-link d-flex flex-column">
										<span> <i class="fal fa-file-alt font-h3"></i></span>
										Form 1200
									</a>
								</li>
								<li class="nav-item" data-ng-show="$ctrl.displayRenewalHistoryTab" data-ng-click="$ctrl.setTab('renewalhistory'); activeLeft = 3;" data-ng-class="{'active': activeLeft === 3 }">
									<a class="nav-link d-flex flex-column">
										<span><i class="fal fa-usd-circle font-h3"></i></span>
										Renewal History
									</a>
								</li>
								<li class="nav-item" data-ng-show="$ctrl.displayGrantTab" data-ng-click="$ctrl.setTab('grantandpublishing'); activeLeft = 4;" data-ng-class="{'active': activeLeft === 4 }">
									<a class="nav-link d-flex flex-column">
										<span> <i class="fal fa-file-alt font-h3"></i></span>
										Grant & Publishing
									</a>
								</li>
								<li class="nav-item" data-ng-class="{'active': activeLeft ===  5}">
									<a class="nav-link d-flex flex-column" data-ng-disabled="notInProgress" data-ng-click=" notInProgress || $ctrl.setTab('feebreakdown'); activeLeft = 5;" >
										<span><i class="fal fa-usd-circle font-h3"></i></span>
										Fee Breakdown
									</a>
								</li>
								<li class="nav-item" data-ng-class="{'active': activeLeft ===  6}">
									<a class="nav-link d-flex flex-column" data-ng-disabled="notInProgress" data-ng-click="notInProgress || $ctrl.refreshChart(); $ctrl.setTab('fxchart'); activeLeft = 6;">
										<span><i class="fal fa-chart-line font-h3"></i></span>
										FX Chart
									</a>
								</li>
								<li class="nav-item" data-ng-class="{'active': activeLeft ===  7}">
									<a class="nav-link d-flex flex-column" data-ng-disabled="notInProgress" data-ng-click="notInProgress || $ctrl.refreshChart(); $ctrl.setTab('costchart'); activeLeft = 7;">
										<span> <i class="fal fa-chart-bar font-h3"></i> </span>
										Cost Chart
									</a>
								</li>								
							</ul>
						</div>
						<uib-tabset active="activeLeft">
							<uib-tab index="0" heading="Details" class="case-overview-nav" data-ng-click="$ctrl.setTab('details')" hidden="true">
							</uib-tab>
							<uib-tab index="1" heading="Notifications" class="case-overview-nav" data-ng-click="$ctrl.setTab('notifications')" hidden="true">
							</uib-tab>
							<uib-tab index="2" heading="Form 1200" class="case-overview-nav" data-ng-click="$ctrl.setTab('form1200')"  hidden="true">
							</uib-tab>
							<uib-tab index="3" heading="Renewal History" class="case-overview-nav" data-ng-click="$ctrl.setTab('renewalhistory')"  hidden="true">
							</uib-tab>
							<uib-tab index="4" heading="Grant and Publishing" class="case-overview-nav" data-ng-click="$ctrl.setTab('grantandpublishing')"  hidden="true">
							</uib-tab>	
							<uib-tab index="5" heading="Fee Breakdown" class="case-overview-nav" data-ng-click="$ctrl.setTab('feebreakdown')"  hidden="true">
							</uib-tab>
							<uib-tab index="6" heading="FX Chart" class="case-overview-nav" data-ng-click="$ctrl.refreshChart(); $ctrl.setTab('fxchart')" hidden="true">
							</uib-tab>
							<uib-tab index="7" heading="Cost Chart" class="case-overview-nav" data-ng-click="$ctrl.refreshChart(); $ctrl.setTab('costchart')" hidden="true">
							</uib-tab>											
						</uib-tabset>
						<div class="d-flex flex-column flex-grow-1 p-t-4 p-r-3 p-b-3 p-l-3 modal-caseoverview--view">
							<div class="row">
								<div class="col-md-6 d-flex align-items-center">
									<p class="font-h3 font-weight-bold">Application Number: <span class="font-weight-normal">{{$ctrl.patent.ep_ApplicationNumber}}</span></p>
								</div>
			                	<div class="col-md-6 text-right">
						            <transaction-link trans-id="{{$ctrl.patent.patentID}}" data-ng-if="$ctrl.patent.p3sServicesWithFees[0].saleType == 'In Progress'"></transaction-link>
						            <ngcart-addtocart id="{{$ctrl.patent.patentID}}" class="cartbtn" name="service.form1200" price="{{$ctrl.patent.p3sServicesWithFees[0].currentStageCostUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent" data-ng-if="$ctrl.patent.p3sServicesWithFees[0].saleType == 'Online' && $ctrl.patent.p3sServicesWithFees[0].serviceStatus == 'Epct saved'"></ngcart-addtocart>
						            <ngcart-addtocart id="{{$ctrl.patent.patentID}}" class="cartbtn" name="service.renewal" price="{{$ctrl.patent.p3sServicesWithFees[0].currentStageCostUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent" data-ng-if="$ctrl.patent.p3sServicesWithFees[0].saleType == 'Online' && $ctrl.patent.p3sServicesWithFees[0].serviceStatus == 'Show price'"></ngcart-addtocart>
						            <ngcart-addtocart id="{{$ctrl.patent.patentID}}" class="cartbtn" name="service.grant" price="{{$ctrl.patent.p3sServicesWithFees[0].currentStageCostUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent" data-ng-if="$ctrl.patent.p3sServicesWithFees[0].saleType == 'Online' && $ctrl.patent.p3sServicesWithFees[0].serviceStatus == 'Grant saved'"></ngcart-addtocart>             
						        </div>  							
							</div>
						
								<div class="border-grey-xs--btm m-t-sm m-b-sm"></div>
								<div ui-view="details" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'details'"></div>
								<div ui-view="notifications" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'notifications'"></div>
								<div ui-view="form1200" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'form1200'"></div>
								<div ui-view="renewalhistory" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'renewalhistory'"></div>
								<div ui-view="grantandpublishing" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'grantandpublishing'"></div>
								<div ui-view="fee-breakdown" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'feebreakdown'"></div>
								<div ui-view="fxchart" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'fxchart'"></div>
								<div ui-view="costchart" class="d-flex flex-column flex-grow-1" data-ng-show="caseoverview_tab == 'costchart'"></div>
												
						</div>
					</div>
				</div>			
			</div>
		</div>
<!-- 		<div class="row m-t-md">
			<div class="col-xl-12 text-left">
				<input type="button" id="delete" class="btn btn--lg btn--red pill-radius" value="Remove patent" data-ng-click="$ctrl.confirmDeletePatent($ctrl.patent.patentID)">
			</div>
		</div> -->
	</div>
</div>