<div data-ng-show="$ctrl.loading" class="animate-show">
	<div class="row m-b-md">
		<div class="col-xl-12 text-center">
			<img src="assets/imgs/icons/spinner-loader-sm.gif">
		</div>
	</div>
</div>
<div class="row d-flex align-items-center m-b-sm">
    <div class="col-xl-6">
		<p class="font-h2">
			<span class="font-weight-bold">Application Number:</span> {{$ctrl.patent.ep_ApplicationNumber}}
		</p>
<!-- 				<p class="font-h2">
			<span class="font-weight-medium">EPO Status:</span> {{$ctrl.patent.epoPatentStatus}}
		</p> -->
    </div>
    <div class="col-xl-6 text-right">
    	<div data-ng-if="$ctrl.statusesAvailable.length > 0">
			<p class="font-h2 font-weight-bold">
				Services available:<br>
			</p>
			<p class="font-h2">
				<span class="txt-phase-green font-weight-medium" data-ng-repeat="service in $ctrl.statusesAvailable">
					<span class="txt-phase-green">{{$ctrl.getStatus(service)}}</span>
					<span data-ng-if="$ctrl.statusesAvailable > 1">, </span>
				</span>
			</p>
    	</div>
    	<div data-ng-if="$ctrl.statusesAvailable.length === 0">
    		<p class="font-h2 font-weight-medium">No services available</p>
    	</div>
    </div>
</div>

	
<div class="row">
	<div class="col-md-12 col-lg-6 col-xl-6">
		<div class="content-panel">
			<div class="content-panel__body bg-white p-t-none">
				<uib-tabset active="activeLeft" class="">
					<uib-tab index="0" heading="Details" class="case-overview-nav">
						<div ui-view="details" class="m-t-lg"></div>
					</uib-tab>
					<uib-tab index="1" heading="Notifications" class="case-overview-nav">
						<div ui-view="notifications" class="m-t-lg"></div>
					</uib-tab>
					<uib-tab index="2" heading="Form 1200" class="case-overview-nav" data-ng-if="$ctrl.displayForm1200Tab">
						<div ui-view="form1200" class="m-t-lg"></div>
					</uib-tab>
					<uib-tab index="3" heading="Renewal History" class="case-overview-nav" data-ng-if="$ctrl.displayRenewalHistoryTab">
						<div ui-view="renewalhistory" class="m-t-lg"></div>
					</uib-tab>						
				</uib-tabset>
			</div>
		</div>
	</div>

	<div class="col-md-12 col-lg-6 ">
		<div class="content-panel">
			<div class="content-panel__body bg-white p-t-none">
				<div data-ng-if="$ctrl.servicesAvailable">
					<uib-tabset active="activeRight" class="m-b-md">
						<uib-tab index="0" heading="Fee Breakdown" class="case-overview-nav">
							<div ui-view="fee-breakdown" class="m-t-lg"></div>
						</uib-tab>
						<uib-tab index="1" heading="FX Chart" class="case-overview-nav" data-ng-click="$ctrl.refreshChart()">
							<div ui-view="fxchart" class="m-t-lg"></div>
						</uib-tab>
						<uib-tab index="2" heading="Cost Chart" class="case-overview-nav" data-ng-click="$ctrl.refreshChart()">
							<div ui-view="costchart" class="m-t-lg"></div>
						</uib-tab>
					</uib-tabset>
					<div class="border-grey-xs--btm"></div>
	                <div class="row m-t-md">
	                	<div class="col-xl-12 text-right">
				            <button type="button" class="btn btn--lg btn--green pill-radius" data-ng-if="$ctrl.patent.epctStatus == ('Payment in progress' || 'EPO Instructed')" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>
				            <ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn" name="service.form1200" price="{{$ctrl.patent.portfolioUI.serviceList[0].currentOfficialFeeUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent" data-ng-if="$ctrl.patent.form1200FeeUI !== null && $ctrl.patent.epctStatus == 'Epct saved'"></ngcart-addtocart>
				            <ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn" name="service.renewal" price="{{$ctrl.patent.portfolioUI.serviceList[0].currentOfficialFeeUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent" data-ng-if="$ctrl.patent.renewalFeeUI !== null && $ctrl.patent.renewalStatus == 'Show price'"></ngcart-addtocart>				            
<!-- 				            <span class="font-h4" data-ng-bind="$ctrl.getStatus($ctrl.patent.portfolioUI.serviceStatus)"></span>                            
				            <span class="font-h4" data-ng-if="$ctrl.patent.portfolioUI.serviceStatus == 'Epct not available'"> - Call Pure Ideas on +44 203 696 0949</span>           -->                  
				        </div>          
	                </div>				
				</div>
				<div data-ng-if="!$ctrl.servicesAvailable">
	                <div class="content-panel__body bg-white">
	                    <div class="row">
	                        <div class="col-xl-12">
	                            <div class="d-flex align-items-center justify-content-center h-100 z-index-1">
	                                <div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
	                                    <p class="h4 font-weight-medium">Sorry</p>
	                                    <p class="h4 font-weight-medium text-center">No Information Available</p>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>
	</div>			
<!-- 			<div class="col-xl-6 col-cxl-6 p-r-none border-grey-xs--right">
				<div data-ng-include="{{$ctrl.rightCaseView}}" data-ng-controller="$ctrl.rightCaseView.ctrl}}"></div>
			</div>		 -->
</div>

<div class="row m-t-md">
	<div class="col-xl-12 text-right">
		<input type="button" id="delete" class="btn btn--lg btn--red pill-radius" value="Remove" data-ng-click="$ctrl.confirmDeletePatent($ctrl.patent.id)">
	</div>
</div>

