<!-- <div class="content-panel__body bg-white"> -->
	<form class="form" name="patentInfoForm" novalidate>
		<div class="row">
			<div class="col-xl-12 col-cxl-12">
				<div class="m-b-lg">
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Client Reference: </label>
						<div class="col-xl-8">
							<input type="text" class="form-control m-r-sm" name="clientRef" id="clientRef" data-ng-model="$ctrl.patent.clientRef" data-ng-maxlength="15">
			        		<p class="txt-phase-red" data-ng-show="patentInfoForm.clientRef.$error.maxlength && patentInfoForm.clientRef.$dirty && focus.clientRefFocus">A maximum of 15 characters is allowed for a Client Reference</p>
		        		</div>	
					</div>
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Client Desc: </label>
						<div class="col-xl-8">
						    <input type="text" class="form-control m-r-sm" name="shortTitle" id="shortTitle" data-ng-model="$ctrl.patent.shortTitle" data-ng-maxlength="25">
			        		<p class="txt-phase-red" data-ng-show="patentInfoForm.shortTitle.$error.maxlength && patentInfoForm.shortTitle.$dirty && focus.shortTitleFocus">A maximum of 25 characters is allowed for a Client Description</p>
						</div>
					</div>
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Applicant Name: </label>
						<div class="col-xl-8">
			        		<input type="text" class="form-control" data-ng-model="$ctrl.patent.primaryApplicantName" readonly>
			        	</div>
					</div>
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Publication No: </label>
						<div class="col-xl-8">
				        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.patentPublicationNumber" readonly>
				        </div>
					</div>
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Title: </label>
						<div class="col-xl-8">
				        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.title" readonly>
				        </div>
					</div>	
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">International Filing date: </label>
						<div class="col-xl-8">
				        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.internationalFilingDateUI" readonly>
				        </div>
					</div>
					<div class="form-group row">
						<label class="font-weight-medium col-xl-4 d-flex align-items-center">Priority date: </label>
						<div class="col-xl-8">
				        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.priorityDateUI" readonly>
				        </div>
					</div>									
				</div>
				<div class="row">
					<div class="col-xl-12 d-flex">
						<input type="submit" id="submit" class="btn btn--lg btn--green pill-radius m-r-sm" value="Save" data-ng-click="$ctrl.updatePatent($ctrl.patent)">
					</div>
				</div>
			</div>
		</div>
	</form>
<!-- </div> -->