<div class="content-panel d-none d-xl-block">	
	<div class="bg-white">
		<div class="content-panel__head border-grey-xs--btm">
			<div class="row d-flex align-items-center">
			    <div class="col-xl-6">
					<p class="font-h4 m-b-xs">
						<span class="font-weight-medium">Application Number:</span> {{$ctrl.patent.ep_ApplicationNumber}}
					</p>
					<p class="font-h4">
						<span class="font-weight-medium">EPO Status:</span> {{$ctrl.patent.epoPatentStatus}}
					</p>
			    </div>
			    <div class="col-xl-6 text-right">
			    	<div data-ng-if="$ctrl.statusesAvailable.length > 0">
						<p class="font-h4 font-weight-medium m-b-xs">
							Services available:<br>
						</p>
						<p class="font-h4">
							<span class="txt-phase-green font-weight-medium" data-ng-repeat="service in $ctrl.statusesAvailable">
								<span class="txt-phase-green">{{$ctrl.getStatus(service)}}</span>
								<span data-ng-if="$ctrl.statusesAvailable > 1">, </span>
							</span>
						</p>
			    	</div>
			    	<div data-ng-if="$ctrl.statusesAvailable.length === 0">
			    		<p class="font-h4 font-weight-medium">No services available</p>
			    	</div>
			    </div>		    
			</div>
	    </div>
		<div class="row">
			<div class="col-xl-6 col-cxl-6 p-r-none border-grey-xs--right">
				<div class="content-panel__body">
	    			<form class="form" name="patentInfoForm" novalidate>
	    				<div class="row">
		    				<div class="col-xl-12 col-cxl-12">
		    					<div class="m-b-lg">
			    					<h4 class="font-h4 font-weight-medium m-b-sm">Details</h4>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Client Desc: </label>
										<div class="col-xl-8">
											<div class="d-flex justify-content-between align-items-center">
												<span class="font-body" data-ng-hide="$ctrl.editing[1]">{{$ctrl.patent.shortTitle}}</span>
										        <input type="text" name="shortTitle" id="shortTitle" class="form-control m-r-sm" data-ng-show="$ctrl.editing[1]" data-ng-focus="focus.shortTitleFocus = true" data-ng-blur="$ctrl.doneEditing(1); focus.shortTitleFocus = false" data-ng-model="$ctrl.patent.shortTitle" data-ng-maxlength="25" autofocus>
										        <span data-ng-click="$ctrl.editItem(1)">
										        	<i class="fa fa-edit fa-2x"></i>
										        </span>
											</div>
							        		<p class="txt-phase-red" data-ng-show="patentInfoForm.shortTitle.$error.maxlength && patentInfoForm.shortTitle.$dirty && focus.shortTitleFocus">A maximum of 25 characters is allowed for a Client Description</p>
										</div>
									</div>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Client Reference: </label>
										<div class="col-xl-8">
											<div class="d-flex justify-content-between align-items-center">
										 		<span class="font-body" data-ng-hide="$ctrl.editing[2]">{{$ctrl.patent.clientRef}}</span>
								        		<input type="text" class="form-control m-r-sm" name="clientRef" id="clientRef" data-ng-show="$ctrl.editing[2]" data-ng-focus="focus.clientRefFocus = true" data-ng-blur="$ctrl.doneEditing(2); focus.clientRefFocus = false" data-ng-model="$ctrl.patent.clientRef" data-ng-maxlength="30" autofocus>
								        		<span data-ng-click="$ctrl.editItem(2)"><i class="fa fa-edit fa-2x"></i></span>
							        		</div>
							        		<p class="txt-phase-red" data-ng-show="patentInfoForm.clientRef.$error.maxlength && patentInfoForm.clientRef.$dirty && focus.clientRefFocus">A maximum of 30 characters is allowed for a Client Reference</p>
						        		</div>	
									</div>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Applicant Name: </label>
										<div class="col-xl-8">
							        		<input type="text" class="form-control" data-ng-model="$ctrl.patent.primaryApplicantName" readonly>
							        	</div>
									</div>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Publication No: </label>
										<div class="col-xl-8">
								        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.patentPublicationNumber" readonly>
								        </div>
									</div>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Title: </label>
										<div class="col-xl-8">
								        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.title" readonly>
								        </div>
									</div>	
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">International Filing date: </label>
										<div class="col-xl-8">
								        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.internationalFilingDateUI" readonly>
								        </div>
									</div>
									<div class="form-group row">
										<label class="font-weight-medium col-xl-4 d-flex align-items-center">Priority date: </label>
										<div class="col-xl-8">
								        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.priorityDateUI" readonly>
								        </div>
									</div>									
								</div>
								<div class="row">
									<div class="col-xl-12 d-flex">
										<input type="submit" id="submit" class="btn btn--lg btn--green pill-radius m-r-sm" value="Save" data-ng-click="$ctrl.updatePatent($ctrl.patent)">
										<input type="button" id="delete" class="btn btn--lg btn--red pill-radius" value="Remove" data-ng-click="$ctrl.confirmDeletePatent($ctrl.patent.id)">
									</div>
								</div>
							</div>
						</div>								
					</form>
				</div>
			</div>
			<div class="col-xl-6 p-l-none">
				<div class="content-panel__body h-100 d-flex align-items-center justify-content-center" data-ng-if="$ctrl.patent.renewalFeeUI === null && $ctrl.patent.form1200FeeUI === null">
					<div class="row bg-no-chart">
						<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
							<div class="d-flex justify-content-center align-items-center flex-column">
								<p class="h4 font-weight-medium text-center">No service is currently available</p>		
								<p class="font-body text-center">When a service does become available, all FX and fee information will be displayed in this panel.</p>
							</div>
		    			</div>
	    			</div>
				</div>

				<div class="content-panel__body" data-ng-if="$ctrl.patent.availableFee !== null">
					<div class="m-b-sm">
						<div class="row">
							<div class="col-xl-12 d-flex justify-content-between m-b-sm">
								<h3 class="font-weight-medium font-h3" data-ng-bind="$ctrl.patent.availableFee.title"></h3>
							</div>	
						</div>						
						<div class="row">
							<div class="col-xl-12 d-flex justify-content-between m-b-sm">
								<h4 class="font-weight-medium font-h4">FX Impact</h4>
								<p class="font-weight-medium font-h4">Today's Rate: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.availableFee.fxRate"></span></p>
							</div>	
						</div>
						<div class="row">
							<div class="col-xl-12 d-flex justify-content-between">
								<p class="font-weight-medium font-h4">Yesterday: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateYesterday >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateYesterday"></span></p>
								<p class="font-weight-medium font-h4">Last Week: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateLastWeek >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateLastWeek"></span></p>
								<p class="font-weight-medium font-h4">Last Month: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateLastMonth >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateLastMonth"></span></p>
							</div>
						</div>	
					</div>
					<div class="row">
						<div class="col-xl-3 offset-xl-4">
							<p class="font-h4 font-weight-medium m-b-xs text-center">USD</p>
						</div>
						<div class="col-xl-3 offset-xl-2">
							<p class="font-h4 font-weight-medium m-b-xs text-center">EUR</p>
						</div>
					</div>
					<div class=" m-b-sm border-grey-xs--btm"></div>
					<div class="row m-b-sm">
						<div class="col-xl-4">
							<p class="font-weight-medium">Official Fees:</p>
						</div>
						<div class="col-xl-3">
							<p class="text-center">$ {{($ctrl.patent.availableFee.officialFeesUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-xl-2">
						</div>
						<div class="col-xl-3">
							<p class="text-center">&euro; {{($ctrl.patent.availableFee.officialFeesEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xl-4">
							<p class="font-weight-medium">Patent Place Fees:</p>
						</div>
						<div class="col-xl-3">
							<p class="text-center">$ {{($ctrl.patent.availableFee.ppFeesUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-xl-2">
						</div>
						<div class="col-xl-3">
							<p class="text-center">&euro; {{($ctrl.patent.availableFee.ppFeesEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-xl-4">
							<p class="font-weight-medium">Total:</p>			
						</div>
						<div class="col-xl-3">
							<p class="text-center">$ {{($ctrl.patent.availableFee.subTotalUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-xl-2">
						</div>
						<div class="col-xl-3">
							<p class="text-center">&euro; {{($ctrl.patent.availableFee.subTotalEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class=" m-b-sm border-grey-xs--btm"></div>
					<div class="row">
						<div class="col-xl-12 m-b-sm">
							<p class="font-body font-weight-medium">Save: <span class="txt-phase-green">$ {{$ctrl.patent.availableFee.savings | number: 2}}</span></p>
							<p>Renew before: <span class="font-weight-medium" data-ng-bind="$ctrl.patent.availableFee.costBandEndDateUI"></span></p>
						</div>
						<div class="col-xl-12 d-flex justify-content-end align-items-center">
							<div data-ng-if="$ctrl.patent.availableFee !== null && $ctrl.patent.renewalStatus !== 'Payment in progress' && $ctrl.patent.renewalStatus !== 'EPO Instructed'">
						 		<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn m-r-sm" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Renewal'" name="service.renewal" price="{{$ctrl.patent.renewalFeeUI.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
	 							</ngcart-addtocart>
	 						</div>
	 						<div data-ng-if="$ctrl.patent.availableFee !== null && $ctrl.patent.epctStatus !== 'Payment in progress' && $ctrl.patent.epctStatus !== 'EPO Instructed' && $ctrl.patent.epctStatus !== 'Epct being generated' && $ctrl.patent.epctStatus !== 'Epct available'">
						 		<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn m-r-sm" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Form1200'" name="service.form1200" price="{{$ctrl.patent.form1200FeeUI.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
	 							</ngcart-addtocart>	 											 		 							
							</div>
							<div data-ng-if="$ctrl.patent.availableFee !== null">
				        		<button class="btn btn--green btn--lg pill-radius" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Renewal'" data-ui-sref="portfolio.patent.renewal.cost-analysis">View Fee Breakdown</button>
				        		<button class="btn btn--green btn--lg pill-radius" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Form1200'" data-ui-sref="portfolio.patent.euro-pct.cost-analysis">View Fee Breakdown</button>
							</div>
				        	<button type="button" class="btn btn--lg btn--green pill-radius m-l-sm" data-ng-if="($ctrl.patent.renewalStatus == 'Payment in progress' || $ctrl.patent.renewalStatus ==  'EPO Instructed') || ($ctrl.patent.epctStatus == 'Payment in progress' || $ctrl.patent.renewalStatus == 'EPO Instructed')" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>
						</div>
					</div>	
				</div>	<!-- col-xl-6 END -->
			</div>
	   	</div>
	</div>
</div>

<div class="d-xl-none">
	<div class="row">
		<div class="col-md-12 col-lg-12">
			<form class="form">
				<div class="content-panel lg-border-none lg-m-b-md">
					<div class="content-panel__head lg-border-none bg-white">
						<div class="row d-flex align-items-center">
						    <div class="col-md-6 col-lg-6">
								<p class="font-h4 m-b-xs">
									<span class="font-weight-medium">Application Number:</span> {{$ctrl.patent.ep_ApplicationNumber}}
								</p>
								<p class="font-h4">
									<span class="font-weight-medium">EPO Status:</span> {{$ctrl.patent.epoPatentStatus}}
								</p>			
						    </div>
						    <div class="col-md-6 col-lg-6 text-right">
						    	<div data-ng-if="$ctrl.statusesAvailable.length > 0">
									<p class="font-h4 font-weight-medium m-b-xs">
										Services available:<br>
									</p>
									<p class="font-h4">
										<span class="txt-phase-green font-weight-medium" data-ng-repeat="service in $ctrl.statusesAvailable">
											<span class="txt-phase-green">{{$ctrl.getStatus(service)}}</span>
											<span data-ng-if="$ctrl.statusesAvailable > 1">, </span>
										</span>
									</p>
						    	</div>
						    	<div data-ng-if="$ctrl.statusesAvailable.length === 0">
						    		<p class="font-h4 font-weight-medium">No services available</p>
						    	</div>
						    </div>
					    </div>
				    </div>					
					<div class="content-panel__body bg-white">
						<div class="row">	
		    				<div class="col-md-12 col-lg-12">
		    					<div class="xl-m-b-lg">
			    					<h4 class="font-h4 font-weight-medium m-b-sm">Details</h4>
									<div class="row">
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-lg-12 col-lg-12 col-xl-4  d-flex align-items-center">Client Description: </label>
											<div class="col-md-12 col-lg-12">
												<div class="d-flex justify-content-between align-items-center">
													<span class="font-body" data-ng-hide="$ctrl.editing[1]">{{$ctrl.patent.shortTitle}}</span>
											        <input type="text" class="form-control m-r-sm" data-id="123" data-ng-show="$ctrl.editing[1]" data-ng-blur="$ctrl.doneEditing(1)" data-ng-model="$ctrl.patent.shortTitle" autofocus>
											        <span data-ng-click="$ctrl.editItem(1)"><i class="fa fa-edit fa-2x"></i></span>
												</div>
											</div>														
										</div>
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-lg-4 col-lg-12 d-flex align-items-center">Client Ref: </label>
											<div class="col-md-12 col-lg-12">
												<div class="d-flex justify-content-between align-items-center">
											 		<span class="font-body" data-ng-hide="$ctrl.editing[2]">{{$ctrl.patent.clientRef}}</span>
									        		<input type="text" class="form-control m-r-sm" data-id="123" data-ng-show="$ctrl.editing[2]" data-ng-blur="$ctrl.doneEditing(2)" data-ng-model="$ctrl.patent.clientRef" autofocus>
									        		<span data-ng-click="$ctrl.editItem(2)"><i class="fa fa-edit fa-2x"></i></span>
								        		</div>
							        		</div>												
										</div>													
									</div>
									<div class="row">
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-md-12 col-lg-12 d-flex align-items-center">Applicant Name: </label>
											<div class="col-md-12 col-lg-12">
								        		<input type="text" class="form-control" data-id="123" data-ng-model="$ctrl.patent.primaryApplicantName" readonly>
								        	</div>
										</div>
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-md-12 col-lg-12 d-flex align-items-center">Publication No: </label>
											<div class="col-md-12 col-lg-12">
									        	<input type="text" class="form-control" data-id="123" data-ng-model="$ctrl.patent.patentPublicationNumber" readonly>
									        </div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-lg-4 col-lg-12 d-flex align-items-center">Title: </label>
											<div class="col-md-12 col-lg-12">
									        	<input type="text" class="form-control" data-id="123" data-ng-model="$ctrl.patent.title" readonly>
									        </div>
										</div>	
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-lg-4 col-lg-12 d-flex align-items-center">Filing date: </label>
											<div class="col-md-12 col-lg-12">
									        	<input type="text" class="form-control" data-id="123" data-ng-model="$ctrl.patent.filingDateUI" readonly>
									        </div>
										</div>
									</div>
									<div class="row">
										<div class="form-group col-md-6 col-lg-6 p-none">
											<label class="font-weight-medium col-md-6 col-lg-6 d-flex align-items-center">Priority date: </label>
											<div class="col-md-12 col-lg-12">
									        	<input type="text" class="form-control" data-ng-model="$ctrl.patent.priorityDateUI" readonly>
									        </div>
									    </div>
									</div>											
								</div>											
								<div class="row m-t-xs">
									<div class="col-md-12 col-lg-12 d-flex">
										<input type="submit" id="submit" class="btn btn--lg pill-radius btn--green m-r-sm" value="Save" data-ng-click="$ctrl.updatePatent($ctrl.patent)">
										<input type="button" id="delete" class="btn btn--lg pill-radius btn--red" value="Remove" data-ng-click="$ctrl.confirmDeletePatent($ctrl.patent.id)">									
									</div>
								</div>																						
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>



	<div class="row">
		<div class="col-md-12 col-lg-8">
			<div class="content-panel">
				<div class="content-panel__body bg-white">
					<div data-ng-if="$ctrl.patent.renewalFeeUI === null && $ctrl.patent.form1200FeeUI === null">
						<div class="row bg-no-chart">
							<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
								<div class="d-flex justify-content-center align-items-center flex-column">
									<p class="h4 font-weight-medium text-center">No service is currently available</p>		
									<p class="font-body text-center">When a service does become available, all FX and fee information will be displayed in this panel.</p>
								</div>
			    			</div>
						</div>
					</div>
					<div data-ng-if="$ctrl.patent.availableFee !== null">
						<div class="m-b-xs">
							<div class="row">
								<div class="col-md-12 d-flex justify-content-between m-b-sm">
									<h3 class="font-weight-medium font-h3" data-ng-bind="$ctrl.patent.availableFee.title"></h3>
								</div>	
							</div>						
							<div class="row">
								<div class="col-md-12 d-flex justify-content-between m-b-sm">
									<h4 class="font-weight-medium font-h4">FX Impact</h4>
									<p class="font-weight-medium font-h4">Today's Rate: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.availableFee.fxRate"></span></p>
								</div>	
							</div>
							<div class="row">
								<div class="col-md-12 d-flex justify-content-between">
									<p class="font-weight-medium font-h4">Yesterday: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateYesterday >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateYesterday"></span></p>
									<p class="font-weight-medium font-h4">Last Week: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateLastWeek >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateLastWeek"></span></p>
									<p class="font-weight-medium font-h4">Last Month: <span data-ng-class="$ctrl.patent.availableFee.costHistoryUI.fxRateLastMonth >= $ctrl.patent.availableFee.fxRate ? 'txt-phase-green': 'txt-phase-red'" data-ng-bind="$ctrl.patent.availableFee.costHistoryUI.fxRateLastMonth"></span></p>
								</div>
							</div>				
						</div>
						<div class="row">
							<div class="col-md-3 offset-md-4">
								<p class="font-h4 font-weight-medium m-b-xs text-center">USD</p>
							</div>
							<div class="col-md-3 offset-md-2">
								<p class="font-h4 font-weight-medium m-b-xs text-center">EUR</p>
							</div>
						</div>
						<div class="m-b-sm border-grey-xs--btm"></div>
						<div class="row m-b-sm">
							<div class="col-md-4">
								<p class="font-weight-medium">Official Fees:</p>
							</div>
							<div class="col-md-3">
								<p class="text-center">$ {{($ctrl.patent.availableFee.officialFeesUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-md-2">
								
							</div>
							<div class="col-md-3">
								<p class="text-center">&euro; {{($ctrl.patent.availableFee.officialFeesUSD | number: 2) || '0.00'}}</p>
							</div>
						</div>							
						<div class="row m-b-sm">
							<div class="col-md-4">
								<p class="font-weight-medium">Patent Place Fees:</p>
							</div>
							<div class="col-md-3">
								<p class="text-center">$ {{($ctrl.patent.availableFee.ppFeesUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-md-2">
							</div>
							<div class="col-md-3">
								<p class="text-center">&euro; {{($ctrl.patent.availableFee.ppFeesEUR | number: 2) || '0.00'}}</p>
							</div>																								
						</div>
						<div class="row m-b-sm">
							<div class="col-md-4">
								<p class="font-weight-medium">Total:</p>			
							</div>
							<div class="col-md-3">
								<p class="text-center">$ {{($ctrl.patent.availableFee.subTotalUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-md-2">
							</div>								
							<div class="col-md-3">
								<p class="text-center">&euro; {{($ctrl.patent.availableFee.subTotalEUR | number: 2) || '0.00'}}</p>
							</div>
						</div>
						<div class="m-b-sm border-grey-xs--btm"></div>
							<div class="row">
								<div class="col-md-6 m-b-sm">
									<p class="font-body font-weight-medium">Save: <span class="txt-phase-green">$ {{($ctrl.patent.availableFee.savings | number: 2) || '0.00'}}</span></p>
									<p>Renew before: <span class="font-weight-medium" data-ng-bind="$ctrl.patent.availableFee.costBandEndDateUI"></span></p>
								</div>
								<div class="col-md-6 d-flex justify-content-end align-items-center">
									<div data-ng-if="$ctrl.patent.availableFee !== null && $ctrl.patent.renewalStatus !== 'Payment in progress' && $ctrl.patent.renewalStatus !== 'EPO Instructed'">
								 		<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn m-r-sm" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Renewal'" name="service.renewal" price="{{$ctrl.patent.renewalFeeUI.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
			 							</ngcart-addtocart>
			 						</div>
			 						<div data-ng-if="$ctrl.patent.availableFee !== null && $ctrl.patent.epctStatus !== 'Payment in progress' && $ctrl.patent.epctStatus !== 'EPO Instructed' && $ctrl.patent.epctStatus !== 'Epct being generated' && $ctrl.patent.epctStatus !== 'Epct available'">
								 		<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn m-r-sm" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Form1200'" name="service.form1200" price="{{$ctrl.patent.form1200FeeUI.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
			 							</ngcart-addtocart>	 											 		 							
									</div>
									<div data-ng-if="$ctrl.patent.availableFee !== null">
						        		<button class="btn btn--green btn--lg pill-radius" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Renewal'" data-ui-sref="portfolio.patent.renewal.cost-analysis">View Fee Breakdown</button>
						        		<button class="btn btn--green btn--lg pill-radius" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].serviceType == 'Form1200'" data-ui-sref="portfolio.patent.euro-pct.cost-analysis">View Fee Breakdown</button>
									</div>
						        	<button type="button" class="btn btn--lg btn--green pill-radius m-l-sm" data-ng-if="($ctrl.patent.renewalStatus == 'Payment in progress' || $ctrl.patent.renewalStatus ==  'EPO Instructed') || ($ctrl.patent.epctStatus == 'Payment in progress' || $ctrl.patent.renewalStatus == 'EPO Instructed')" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div> <!-- row end -->
	</div>
</div>