<div class="content-panel bg-white">
    <div class="content-panel__head">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav class="navbar secondary-view-nav">
                    <ul class="panel-nav">
                        <li>
                            <a class="pill-radius panel-nav__list-item list-item--plain" data-ui-sref="portfolio.patent.euro-pct.info" data-ui-sref-active="active">Euro-PCT Info</a>
                        </li>
                        <li>
                            <a class="pill-radius panel-nav__list-item list-item--plain" data-ui-sref="portfolio.patent.euro-pct.form1200.intro" data-ui-sref-active="active"data-ng-disabled="$ctrl.form1200Available()">Form 1200</a><!--change back t0 intro-->
                        </li>
                        <li>
                           <a class="pill-radius panel-nav__list-item list-item--plain" data-ui-sref="portfolio.patent.euro-pct.cost-analysis" data-ui-sref-active="active">Cost Analysis</a>
                        </li> 
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<div ui-view></div>