<div class="content-panel bg-white">   
    <div class="content-panel__head">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <nav>
                    <ul class="view-nav">
                        <li class="m-r-sm">
                            <a class="view-nav__item pill-radius" data-ui-sref-active="active" data-ui-sref="portfolio.patent.renewal.info">Renewal Info</a>
                        </li>
                        <li class="m-r-sm">
                            <a class="view-nav__item pill-radius" data-ui-sref-active="active" data-ui-sref="portfolio.patent.renewal.history">Renewal History</a>
                        </li>
                        <li class="m-r-sm">
                            <a class="view-nav__item pill-radius" data-ui-sref-active="active" data-ui-sref="portfolio.patent.renewal.cost-analysis">Cost Analysis</a>
                        </li> 
                    </ul>
                </nav>  
            </div>
        </div>
    </div>
</div>
<div ui-view></div>