<div data-ng-if="$ctrl.epctStage == 1" data-ng-class="fade-in">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="m-b-sm" data-ng-include="$ctrl.form1200Template">
            </div>

        </div>
    </div>
</div>

<div data-ng-if="$ctrl.epctStage == 2" data-ng-class="fade-in" data-ng-controller="form1200GeneratedCtrl">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="m-b-sm" data-ng-include="$ctrl.form1200Template">
            </div>
        </div>
    </div>
</div>
