@mixin list-item($min, $max, $color: #fff) {
    text-align: center;  
    min-width: $min;
    max-width: $max;
    color: $color; 
}

@mixin list-item-transition {
    -webkit-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
}

@mixin list-item-hover {
    opacity: 0.85; color: #fff;
}

@mixin hover-white {
	color: #fff;
}

@mixin opacity($val) {
	opacity: $val;
}

@mixin padding-mixin($some-number) {
  padding: $some-number;
}

@mixin margin-mixin($some-number) {
  margin: $some-number;
}

// @mixin font-mixin($size: 1.3rem, $letterspacing, $lineheight) {
//     font-size: $size;
//     line-height: $lineheight;
//     letter-spacing: $letterspacing
// }