@mixin list-item($min, $max, $color: #fff) {
	min-width: $min;
	max-width: $max;
	color: $color; 
}

@mixin list-item-transition {
    -webkit-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out, background .2s ease-in-out;
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
}

@mixin list-item-hover {
    opacity: 0.85; color: #fff;
}

@mixin hover-white {
	color: #fff;
}

@mixin opacity($val) {
	opacity: $val;
}

@mixin padding($t: 0, $r: 0, $b: 0, $l: 0) {
	// @if length($list) == 2 {
	// 	padding: $t + 'rem' $r + 'rem';
	// } @else { 
	// 	padding-top: $t + 'rem';
	// 	padding-right: $r + 'rem';
	// 	padding-bottom: $b + 'rem';
	// 	padding-left: $l + 'rem';
	// }	
}

@mixin margin($t: 0, $r: 0, $b: 0, $l: 0) {
	// @if length($list) == 2 {
	// 	margin: $t + 'rem ' $r + 'rem';
	// } @else {
	// 	margin-top: $t + 'rem';
	// 	margin-right: $r + 'rem';
	// 	margin-bottom: $b + 'rem';
	// 	margin-left: $l + 'rem';
	// }
}


@mixin border($t: 0, $r: 0, $b: 0, $l: 0) {
	// @if length($list) == 2 {
	// 	margin: $t + 'rem' $r + 'rem';
	// } @else {
	// 	margin: $t: +'rem ' + $r +'rem ' + $b +'rem ' +  $l+'rem';
	// }
}
// @mixin colour(background, border, color, opacity) {
// 	@if length($list) == 1 {
// 		background: background;
// 	} @else if length($list) == 2 {
// 		background: background;
// 		border: border
// 	} @else if length($list) == 3 {

// 	} @else length($list) == 2 {

// 	}
// }