@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap');

$blacktxt: #212121;
$white: #fff;

$grey-blocked: #c4c2c2;
$grey-lighter: #F4F6F8;
$grey: #E7E7E7;
$grey-dark: #3c3c3b;

$green: #62AB5D;
// $dark-green: #418746;
$amber: #FEA938;
$red: #EC725E;
// $dark-red: #ad030b;
$blue: #4288C9;
$black: #525251;

$border: #dbdbdb;

$font-body: 'Muli', sans-serif, arial, helvetica;

$font-normal: 1.2rem;
$line-none: 1.2rem;

$font-h4: 1.4rem;
$line-h4: 1.2rem;

$font-h3: 1.6rem;
$line-h3: 1.2rem;

$font-h2: 2rem;
$line-h2: 1.2rem;

$font-h1: 2.5rem;

$panel-pad-sm: 1rem 2rem;
$panel-pad-md: 1.5rem 3rem;

$grey-border: rgba(175, 175, 175, .2);