@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900');

$blacktxt: #212121;
$white: #fff;

$grey-blocked: #c4c2c2;
$grey-lighter: #F4F6F8;
$grey: #E7E7E7;
$grey-dark: #3c3c3b;
$green: #53ab58;
$dark-green: #418746;
$amber: #f9b233;
$red: #e30613;
$dark-red: #ad030b;
$blue: #0097ce;
$black: #000;

$border: #dbdbdb;

$font-body: 'Maven Pro', sans-serif, arial, helvetica;

$font-normal: 1.2rem;
$line-none: 1.2rem;

$font-h4: 1.4rem;
$line-h4: 1.2rem;

$font-h3: 1.6rem;
$line-h3: 1.2rem;

$font-h2: 1.8rem;
$line-h2: 1.2rem;

$font-h1: 2.5rem;

$panel-pad-sm: 1rem 2rem;
$panel-pad-md: 1.5rem 3rem;