<div data-ng-if="$ctrl.grantStage == 1" data-ng-class="fade-in" class=" d-flex flex-grow-1">
    <div class="row flex-grow-1">
        <div class="d-flex col-md-12 col-xl-12">
            <div class="m-b-sm d-flex flex-column flex-grow-1" dynamic="$ctrl.grantTemplate">
            </div>

        </div>
    </div>
</div>

<div data-ng-if="$ctrl.grantStage == 2" data-ng-class="fade-in" class="d-flex flex-grow-1" >
    <div class="row flex-grow-1">
        <div class="d-flex col-md-12 col-xl-12">
            <div class="m-b-sm d-flex flex-column flex-grow-1" dynamic="$ctrl.grantTemplate">
            </div>
        </div>
    </div>
</div>
