<script type="text/ng-template" id="warning-dialog.html">
	<div class="content-panel">
  		<div idle-countdown="countdown" ng-init="countdown=30" class="content-panel__head d-flex flex-column justify-content-center align-items-center">
  			<div class="m-b-sm">
  				<img src="p3sweb/assets/imgs/icons/pp_icon.png">
  			</div>
  			
    		<p class="font-body font-weight-medium">To help with security, you will be logged out in {{countdown}} second(s)</p>
		</div>		
	</div>

</script>
