<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-exclamation-circle fa-4x txt-phase-amber"></i>
    </div>
    <p class="font-h3 font-weight-medium">Delaying paying excess claims fee</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">If you choose to delay paying excess claim fees on filing, the EPO will issue a 161162 communication that requires a response from the applicant or their representative. You will have a 6-month deadline from the date of receipt of the communication from the EPO. Failure to respond will deem your application withdrawn.</p>
    <button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>




