<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-check-circle fa-4x txt-phase-green"></i>   
    </div>
    <p class="font-h3 font-weight-medium">Power of Attorney Documents submitted</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">You have successfully submitted your signed PoA document(s). When we have received the orignal signed PoA documents, we will forward these on to the appropriate associates who will then carry out the required work.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
