<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-exclamation-circle fa-4x txt-phase-amber"></i>
    </div>
    <p class="font-h3 font-weight-medium">Uploading amended claims</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">We can submit amended claims to the EPO, though we do not have a professional review them for you. Please ensure that you have had a professional review the claims before uploading them.</p>
    <button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>




