<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-check-circle fa-4x txt-phase-green"></i>
    </div>
	<p class="font-h3 font-weight-medium">Grant Order Reset</p>
	<p class="font-body w-100 text-center m-b-sm m-t-xs">The grant order is now in the process of being reset. Please leave up to 24 hours for these changes to be made to your portfolio. Please then check the availability of the European action.</p>
    <div class="d-flex">
    	<button class="btn btn--lg btn--green pill-radius m-r-md" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
    </div>
</div>