<div class="row">
    <div class="col-xl-12">
        <div class="form-group row">
            <label for="totalPages" class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">Please enter the total number of pages</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="totalPages" id="totalPages" class="form-control pill-radius" data-ng-change="addToFormData('', formData.totalPages)" data-ng-model="formData.totalPages" placeholder="Total Pages" validate-numbers required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.totalPages.$error.validNumber && form1200Form.totalPages.$dirty">Only numbers are valid charcters in this field.</p>  
            </div>
        </div>
        <div class="form-group row">
            <label for="totalClaims" class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">Please enter the total number of claims</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="totalClaims" class="form-control pill-radius" data-ng-change="addToFormData('', formData.totalClaims)" data-ng-model="formData.totalClaims" placeholder="Total Claims" validate-numbers required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.totalClaims.$error.validNumber && form1200Form.totalClaims.$dirty">Only numbers are valid charcters in this field.</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">Please enter start and end pages of description</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="descStart" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.description.typeStart)" data-ng-model="formData.pageDetailsData.description.typeStart" placeholder="Start" max="{{totalPages}}" validate-numbers required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.descStart.$error.validNumber && form1200Form.descStart.$dirty">Only numbers are valid charcters in this field.</p>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.descStart.$error.max && form1200Form.descStart.$dirty">The end page exceeds the total number of pages.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="descEnd" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.description.typeEnd)" data-ng-model="formData.pageDetailsData.description.typeEnd" max="{{totalPages}}" placeholder="End" validate-numbers ng-valid-max required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.descEnd.$error.validNumber && form1200Form.descEnd.$dirty">Only numbers are valid charcters in this field.</p>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.descEnd.$error.max && form1200Form.descEnd.$dirty">The end page exceeds the total number of pages.</p>                                                  
            </div>                                        
        </div>
        <div class="form-group row">
            <label class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">Please enter the start and end pages of claims</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="claimsStart" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.clams.typeStart)" data-ng-model="formData.pageDetailsData.claims.typeStart" placeholder="Start" max="{{totalPages}}" validate-numbers required>
                <p class="font-body txt-phase-red"  placeholder="Start" data-ng-show="form1200Form.claimsStart.$error.validNumber && form1200Form.claimsStart.$dirty">Only numbers are valid charcters in this field.</p>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.claimsStart.$error.max && form1200Form.claimsStart.$dirty">The end page exceeds the total number of pages.</p>                                                  
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="claimsEnd" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.clams.typeEnd)" data-ng-model="formData.pageDetailsData.claims.typeEnd" max="{{totalPages}}" placeholder="End" validate-numbers ng-valid-max required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.claimsEnd.$error.validNumber && form1200Form.claimsEnd.$dirty">Only numbers are valid charcters in this field.</p>    
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.claimsEnd.$error.max && form1200Form.claimsEnd.$dirty">The end page exceeds the total number of pages.</p>
            </div>                                        
        </div>
        <div class="form-group row">
            <label for="claimsStart" class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">Please enter start and end pages of drawings</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="drawingStart" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.drawings.typeStart)" data-ng-model="formData.pageDetailsData.drawings.typeStart" placeholder="Start" max="{{totalPages}}" validate-numbers  
              required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.drawingStart.$error.validNumber && form1200Form.drawingStart.$dirty">Only numbers are valid charcters in this field.</p>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.drawingStart.$error.max && form1200Form.drawingStart.$dirty">The end page exceeds the total number of pages.</p>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="drawingEnd" class="form-control pill-radius" data-ng-change="addToFormData('', formData.pageDetailsData.drawings.typeStart)" data-ng-model="formData.pageDetailsData.drawings.typeEnd" max="{{totalPages}}" placeholder="End" validate-number required>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.drawingEnd.$error.validNumber && form1200Form.drawingEnd.$dirty">Only numbers are valid charcters in this field.</p>
                <p class="font-body txt-phase-red" data-ng-show="form1200Form.drawingEnd.$error.max && form1200Form.drawingEnd.$dirty">The end page exceeds the total number of pages.</p>
            </div>                                        
        <!--</div>-->
    </div>
</div>