<div class="row">
     <div class="col-xl-12">
        <h4 class="m-b-xs font-weight-medium">Extension states</h4>
        <div class="row m-b-sm">
            <div class="col-md-6" data-ng-repeat="item in question.checkItems.extensionStatesUI track by $index">
                <div class="m-b-sm"> 
                    <label for="item.abbr" class="m-r-xs">
                        <span class="font-weight-medium">{{item.stateCode}}</span> - {{item.stateName}}
                    </label>
                    <input type="checkbox" id="'{{item.stateCode}}'" data-ng-model="check.stateCode" data-ng-change="updateChecklist('extensionStatesUI', item.stateCode, check.stateCode)">
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-xl-12">
        <h4 class="m-b-xs font-weight-medium">Validation states</h4>
        <div class="row">
            <div class="col-md-6" data-ng-repeat="item in question.checkItems.validationStatesUI track by $index">
                <div class="m-b-sm"> 
                    <label for="item.abbr" class="m-r-xs">
                        <span class="font-weight-medium">{{item.stateCode}}</span> - {{item.stateName}}
                    </label>
                    <input type="checkbox" id="'{{item.name}}'" data-ng-model="check.stateCode" data-ng-change="updateChecklist('validationStatesUI', item.stateCode, check.stateCode)">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <p data-ng-click="question.displayHelp = !question.displayHelp" class="btn btn-underlined m-b-xs">Which countries are included? 
            <i class="fas fa-chevron-down fa-sm" data-ng-show="question.displayHelp"></i>
            <i class="fas fa-chevron-right fa-sm" data-ng-show="!question.displayHelp"></i>
        </p>  
        <div class="expandcollapse-item">
            <div class="slideDown m-b-sm" data-ng-show="question.displayHelp">
                <p class="m-b-xs">The countries that are included by default are:</p>
                <div class="d-flex">
                    <ul>
                        <li>Albania</li>
                        <li>Austria</li>
                        <li>Belgium</li>
                        <li>Bulgaria</li>
                        <li>Switzerland</li>
                        <li>Cyprus</li>
                        <li>Czech Republic</li>
                        <li>Germany</li>
                        <li>Denmark</li>

                    </ul>
                    <ul>
                        <li>Estonia</li>
                        <li>Spain</li>
                        <li>Finland</li>
                        <li>France</li>                        
                        <li>United Kingdom</li>
                        <li>Croatia</li>
                        <li>Hungary</li>
                        <li>Ireland</li>
                        <li>Iceland</li>

                    </ul>
                    <ul>
                        <li>Netherlands</li>
                        <li>Norway</li>
                        <li>Poland</li>
                        <li>Portugal</li>
                        <li>Romania</li>
                        <li>Serbia</li>
                        <li>Sweden</li>
                        <li>Slovenia</li>
                        <li>Slovakia</li>
                        <li>San Marino</li>
                        <li>Turkey</li>
                    </ul>
                    <ul>
                    </ul>                                                    
                </div>
            </div>
        </div>
    </div>
</div>