/target/
META-INF/
*views.xml
public/
WEB-INF/classes
WEB-INF/i18n
WEB-INF/layouts
WEB-INF/lib
WEB-INF/spring
WEB-INF/tags
WEB-INF/i18n
WEB-INF/web.xml
/WEB-INF/views/*
!/WEB-INF/views/*.jsp
WEB-INF/views/htmldocs
node_modules
views/whoami.jsp
package-lock.json
index.html