.panel-nav, .view-nav,.view-nav-secondary { /*modules*/ /*components*/ /*_navigation.scss*/ //PANEL NAV
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* nowrap if you only want one row */
}

.view-nav {
    .view-nav__item {
        border: 1px solid $border;
        font-weight: 400;
        background: $white;
        font-size: $font-h3;
        cursor: pointer;
        line-height: $line-none;
        @include padding-mixin(0.7rem 3rem);
        -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        -o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        text-decoration: none;
        text-transform: uppercase;
        // border: 1px solid transparent;    
        &[disabled] {
            color: $white;
            cursor: not-allowed;
        }
        &:not([disabled]):hover, &:not([disabled]):focus {
            box-shadow: 0 0 2px .01px $grey-dark;
        }
        &.active {
            color: $white; 
            background: $grey-dark;
        }
    }
}


.view-nav-secondary {
    background: $white;
    .view-nav__item {
        border-right: 1px solid $grey;
        border-left: 1px solid $grey;
        border-bottom: 3px solid $white; 
        font-weight: 400;
        font-size: $font-h3;
        cursor: pointer;
        line-height: $line-none;
        @include padding-mixin(1.5rem 3rem);
        -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        -o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        text-decoration: none;
        text-transform: uppercase;
        &[disabled] {
            color: $grey;
            background: $grey-blocked;
            cursor: not-allowed;
            border-bottom: 3px solid $grey-blocked; 
        }
        &.active {
            border-bottom: 3px solid $black; 
        }
    }
}

.app-guide {
    .carousel-inner {
        // .carousel-item:not(.active) {
        //     .nav-tabs {
        //         height: 0!important;
        //         border-top: 0; //!important overrides other overide for bootstraps nav-tabs border
        //         border-bottom: 0;
        //         display: none;
        //     }
        // }      
        .carousel-item {
            border-bottom: 1px solid $grey;
            .nav-tabs {
                // border-top: 1px solid $grey!important; //!important overrides other overide for bootstraps nav-tabs border
                // border-bottom: 1px solid $grey!important;
                .nav-item {
                    border-bottom: 1px solid $grey; 
                    &[disabled] {
                        color: $grey;
                        background: $grey-blocked;
                        cursor: not-allowed;
                        border-bottom: 3px solid $grey-blocked; 
                    }
                    &.active {
                        .nav-link {
                            border-bottom: 3px solid $black; 
                        }
                    }
                    .nav-link {          
                        border-right: 1px solid $grey;
                        border-left: 1px solid $grey;
                        border-bottom: 3px solid $white; 
                        font-weight: 500;
                        font-size: $font-h4;
                        cursor: pointer;
                        line-height: $line-none;
                        @include padding-mixin(1.5rem 3rem);
                        -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
                        -o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
                        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
                        text-decoration: none;
                        // text-transform: uppercase;
                    }
                }
            }
        }
    }

}



.panel-nav {
    width: 100%;
    .panel-nav__colour-item {
        font-size: $font-body;
        cursor: pointer;
        line-height: $line-none;
        text-decoration: none;
        margin-right: 1rem;
        @include padding-mixin(2rem 0.75rem);
        &:last-child {
            margin-right: 0;
        }
        &.green {
          &.active {
            border-bottom: 4px solid $green;
          }
        }
        &.amber {
          &.active {
            border-bottom: 4px solid $amber;
          }
        }    
        &.red {
          &.active {
            border-bottom: 4px solid $red;
          }
        }    
        &.blue {
          &.active {
            border-bottom: 4px solid $blue;
          }
        }    
        &.black {
          &.active {
            border-bottom: 4px solid $black;
          }
        }                                    
        &.list-item--pad {
            @include padding-mixin(2rem 0.75rem);
        }
    }
    .panel-nav__list-item {
        color: $grey-dark;
        font-size: $font-body;
        cursor: pointer;
        line-height: $line-none;
        text-decoration: none;
        margin-right: 1rem;
        @include padding-mixin(0.5rem 3rem);
        -webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        -o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
        &:last-child {
            margin-right: 0;
        }
        &.list-item--sm-pad {
            @include padding-mixin(0.5rem 1.5rem);
        }
        &.list-item--plain {
            background: $white;
            border: 1px solid $border;
            cursor: pointer;
            color: $black;
        }
        &:not([disabled]):hover {
            // border: 1px solid transparent;
            box-shadow: 0 0 2px .01px $grey-dark;
        }
        &.active {
          background: $grey;
        }
        &.list-item--colour { //accompany element with bg-colour in view
          color: $white;
        }
        &.list-item--colour-border {
          border: 1px solid transparent;
          background: none;
          &.green {
            border: 2px solid $green;
            color: $green;
            &.active {
              background: $green;
              color: $white;
            }
          }
          &.amber {
            border: 2px solid $amber;
            color: $amber;
            &.active {
              background: $amber;
              color: $white;
            }        
          }
          &.red {
            border: 2px solid $red;
            color: $red;
            &.active {
              background: $red;
              color: $white;
            }        
          }
          &.blue {
            border: 2px solid $blue;
            color: $blue;
            &.active {
              background: $blue;
              color: $white;
            }        
          }
          &.black {
            border: 2px solid $black;
            color: $black;    
            &.active {            
              background: $black;
              color: $white;
            }
          }
          &.grey {
            border: 2px solid $grey-dark;
            color: $grey-dark;    
            &.active {            
              background: $grey-dark;
              color: $white;
            }     
          }
          
        }
        &[disabled] {
          border: $grey-dark;
          color: $grey;
          background: $grey-dark;
          color: $white;
          cursor: not-allowed;
        }
        // &.list-item--fluid {
        //   @include padding-mixin(0.5rem 3rem);
        // }
      } /*modules*/ /*components*/ /*_navigation.scss*/ /*OR REMOVE CLASS AND ADD CLASSES TO VIEW?*/ //ADD CLASS TO LI ITEMS
}

    // padding: 1.75rem 1rem;
    /* border-bottom: 4px solid black!important; */