%primary-view-nav__list,  { /*modules*/ /*components*/ /*_navigation.scss*/ //PANEL NAV
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* nowrap if you only want one row */
}

.secondary-view-nav .secondary-view-nav__list {
  @extend %primary-view-nav__list;
}
.panel-nav__list {
  @extend %primary-view-nav__list;
}
/*think of new naming convention. whats difference between them? not obvious*/
.panel-nav__list-item { 
  @include list-item-transition;
  &:last-child {
    margin-right: 0;
  }
  &:not([disabled]):hover { 
    @include list-item-hover; 
  }
  &:hover {
    .panel-nav__link { 
      @include hover-white; 
    }
  }
  &:active { 
    color: #fff; 
    opacity: 1!important;     
    @include opacity(1); 
  }  
  &:not([disabled]):active { 
    @include opacity(1); 
  }  
} /*modules*/ /*components*/ /*_navigation.scss*/ /*OR REMOVE CLASS AND ADD CLASSES TO VIEW?*/ //ADD CLASS TO LI ITEMS

.panel-nav__list-item--md {
  @include margin-mixin(0 1rem 0 0);
  @include list-item(10.5rem, 10.5rem);
  @include padding-mixin(0.5rem 1.5rem);  
}

.panel-nav__list-item--fluid {
  @include margin-mixin(0 1rem 0 0);
  @include padding-mixin(0.5rem 3rem);  
}


.panel-nav__list-item--num {
  @include margin-mixin(0 1rem 0 0);
  @include list-item-transition;
  @include list-item(7.5rem, 9.5rem);
  &:hover {
    @include list-item-hover; 
  }
  &:active { 
    @include opacity(1); 
  }  
}

.panel-nav__list-item--notifications {
  @include list-item(7.5rem, 8rem);
  &:hover { 
    color: $white; 
  }  
}

.secondary-view-nav__list-item { 
  margin-right: 1.5rem;
  &:last-child {
    margin-right: 0;
  }
} /*needed? rename to view*/ /*rename view-tabs_li-item*/

.secondary-view-nav__link { display: block; color: $blacktxt; }

.primary-view-nav__list-item, 
.secondary-view-nav__list-item {
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out, color .2s ease-in-out;
    transition: background .2s ease-in-out, border  .2s ease-in-out, color .2s ease-in-out;
}  

.secondary-view-nav__list-item.active { @include list-item-transition; } 

.primary-view-nav__list-item {
  &:hover {
    text-decoration: none;
    .primary-view-nav__link { //add class to link
      @include hover-white;
    }
  } 
  &:not(.disabled):not(.active):hover { 
    @include list-item-hover; 
  }  
  &:active {
    text-decoration: none;
    background: $dark-green; 
    border: 1px solid $dark-green; 
    color: #fff; 
    opacity: 1; 
  }
  &[disabled]:hover, &[disabled]:active {
    background: #fff; 
    border: 1px solid #dbdbdb; 
    opacity: .65; 
    color: $blacktxt;
  }
}

/*notification-nav*/

.panel-nav__notification-list-item--green-notification { &:hover {background: $green;} }
.panel-nav__notification-list-item--gamber-notification { &:hover {background: $amber;} }
.panel-nav__notification-list-item--gred-notification { &:hover {background: $red;} }
.panel-nav__notification-list-item--gblue-notification { &:hover {background: $blue;} }
.panel-nav__notification-list-item--gblack-notification { &:hover {background: $black;} }

.primary-view-nav__list-item, .secondary-view-nav__list-item {
  &:hover { 
    background: $green; 
    color: $white; 
    border: 1px solid $green; 
  }
}

.primary-view-nav__list-item.active {
  @include list-item-transition;
  font-weight: medium; 
  background: #53ab58; 
  border: 1px solid #53ab58; 
  color: #fff;
  > .primary-view-nav__link { 
    color: #fff; font-weight: 500;
  }
  &:active { 
    background: $dark-green; 
    border: 1px solid $dark-green; 
    color: #fff; 
    opacity: 1!important; 
  }
  &:active .primary-view-nav__link { 
    color: #fff; 
    opacity: 1; 
  }
  &.active:active .primary-view-nav__link { 
    color: #fff; 
    opacity: 1; 
  }  
  &:hover {
    .primary-view-nav__link { 
      @include opacity(1); 
    }
  }
}

.panel-nav__list-item.active { 
  background: $blacktxt; 
  color: $white;
}

.panel-nav__list-item.active { 
  &:not([disabled]):active { 
    @include opacity(1); 
  }
} 

.nav__nav-link { @include padding-mixin(0 0 0 0); } //add class name

.panel-nav__list-item.active { 
  font-weight: bold; 
  background: #3c3c3b; 
  border: none;  
  color: #fff;
}