.bg-phase-amber {
	.progress-bar { 
		background: #53ab58; 
	} 
}
.bg-phase-red {
	.progress-bar { 
		background: #f9b233; 
	}
} 
.bg-phase-blue {
	.progress-bar { 
		background: #e30613; 
	}
}
.bg-phase-black {
	.progress-bar { 
		background: #0097ce; 
	}
}
.bg-phase-white {
	.progress-bar { 
		background: #000; 
	}
}

.progress-phase__progress-15 { min-width: 15%; }
.progress-phase__progress-10 { min-width: 10%; }

.bg-phase-amber .progress-bar{ background: #53ab58; } /*green stage */
.bg-phase-red .progress-bar{ background: #f9b233; } /*amber stage */
.bg-phase-blue .progress-bar{ background: #e30613; } /*red stage */
.bg-phase-black .progress-bar{ background: #0097ce; } /*blue stage */
.bg-phase-white .progress-bar { background: #000; }
 
.progress-15 { min-width: 15%; }

.progress-bar-tall { height: 2rem; line-height: 1rem; }
.progress {
	margin-right: 2px; 
	position: relative; 
	border-radius: 20px; 
	z-index: 0;
	height: 1.5rem; 
}