#scrollable-area { /*modules*/ /*components*/ /*_tables.scss*  ADD CLASS INSTAD OF SELECTING WITH ID*/ 
  margin: auto;
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;  /*<!-- here is what is important-->*/
  overflow-x: hidden;
}

/*modules*/ /*components*/ /*_tables.scss*/ //CHANGE CLASSES USED IN VIEWS
%border-style { border-style: solid; border-color: #f5f5f5;}
%border { border-width: 1px 1px 1px 1px; }
%border-nr { border-width: 1px 0 1px 1px; }
%border-nb { border-width: 1px 1px 0 1px; }
%border-nt { border-width: 0 1px 1px 1px; }
%no-border-er { border-width: 0 1px 0 0; }
%border-bottom { 
  border-style: solid;
  border-color: $border;
  border-width: 0 0 1px 0; 
}
%no-border { border-width: 0 0 0 0!important; border: 0; }
%border { border: 1px solid $border; }

.t-data {
  width: 100%;
  font-family: $font-body;
  font-size: $font-normal;
  width: 100%;
  background: $white;
  .t-data__td:not(.ellipsis-remove) { 
    z-index: 0;
  }
}

.t-data--border {
  @extend %border;
}

.t-data--no-border {
  @extend %no-border;
}

.t-data__row---no-border {
  @extend %no-border;
}

.t-data_td--b-border {
  @extend %border-bottom;
}

.t-data__row---border {
  @extend %border;
}

.t-data__row--select {
  &:hover {
    cursor: pointer;
  }
  &:hover:not(.t-data__head), &.active:not(.t-data__head) {
    background: #f5f5f5;
  }  
}

.t-data .t-data__th {
  vertical-align: middle;
  text-align: center;
  @include padding-mixin(1.5rem 2.5rem);
}

.t-data .t-data__td {
  vertical-align: middle;
  text-align: center;
  @include padding-mixin(1rem 2rem);
}


.table .t-data__td {
  height: 50px;
}

// .t-data__td--lg-top {}

.t-data .t-data__a {
  &:hover {
    color: $black;
    text-decoration: none; 
  }
}

.t-data__td--ellipsis { //td-ellipsis
  max-width: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  &:hover {
    text-overflow: inherit; overflow: visible;
  }
  &:hover span.td-ellipsis {
    background: white; 
    z-index: 999; 
    padding: .2rem;
    margin-left: -.2rem; 
    position: relative; 
    color: #212121;
  }
}

// .t-data__td-panel-p-l { padding: 1.3rem 1rem 1.2rem 3rem; } 

.slick-container .slick-header { 
  padding: 1.3rem 1rem; 
  line-height: 1.3rem; 
  vertical-align: top; 
}

.t-data__btn-portal { min-width: 183.48px; min-height: 28px; }

.td-ch-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

table.t-border-space { border-spacing: 0rem 0.75rem; border-collapse: separate; }

.t-list tbody tr {
  -webkit-transition: background .2s ease-in-out;
  -o-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.t-data__w8 { width: 8%; }
.t-data__w9 { width: 9%; }
.t-data__w10 { width: 10%; }
.t-data__w13 { width: 13%; }
.t-data__w14 { width: 14%; }
.t-data__w15 { width: 15%; }
.t-data__w16 { width: 16%; }
.t-data__w18 { width: 18%; }
.t-data__w20 { width: 20%; }
.t-data__w30 { width: 30%; }
.t-data__w40 { width: 40%; }
.t-data__w50 { width: 50%; }
.t-data__w60 { width: 60%; }
.t-data__w70 { width: 70%; }

.t-data__p-t-none { padding-top: 0;} /*modules*/ /*components*/ /*_tables.scss*/
.t-data__p-b-none { padding-bottom: 0;} /*modules*/ /*components*/ /*_tables.scss*/