.accordion-caret {
    -webkit-transition: transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;    
    transition: transform .2s ease-in-out;
    &.active {
        transform: rotate(90deg)
    }
    &:hover {
        cursor: pointer;
    }
}

@keyframes animatedBackground {
    from { opacity: 0 ; }
    to { opacity: 0.6; }
}

