<div class="bg-white widget-panel h-100">
	<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
		<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
		<nav>
			<ul class="panel-nav">
				<li data-ng-repeat="item in $ctrl.activityNotifications track by $index" class="pill-radius panel-nav__list-item list-item--plain" data-ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTab); $ctrl.activeActivityTab = item.index; $ctrl.changeActivity(item.activity)" data-ng-class="{active : $ctrl.activeMenu == item.activity}">{{item.activity}}</li>
			</ul>
		</nav>
	</div>	
	<div class="widget-panel__body">
		<uib-tabset class="panel-nav" active="$ctrl.activeActivityTab">
			<uib-tab data-ng-hide="true" index="0">
				<div class="row bg-no-data" data-ng-if="$ctrl.recentActivityData.length === 0">
					<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
						<p class="font-weight-bold">There is no recent activity to report</p>
					</div>
				</div>
				<div class="row" data-ng-if="$ctrl.recentActivityData.length !== 0" data-ng-repeat="item in $ctrl.recentActivityData"><!--  -->
					<div class="col-md-12 col-lg-6 col-xl-8">
						<div class="row m-b-md">
							<div class="col-md-5">
								<p class="font-h4 font-weight-medium">Application No.</p>									
							</div>
							<div class="col-md-7">
								<p class="font-h4" data-ng-bind="item.ep_ApplicationNumber"></p>
							</div>
						</div>
						<div class="row m-b-md">
							<div class="col-md-5">
								<p class="font-h4 font-weight-medium">Client Ref</p>									
							</div>
							<div class="col-md-7">
								<p class="font-h4" data-ng-bind="item.clientRef || '[No Client Reference Provided]'"></p>
							</div>
						</div>
						<div class="row m-b-md">
							<div class="col-md-5">
								<p class="font-h4 font-weight-medium">Current Stage</p>
							</div>
							<div class="col-md-7">
								<p class="font-h4" data-ng-class="$ctrl.getCurrColour(item.serviceList[0].currentStageColour, 'text')">
	                    		{{item.serviceList[0].currentStageColour}}: {{$ctrl.date | date:'MM-dd-yy'}}	</p>
							</div>
						</div>
						<div class="row m-b-md">
							<div class="col-md-5">
								<p class="font-h4 font-weight-medium">Next Stage</p>
							</div>
							<div class="col-md-7">
								<p class="font-h4" data-ng-class="$ctrl.getCurrColour(item.serviceList[0].nextStageColour, 'text')">{{item.serviceList[0].nextStageColour}}: {{item.serviceList[0].costBandEndDate | date:'MM-dd-yy'}}
	                    		</p>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-6 col-xl-4">
						<div class="row m-b-md">
							<div class="col-md-12">
								<p class="font-h4 font-weight-medium">Current Cost:</p>
							</div>
						</div>
						<div class="row m-b-md">
							<div class="col-md-12">
								<p class="font-h4">$ {{item.serviceList[0].currentStageCostUSD | number: 2}}</p>
							</div>
						</div>
						<div class="row m-b-md">
							<div class="col-md-12">
								<p class="font-h4 font-weight-medium">Next Cost:</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p class="font-h4">$ {{item.serviceList[0].nextStageCostUSD | number: 2}}</p>
							</div>
						</div>																								
					</div>
				</div>								
			</uib-tab>
		    <uib-tab data-ng-hide="true" index="1">
					<div class="row bg-no-data" data-ng-if="$ctrl.recentTransArr.length === 0">
						<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
							<p class="font-weight-bold">There is no recent activity to report</p>
						</div>								
					</div>
				    <div class="row m-t-md border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<table class="table t-data">
								<tr>
									<td class="font-weight-bold">Transaction ID</td>
									<td class="t-data__td-50">{{trans.p3S_TransRef}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Transaction Date</td>
									<td class="t-data__td-50">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Patents</td>
									<td class="t-data__td-50">
										<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
											{{item.patentUI.patentApplicationNumber}}<br>
										</span>
										<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
											<option value="" disabled selected>Multiple</option>									
										</select>
									</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Total</td>
									<td class="t-data__td-50">$ {{trans.transAmount_USD | number: 2 }}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Transaction status</td>
									<td class="t-data__td-50">{{trans.latestTransStatus}}</td>
								</tr>
							</table>
						</div>
					</div>
			</uib-tab>				
		</uib-tabset>
	</div>
<!-- 	</div> -->	
	<!-- <div class="widget-panel__body d-xl-none">
		<div class="view-tabs justify-content-between">
			<uib-tabset active="$ctrl.activeActivityTabResp">
				<uib-tab heading="Stage Change" class="pill-radius pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="0" data-ng-hide="true">
					<div class="widget-panel--max m-t-sm">
						<div class="row bg-no-data" data-ng-if="$ctrl.recentStageArr.length === 0">
							<div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center justify-content-center z-index-1">
								<p class="font-weight-bold">There is no recent activity to report</p>
							</div>
						</div>
						<div class="row" data-ng-if="$ctrl.recentStageArr.length !== 0">
							<div class="col-md-6 col-lg-6" data-ng-repeat="item in $ctrl.recentStageArr">
								<table class="table t-data m-b-md">
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Patent No.</td>
										<td class="t-data t-data__w60">{{item.patentApplicationNumber}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold">Description</td>
										<td ng-if="!item.shortTitle" class="txt-grey t-data__w40">[No client description provided]</td>
										<td class="t-data__w60" ng-if="item.shortTitle">{{item.shortTitle}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Amount</td>
										<td class="t-data__w60">$ {{item.currentRenewalCostUSD | number: 2 }}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Current Stage</td>
										<td data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__w60">{{item.costBandColour}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Next Stage</td>
										<td data-ng-if="item.renewalStatus !== 'Too late to renew'" data-ng-class="(item.nextStage == 'Amber' ? 'txt-phase-amber': '') + '' + (item.nextStage == 'Red' ? 'txt-phase-red': '') + '' + (item.nextStage == 'Blue' ? 'txt-phase-blue': '') + '' + (item.nextStage == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__w60">{{item.nextStage}}</td>
										<td data-ng-if="item.renewalStatus == 'Too late to renew'" class="t-data__w60">Call <span class="font-weight-bold" data-ng-bind="partnerName"></span> on: <span class="font-weight-bold" data-ng-bind="$ctrl.partnerPhone"></span></td>										
									</tr>					
								</table>
							</div>								
						</div>									
					</div>
				</uib-tab>
			    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="1" data-ng-hide="true">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row bg-no-data" data-ng-if="$ctrl.recentTransArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
								<p class="font-weight-bold">There is no recent activity to report</p>
							</div>								
						</div>
					    <div class="row border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
							<div class="col-md-12 col-lg-6">
								<table class="table t-data">
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction ID</td>
										<td class="t-data__td-50">{{trans.p3S_TransRef}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction Date</td>
										<td class="t-data__td-50">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
													{{item.patentUI.patentApplicationNumber}}<br>
											</span>
											<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
												<option value="" disabled selected>Multiple</option>									
											</select>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Total</td>
										<td class="t-data__td-50">$ {{trans.transAmount_USD | number: 2 }}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction status</td>
										<td class="t-data__td-50">{{trans.latestTransStatus}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</uib-tab>
			    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="2" data-ng-hide="true">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row bg-no-data" data-ng-if="$ctrl.recentRenewalArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
								<p class="font-weight-bold">There is no recent activity to report</p>
							</div>								
						</div>						    
				    	<div class="row" data-ng-repeat="item in $ctrl.recentRenewalArr" data-ng-if="$ctrl.recentRenewalArr.length !== 0">
							<div class="col-md-12 col-lg-12">
								<table class="table t-data m-b-md">
									<tr>
										<td class="font-weight-bold t-data__td-50">Status</td>
										<td class="t-data__td-50">Renewal {{item.latestTransStatus}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Date Renewed</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.certificate.renewedOnDateExEpo | date:'MM/dd/yyyy'}}<br>
											</span>
										</td>
									</tr>																			
									<tr>
										<td class="font-weight-bold t-data__td-50">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.patentUI.patentApplicationNumber}}<br>
											</span>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Amount</td>
										<td class="t-data__td-50">$ {{item.transAmount_USD | number: 2 }}</td>
									</tr>			
								</table>
							</div>
						</div>
					</div>
				</uib-tab>						
			</uib-tabset>
		</div>	
	</div>			 -->
</div>