<div data-ng-show="$ctrl.dashboardLoaded" class="animate-show m-b-xl">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="font-h1 lh-default" data-ng-bind="$ctrl.pageTitle"></h1>
		</div>
	</div>
	<div class="row m-b-xl lg-m-b-md widget-row-top">
<!-- 		<div class="col-md-12 col-lg-12 col-xl-7 md-m-b-md lg-m-b-md">
			<div ui-view="colourkeywidget" class="h-100"></div>
		</div> -->
		<div class="col-md-12 col-lg-12 col-xl-7">
			<div ui-view="actionsavailable" class="h-100"></div>
		</div>	            
		<div class="col-xl-5 d-none d-xl-flex flex-column">
			<div ui-view="actioncost" class="h-100"></div>
		</div>		

	</div>
	<div class="row m-b-xl lg-m-b-md widget-row-middle">
		<div class="col-md-12 col-lg-12 col-xl-7 lg-m-b-md">
			<div ui-view="recentactivitywidget" class="h-100"></div>
		</div>		
 		<div class="col-md-6 col-lg-6 d-xl-none">
			<div ui-view="actioncostmd" class="h-100"></div>
		</div>		
		<div class="col-md-6 col-lg-6 col-xl-5">
			<div ui-view="graphdonutwidget" class="h-100"></div>
		</div>
	</div>
	<div class="row m-b-xl">
		<div class="col-md-12 col-lg-12 col-xl-12 lg-m-b-md">
			<div ui-view="fxchartwidget" class="h-100"></div>
		</div>
	</div>
</div>