<div data-ng-hide="$ctrl.animate" class="page-loading animate-show animate-hide h-100">
	<div class="screen-load">
		<div class="row m-b-md">
			<div class="col-xl-12 text-center">
				<img src="assets/imgs/icons/spinner-loader-sm.gif">
			</div>
		</div>
	</div>
</div>
<div data-ng-show="$ctrl.animate" class="animate-show m-b-xl">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="font-h1" data-ng-bind="$ctrl.pageTitle"></h1>
		</div>
	</div>
	<div class="row m-b-xl lg-m-b-md widget-row-top">
<!-- 		<div class="col-md-12 col-lg-12 col-xl-7 md-m-b-md lg-m-b-md">
			<div ui-view="colourkeywidget" class="h-100"></div>
		</div> -->
		<div class="col-md-12 col-lg-12 col-xl-7">
			<div ui-view="renewalswidget" class="h-100"></div>
		</div>	            
		<div class="col-xl-5 d-none d-xl-flex flex-column">
			<div ui-view="fxrateswidget" class="h-100"></div>
		</div>		

	</div>
	<div class="row m-b-xl lg-m-b-md widget-row-middle">
		<div class="col-md-12 col-lg-12 col-xl-7 lg-m-b-md">
			<div ui-view="recentactivitywidget" class="h-100"></div>
		</div>		
 		<div class="col-md-6 col-lg-6 d-xl-none">
			<div ui-view="fxrateswidgetmd" class="h-100"></div>
		</div>		
		<div class="col-md-6 col-lg-6 col-xl-5">
			<div ui-view="graphdonutwidget" class="h-100"></div>
		</div>
	</div>
	<div class="row m-b-xl">
		<div class="col-md-12 col-lg-12 col-xl-12 lg-m-b-md">
			<div ui-view="fxchartwidget" class="h-100"></div>
		</div>
	</div>
<!-- 	<div class="row">

	</div> -->
</div>