<div class="row">
    <div class="col-xl-12">
        <div class="form-group row">
            <label for="totalAdditionalClaims" class="col-md-12 col-lg-12 col-xl-12 col-form-label font-body">How many total claims have been file?</label>
            <div class="col-md-4 col-lg-4 col-xl-4 d-flex align-items-center">
                <input type="number" name="totalAdditionalClaims" id="totalAdditionalClaims" class="form-control pill-radius" data-ng-change="addToFormData('', formData.totalAdditionalClaims); isOptionValid(formData.totalAdditionalClaims, question);" data-ng-model="formData.totalAdditionalClaims" placeholder="Total number of claims" validate-numbers required>
            </div>
        </div>
        <p class="font-body txt-phase-red" data-ng-show="grantForm.totalAdditionalClaims.$error.validNumber && grantForm.totalAdditionalClaims.$dirty">Only numbers are valid charcters in this field.</p>
    </div>
</div>
