<div class="row">
    <div class="col-xl-12">
         <p class="m-b-xs">Do you want The Patent Place to notify you when the window in which you can pay the relevant validation fees opens?</p>
         <div class="form-check form-check-inline">
            <input type="checkbox" name="checkYes" data-ng-model="formData.optInValidation.yes" class="form-check-input checkbox-round" data-ng-required="!formData.optInValidation.no" data-ng-change="addToFormData('', formData.optInValidation.yes);" data-ng-click="formData.optInValidation.no = false; validModel[question.title].yes = formData.optInValidation.yes">
            <label for="checkYes" class="form-check-label">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="checkNo" data-ng-model="formData.optInValidation.no" class="form-check-input checkbox-round"  data-ng-required="!formData.optInValidation.yes" data-ng-change="addToFormData('', formData.optInValidation.no);" data-ng-click="formData.optInValidation.yes = false; validModel[question.title].no = formData.optInValidation.no">
            <label for="checkNo" class="form-check-label">No</label>  
        </div>  
        </div>
    </div>
</div>
