<uib-tabset type="pills">
	<uib-tab heading="Transaction Details">
		<div class="row">
			<div class="col-md-4">
				<h2>Transaction ID</h2>
				<p ng-bind="$ctrl.transaction.p3S_TransRef"></p>
			</div>
			<div class="col-md-4">
				<h2>Transaction Initated</h2>
				<p>{{$ctrl.transaction.transStartDateUI}}</p>
			</div>
			<div class="col-md-4">
				<h2>{{$ctrl.transaction.latestTransStatus}}</h2>
				<div class="progress-tracker">
					<progress value="{{$ctrl.renewalProgress}}" max="100" class="tracker-item"></progress>
				</div>				
			</div>
		</div>
		<div ng-repeat="transaction in $ctrl.patents">
			<div class="row">
				<div class="col-md-2">
					<p class="font-weight-bold">App No</p>
					<p ng-bind="transaction.patentUI.patentApplicationNumber"></p>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6">
					<p class="font-weight-bold">Client Ref: <span class="font-weight-normal" ng-bind="transaction.patentUI.clientRef"></span></p>
					<p class="font-weight-bold">Description: <span class="font-weight-normal" ng-bind="transaction.patentUI.title"></span></p>
					<table class="table">
						<tbody>
							<tr>
								<td class="font-weight-bold">Official fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.renewalFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Processing fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.processingFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">EPO surcharge: <span class="font-weight-normal" ng-bind="transaction.feeUI.extensionFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Urgent clearance fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.urgentFee_USD"></span></td>
							</tr>	
							<tr>
								<td class="font-weight-bold">Sub-total: <span class="font-weight-normal" ng-bind="transaction.feeUI.subTotal_USD"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6 text-xs-center">
					<div>
						<h4 ng-bind="transaction.renewalStatus"></h4>
						<div ng-if="transaction.renewalStatus == 'Payment in progress'">
							<div class="progress-tracker">
								<progress value="{{$ctrl.renewalProgress}}" max="100" class="tracker-item"></progress>
							</div>
							<p>ipsum</p>			
						</div>			
						<div ng-if="transaction.renewalStatus == 'EPO Instructed'">
							<p>Lorem</p>
							<div class="progress-tracker">
								<progress value="{{$ctrl.renewalProgress}}" max="100" class="tracker-item"></progress>
							</div>
						</div>
						<div ng-if="transaction.renewalStatus == 'Renewal in place'">
							<p>Lorem</p>
							<div class="progress-tracker">
								<progress value="{{$ctrl.renewalProgress}}" max="100" class="tracker-item"></progress>
							</div>
						</div>						
	
<!-- 						<p ng-if="$ctrl.transaction.latestTransStatus == 'Funds Received'">consectetur adipisicing elit, sed do eiusmod.</p>						
						<p ng-if="$ctrl.transaction.latestTransStatus == 'Funds Sent'">Lorem iadipisicing elit, sed do eiusmod.</p>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'EPO Received'">ipsum dolor sit amet, consectetur adit, sed do eiusmod.</p>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'EPO Instructed'">ipsum dolor sit amer adipisicing elit, sed do eiusmod.</p>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'Failed'">ipsum dolor sit amet, consectet elit, sed do eiusmod.</p>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'Completed'">ipsum dolor sit amdipisicing elit, sed do eiusmod.</p> -->
					</div>
				</div>			
			</div>
		</div>
	</uib-tab>
</uib-tabset>

   
    

	





