<uib-tabset type="pills">
	<uib-tab heading="Transaction Details">
		<div class="row">
			<div class="col-md-4">
				<h2>Transaction ID</h2>
				<p ng-bind="$ctrl.transaction.p3S_TransRef"></p>
			</div>
			<div class="col-md-4">
				<h2>Transaction Initated</h2>
				<p>{{$ctrl.transaction.transStartDateUI}}</p>
			</div>
			<div class="col-md-4">
				<h2>{{$ctrl.transaction.latestTransStatus}}</h2>
			</div>
		</div>
		<div ng-repeat="transaction in $ctrl.patents">
			<div class="row">
				<div class="col-md-2">
					<p class="font-weight-bold">App No</p>
					<p ng-bind="transaction.patentUI.patentApplicationNumber"></p>
				</div>			
				<div class="col-md-10">
					<p class="font-weight-bold">{{$ctrl.transaction.latestTransStatus}}</p>
					<p></p>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p class="font-weight-bold">Client Ref: <span class="font-weight-normal" ng-bind="transaction.patentUI.clientRef"></span></p>
					<p class="font-weight-bold">Description: <span class="font-weight-normal" ng-bind="transaction.patentUI.title"></span></p>
					<table class="table">
						<tbody>
							<tr>
								<td class="font-weight-bold">Official fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.renewalFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Processing fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.processingFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">EPO surcharge: <span class="font-weight-normal" ng-bind="transaction.feeUI.extensionFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Urgent clearance fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.urgentFee_USD"></span></td>
							</tr>	
							<tr>
								<td class="font-weight-bold">Sub-total: <span class="font-weight-normal" ng-bind="transaction.feeUI.subTotal_USD"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6 text-xs-center">
					<div class="row">
						<div class="progress-tracker">
							
						</div>
					</div>
					<div>
						<h4>{{$ctrl.transaction.latestTransStatus}}</h4>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'Received Funds'">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
						<p ng-if="$ctrl.transaction.latestTransStatus == 'Funds Received'">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
					</div>
				</div>			
			</div>
		</div>
	</uib-tab>
</uib-tabset>

   
    

	





