<div class="row m-b-md">
	<div class="col-md-12 col-lg-12 col-xl-12">
		<div class="view-tabs">
			<ul class="nav view-pills">
				<li class="nav-item nav-view-list-item pill-radius btn--lg pill-tabs font-h4 bg-white border-grey-xs active" ng-click="activeSelectedTab = 0">Transaction Details</li>
			</ul>
		</div>
	</div>
</div>

<div class="content-panel">
	<div class="bg-white">
		<uib-tabset type="pills" active="activeSelectedTab">
			<uib-tab heading="Transaction Details" index="0" ng-hide="true">
				<div class="content-panel__head border-grey-xs--btm">
					<div class="row d-flex align-items-center m-b-sm">
						<div class="col-md-6 col-lg-6 col-xl-2">
							<p class="font-weight-bold font-h4">Transaction ID</p>
							<p class="font-h4" ng-bind="$ctrl.transaction.p3S_TransRef"></p>
						</div>
						<div class="col-md-6 col-lg-6 col-xl-2 text-md-right text-lg-right text-xl-left">
							<p class="font-weight-bold font-h4">Transaction Initated</p>
							<p class="font-h4">{{$ctrl.transaction.transStartDate | date: 'MM/dd/yy'}}</p>
						</div>
						<div class="col-md-12 col-lg-12 col-xl-8 text-right">
							<p class="font-weight-bold font-h4 hidden-lg-down">{{$ctrl.transaction.latestTransStatus}}</p>
							<div ng-class="($ctrl.transaction.hasFailed !== true ? 'success' : 'failed')">
								<div class="steps">
								    <ul id="progressTracker" class="steps-container d-flex justify-content-between">
								        <li ng-repeat="li in $ctrl.transStatus track by $index" ng-init="$ctrl.checkProgress()" ng-class="(li.complete == true ? 'complete': '') + '' + (li.active == true ? 'active': '')">
								            <div class="step">
								                <div class="step-image"><span></span></div>
								                <div class="step-current"><span>{{li.status}}</span></div>
								            </div>
								        </li>
								    </ul>
								    <div class="step-bar" ng-style="{ 'width': $ctrl.transactionProgress + '%' }"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
								<div id="currTransAnchor"></div>
				<div ng-repeat="transaction in $ctrl.patents | filter: transactionsFilter" class="border-grey-xs--btm">
					<div class="content-panel__body">
						<div class="row">
							<div class="col-md-12 col-lg-6 col-xl-6 md-m-b-md">
								<div class="hidden-md-down m-b-sm">
									<p class="font-weight-bold font-h4 m-b-xs">App No: <span class="font-weight-normal" ng-bind="transaction.patentUI.patentApplicationNumber"></span></p>
									<p class="font-weight-bold font-h4 m-b-xs">Client Ref: <span class="font-weight-normal" ng-bind="transaction.patentUI.clientRef"></span></p>
									<p class="font-weight-bold font-h4">Description: <span class="font-weight-normal" ng-bind="transaction.patentUI.title"></span></p>					
								</div>
								<div class="hidden-sm-down hidden-lg-up">
									<div class="p-b-sm">
										<div class="row">
											<div class="col-md-6">
												<p class="font-weight-bold font-h4 m-b-xs">App No: <span class="font-weight-normal" ng-bind="transaction.patentUI.patentApplicationNumber"></span></p>
											</div>
											<div class="col-md-6 text-right">
												<p class="font-weight-bold font-h4 m-b-xs">Client Ref: <span class="font-weight-normal" ng-bind="transaction.patentUI.clientRef"></span></p>
											</div>
											<div class="col-md-12">
												<p class="font-weight-bold font-h4">Description: <span class="font-weight-normal" ng-bind="transaction.patentUI.title"></span></p>			
											</div>
										</div>
									</div>									
								</div>								
								<div class="border-grey-xs--btm border-grey-xs--top p-tb-sm m-b-sm">
									<div class="hidden-md-down">
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-weight-bold font-body">Official fee: </p>
											</div>
											<div class="col-md-6">
												<p class="font-body">$ {{transaction.feeUI.renewalFee_USD}}</p>
											</div>
										</div>
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-weight-bold font-body">Processing fee: </p>
											</div>
											<div class="col-md-6">
												<p class="font-body">$ {{transaction.feeUI.processingFee_USD}}</p>
											</div>
										</div>
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-weight-bold font-body">EPO surcharge: </p>
											</div>
											<div class="col-md-6">
												<p class="font-body">$ {{transaction.feeUI.extensionFee_USD}}</p>
											</div>
										</div>
										<div class="row">		
											<div class="col-md-6">
												<p class="font-weight-bold font-body">Urgent clearance fee: </p>
											</div>
											<div class="col-md-6">
												<p class="font-body">$ {{transaction.feeUI.urgentFee_USD}}</p>
											</div>	
										</div>
									</div>
									<div class="hidden-sm-down hidden-lg-up">
										<div class="row">
											<div class="col-md-3 md-m-b-xs">
												<p class="font-weight-bold font-body">Official fee: </p>
											</div>
											<div class="col-md-3">
												<p class="font-body">$ {{transaction.feeUI.renewalFee_USD}}</p>
											</div>
											<div class="col-md-3">
												<p class="font-weight-bold font-body">Processing fee: </p>
											</div>
											<div class="col-md-3">
												<p class="font-body">$ {{transaction.feeUI.processingFee_USD}}</p>
											</div>
											<div class="col-md-3">
												<p class="font-weight-bold font-body">EPO surcharge: </p>
											</div>
											<div class="col-md-3">
												<p class="font-body">$ {{transaction.feeUI.extensionFee_USD}}</p>
											</div>	
											<div class="col-md-3">
												<p class="font-weight-bold font-body">Urgent clearance fee: </p>
											</div>
											<div class="col-md-3">
												<p class="font-body">$ {{transaction.feeUI.urgentFee_USD}}</p>
											</div>	
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-lg-6 col-xl-6">
										<p class="font-weight-bold font-body">Total: </p>
									</div>
									<div class="col-md-6 col-lg-6 col-xl-6">
										<p class="font-body">$ {{transaction.feeUI.subTotal_USD}}</p>
									</div>	
								</div>
							</div>					
							<div class="col-md-12 col-lg-6 col-xl-6 text-xs-center">
								<div class="content-panel__body bg-light-grey2 bg-info-icon">
									<div class="progress-trans">
										<p class="font-h4 font-weight-bold m-b-sm" ng-bind="transaction.renewalStatus"></p>
										<div ng-if="transaction.renewalStatus == 'Payment in progress'">
											<div class="progress-tracker m-b-sm">
												<uib-progress><uib-bar class="bg-phase-green pill-radius" value="33" max="100" class="tracker-item"></uib-bar></uib-progress>
											</div>
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">Initiated</h4>
												<p class="font-body">This means that you've checked out your basket on the Patent Place, and we're now doing our work in the background.  We're now send the request over to our payment partners Moneycorp, and requesting that they book the currency exchange, and to expect a payment from you.</p>
											</div>
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">Awaiting Funds</h4>
												<p class="font-body">This means that MoneyCorp have booked the currency exchange, and are now waiting for your payment.  They'll expect the funds by the date and time specified, and for it to have the correct reference on it so that the payment can be matched to the transation.</p>
											</div>
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">Funds Received</h4>
												<p class="font-body">Thank you!  MoneyCorp have received your payment and they're now exchanging the Dollars in to Euros.  This happens the day after your funds were expected by MoneyCorp.</p>
											</div>
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">Funds Sent</h4>
												<p class="font-body">MoneyCorp have completed the currency exchange and the Euros have been sent to the European Patent Office.</p>
											</div>	
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">EPO Received</h4>
												<p class="font-body">We’re had confirmation that the funds have been received by the EPO.</p>
											</div>	
										</div>			
										<div ng-if="transaction.renewalStatus == 'EPO Instructed'">
											<div class="progress-tracker m-b-sm">
												<uib-progress><uib-bar class="bg-phase-green pill-radius" value="66" max="100" class="tracker-item"></uib-bar></uib-progress>
											</div>											
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">EPO Instructed</h4>
												<p class="font-body">This means that everything is in place, and we've instructed the EPO to renew the patent.</p>
											</div>
										</div>
										<div ng-if="transaction.renewalStatus == 'Renewal in place'">
											<div class="progress-tracker m-b-sm">
												<uib-progress><uib-bar class="bg-phase-green pill-radius" value="100" max="100" class="tracker-item"></uib-bar></uib-progress>
											</div>											
											<div class="m-b-sm">
												<h4 class="font-h4 font-weight-medium m-b-xs">Completed</h4>
												<p class="font-body">Great news.  We've had confirmation that your patent has been successfully renewed by the EPO.  You'll receive a renewal certificate from us via email.  You can also download copies of the renewal certificate and the invoice from the Transaction history tab under the Transactions menu.</p>
											</div>
										</div>						
									</div>
								</div>
							</div>
							<div ng-if="transaction.certificateUrl" class="row m-t-sm w-100">
								<div class="col-xl-12 d-flex justify-content-end">
									<div class="btn-default">
										<a target="_blank" href="{{transaction.certificateUrl}}" class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white">Certificate <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>				
									</div>
								</div>
							</div>		
						</div>
					</div>
				</div>
				<div class="content-panel__body">
					<div class="row">
						<div class="col-xl-12 d-flex align-items-center justify-content-end">
							<div class="btn-default">
								<a target="_blank" href="{{$ctrl.transaction.invoiceUrl}}" class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white d-flex align-items-center d-flex align-items-center">Invoice <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
							</div>
						</div>						
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>

   
    

	





