<div id="tabs">
    <ul>
        <li ng-repeat="tab in $ctrl.tabs" 
            ng-class="{active:$ctrl.isActiveTab(tab.url)}" 
            ng-click="$ctrl.onClickTab(tab)">{{tab.title}}</li> <!--applies active to the returned tab url -->
    </ul>
    <div id="mainView">

        <div class="row">
        	<div class="col-md-12 text-xs-center">
            	<div ng-include="$ctrl.currentTab"></div>
        	</div>
    	</div>
  	</div>
</div>
<script type="text/ng-template" id="transaction-history-info.htm">
    	
			<h2>Transaction Reference: <span ng-bind="$ctrl.transactionItemRef"></span></h2>
			<p><span></span></p>
			<p>Transaction Total: <span ng-bind="{{$ctrl.transactionTotal}}"></span></p>
			<p>Transaction Date: <span ng-bind="{{$ctrl.transactionDate}}"></span></p>

			<div class="row" ng-repeat="transaction in $ctrl.transactionItem">
				<div class="col-md-12">
					<table class="table table-inverse">
						<thead>
							<tr>
								<td class="font-weight-bold">Application No: <span ng-bind="transaction.patent.patentApplicationNumber"></span></td>
								<td class="font-weight-bold">Short Name: <span ng-bind="transaction.patent.shortTitle"></span></td>
								<td class="font-weight-bold">Client Reference <span ng-bind="transaction.patent.clientRef"></span></td>	
							</tr>
						
						</thead>
						<tbody>
							<tr>
								<td class="font-weight-bold">Official fee: <span ng-bind="transaction.fee.renewalFee_EUR"></span></td>
								<td class="font-weight-bold">Processing fee: <span ng-bind="transaction.fee.processingFee_USD"></span></td>
								<td class="font-weight-bold">EPO surcharge: <span ng-bind="transaction.fee.extensionFee_EUR"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Urgent clearance fee: <span ng-bind="transaction.fee.urgentFee_USD"></span></td>
								<td class="font-weight-bold">Sub-total: <span ng-bind="transaction.fee.subTotal_USD"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="offset-md-8 col-md-4">
					<div class="row">
						<div class="col-md-6">
							<a href="p3sweb/{{$ctrl.transactionPdf}}" target="_blank" class="btn btn-success btn-lg btn-block">View Invoice</a>
						</div>
						<div class="col-md-6">
							<a href="p3sweb/{{$ctrl.transactionPdf}}"" class="btn btn-success btn-lg btn-block" download>Download Invoice</a>
						</div>	
					</div>
				</div>
			</div>
				
	
</script>
<script type="text/ng-template" id="transaction-history-status.htm">
	<div class="col-md-6 text-xs-center">
		<h2>Transaction status</h2>
		<p>Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
	</div>
</script>






