<uib-tabset type="pills">
	<uib-tab heading="Transaction Details">
		<div class="row">
			<div class="col-md-2">
				<h2>Transaction ID</h2>
				<p ng-bind="$ctrl.transactionHistoryItem.p3S_TransRef"></p>
			</div>
			<div class="col-md-2">
				<h2>Transaction Initated</h2>
				<p>{{$ctrl.transactionHistoryItem.transStartDateUI}}</p>
			</div>
			<div class="col-md-8">
				<h2>{{$ctrl.transactionHistoryItem.latestTransStatus}}</h2>
				<div class="steps">
				    <ul id="progressTracker" class="steps-container">
				        <li style="width:14.28%;" ng-repeat="li in $ctrl.transStatus track by $index" ng-init="activated = $ctrl.checkProgress()" ng-class="{true:'activated', 	false: ''}[li.active]">
				            <div class="step">
				                <div class="step-image"><span></span></div>
				                <div class="step-current"><span>{{li.status}}</span></div>
				            </div>
				        </li>
				    </ul>
				    <div class="step-bar"  ng-style="{ 'width': $ctrl.transactionProgress + '%' }"></div>
				</div>
			</div>
		</div>

		<div ng-repeat="transaction in $ctrl.patents">
			<div class="row">
				<div class="col-md-2">
					<p class="font-weight-bold">App No</p>
					<p ng-bind="transaction.patentUI.patentApplicationNumber"></p>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-6">
					<p class="font-weight-bold">Client Ref: <span class="font-weight-normal" ng-bind="transaction.patentUI.clientRef"></span></p>
					<p class="font-weight-bold">Description: <span class="font-weight-normal" ng-bind="transaction.patentUI.title"></span></p>
					<table class="table">
						<tbody>
							<tr>
								<td class="font-weight-bold">Official fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.renewalFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Processing fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.processingFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">EPO surcharge: <span class="font-weight-normal" ng-bind="transaction.feeUI.extensionFee_USD"></span></td>
							</tr>
							<tr>
								<td class="font-weight-bold">Urgent clearance fee: <span class="font-weight-normal" ng-bind="transaction.feeUI.urgentFee_USD"></span></td>
							</tr>	
							<tr>
								<td class="font-weight-bold">Sub-total: <span class="font-weight-normal" ng-bind="transaction.feeUI.subTotal_USD"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6 text-xs-center">
					<div>
						<h4 ng-bind="transaction.renewalStatus"></h4>
						<div ng-if="transaction.renewalStatus == 'Payment in progress'">
							<div class="progress-tracker">
								<uib-progress><uib-bar value="$ctrl.renewalProgress" value="" max="100" class="tracker-item"></uib-bar></uib-progress>
							</div>
							<p>ipsum</p>			
						</div>			
						<div ng-if="transaction.renewalStatus == 'EPO Instructed'">
							<p>Lorem</p>
							<div class="progress-tracker">
							<uib-progress><uib-bar value="$ctrl.renewalProgress" value="" max="100" class="tracker-item"></uib-bar></uib-progress>
							</div>
						</div>
						<div ng-if="transaction.renewalStatus == 'Renewal in place'">
							<p>Lorem</p>
							<div class="progress-tracker">
							<uib-progress><uib-bar value="$ctrl.renewalProgress" value="" max="100" class="tracker-item"></uib-bar></uib-progress>
							</div>
						</div>						
	
					</div>
				</div>			
			</div>
		</div>
	</uib-tab>
</uib-tabset>

   
    

	





