<nav class="nav m-b-md">
	<ul class="nav nav-pills view-tabs">
		<li class="nav-item nav-view-list-item pill-radius btn--lg pill-tabs font-h4 bg-white border-grey-xs" ui-sref-active="active"><a class="nav-view-link" ui-sref="current-transactions">Current transactions</a></li>
		<li class="nav-item nav-view-list-item pill-radius btn--lg pill-tabs font-h4 bg-white border-grey-xs" ui-sref-active="active"><a class="nav-view-link" ui-sref="transaction-history">Transaction history</a></li>
	</ul>
</nav>
