<div ng-show="$ctrl.animate" class="animate-show">

	<transactionnav></transactionnav>

	<div class="row m-b-md">
		<div class="col-md-12 col-lg-12 col-xl-12">
			<form class="form-inline">
				<div class="row w-100 d-flex justify-content-end">
					<div class="col-md-6 col-lg-4 col-xl-3 p-none">
						<div class="input-group w-100">
							<input type="text" class="form-control pill-radius font-body" ng-change="$ctrl.displayTrans()" name="filter" ng-model="searchTrans.p3S_TransRef" placeholder="Transaction ID">
							<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
						</div>
					</div>			
				</div>					
			</form>
		</div>
	</div>
	<div class="row m-b-md">
		<div class="col-md-12 col-lg-12 col-xl-12" ng-show="$ctrl.tableData.length === 0">
			<div class="bg-white p-a-sm">
				<p class="font-body font-weight-medium">There are currently know patents in this phase</p>
			</div>
		</div>

		<div class="col-md-12 col-lg-12 col-xl-12" ng-if="$ctrl.tableData.length !== 0">
			<div id="scrollable-area">
				<table id="listTransHistoryTable" class="t-list table-scroll font-body" fixed-table-headers="scrollable-area">			
					<thead>
						<tr>
							<th ng-click="$ctrl.sortType('transId'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans ID
				            	<span ng-show="$ctrl.selectedSortType == 'transId' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.selectedSortType == 'transId' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('transLength'); $ctrl.sortReverse = !$ctrl.sortReverse">No. of patents
				            	<span ng-show="$ctrl.sortTransItems && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.sortTransItems && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('patentApplicationNumber'); $ctrl.sortReverse = !$ctrl.sortReverse">App No.
				            	<span ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('clientRef'); $ctrl.sortReverse = !$ctrl.sortReverse">Client Ref
				            	<span ng-show="$ctrl.selectedSortType == 'clientRef' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.selectedSortType == 'clientRef' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('transStartDate'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans Initiated
				            	<span ng-show="$ctrl.sortTransDate && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.sortTransDate && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('transAmount_USD'); $ctrl.sortReverse = !$ctrl.sortReverse">Cost
				            	<span ng-show="$ctrl.sortTransCost && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.sortTransCost && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th ng-click="$ctrl.sortType('latestTransStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">Status
				            	<span ng-show="$ctrl.selectedSortType == 'latestTransStatus' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span ng-show="$ctrl.selectedSortType == 'latestTransStatus' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						 <tr ng-repeat="item in $ctrl.tableData | orderBy:$ctrl.selectedSortType:$ctrl.sortReverse | filter: searchTrans" ng-click="$ctrl.rowSelect($event)" ui-sref-active="active">
					        <td>
								<a class="txt-black" ui-sref="transaction-history.transaction-history-item({transHistoryId: item.id})">{{item.p3S_TransRef}}</a>
					        </td>
					        <td>
								{{item.renewalUIs.length}}
					        </td>
					        <td>
								<span ng-if="item.renewalUIs.length === 1" ng-repeat="patent in item.renewalUIs">
									<span ng-if="patent.patentUI.patentApplicationNumber.length">
										{{patent.patentUI.patentApplicationNumber}}
									</span>
								</span>
								<select ng-if="item.renewalUIs.length > 1" ng-options="item.patentUI.patentApplicationNumber for item in item.renewalUIs" ng-model="patentAppData.defaultSelect" ng-change="transactionListFilter(patentAppData.defaultSelect, 'patentAppFilter', item.id)" class="pill-radius form-control font-body">
									<option value="">Multiple</option>
								</select>
					        </td>
					        <td>
								<span ng-if="item.renewalUIs.length == 1" ng-repeat="ref in item.renewalUIs">
									<span ng-if="ref.patentUI.clientRef.length">
										{{ref.patentUI.clientRef}}
									</span>								
								</span>
								<select ng-if="item.renewalUIs.length > 1" ng-options="item.patentUI.clientRef for item in item.renewalUIs" ng-model="clientRefData.defaultSelect" class="pill-radius form-control font-body" ng-change="transactionListFilter(clientRefData.defaultSelect, 'clientRefFilter', item.id)">
									<option value="">Multiple</option>
								</select>
					        </td>
					        <td>
					        	{{item.transStartDate | date: 'MM/dd/yy'}}
					        </td>
					        <td>
					        	$ {{item.transAmount_USD}}
					        </td>
					        <td>
								<p class="font-weight-bold">
									<span ng-if="item.hasFailed">Failed</span>
									<span ng-if="!item.hasFailed">{{item.latestTransStatus}}</span>
								</p>
								<div class="progress-tracker progress-trans">
									<div ng-if="item.hasFailed">
										<uib-progress><uib-bar class="pill-radius bg-phase-red"  value="item.renewalProgress" value="" max="100" class="tracker-item"></uib-bar></uib-progress>									
									</div>
									<div ng-if="item.hasFailed !== true">
										<uib-progress><uib-bar class="pill-radius bg-phase-green"  value="item.renewalProgress" value="" max="100" class="tracker-item"></uib-bar></uib-progress>										
									</div>
								</div>	
					        </td>      				                 
					    </tr>						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="animate-show" ng-show="$ctrl.transInfoContent">
	<div ui-view></div>	
</div>


