<transactionnav></transactionnav>

<div class="row m-b-md">
	<div class="col-md-3 offset-md-9">
		<form class="form-inline">
			 <div class="col-md-12">
			 	<div class="input-group">
					<input type="text" class="form-control pill-radius font-md" id="transId" name="transId" ng-model="searchTrans" placeholder="Search">
					<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
				</div>		
			</div>	 
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered text-md-center scroll t-list font-md m-b-lg">
			<thead class="thead-inverse font-weight-bold">
				<tr>
					<td width="15%" class="align-middle">
						<a ng-click="$ctrl.sortType = 'transId'; $ctrl.sortReverse = !$ctrl.sortReverse">Transaction ID <!--show if not showing(false)-->
							<span ng-show="$ctrl.sortType == 'transId' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'transId' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>
					</td>
					<td width="8%" class="align-middle">
						<a ng-click="$ctrl.sortType='patentTotal'; $ctrl.sortReverse = !$ctrl.sortReverse">No. of patents 
							<span ng-show="$ctrl.sortType == 'patentTotal' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'patentTotal' && $ctrl.sortReverse" class="fa fa-caret-down"></span>							
						</a>
					</td>
					<td width="15%" class="align-middle">
						<a ng-click="$ctrl.sortType='patentApplicationNumber'; $ctrl.sortReverse=!$ctrl.sortReverse">App No.
							<span ng-show="$ctrl.sortType == 'patentApplicationNumber' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'patentApplicationNumber' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>
					</td>
					<td width="20%" class="align-middle">
						<a ng-click="$ctrl.sortType='clientRef'; $ctrl.sortReverse=!$ctrl.sortReverse">Client Ref
							<span ng-show="$ctrl.sortType == 'clientRef' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'clientRef' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>
					</td>					
					<td width="12%" class="align-middle">
						<a ng-click="$ctrl.sortType='transDate'; $ctrl.sortReverse=!$ctrl.sortReverse">Transaction Initiated
							<span ng-show="$ctrl.sortType == 'transDate' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'transDate' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>
					</td>
					<td width="10%" class="align-middle">
						<a ng-click="$ctrl.sortType='cost'; $ctrl.sortReverse=!$ctrl.sortReverse">Cost
							<span ng-show="$ctrl.sortType == 'cost' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'cost' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>	
					</td>
					<td width="20%" class="align-middle">
						<a ng-click="$ctrl.sortType='status'; $ctrl.sortReverse=!$ctrl.sortReverse">Status
							<span ng-show="$ctrl.sortType == 'status' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							<span ng-show="$ctrl.sortType == 'status' && $ctrl.sortReverse" class="fa fa-caret-down"></span>			
						</a>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-click="$ctrl.rowSelect($event)" ng-repeat="transaction in $ctrl.transactionHistory | orderBy:sortType:sortReverse | filter:searchTrans">
					<td width="15%">
						<a class="txt-black" ui-sref="transaction-history.transaction-history-item({transHistoryId: transaction.id})" disabled>{{transaction.p3S_TransRef}}</a>
					</td>
					<td width="10%">
						{{transaction.renewalUIs.length}}
					</td>
					<td width="15%">
						<span ng-if="transaction.renewalUIs.length == 1" ng-repeat="item in transaction.renewalUIs">
							<span ng-if="item.patentUI.patentApplicationNumber.length">
								{{item.patentUI.patentApplicationNumber}}<br>
							</span>								
						</span>
						<select ng-if="transaction.renewalUIs.length > 1" ng-options="item.patentUI.patentApplicationNumber for item in transaction.renewalUIs" ng-model="data.selectedOption" class="pill-radius p-select-option border-xs-grey">
							<option value="" disabled selected>Multiple</option>									
						</select>						

					</td>
					<td width="20%">
						<span ng-repeat="item in transaction.renewalUIs">{{item.patentUI.clientRef}}<br></span>	
					</td>
					<td width="10%">{{transaction.transStartDateUI}}</td>
					<td width="10%">$ {{transaction.transAmount_USD}}</td>
					<td width="20%">
						<p class="font-weight-bold">{{transaction.latestTransStatus}}</p>
						<div class="progress-tracker progress-trans">
							<uib-progress><uib-bar class="bg-phase-green pill-radius" value="transaction.renewalProgress" max="100" class="tracker-item"></uib-bar></uib-progress>
						</div>						
					</td>
				</tr>
			</tbody>
		</table>
		<div ui-view></div>	
	</div>
</div>					


