<div class="content-panel p-a-sm bg-light-grey">
	<span class="modal-cross cursor-pointer" data-ng-click="$ctrl.systemOk(); "><i class="txt-grey fa fa-times fa-2x"></i></span>
<!-- 	<div class="modal-content--table"> -->
		<div class=" d-flex flex-column align-items-center justify-content-center content-panel__head">
		    <div class="m-b-xs">
		        <i class="fas fa-exclamation-circle fa-4x txt-phase-red"></i>   
		    </div>
			<p class="font-h3 font-weight-bold m-b-xs">System Message </p>
			<p class="font-h4 font-weight-medium text-center">We have the following system messages for you.</p>
		</div>
		<form class="form" name="systemMessageForm">
			<div class="p-a-sm bg-white m-b-sm" data-ng-repeat="item in $ctrl.systemMessage.message">
				<div class="d-flex flex-column align-items-center justify-content-center">
					<div class="row w-100 m-b-xs">
						<div class="col-md-12">
							<p class="font-body font-weight-medium"> {{item.messageText}}</p>
						</div>
					</div>
					<div class="row w-100">
						<div class="col-md-12 d-flex justify-content-end">
							<div class="d-flex align-items-center">
								<label for="message_[item.id]" class="font-body m-r-xs">Don't show again</label>
								<input type="checkbox" name="message_[item.id]" data-ng-model="message_[item.id]" data-ng-change="$ctrl.checkedMessages(item.id, message_[item.id])">
							</div>
						</div>
					</div>				
				</div>
			</div>
		</form>
		<div class="modal-footer d-flex align-items-center justify-content-center">
			<button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.systemOk(); $ctrl.supresssMessages()"><span data-ng-if="message">Save &amp; </span> Dismiss</button>
<!-- 		</div>
	</div> -->
</div>