<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="m-b-sm">
		<img src="../../../../assets/imgs/logos/pp_icon.png" alt="patent place icon">	
	</div>
    <h2 class="font-h2 font-weight-medium">Welcome to Patent Place</h2>
	<p class="font-body w-100  m-b-sm m-t-sm">It seems you do not have any patents added to the system yet. It is so easy to do so. All you have to do is navigate to the Portfolio page, and you will see the '+' symbol in the top right corner of the table. Click on that and you can start adding as many European patent cases as you like. Our system only requires the European application number (including check digit) to be entered. Patent Place will retrieve the rest of the information from the EPO register for you.</p>
	<p class="font-body w-100 m-b-sm ">If you need any more information then please access our <a href="http://thepatent.place/faqs" target="__blank" class="inline-link font-weight-bold">FAQ section</a>.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
