<div class="d-flex justify-content-center align-items-center content-panel">
 	<div class="container-pre-app__center-box-40">
        <div class="content-panel__body bg-white p-t-xxxl p-b-xxxl p-r-6 p-l-6">
           	<div class="row">
              	<div class="col-xl-12 text-center">
                 	<img src="../../../../assets/imgs/logos/pp-logo-text-black.png" alt="patent place logo with text" width="200" class="m-b-lg">
              	</div>  
           	</div>
           
           	<div class="row m-b-lg">
              	<div class="col-md-12 text-center">
                 	<h1 class="font-h1 font-weight-light">Login into your account</h1>
              	</div>
           	</div>
           	<div class="row">
              	<div class="col-md-12">   		
				    <form name="form" data-ng-submit="$ctrl.login(form)" novalidate>
				        <div class="form-group" data-ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
				            <input type="text" name="j_username" id="username" class="form-control" data-ng-model="$ctrl.credentials.username" placeholder="Username" required />
				            <span data-ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
				        </div>
				        <div class="form-group" data-ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
				            <input type="password" name="j_password" id="password" class="form-control" data-ng-model="$ctrl.credentials.password" placeholder="Password" required />
				            <span data-ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
				        </div>
				        <p class="font-body m-t-xs m-b-xs txt-phase-red" data-ng-show="$ctrl.incorrectCredentials">You have entered incorrect username and/or password details. Please try again</p>
				        <div class="form-actions text-right">
				            <button type="submit" data-ng-disabled="form.$invalid || $ctrl.dataLoading" class="btn btn--lg btn-block btn--green d-flex justify-content-center align-items-center pill-radius" ><i class="fa fa-spinner fa-spin fa-2x fa-fw  m-r-xs" data-ng-if="$ctrl.dataLoading"></i>Login</button>
				        </div>
				    </form>
             		<div class="row">
	                    <div class="col-md-12 text-center d-flex justify-content-between m-t-sm">
	                       <div class="d-flex">                     
	                          <p class="font-body m-r-xs">Don't have an account?</p>
	                          <a data-ui-sref="register" class="inline-link font-weight-bold font-weight-medium txt-phase-green">Register Now</a>
	                       </div>                           
	                       <a data-ui-sref="forgot-password" class="btn-no-bg font-weight-medium btn-underlined">Forgot Password?</a>
	                    </div>
             		</div>
          		</div>
       		</div>
    	</div>
	</div>
</div>