.modal-cross { /*modules*/ /*components*/ /*_modal.scss*/
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 5px; /*change when correct image is provided*/
}

.bar-phase { width: 100%; } /*modules*/ /*components*/ /*_modal.scss*/

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in { opacity: 0.5 !important; }
.modal-backdrop.fade { opacity: 0.5 !important; }

.modal-dialog {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: space-between;    
  justify-content: center;
  min-height: 100%;  
}

.modal-header,
.modal-body,
.modal-footer {
  padding-left: 5rem;
  padding-right: 5rem;
}

/*.modal-content {
  max-height: 50rem;
  min-height: 50rem;
  overflow: scroll;
  overflow-x: hidden;
}
*/

.modal-header {
  border-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

.modal-body {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-footer {
  border-top: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modal-footer>:not(:last-child) {
  margin-right: 1.5rem;
}

.modal-body--multiple {
  padding-left: 5rem;
  padding-right: 5rem;  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;  
}

.modal-header--multiple {
  padding-left: 5rem;
  padding-right: 5rem;  
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;  
}

.modal-content--multiple {
  max-height: 300px;
  overflow: auto;
}

.modal-content--table {
  width: 500px;
}

.modal-max {
  max-height: 600px;
  overflow-y: scroll;
}