@import '../helpers/_variables.scss';

.modal-cross { /*modules*/ /*components*/ /*_modal.scss*/
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  margin-top: 5px; /*change when correct image is provided*/
}

.bar-phase { width: 100%; } /*modules*/ /*components*/ /*_modal.scss*/



.modal-header,
.modal-body,
.modal-footer {
  padding-left: 5rem;
  padding-right: 5rem;
}

.modal-content {
  background: transparent;
}
.modal-header {
    background: $white;
    border-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.1); 
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;
}

.modal-footer {
    border-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.modal-footer>:not(:last-child) {
    margin-right: 1.5rem;
}

.modal-body--multiple {
    padding-left: 5rem;
    padding-right: 5rem;  
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
}

.modal-header--multiple {
    padding-left: 5rem;
    padding-right: 5rem;  
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;  
}

.modal-content--multiple {
    max-height: 300px;
    overflow: auto;
}

.modal-content--table {
  width: 500px;
}

.modal-max {
    max-height: 600px;
    overflow-y: scroll;
}

.caseoverview-load {
        display: flex;
        justify-content: center;
    .caseoverview-load-backdrop {
        position: fixed;
        top: 0px;
        left: 0px;
        height:100%;
        width:100%;
        background: #000;
        z-index: 1040;
        opacity: 0.8!important;     
    }
    .caseoverview-loader {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -75px;
        margin-left: -100px;
        text-align: center;
        z-index: 1040;
        width: 30rem;
        height: 15rem
    }

}

.caseoverview-modal-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    z-index: 1040;
    opacity: 0.8!important;

}

.modal.fade {
    transition: all 0.2s ease-in-out;
}


.modal.fade .modal-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.modal.fade.in .modal-dialog {
    opacity: 1;
}

.modal-backdrop {
    &.second-backdrop {
        z-index: 1042!important;
    }
    &.fade {
        transition: all 0.2s ease-in-out;
        opacity: 0;
        &.in {
            opacity: 0.8;
        }
    }  
}


.modal-overview {
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    max-width: 90rem;
    max-height: 96vh;
    // height: 96vh;
    z-index: 1041;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    .modal-overview__options-panel {
        position: absolute;
        right: 14px;
        top: 8px;
        z-index: 1;
        .options-panel__item {
            margin-right: 1rem;
            &:last-child {
              margin-right: 0;
            }
        }
    }    
    .modal-overview__view {
        max-width: 70.3rem;
        .modal-overview__view__body {
            overflow-y: scroll;
            // height: 50rem;
            background: $white;          
            &::-webkit-scrollbar-thumb {
                background: $grey; 
                border-radius: 1rem;
                height: 3rem;
            }      

            &::-webkit-scrollbar {
                width: 1.5rem;
            }    
            &::-webkit-scrollbar-thumb {
                background: $grey; 
                border-radius: 1rem;
                height: 3rem;
            }
        }
    }
}