<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-exclamation-circle fa-4x txt-phase-red"></i>
    </div>
    <p class="font-h3 font-weight-medium">Manual Processing</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">Your application has been submitted to our legal team and they will be in contact shortly. The patent has been added to your portfolio to help keep track of the application through the entry into the European Phase. Please refer to our help guide on how to configure the settings for a patent to help keep you updated on the progress.</p>
    <button class="btn btn--lg btn--green pill-radius" type="button" data-ng-click="$ctrl.dismissModal()">Ok</a>
    </button>
</div>
