<div class="modal-header m-b-xs d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-xs">
        <i class="far fa-clock fa-4x txt-phase-green"></i>
    </div>
    <p class="font-h3 font-weight-medium">Form 1200 will now be generated</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">We're now checking the details you've supplied and generating the form. Once this has been generated it will be available through the Euro-PCT page for the patent from the Portfolio.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
