<div class="row">
	<div class="col-md-3">
		<h3>Colour Key</h3>
		<div>
			<p>{{$ctrl.colourPhaseTitle.title}} Phase</p>
			<p>{{$ctrl.colourPhaseTitle.descrip}}</p>
		</div>
		<uib-tabset active="activeTab" type="pills">
		    <uib-tab heading="Green" index="0" ng-init="$ctrl.colourKey(0); $ctrl.phaseSliderInfo(0)" ng-click="$ctrl.colourKey(0);$ctrl.phaseSliderInfo(0)">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>
			</uib-tab>
		    <uib-tab heading="Yellow" index="1" ng-click="$ctrl.colourKey(1); $ctrl.phaseSliderInfo(1)">
				<p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>					
			</uib-tab>
		    <uib-tab heading="Red" index="2" ng-click="$ctrl.colourKey(2); $ctrl.phaseSliderInfo(2)">
				<p>sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>					
			</uib-tab>
		    <uib-tab heading="Blue" index="3" ng-click="$ctrl.colourKey(3); $ctrl.phaseSliderInfo(3)">
				<p>consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>					
			</uib-tab>
		    <uib-tab heading="Black" index="4" ng-click="$ctrl.colourKey(4); $ctrl.phaseSliderInfo(4)">
				<p>Whattt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				</p>					
			</uib-tab>				
		</uib-tabset>
	</div>
	<div class="col-md-2">
		<h3>Total No. of Renewals: {{$ctrl.totalPatents}}</h3>
		<div>
			<canvas id="pie" class="chart chart-pie"
			  chart-data="$ctrl.data" chart-labels="$ctrl.labels" chart-options="$ctrl.options" height="225px;">
			</canvas> 
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-3">
				<h3>Renewals</h3>
			</div>
			<div class="col-md-9">
<!-- 				<ul class="nav nav-pills">
					<li><button ng-click="active = 0; $ctrl.getPatents(active); $ctrl.colourKey(0)" ng-init="$ctrl.phaseSlide = 0; $ctrl.phaseSliderInfo($ctrl.phaseSlide)">Green ({{$ctrl.greenRenewals.length}})</button></li>
					<li><button ng-click="active = 1; $ctrl.getPatents(active); $ctrl.colourKey(1)">Yellow ({{$ctrl.yellowRenewals.length}})</button></li>
					<li><button ng-click="active = 2; $ctrl.getPatents(active); $ctrl.colourKey(2)">Red ({{$ctrl.redRenewals.length}})</button></li>
					<li><button ng-click="active = 3; $ctrl.getPatents(active); $ctrl.colourKey(3)">Blue ({{$ctrl.blueRenewals.length}})</button></li>
					<li><button ng-click="active = 4; $ctrl.getPatents(active); $ctrl.colourKey(4)">Black ({{$ctrl.blackRenewals.length}})</button></li>
				</ul> -->
				
			</div>			
			<div class="col-md-12">
				<uib-tabset active="activeTab" type="pills">
				    <uib-tab heading="Green" index="0" ng-init="$ctrl.colourKey(0); $ctrl.phaseSliderInfo(0); blueSlider = true" ng-click="$ctrl.colourKey(0); $ctrl.phaseSliderInfo(0); blueSlider = true">
			            <div ng-if="blueSlider" uib-carousel active="activeSlide" interval="myInterval" ng-hide="$ctrl.greenRenewals.length == 0"  on-carousel-change="onSlideChanged(nextSlide, direction, currentIndex)">
			                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			                    <div style="margin:auto;">
			                        <h4 class="color-black">Green Renewal {{$index + 1}} of {{$ctrl.greenRenewals.length}}</h4>
			                        <table class="color-black">
			                        	<tr>
			                        		<td>App No</td>
			                        		<td>{{slide.appNo}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Description</td>
			                        		<td>{{slide.description}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Due Date</td>
			                        		<td>{{slide.dueDate}}</td>
					                        	</tr>                    	
			                        </table>
			                    </div>
			                </div>
			            </div>
			            <div ng-show="$ctrl.greenRenewals.length == 0">
	                    	<p>No patents in green stage</p>
	                    </div>
					</uib-tab>
				    <uib-tab heading="Yellow" index="1" ng-click="$ctrl.colourKey(1); $ctrl.phaseSliderInfo(1); yellowSlider = true">
			            <div ng-if="yellowSlider" uib-carousel active="activeSlide" ng-hide="$ctrl.yellowRenewals.length == 0" on-carousel-change="onSlideChanged(nextSlide, direction, currentIndex)">
			                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			                    <div style="margin:auto;" >
			                        <h4 class="color-black">Yellow Renewal {{$index + 1}} of {{$ctrl.yellowRenewals.length}}</h4>
			                        <table class="color-black">
			                        	<tr>
			                        		<td>App No</td>
			                        		<td>{{slide.appNo}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Description</td>
			                        		<td>{{slide.description}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Due Date</td>
			                        		<td>{{slide.dueDate}}</td>
			                        	</tr>                    	
			                        </table>
			                    </div>
			                </div>
		            	</div> 
			            <div ng-show="$ctrl.yellowRenewals.length == 0">
	                    	<p>No patents in yellow stage</p>
	                    </div>
 					</uib-tab>
				    <uib-tab heading="Red" index="2" ng-click="$ctrl.colourKey(2); $ctrl.phaseSliderInfo(2); redSlider = true">
			            <div ng-if="redSlider" uib-carousel active="activeSlide" ng-hide="$ctrl.redRenewals.length == 0" on-carousel-change="onSlideChanged(nextSlide, direction, currentIndex)">
			                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			                    <div style="margin:auto;">
			                        <h4 class="color-black">Yellow Renewal {{$index + 1}} of {{$ctrl.yellowRenewals.length}}</h4>
			                        <table class="color-black">
			                        	<tr>
			                        		<td>App No</td>
			                        		<td>{{slide.appNo}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Description</td>
			                        		<td>{{slide.description}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Due Date</td>
			                        		<td>{{slide.dueDate}}</td>
			                        	</tr>                          	
			                        </table>
			                    </div>
			                </div>
			            </div> 
			            <div ng-show="$ctrl.redRenewals.length == 0">
	                    	<p>No patents in red stage</p>
	                    </div>
					</uib-tab>






				    <uib-tab heading="Blue" index="3" ng-click="$ctrl.colourKey(3); $ctrl.phaseSliderInfo(3); blueSlider = true;">
			            <div ng-if="blueSlider" uib-carousel active="activeSlide" ng-hide="$ctrl.blueRenewals.length == 0" on-carousel-change="onSlideChanged(nextSlide, direction, currentIndex)">
			                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			                    <div style="margin:auto;">
			                        <h4 class="color-black">Blue Renewal {{$index + 1}} of {{$ctrl.blueRenewals.length}}</h4>
			                        <table class="color-black">
			                        	<tr>
			                        		<td>App No</td>
			                        		<td>{{slide.appNo}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Description</td>
			                        		<td>{{slide.description}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Due Date</td>
			                        		<td>{{slide.dueDate}}</td>
			                        	</tr>                       	
			                        </table>
			                    </div>
			                </div>
			            </div>
			            <div ng-show="$ctrl.blueRenewals.length == 0">
	                    	<p>No patents in blue stage</p>
	                    </div>					            
					</uib-tab>







				    <uib-tab heading="Black" index="4" ng-click="$ctrl.colourKey(4); $ctrl.phaseSliderInfo(4); blackSlider = true">
			            <div ng-if="blackSlider" uib-carousel active="activeSlide" ng-hide="$ctrl.blackRenewals.length == 0" on-carousel-change="onSlideChanged(nextSlide, direction, currentIndex)">
			                <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
			                    <div style="margin:auto;" >
			                        <h4 class="color-black">Yellow Renewal {{$index + 1}} of {{$ctrl.yellowRenewals.length}}</h4>
			                        <table class="color-black">
			                        	<tr>
			                        		<td>App No</td>
			                        		<td>{{slide.appNo}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Description</td>
			                        		<td>{{slide.description}}</td>
			                        	</tr>
			                        	<tr>
			                        		<td>Due Date</td>
			                        		<td>{{slide.dueDate}}</td>
			                        	</tr>                         	
			                        </table>
			                    </div>
			                   
			                </div>
			            </div> 
			            <div ng-show="$ctrl.blackRenewals.length == 0">
	                    	<p>No patents in black stage</p>
	                    </div>	
					</uib-tab>				
				</uib-tabset>
				
			</div>				
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-9">
				<h3>Renewal Cost</h3>
			</div>
			<div class="col-md-3">
				<h5>{{$ctrl.renewalfxTimeframe}}</h5>
			</div>			
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			<uib-tabset type="pills">
				<uib-tab heading="Today" ng-init="$ctrl.renewalfxTimeframe = 'Today'" ng-click="$ctrl.renewalfxTimeframe = 'Today'">
					
				</uib-tab>			
				<uib-tab heading="Yesterday" ng-click="$ctrl.renewalfxTimeframe = 'Yesterday'">
					
				</uib-tab>
				<uib-tab heading="Last week" ng-click="$ctrl.renewalfxTimeframe = 'Last week'">
					       
				</uib-tab>	
				<uib-tab heading="Last Mth" ng-click="$ctrl.renewalfxTimeframe = 'Last Mth'">
					       
				</uib-tab>									

			</uib-tabset>
		</div>
		<div class="row">
			<p>4 week varitation</p>
		</div>
		<div class="row">
			<a href class="btn btn-success btn-block">Renew Now</a>
		</div>
	
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-7">
				<h4>Life FX Chart</h4>
			</div>
			<div class="col-md-5">
				<h4>high and low</h4>
			</div>			
		</div>
	</div>
	<div class="col-md-4">
		<div class="row">
			<uib-tabset type="pills">
			    <uib-tab heading="Stage Change">
					<div>
						<div class="col-md-12">
							<table class="table">
								<tr>
									<td>Patent No.</td>
									<td></td>
								</tr>
								<tr>
									<td>Description</td>
									<td></td>
								</tr>
								<tr>
									<td>Amount</td>
									<td></td>
								</tr>
								<tr>
									<td>Current Stage</td>
									<td></td>
								</tr>
								<tr>
									<td>Next Stage</td>
									<td></td>
								</tr>			
							</table>
						</div>
					</div>
			</uib-tabset>
		</div>
	</div>
</div>