li.active {
    font-weight: bold;
}


table.scroll {
     width: 100%;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    line-height: 30px;
}

table.scroll tbody {
    height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

.slick-container {
  max-width: 400px;  
  border: 1px solid gray;
  margin: auto;
  padding: 15px;
}

.slick-next:before, .slick-prev:before {
  color: #000;
}

input.ng-pristine + ul#strength {
    display:none;
}
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    padding:0;
    vertical-align:2px;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:10px;
    margin-right:2px;
    width: 19.5%;
}


.tab-panel {
	display: none;
}

.tab-panel.active {
	display: block;
}

input.required {
	outline: none!important;
}

input.ng-invalid {
	outline: 1px solid red;
}

input.ng-pristine {
	outline: none;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}

.td-ch-limit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20ch;
}

.modal-backdrop.fade {
    opacity: 0.5 !important;
}

tr.hover-td-patent {
  background: red;
}
/********UNIVERSAL********
************************/

html, body { 
	height: 100%; 
	font-size: 62.5%;
	overflow-y: auto; 
	text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

body { width: 100%; display: table; font-size: 1.4rem;}

main { height: 100%; }

* { box-sizing: border-box; }

.container { width: 90%!important; margin: 0 auto 0 120px; }
.container-full { margin: 0 auto; width: 100%; }

.page-row {	display: table-row; height: 1px; }

.page-row-expanded { height: 100%; }

.text-nowrap { white-space: nowrap; }

.nounderline { text-decoration: none!important; }

.clear { clear: both; }

select.form-control:not([size]):not([multiple]) {
	height: 29px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%!important;
  } 
}

.closed-sidenav {
  background: grey;
  min-height: 100%;
  position: absolute;
  width: 75px;
}






