<div class="row" ng-controller="CartController">
	<div class="col-md-6">
        <div class="content-panel bg-white">
             <div class="content-panel__body border-grey-xs--btm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="m-b-md">
                            <div class="row font-lg">
                                <div class="col-md-8">
                                    <p class="font-weight-bold">Transaction ID</p>                   
                                </div>
                                <div class="col-md-4">
                                    <p>{{orderObj.p3sTransRef}}</p>
                                </div>                               
                            </div>
                        </div>
                        <div class="m-b-md">
                            <div class="row font-lg">                                
                                <div class="col-md-8">
                                    <p class="font-weight-bold">Date</p>                        
                                </div>                    
                                <div class="col-md-4">
                                    <p>{{orderObj.dateNowLocalTimeUI}}</p> <!--dummy date-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="content-panel bg-white">
            <div class="content-panel__head border-grey-xs--btm">
                <h3 class="font-xl font-weight-bold">Important notice</h3>
            </div>
            <div class="content-panel__body border-grey-xs--btm">
        		<p class="font-lg m-b-md">Thank you for your instruction.You may want to print this page for you records. This data can also be accessed via 'Transactions' should you lose this page. Please double-check the Reference you transfer. We may be unable to process your renewal if it is wrong (spaces don’t matter). Once you have made the transfer, you can check the status of your transaction via the transaction tab in the menu</p>
            </div>
        </div>     
    </div>

	<div class="col-md-6">
        <div class="content-panel bg-white">
            <div class="content-panel__head border-grey-xs--btm">
                <h3 class="font-xl font-weight-bold">Details</h3>
            </div>
            <div class="content-panel__body border-grey-xs--btm">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table font-lg">
							<tbody>
								<tr>
									<td class="font-weight-bold">Account Holder's Name: </td>
									<td>{{orderObj.bankTransferPaymentDetails.accountHoldersName}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Account number: </td>
									<td>{{orderObj.bankTransferPaymentDetails.accountNumber}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">ABA Number: </td>
									<td>{{orderObj.bankTransferPaymentDetails.item1}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Bank Name:  </td>
									<td>{{orderObj.bankTransferPaymentDetails.item2}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Bank address:  </td>
									<td>Narnia Wardrobe</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Reference:  </td>
									<td>{{orderObj.p3sTransRef}}</td>
								</tr>	
								<tr>
									<td class="font-weight-bold">Amount:  </td>
									<td>$ {{orderObj.totalCostUSD}}</td>
								</tr>													
							</tbody>
						</table>
                    </div>                       
                </div>
			</div>
            <div class="row m-t-lg">
                <div class="col-md-4">
                    <a class="btn bg-phase-green btn-block btn-lg txt-white font-weight-bold pill-radius" href="p3sweb/hardcodedpffolder/certificates/dummyCertificateNumber1.pdf" download>Download Invoice</a>
                </div>
                <div class="col-md-4">
                    <a class="btn bg-phase-green btn-block btn-lg txt-white font-weight-bold pill-radius" ui-sref="dashboard">Return to dashboard</a>       
                </div>                      
            </div>
		</div>
	</div>
</div>	




