<div class="bg-white">
    <div class="row" ng-controller="CartController">
    	<div class="content-panel col-md-6 p-r-none">
            <div class="content-panel__head border-grey-xs--btm">
                <p class="font-h4 font-weight-medium">Important notice</p>
            </div>
            <div class="content-panel__body">
                <div class="m-b-md">
                    <p class="font-body m-b-md">Thank you for your instruction.You may want to print this page for you records. This data can also be accessed via 'Transactions' should you lose this page. Please double-check the Reference you transfer. We may be unable to process your renewal if it is wrong (spaces don’t matter). Once you have made the transfer, you can check the status of your transaction via the transaction tab in the menu</p>                    
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold">Transaction ID: </p>     
                    </div>
                   <div class="col-md-8">                   
                        <p>{{orderObj.p3sTransRef}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold">Date</p>
                    </div>
                    <div class="col-md-8">
                        <p>{{orderObj.dateNowLocalTimeUI}}</p> <!--dummy date-->
                    </div>              
                </div>
            </div>
        </div>

        <div class="content-panel col-md-6 p-l-none">
            <div class="content-panel__head border-grey-xs--btm">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Account Details</p>
                </div>
                <div class="content-panel__body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Account Holder's Name: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.accountHoldersName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Account number: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.accountNumber}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">ABA Number: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.item1}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Bank Name: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.item2}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Bank address: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">Narnia Wardrobe</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Reference: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">{{orderObj.p3sTransRef}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-6">
                                        <p class="font-weight-medium font-body">Amount: </p>                        
                                    </div>
                                    <div class="col-md-6">
                                        <p class="font-body">$ {{orderObj.totalCostUSD}}</p>
                                    </div>
                                </div>
                            </div>                                                                                                                             
                        </div>                       
                    </div>
    			</div>
                <div class="content-panel__body">
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-end">
                            <a class="btn bg-phase-green btn-block btn--lg txt-white font-weight-medium pill-radius" href="p3sweb/hardcodedpffolder/certificates/dummyCertificateNumber1.pdf" download>Download Invoice</a>
                            <a class="btn bg-phase-green btn-block btn-lg txt-white font-weight-medium pill-radius" ui-sref="dashboard">Return to dashboard</a>
                        </div>
                    </div>        
                </div>
    		</div>
	   </div>
    </div>
</div>




