<div class="bg-white">
    <div class="row" ng-controller="CartController">
        <div class="content-panel col-md-6 p-r-none">
            <div class="content-panel__head border-grey-xs--btm">
                <p class="font-h4 font-weight-medium">Important notice</p>
            </div>
            <div class="content-panel__body">
                <p class="font-body m-b-md">Please check the transaction details. When you press the 'Complete payment' button below, you are entering into a legal contract  with.  The shown the (US) bank account details, to which you must make online payment.</p>
                <p class="font-body m-b-md">The funds must be received by our US account, by:</p>
                <p class="font-weight-medium font-h4 m-b-md">{{$ctrl.patentObj.transTargetEndDateUI}}</p>		
				<p class="font-body">The exchange rate offered will be held until that time. Thereafter, if no payment is made, penalty charges apply, and will continue to accrue</p>
            </div>
        </div>
    	<div class="content-panel col-md-6 p-l-none">
            <div class="content-panel__head border-grey-xs--btm">
                <p class="font-h4 font-weight-medium">Order Summary</p>
            </div>
             <div class="content-panel__body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="border-grey-xs--btm  m-b-xs">
                            <div class="row font-body m-b-xs">
                                <div class="col-md-8">
                                    <p class="font-weight-medium font-body">Total Patents: </p>                        
                                </div>
                                <div class="col-md-4">
                                    <p class="font-body">{{$ctrl.patentObj.totalPatents}}</p>
                                </div>                                
                            </div>
                        </div>
                        <div class="border-grey-xs--btm m-b-xs">
                            <div class="row font-body m-b-xs">                                
                                <div class="col-md-8">
                                    <p class="font-weight-medium font-body">App No/s: </p>                        
                                </div>                    
                                <div class="col-md-4">
                                    <span class="font-body" ng-repeat="p in $ctrl.patentObj.patents">{{p}}<br></span>
                                </div>  
                            </div>
                        </div>
                        <div class="border-grey-xs--btm m-b-xs">
                            <div class="row font-body m-b-xs">                                
                                <div class="col-md-8">
                                    <p class="font-weight-medium font-body">Date: </p>                        
                                </div>                  
                                <div class="col-md-4">
                                    <p class="font-body">{{$ctrl.patentObj.dateNowLocalTime}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="m-b-xs"> 
                            <div class="row font-body m-b-xs">                         
                                <div class="col-md-8">
                                    <p class="font-weight-medium font-body">Total Cost: </p>                        
                                </div>
                                <div class="col-md-4">
                                    <p class="font-body">$ {{$ctrl.patentObj.totalCostUSD}}</p>
                                </div> 
                            </div>
                        </div>
                    </div>                       
                </div>
            </div>
			<div class="content-panel__body">
    			<div class="row">
					<div class="col-md-12 d-flex justify-content-end">
						<button class="btn bg-phase-red btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center" ng-click="ngCart.empty()" ui-sref="patents">Cancel transaction<img class="m-l-xs" src="p3sweb/assets/imgs/icons/cross_white_icon.png"></button>
						<button class="btn bg-phase-green btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center m-l-sm" ng-click="$ctrl.commitTransfer(); ngCart.empty()" ng-disabled="$ctrl.commitTransferBtn">Complete payment<img class="m-l-xs" src="p3sweb/assets/imgs/icons/tick_white_icon.png"></button>		
					</div>						
    			</div>
			</div>		
        </div>
	</div>
</div>	