<div class="row">
    <div class="col-xl-12">
        <div data-ng-if="patent.p3sServicesWithFees[0].serviceStatus == 'Epct saved'" class="d-flex justify-content-start align-items-center">
            <p class="m-b-xs font-h4">Your Form 1200 has been generated and is avaialble to check out or review. If you have entered any incorrect information, you can delete the Form 1200 by selecting the 'delete form 1200' button. If you delete the Form 1200, please leave up to 24 hours for these changes to be applied to your portfolio. You must then check the availability of the European action to see whether the Form 1200 can be generated again.</p>
        </div>
        <div data-ng-if="patent.p3sServicesWithFees[0].serviceStatus == 'Epct rejected'" class="d-flex justify-content-start align-items-center">
            <p class="font-h4 m-b-sm">The answer(s) provided in the questionnaire has resulted in the Form 1200 not being available to check out online. However, The Patent Place can help submit the Form 1200 offline so please contact us via email: support@ip.place, or phone: +44 203 696 0949.</p>
            <p class="font-h4 m-b-sm">If you have entered any incorrect information, you can reset the Form 1200 by selecting the 'reset Form 1200' button. If you reset the order, please leave up to 24 hours for these changes to be applied to your portfolio. You must then check the availability of the European action to see whether the Form 1200 can be generated. </p>
        </div>
        <div data-ng-if="patent.p3sServicesWithFees[0].serviceStatus == 'Epct being generated' || patent.p3sServicesWithFees[0].serviceStatus == 'Await pdf gen start'">
            <p class="m-b-xs font-h4">We are currently generating your Form 1200. When the document is ready, you will be able to access it here.</p> 
            <p class="font-h4">You can view the fees in the 'Fee Breakdown' tab through the panel.</p>                      
        </div>
        <div class="row" data-ng-if="patent.p3sServicesWithFees[0].serviceStatus == 'Epct saved' || patent.p3sServicesWithFees[0].serviceStatus == 'Payment in progress'">
            <div class="col-md-12 d-flex flex-wrap justify-content-start align-items-center">
                <ngcart-addtocart id="{{patent.patentID}}" class="cartbtn m-r-sm m-t-sm" name="service.form1200" price="{{patent.portfolioUI.serviceList[0].currentStageCostUSD}}" quantity="1" quantity-max="10" data="patent" data-ng-if="patent.p3sServicesWithFees[0].form1200FeeUI !== null && patent.p3sServicesWithFees[0].serviceStatus == 'Epct saved'"></ngcart-addtocart>                     
                <a class="btn btn--lg btn--green pill-radius m-r-sm m-t-sm" href="{{patent.form1200PdfUrl}}&download=true" target="_blank" download>Download Form 1200</a>
                <button class="btn btn--lg btn--red pill-radius m-t-sm" data-ng-click="confirmDeleteApplication()" data-ng-disabled="deleteApplicationReq">Delete Form 1200</button>
            </div>
        </div>
    </div>
</div>