<div class="content-panel bg-white border-t-none">
    <div class="content-panel__body">
        <div class="row">
            <div class="col-md-12 col-xl-6">
                <div class="m-b-sm">
                    <h3 class="font-weight-medium font-h2 m-b-xs">Form 1200</h3>
                    <p>Here you can create a Form 1200 which we can submit to enter the European Phase of the PCT process. You'll be asked a small number of questions, but we get all the remaining information for you from the published data. We'll also calculate all of the fees that need to be paid with the submission.</p>
                </div>
                <button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.initiate1200($ctrl.patent.id)">Start Process</button>
            </div>
        </div>
    </div>
</div>
