<div class="row">
    <div class="col-xl-6">
        <div class="content-panel bg-white border-t-none">
            <div class="content-panel__head bg-white border-grey-xs--btm">
                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-12 d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <h4 class="font-h4 m-r-sm" data-ng-if="!$ctrl.form1200.form1200PdfUrl">Generating Form 1200</h4>
                            <h4 class="font-h4" data-ng-if="$ctrl.form1200.form1200PdfUrl">Review Form 1200</h4>
                            <img src="assets/imgs/icons/ajax-loader.gif" data-ng-if="!$ctrl.form1200.form1200PdfUrl">
                        </div>
                        <div class="row" data-ng-if="$ctrl.form1200.form1200PdfUrl">
                            <div class="col-md-12">
                                <button type="button" class="btn btn--default bg-phase-green pill-radius m-r-xs">
                                    <a class="btn__link btn__link--white btn--lg">Open</a>
                                </button>
                                <button type="button" class="btn btn--default bg-phase-green pill-radius">
                                    <a class="btn__link btn__link--white btn--lg">Download</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-panel__body bg-white">
                <div class="row m-b-sm">
                    <div class="col-xl-12 d-flex justify-content-between">
                        <p class="font-h4 font-weight-medium">Yesterday: <span class="font-weight-medium txt-phase-green">-0.274</span></p>
                        <p class="font-h4 font-weight-medium">Last Week: <span class="font-weight-medium txt-phase-green">-0.284</span></p>
                        <p class="font-h4 font-weight-medium">Last Mth: <span class="font-weight-medium txt-phase-red">-0.279</span></p>
                    </div>
                </div>
                <div class="row m-b-sm">
                    <div class="col-xl-12 d-flex justify-content-between">
                        <p class="font-h4 font-weight-medium">Today's Fx Rate: 1.874</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 d-flex justify-content-between m-b-xs">
                        <p>Supplmentary search fee:</p>
                        <p class="font-weight-medium">$ <span>885.00</span></p>
                    </div>
                    <div class="col-xl-12 d-flex justify-content-between m-b-xs">
                        <p>Designation fee:</p>
                        <p class="font-weight-medium">$ <span>885.00</span></p>
                    </div>
                    <div class="col-xl-12 d-flex justify-content-between m-b-xs">
                        <p>Examination fee:</p>
                        <p class="font-weight-medium">$ <span>885.00</span></p>
                    </div>
                    <div class="col-xl-12 d-flex justify-content-between m-b-xs">
                        <p>Filing Fee:</p>
                        <p class="font-weight-medium">$ <span>885.00</span></p>
                    </div> 
                    <div class="col-xl-12 d-flex justify-content-between m-b-xs">
                        <p>Claims:</p>
                        <p class="font-weight-medium">$ <span>885.00</span></p>
                    </div>                                 
                </div>
            </div>
            <div class="content-panel__head border-grey-xs--top">
                <div class="row">
                    <div class="col-xl-12 d-flex justify-content-end">
                        <button type="button" class="btn btn--default bg-phase-red pill-radius m-r-xs" data-ng-disabled="!$ctrl.form1200.form1200PdfUrl" data-ng-click="$ctrl.deleteApplication($ctrl.patent.id)">
                            <a class="btn__link btn__link--white btn--lg">Delete application</a>
                        </button>
                        <button type="button" class="btn btn--default bg-phase-green pill-radius m-r-xs" data-ng-disabled="!$ctrl.form1200.form1200PdfUrl" data-ng-click="$ctrl.editApplication($ctrl.patent.id)">
                            <a class="btn__link btn__link--white btn--lg">Edit application</a>
                        </button>
                        <button type="button" class="btn btn--default bg-phase-green pill-radius" data-ng-disabled="!$ctrl.form1200.form1200PdfUrl">
                            <a class="btn__link btn__link--white btn--lg">Add to cart</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="content-panel__head border-grey-xs--top">
                <div class="row">
                    <div class="col-xl-12 d-flex justify-content-end">
                        <button type="button" class="btn btn--default bg-phase-green pill-radius">
                            <a class="btn__link btn__link--white btn--lg" data-ng-click="$ctrl.portfolioDir()">Portfolio</a>
                        </button>
                    </div>
                </div>                
            </div>
        </div>      
    </div>
    <div class="col-xl-6">
        <div class="bg-white">
        </div>
    </div>  
</div>