<div data-ng-show="$ctrl.loading" class="animate-show">
    <div class="row m-b-md">
        <div class="col-xl-12 text-center">
            <img src="assets/imgs/icons/spinner-loader.gif">
        </div>
    </div>
</div>
<div data-ng-show="$ctrl.patentsLoaded" class="animate-show">  
    <div class="content-panel">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div class="content-panel__body bg-white">
                    <div class="m-t-sm m-b-md">
                        <div class="nav panel-nav__list justify-content-center">
                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-init="$ctrl.activeTab = $ctrl.confirmEntity.index" data-ng-click="$ctrl.activeTab = $ctrl.confirmEntity.index" data-ng-class="{'active': $ctrl.activeTab == 0}">{{$ctrl.confirmEntity.title()}}</button>
                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.amendments.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.amendments.index}" data-ng-disabled="!$ctrl.confirmEntityChecked">{{$ctrl.amendments.title()}}</button>

                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.documents.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.documents.index}" data-ng-if="$ctrl.documents.active" data-ng-disabled="!$ctrl.amendmentsChecked">{{$ctrl.documents.title()}}</button>
                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.extAndValid.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.extAndValid.index}" data-ng-disabled="!$ctrl.documentsChecked">{{$ctrl.extAndValid.title()}}</button>

                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.reference.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.reference.index}" data-ng-disabled="!$ctrl.extAndValidChecked">{{$ctrl.reference.title()}}</button> 
                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.confirmPages.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.confirmPages.index}" data-ng-disabled="!$ctrl.referenceChecked">{{$ctrl.confirmPages.title()}}</button>
                            <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-if="$ctrl.renewal.active" data-ng-click="$ctrl.activeTab = $ctrl.renewal.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.renewal.index}" data-ng-disabled="!$ctrl.confirmPagesChecked">{{$ctrl.renewal.title()}}</button>
                        </div>
                    </div>
                    <form name="form1200Form" novalidate>
                        <uib-tabset active="$ctrl.activeTab">
                            <uib-tab heading="" index="$ctrl.confirmEntity.index" data-ng-hide="true">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label for="entityCheck"><span class="font-weight-medium">The/Each applicant hereby declares that he is an entity or a natural person under Rule 6(4) EPC.</span>
                                                <input type="checkbox" name="entityCheck" data-ng-model="$ctrl.confirmEntityModel" data-ng-disabled="$ctrl.confirmEntityChecked" class="m-l-xs" required>
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 d-flex justify-content-end">

                                                <button class="btn pill-radius btn--default bg-phase-green pill-radius" data-ng-disabled="!$ctrl.confirmEntityModel" data-ng-click="$ctrl.confirmEntity.fn()" type="button">
                                                    <a class="btn__link btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="" index="$ctrl.amendments.index" data-ng-hide="true">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label for="confirmAmendments" class="font-weight-medium"><span class="font-weight-medium">Have any amendments been made to the claim?</span>
                                                <input type="checkbox" name="confirmAmendments" data-ng-model="$ctrl.confirmAmendmentsModel" data-ng-change="$ctrl.manualProcess($ctrl.confirmAmendmentsModel, 'amendments')" class="m-l-xs">
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 d-flex justify-content-end align-items-center">
                                                <p data-ng-show="$ctrl.proceedMsgAmend" class="txt-phase-red font-weight-medium m-r-sm">Cannot proceed if amendments have been made. Uncheck the checkbox if no amendements have been made.</p>
                                                <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-disabled="$ctrl.confirmAmendmentsModel" data-ng-click="$ctrl.amendments.fn()">
                                                    <a class="btn__link btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="" index="$ctrl.documents.index" data-ng-hide="true" data-ng-if="$ctrl.documents.active">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label for="documents" class="font-weight-medium"><span class="font-weight-medium">Additional copies of the document cited in the supplementary European search report are requested</span>                                         
                                                <input type="checkbox" name="documents" data-ng-model="$ctrl.documentsModel" data-ng-change="$ctrl.manualProcess($ctrl.documentsModel, 'documents')" class="m-l-xs">
                                            </label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 d-flex justify-content-end align-items-center">
                                                <p data-ng-show="$ctrl.proceedMsgDocs" class="txt-phase-red font-weight-medium m-r-sm">Cannot proceed if additional documents are required have been made. Uncheck the checkbox if no additional documents are required.</p>                                            
                                                <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-disabled="$ctrl.documentsModel" data-ng-click="$ctrl.documents.fn()">
                                                    <a class="btn__link btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>                        
                            <uib-tab heading="" index="$ctrl.extAndValid.index" data-ng-hide="true"> <!--if ISA = to EP-->
                                <div class="row">
                                     <div class="col-xl-6">
                                        <h4 class="m-b-xs font-weight-medium">Extension states</h4>
                                        <div class="row m-b-sm">
                                            <div class="col-md-6" data-ng-repeat="item in $ctrl.questionsParam.extensionStatesUI track by $index">
                                                <div class="m-b-sm"> 
                                                    <label for="item.abbr">
                                                        <span class="font-weight-medium">{{item.stateCode}}</span> - {{item.stateName}}
                                                    </label>
                                                    <input type="checkbox" id="'{{item.name}}'" data-ng-true-value="'{{item.name}}'" data-ng-change="$ctrl.chkExtStates(checkbox.selected, $index);" data-ng-model="checkbox.selected">
                                                </div>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <h4 class="m-b-xs font-weight-medium">Validation states</h4>
                                        <div class="row m-b-sm">
                                            <div class="col-md-6" data-ng-repeat="item in $ctrl.questionsParam.validationStatesUI track by $index">
                                                <div class="m-b-sm"> 
                                                    <label for="item.abbr">
                                                        <span class="font-weight-medium">{{item.stateCode}}</span> - {{item.stateName}}
                                                    </label>
                                                    <input type="checkbox" id="'{{item.name}}'" data-ng-true-value="'{{item.name}}'" data-ng-change="$ctrl.chkValidStates(checkbox.selected, $index);" data-ng-model="checkbox.selected">
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                
                                    <div class="col-xl-12">
                                        <div class="row m-t-sm">
                                            <div class="col-md-12 d-flex justify-content-end">
                                                <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-click="$ctrl.extAndValid.fn()">
                                                    <a class="btn__link btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="" index="$ctrl.reference.index" data-ng-hide="true">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-row">
                                            <div class="form-group col-xl-4">
                                                <label for="reference" class="font-weight-medium col-form-label font-body">Please enter applicant’s or representatives reference: </label>
                                                <input type="text" name="reference" class="form-control" class="m-l-xs" data-ng-init="$ctrl.formData.clientRef = $ctrl.questionsParam.clientRef" data-ng-model="$ctrl.formData.clientRef" required>
                                            </div>
                                        </div>
                                        <div class="row m-t-sm">
                                            <div class="col-md-12 d-flex justify-content-end">
                                                <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-click="$ctrl.reference.fn()" data-ng-disabled="!$ctrl.formData.clientRef">
                                                    <a class="btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="" index="$ctrl.confirmPages.index" data-ng-hide="true">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group row">
                                            <label for="totalPages" class="col-xl-8 col-form-label font-body">Please enter the total number of pages</label>
                                            <div class="col-xl-4">
                                                <input type="text" name="totalPages" class="form-control" data-ng-change="$ctrl.formData.totalPages = totalPages" data-ng-model="totalPages" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="totalClaims" class="col-xl-8 col-form-label font-body">Please enter the total number of claim</label>
                                            <div class="col-xl-4">
                                                <input type="text" name="totalClaims" class="form-control" data-ng-change="$ctrl.formData.totalClaims = totalClaims" data-ng-model="totalClaims" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-6 col-form-label font-body">Please enter start and end pages of claims</label>
                                            <div class="col-xl-3">
                                                <input type="text" name="claimsStart" class="form-control" data-ng-model="$ctrl.pageDetailsData.claims.typeStart" required>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" name="claimsEnd" class="form-control" data-ng-model="$ctrl.pageDetailsData.claims.typeEnd" required>
                                            </div>                                        
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-6 col-form-label font-body">Please enter start and end pages of descriptions</label>
                                            <div class="col-xl-3">
                                                <input type="text" name="descStart" class="form-control" data-ng-model="$ctrl.pageDetailsData.description.typeStart" required>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" name="descEnd" class="form-control" data-ng-model="$ctrl.pageDetailsData.description.typeEnd" required>
                                            </div>                                        
                                        </div>
                                        <div class="form-group row">
                                            <label for="claimsStart" class="col-xl-6 col-form-label font-body">Please enter start and end pages of drawings</label>
                                            <div class="col-xl-3">
                                                <input type="text" name="drawingStart" class="form-control" data-ng-model="$ctrl.pageDetailsData.drawings.typeStart" required>
                                            </div>
                                            <div class="col-xl-3">
                                                <input type="text" name="drawingEnd" class="form-control" data-ng-model="$ctrl.pageDetailsData.drawings.typeEnd" required>
                                            </div>                                        
                                        </div>                                                                     
                                        <div class="row m-t-sm">
                                            <div class="col-md-12 d-flex justify-content-end">
                                                <button type="submit" id="submit" class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-if="!$ctrl.renewal.active" data-ng-if="!$ctrl.renewal.active" data-ng-disabled="form1200Form.$invalid" data-ng-click="$ctrl.submitForm1200($ctrl.pageDetailsData)">
                                                    <a class="btn__link btn--lg">Generate form</a>
                                                </button>
                                                <button type="button" class="btn pill-radius btn--default bg-phase-green pill-radius" data-ng-if="$ctrl.renewal.active" data-ng-disabled="form1200Form.$error.required" data-ng-click="$ctrl.confirmPages.fn()">
                                                    <a class="btn__link btn--lg">Next</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="" index="$ctrl.renewal.index" data-ng-hide="true" data-ng-if="$ctrl.renewal.active">
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-group">
                                            <label for="renewal">We can see that the third year renewal can be renewed. Would you like to process the renewal in this transaction?
                                                <input type="checkbox" name="renewal" data-ng-model="$ctrl.formData.isYear3RenewalPaying" class="m-l-xs">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-sm">
                                    <div class="col-md-12 d-flex justify-content-end">
                                        <button type="submit" id="submit" class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-disabled="form1200Form.$error.required" data-ng-click="$ctrl.submitForm1200($ctrl.pageDetailsData)">
                                            <a class="btn__link btn--lg">Generate form</a>
                                        </button>
                                    </div>
                                </div>                            
                            </uib-tab>
                        </uib-tabset>
                    </form>
                </div><!--form end-->
                <div class="content-panel__head bg-white border-grey-xs--top">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn pill-radius btn--default bg-phase-red pill-radius m-r-xs" data-ng-click="$ctrl.cancel1200()">
                                <a class="btn__link btn--lg">Cancel Application</a>
                            </button>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>