<div class="widget-panel">
	<div class="widget-panel__body bg-white">
		<div class="row m-b-md">
			<div class="col-xl-12 d-flex align-items-center justify-content-between">
				<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
				<nav>
					<ul class="panel-nav">
						<li data-ng-repeat="item in $ctrl.activityNotifications track by $index" class="pill-radius panel-nav__list-item list-item--plain" data-ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTab); $ctrl.activeActivityTab = item.index; $ctrl.changeActivity(item.activity)" data-ng-class="{active : $ctrl.activeMenu == item.activity}">{{item.activity}}</li>
					</ul>
				</nav>
			</div>
		</div>
		<uib-tabset class="panel-nav" active="$ctrl.activeActivityTab">
			<uib-tab data-ng-hide="true" index="0">
				<div class="row bg-no-data" data-ng-if="$ctrl.recentActivityData.length === 0">
					<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
						<p class="font-weight-bold">There is no recent activity to report</p>
					</div>
				</div>
		    	<div class="row" data-ng-if="$ctrl.recentActivityData.length !== 0">
		    		<div class="col-md-12">
	    				<table class="table t-data table-scroll">
	    					<thead>
	    						<tr class="t-data__row">
	    							<th class="t-data__th border-t-none">App No.</th>
	    							<th class="t-data__th border-t-none">Client Ref</th>
	    							<th class="t-data__th border-t-none">Current Cost</th>
	    							<th class="t-data__th border-t-none">Next Stage</th>
	    						</tr>
	    					</thead>
		                    <tbody>
		                    	<tr class="t-data__row t-data__row--select" data-ng-repeat="patent in $ctrl.recentActivityData">
			                    	<td class="t-data__td t-data__td--ellipsis t-data__w25" data-ng-bind="patent.ep_ApplicationNumber">
			                    		
			                    	</td>
			                    	<td class="t-data__td t-data__td--ellipsis t-data__w25" data-ng-bind="patent.clientRef || '[No Client Reference Provided]'">
			                    		
			                    	</td>
			                    	<td class="t-data__td font-weight-medium t-data__w25" data-ng-class="$ctrl.getCurrColour(patent.serviceList[0].currentStageColour, 'text')">
			                    		{{patent.serviceList[0].currentStageColour}}: {{$ctrl.date | date:'MM-dd-yy'}}
			                    	</td>
			                    	<td class="t-data__td font-weight-medium t-data__w25" data-ng-class="$ctrl.getCurrColour(patent.serviceList[0].nextStageColour, 'text')">
			                    		{{patent.serviceList[0].nextStageColour}}: {{patent.serviceList[0].costBandEndDate | date:'MM-dd-yy'}}
			                    	</td>				                    					                    					                    					                    	
		                    	</tr>
		                    </tbody>
		    			</table>
			    	</div>
	        	</div>		<!--row end-->		
			</uib-tab>
		    <uib-tab data-ng-hide="true" index="1">
					<div class="row bg-no-data" data-ng-if="$ctrl.recentTransArr.length === 0">
						<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
							<p class="font-weight-bold">There is no recent activity to report</p>
						</div>								
					</div>
				    <div class="row m-t-md border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<table class="table t-data">
								<tr>
									<td class="font-weight-bold">Transaction ID</td>
									<td class="t-data__td-50">{{trans.p3S_TransRef}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Transaction Date</td>
									<td class="t-data__td-50">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Patents</td>
									<td class="t-data__td-50">
										<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
											{{item.patentUI.patentApplicationNumber}}<br>
										</span>
										<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
											<option value="" disabled selected>Multiple</option>									
										</select>
									</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Total</td>
									<td class="t-data__td-50">$ {{trans.transAmount_USD | number: 2 }}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Transaction status</td>
									<td class="t-data__td-50">{{trans.latestTransStatus}}</td>
								</tr>
							</table>
						</div>
					</div>
			</uib-tab>				
		</uib-tabset>
	</div>
</div>