<div class="widget-panel">
	<div class="widget-panel__body bg-white d-flex flex-column">
		<div class="row m-b-md">
			<div class="col-xl-12 d-flex align-items-center justify-content-between">
				<h3 class="font-h3 font-weight-bold">Action Cost</h3>
				<h4 class="pill-radius bg-phase-green txt-white font-body p-default" data-ng-if="$ctrl.fxTimeFrame" data-ng-bind="$ctrl.fxTimeFrame"></h4>
			</div>
		</div>
		<div data-ng-if="$ctrl.actionCost == undefined && !$ctrl.loading" class="animate-show">
			<div class="row bg-no-data d-flex flex-grow-1 justify-content-center align-items-center">

				<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
					<p class="font-body font-weight-bold">Currently no fee breakdown information available</p>
				</div>
			</div>
		</div>
		<div class="d-flex flex-grow-1 justify-content-center align-items-center">
			<div data-ng-if="$ctrl.loading">
				<div>
					<img src="assets/imgs/icons/spinner-loader-sm.gif">
				</div>
			
			</div>
			<div data-ng-if="!$ctrl.loading" class="d-flex flex-column flex-grow-1" data-ng-hide="$ctrl.actionCost == undefined">

				<uib-tabset type="pills" active="fxPeriodActiveTabs" class="m-b-md">
					<uib-tab heading="Today" class="font-body" index="0" data-ng-hide="true">
						<div class="row">
							<div class="col-md-12 d-flex justify-content-center">
								<div class="text-center mr-5">
									<p class="font-h3 m-b-xs">USD</p>
									<p class="font-h2">$ {{$ctrl.actionCost.serviceCost.subTotalUSD | number: 2 }}</p>
								</div>
								<div class="text-center d-flex align-items-center justify-content-center mr-5">
									<i class="fas fa-exchange-alt fa-3x txt-grey m-t-xs m-b-xs"></i>
								</div>
								<div class="text-center">
									<p class="font-h3 m-b-xs">EUR</p>
									<p class="font-h2">€ {{$ctrl.actionCost.serviceCost.subTotalEUR | number: 2 }}</p>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Yesterday" class="font-body" index="1"  data-ng-hide="true">
						<div class="row">
							<div class="col-md-12 d-flex justify-content-center">
								<div class="text-center mr-5">
									<p class="font-h3 m-b-xs">USD</p>
									<p class="font-h2">$ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDYesterday | number: 2 }}</p>
								</div>
								<div class="text-center d-flex align-items-center justify-content-center mr-5">
									<i class="fas fa-exchange-alt fa-3x txt-grey m-t-xs m-b-xs"></i>
								</div>
								<div class="text-center">
									<p class="font-h3 m-b-xs">EUR</p>
									<p class="font-h2">€ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalEURYesterday | number: 2 }}</p>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Last week" class="font-body" index="2" data-ng-hide="true">
						<div class="row">
							<div class="col-md-12 d-flex justify-content-center">
								<div class="text-center mr-5">
									<p class="font-h3 m-b-xs">USD</p>
									<p class="font-h2">$ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastWeek | number: 2 }}</p>
								</div>
								<div class="text-center d-flex align-items-center mr-5">
									<i class="fas fa-exchange-alt fa-3x txt-grey m-t-xs m-b-xs"></i>
								</div>
								<div class="text-center">
									<p class="font-h3 m-b-xs">EUR</p>
									<p class="font-h2">€ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalEURLastWeek | number: 2 }}</p>
								</div>
							</div>
						</div>
					</uib-tab>	
					<uib-tab heading="Last Mth" class="font-body" index="3" data-ng-hide="true">
						<div class="row">
							<div class="col-md-12 d-flex justify-content-center">
								<div class="text-center mr-5">
									<p class="font-h3 m-b-xs">USD</p>
									<p class="font-h2">$ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastMonth | number: 2 }}</p>
								</div>
								<div class="text-center d-flex align-items-center mr-5">
									<i class="fas fa-exchange-alt fa-3x txt-grey m-t-xs m-b-xs"></i>
								</div>
								<div class="text-center">
									<p class="font-h3 m-b-xs">EUR</p>
									<p class="font-h2">€ {{$ctrl.actionCost.serviceCost.costHistoryUI.subTotalEURLastMonth | number: 2 }}</p>
								</div>
							</div>
						</div>
					</uib-tab>									
				</uib-tabset>
				<div class="row m-b-md d-md-none d-lg-none d-xl-block">
					<div class="col-md-12 col-lg-12 col-xl-12">
						<ul class="panel-nav d-flex justify-content-center">
							<li class="pill-radius panel-nav__list-item list-item--plain mr-5" data-ng-init="$ctrl.fxTimeFrame = 'Today'; fxPeriodActiveTabs = 0" data-ng-click="$ctrl.fxTimeFrame = 'Today'; fxPeriodActiveTabs = 0" data-ng-hide="$ctrl.fxTimeFrame == 'Today'">Today</li>
							<li class="pill-radius panel-nav__list-item list-item--plain mr-5" data-ng-click="$ctrl.fxTimeFrame = 'Yesterday'; fxPeriodActiveTabs = 1" data-ng-hide="$ctrl.fxTimeFrame == 'Yesterday'">Yesterday</li>
							<li class="pill-radius panel-nav__list-item list-item--plain mr-5" data-ng-click="$ctrl.fxTimeFrame = 'Last Week'; fxPeriodActiveTabs = 2" data-ng-hide="$ctrl.fxTimeFrame == 'Last Week'">Last Week</li>
							<li class="pill-radius panel-nav__list-item list-item--plain mr-5" data-ng-click="$ctrl.fxTimeFrame = 'Last Mth'; fxPeriodActiveTabs = 3" data-ng-hide="$ctrl.fxTimeFrame == 'Last Mth'">Last Mth</li>
						</ul>								
					</div>	
				</div>
				<div class="row">
					<div class="col-md-6 col-xl-8 text-left">
						<p class="font-h4 font-weight-bold">Four week variation: 
							<span  class="font-h4 text-right m-l-xs" data-ng-class="$ctrl.actionCost.serviceCost.subTotalUSD <= $ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastMonth ? 'txt-phase-green': 'txt-phase-red'">
								<i class="fa fa-caret-down fa-sm" data-ng-if="$ctrl.actionCost.serviceCost.subTotalUSD < $ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastMonth"></i>
		                    	<i class="fa fa-caret-up fa-sm" data-ng-if="$ctrl.actionCost.serviceCost.subTotalUSD > $ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastMonth"></i>
		                    	$ {{($ctrl.actionCost.serviceCost.costHistoryUI.subTotalUSDLastMonth - $ctrl.actionCost.serviceCost.subTotalUSD | number: 2)  || '0.00'}}
		                    </span>
	                	</p>     
					</div>
					<div class="col-md-6 col-xl-4 text-right">
					</div>
				</div>
				<div class="row m-t-sm">
					<div class="col-xl-12 d-flex justify-content-end align-items-center">						
						<div class="d-flex justify-content-between align-items-center">
							<div data-ng-show="$ctrl.cartService == 'renewal'">
					 			<ngcart-addtocart id="{{$ctrl.actionCost.patentID}}" class="cartbtn" name="service.renewal" price="{{$ctrl.actionCost.serviceCost.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
				 				</ngcart-addtocart>
							</div>
							<div data-ng-show="$ctrl.cartService == 'form1200'">
					 			<ngcart-addtocart id="{{$ctrl.actionCost.patentID}}" class="cartbtn" name="service.form1200" price="{{$ctrl.actionCost.serviceCost.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
				 				</ngcart-addtocart>
							</div>
							<div data-ng-show="$ctrl.actionCost.serviceStatus !== null">
				        		<button class="btn btn--lg btn--green pill-radius m-l-sm" data-ui-sref="portfolio.patent({patentId: $ctrl.actionCost.patentID})">View Patent</button>
							</div>							
				        	<transaction-link data-ng-show="$ctrl.actionCost.serviceStatus == ('Payment in progress' || 'EPO Instructed')" trans-id="{{$ctrl.actionCost.patentID}}"></transaction-link>
						</div>
					</div>
				</div>
			</div>
		</div><!-- valid action cost body end-->
	</div>
</div>