<div class="widget-panel">
	<uib-tabset type="pills" class="pills bg-white panel-shadow-radius d-flex flex-column flex-grow-1" active="$ctrl.activeActivityTab"> 
		<div class="row d-flex flex-grow-1">
			<div class="col-md-12 d-flex flex-grow-1 justify-content-between">						
				<div class="p-panel p-b-none">
					<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
				</div>
				<nav class="m-r-lg">
					<ul class="panel-nav">
						<li data-ng-repeat="item in $ctrl.activityNotifications track by $index" class="panel-nav__temp-item py-4" data-ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTab); $ctrl.activeActivityTab = item.index; $ctrl.changeActivity(item.activity)" data-ng-class="{active : $ctrl.activeMenu == item.activity}">{{item.activity}}</li>
					</ul>
				</nav>
			</div>
		</div>
		<uib-tab data-ng-hide="true" index="0">
			<div class="row bg-no-data" data-ng-show="$ctrl.recentActivityData.length === 0">
				<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
					<p class="font-weight-bold">There is no recent activity to report</p>
				</div>
			</div>
	    	<div data-ng-hide="$ctrl.recentActivityData.length === 0" class="scrollable-area dashboard-table scrollable-area--no-shadow animate-show">
				<table class="t-data">
					<thead>
						<tr class="t-data__row">
							<th class="t-data__th border-t-none">App No.</th>
							<th class="t-data__th border-t-none">Client Ref</th>
							<th class="t-data__th border-t-none">Current Cost</th>
							<th class="t-data__th border-t-none">Next Stage</th>
						</tr>
					</thead>
                    <tbody class="dashboard-table">
                    	<tr class="t-data__row t-data__row--select" data-ng-repeat="patent in $ctrl.recentActivityData">
	                    	<td class="t-data__td" data-ng-bind="patent.ep_ApplicationNumber">
	                    		
	                    	</td>
	                    	<td class="t-data__td" data-ng-bind="patent.clientRef || '[No Client Reference Provided]'">
	                    		
	                    	</td>
	                    	<td class="t-data__td font-weight-medium" data-ng-class="patent.cssCurrent">
	                    		{{patent.serviceList[0].currentStageColour}}: {{$ctrl.date | date:'MM-dd-yy'}}
	                    	</td>
	                    	<td class="t-data__td font-weight-medium" data-ng-class="patent.cssNext">
	                    		{{patent.serviceList[0].nextStageColour}}: {{patent.serviceList[0].costBandEndDate | date:'MM-dd-yy'}}
	                    	</td>				                    					                    					                    					                    	
                    	</tr>
                    </tbody>
    			</table>
        	</div>		<!--row end-->		
		</uib-tab>
	    <uib-tab data-ng-hide="true" index="1">
			<div class="row bg-no-data" data-ng-show="$ctrl.recentTransArr.length === 0">
				<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
					<p class="font-weight-bold">There is no recent activity to report</p>
				</div>								
			</div>
		    <div data-ng-hide="$ctrl.recentTransArr.length === 0"  class="scrollable-area dashboard-table scrollable-area--no-shadow animate-show">
				<table class="t-data">
					<thead>
						<tr class="t-data__row">
							<th class="t-data__th border-t-none">Trans ID</th>
							<th class="t-data__th border-t-none">Trans Date</th>
							<th class="t-data__th border-t-none">Patents</th>
							<th class="t-data__th border-t-none">Total</th>
							<th class="t-data__th border-t-none">Trans status</th>
						</tr>
					</thead>								
					<tbody class="dashboard-table">
						<tr class="t-data__row t-data__row--select"  data-ng-repeat="trans in $ctrl.recentTransArr" data-ui-sref="current-transactions.current-transaction-item({transId: trans.id})">
							<td class="t-data__td">{{trans.p3S_TransRef}}</td>
							<td class="t-data__td">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
							<td class="t-data__td">
								<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
									{{item.patentUI.patentApplicationNumber}}<br>
								</span>
								<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
									<option value="" disabled selected>Multiple</option>									
								</select>
							</td>
							<td class="t-data__td">$ {{trans.transAmount_USD | number: 2 }}</td>
							<td class="t-data__td">{{trans.latestTransStatus}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</uib-tab>				
	</uib-tabset>
</div>