<div class="widget-panel">
    <uib-tabset type="pills" class="pills bg-white panel-shadow-radius d-flex flex-column flex-grow-1" active="$ctrl.availableActions"> <!-- data-ng-show="$ctrl.phaseLoaded && $ctrl.patents !== '' && $ctrl.selectedPatent !== ''" -->
        <uib-tab data-ng-repeat="(key, value) in $ctrl.patents track by $index" data-ng-hide="true" index="$index">
            <div data-ng-if="$ctrl.patents[key].length > 0" class="scrollable-area dashboard-table scrollable-area--no-shadow animate-show">
                <table class="t-data sticky-table">
                    <thead class="sticky-thead">                    
                        <tr class="t-data__row">
                            <th class="t-data__th border-t-none sticky-th">App No.</th>
                            <th class="t-data__th border-t-none">Client Ref</th>
                            <th class="t-data__th border-t-none">Current Stage</th>
                            <th class="t-data__th border-t-none">Next Stage</th>
                        </tr>
                    </thead>
                    <tbody class="sticky-tbody">
                        <tr class="t-data__row t-data__row--select" data-ng-repeat="item in $ctrl.patents[key] track by $index" data-ng-click="$ctrl.setActionCost(item)">
                            <td class="t-data__td sticky-td" data-ng-bind="item.ep_ApplicationNumber"> </td>
                            <td class="t-data__td" data-ng-bind="item.clientRef || '[No Client Reference Provided]'"></td>
                            <td class="t-data__td" data-ng-class="item.p3sServices[0].cssCurrent">{{item.p3sServices[0].currentStageColour}}: {{$ctrl.date | date:'MM-dd-yy'}}</td> 
                            <td class="t-data__td" data-ng-class="item.p3sServices[0].cssNext">{{item.p3sServices[0].nextStageColour}}: {{item.p3sServices[0].costBandEndDate | date:'MM-dd-yy'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-if="$ctrl.patents[key].length == 0" class="animate-show">
                <div class="row flex-grow-1">
                    <div class="col-md-12 d-flex justify-content-center align-items-center z-index-1">
                        <div class="bg-no-data d-flex align-items-center justify-content-center">
                            <p class="font-body font-weight-bold text-center">Currently there aren't any patents in this phase</p>
                        </div>
                    </div>
                </div>
            </div>      
        </uib-tab>  
    </uib-tabset>
</div>

