input.required {
  outline: none!important;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #e30613;
}

input.ng-pristine {
  outline: none;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

.animate-show {
  -webkit-transition:all linear 0.15s;
  -moz-transition:all linear 0.15s;
  -ms-transition:all linear 0.15s;
  -o-transition:all linear 0.15s;
  transition:all linear 0.15s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}