$phase-grey: $grey-dark;
$border-grey: $grey-dark;

.bg-light-grey { background:  $grey; } 
.bg-light-grey2 { background: $grey-lighter; } 

.bg-white { background: $white; } 
.bg-phase-green { background: $green; } 
.bg-phase-amber { background: $amber; } 
.bg-phase-red { background: $red; } 
.bg-phase-blue { background: $blue; } 
.bg-phase-black { background: $black; } 
.bg-phase-grey { background: $phase-grey; } 

.border-grey-xs { border: 1px solid $border-grey; }
.border-grey-xs--btm { border-bottom: 1px solid $border-grey; }
.border-grey-xs--top { border-top: 1px solid $border-grey; }
.border-grey-xs--right { border-right: 1px solid $border-grey; }
.border-grey-xs--left { border-left: 1px solid $border-grey; }

.txt-black { color: $blacktxt; } 
.txt-grey { color: $grey-dark; } 
.txt-white { color: $white; } 
.txt-phase-green { color: $green; } 
.txt-phase-amber { color: $amber; } 
.txt-phase-red { color: $red; } 
.txt-phase-blue { color: $blue; } 
.txt-phase-black { color: $black; } 