// @font-face {
//     font-family: 'Maven standard';
//     src: url('assets/fonts/MavenPro-Black.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

.font-body, 
.tooltip.trackerStep { 
  font-size: $font-normal; 
  letter-spacing: -0.1px;  
}

.no-line-height { line-height: 1.2rem!important; }

.font-h4 { 
  font-size: $font-h4;
  letter-spacing: -0.4px;
  line-height: 1.2rem;
}

.font-h4.font-h4-text {
  line-height: 2.2rem;
}

// .font-h4.font-h4-title {
//   line-height: 1.8rem;
// }

.font-h3 {  
  font-size: $font-h3;
  letter-spacing: -0.4px;
  line-height: 1.2rem;
  &.font-h3--content {
    line-height: 2.4rem;
  }
}

.font-h2 {   
  font-size: $font-h2;
  letter-spacing: -0.6px;
  line-height: 1.2rem;
}

.font-h1 {  
  font-size: $font-h1;
  letter-spacing: -1px;
  line-height: 4.8rem;
}

.font-weight-medium { font-weight: 600; }
.font-weight-heavy { font-weight: 800; }