// @font-face {
//     font-family: 'Maven standard';
//     src: url('assets/fonts/MavenPro-Black.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

.font-body, 
.tooltip.trackerStep { 
  font-size: $font-normal; 
  letter-spacing: -0.1px;  
}

.no-line-height { line-height: 1.1rem; }

.font-h4 { 
  font-size: $font-h4;
  letter-spacing: -0.4px;
  line-height: 1.6rem;
}

.font-h3 {  
  font-size: $font-h3;
  letter-spacing: -0.4px;
  line-height: 1.9rem;
}

.font-h2 {   
  font-size: $font-h2;
  letter-spacing: -0.6px;
  line-height: 2.2rem;
}

.font-h1 {  
  font-size: $font-h1;
  letter-spacing: -1px;
  line-height: 3rem;
}

.font-weight-medium { font-weight: 500; }

