<div class="content-panel__body">
	<div class="row m-b-sm"> <!-- add if condition to check data-ng-if application has been saved-->
	    <div class="col-xl-12">
	        <h4 class="font-weight-medium">Notifications</h4>
	        <p>Simply select the colour and time frame to receive email notifications for this patent prior to each stage. You can select as many or few as you want.</p>
	    </div>
	</div>
	<div class="row m-b-sm"> <!-- add if condition to check data-ng-if application has been saved-->
	    <div class="col-xl-12">
	        <label>Display notifications for
	        	<select name="actions" id="actions" data-ng-model="$ctrl.data.selectedAction" data-ng-options="option.action for option in $ctrl.data.availableAction track by option.id" data-ng-init="$ctrl.displayNotifications($ctrl.data.selectedAction.action, 'Green')" data-ng-change="$ctrl.displayNotifications($ctrl.data.selectedAction.action, 'Green')">
	        	</select>
	        </label>
	    </div>
	</div>	
	<div class="row">
	    <div class="col-xl-12">
	        <nav>
	            <ul class="panel-nav">
	            	<li class="panel-nav__list-item list-item--colour-border pill-radius" data-ng-repeat="item in $ctrl.notificationNavItems track by item.id" data-ng-click="$ctrl.displayNotifications($ctrl.data.selectedAction.action, item.colour);" data-ng-class="{'active green': 2 > 1, 'txt-phase-green': 2 > 1}">
	            		{{item.colour}}
	            	</li>
<!-- 					<li class="panel-nav__list-item list-item--colour-border pill-radius green" data-ng-click="$ctrl.displayNotifications($ctrl.data.selectedAction.action, 'Green');" data-ng-class="{'active bg-phase-green': activeNotificationTab == 0, 'txt-phase-green': activeNotificationTab !== 0}">Green</li>
					<li class="panel-nav__list-item list-item--colour-border pill-radius amber" data-ng-click="$ctrl.displayNotifications($ctrl.data.selectedAction.action, 'Amber');" data-ng-class="{'active bg-phase-amber': activeNotificationTab == 1, 'txt-phase-amber': activeNotificationTab !== 1}">Amber</li> -->
	            </ul>
	        </nav>
	    </div>
	    <div class="col-xl-12 m-t-xs">
	        <uib-tabset active="activeNotificationTab" type="pills" class="flex-row">
	        	<uib-tab data-ng-repeat="checkbox in $ctrl.availableNotifications track by $index" index="0">
	        		<div class="row">
	                    <div class="col-xl-2 text-center font-body" data-ng-repeat="item in checkbox">
	                        {{item.title}}
	                        <div class="onoffswitch">
	                            <label class="switch">
	                              	<input type="checkbox" data-ng-model="item.isOn">
	                              	<span class="slider round bg-phase-green"></span>
	                            </label>
	                        </div>
	                    </div>
	        		</div>
	        	</uib-tab>
	        </uib-tabset>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
            <div class="content-panel__head border-grey-xs--top">
                <div class="row">
                    <div class="col-xl-12 d-flex">
                        <input type="submit" id="submit" class="btn btn--green btn--lg pill-radius" value="Save" data-ng-click="$ctrl.updateNotifications($ctrl.patent.id, $ctrl.notificationUi, $ctrl.notificationUrl)">                                   
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>