<div class="content-panel d-none d-xl-block border-t-none">
    <div class="bg-white">
        <div class="row">
            <div class="col-xl-12">
                <label>Display FX data for
                    <select name="actions" id="actions" data-ng-model="$ctrl.data.selectedAction" data-ng-options="option.action for option in $ctrl.data.availableAction track by option.id" data-ng-init="$ctrl.setData($ctrl.data.selectedAction.action)" data-ng-change="$ctrl.setData($ctrl.data.selectedAction.action)">
                    </select>
                </label>
            </div>        
        </div>           
        <div class="row">
            <div class="col-xl-12 text-xs-left">
                <div data-ng-if="$ctrl.barData === null">
                    <div class="content-panel__body bg-white">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex align-items-center justify-content-center h-100 z-index-1">
                                    <div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
                                        <p class="h4 font-weight-medium">Sorry</p>
                                        <p class="h4 font-weight-medium text-center">No Information Available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                              
                <div data-ng-if="$ctrl.barData !== null">
                    <nvd3 options="$ctrl.barOptions" data="$ctrl.barData" config="{deepWatchData: true}" api="api" class="with-transitions"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>