<div class="content-panel d-none d-xl-block border-t-none">
    <div class="bg-white">
        <div data-ng-if="$ctrl.feeData !== null">
            <div class="row">
                <div class="col-xl-12">
                    <label>Display fees for
                        <select name="actions" id="actions" data-ng-model="$ctrl.data.selectedAction" data-ng-options="option.action for option in $ctrl.data.availableAction track by option.id" data-ng-init="$ctrl.setFees($ctrl.data.selectedAction.action)"  data-ng-change="$ctrl.setFees($ctrl.data.selectedAction.action)">
                        </select>
                    </label>
                </div>        
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="content-panel__body border-grey-xs--left h-100">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-xl-6">
                                <h4 class="font-weight-medium font-h4">Cost breakdown</h4>
                            </div>
                            <div class="col-xl-6 text-right">
                                <p class="font-h4" data-ng-if="$ctrl.availableFees">1 EUR = {{$ctrl.availableFees.fxRate}} USD</p>
                            </div>  
                        </div>
                        <div class="m-t-md">
                            <div class="row">
                                <div class="col-xl-2 offset-xl-6">
                                    <p class="font-h4 font-weight-medium m-b-xs text-center">USD</p>
                                </div>
                                <div class="col-xl-3 offset-xl-1">
                                    <p class="font-h4 font-weight-medium m-b-xs text-center">EUR</p>
                                </div>
                            </div>
                            <div class="m-b-sm border-grey-xs--btm"></div>                  
                            <div class="row m-b-sm">
                                <div class="col-xl-5">
                                    <p class="font-weight-medium">Official Fee:
                                        <i class="fas fa-lg fa-caret-right accordion-caret" data-ng-class="{'active': !$ctrl.panelActive}" data-ng-click="$ctrl.panelActive = !$ctrl.panelActive"></i>
                                    </p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-center">$ {{($ctrl.availableFees.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="text-center">&euro; {{($ctrl.availableFees.currentOfficialFeeEUR | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-12">
                                    <div class="expandcollapse-item">
                                        <div class="slideDown m-t-xs" data-ng-init="$ctrl.panelActive = true" data-ng-hide="$ctrl.panelActive">
                                            <div class="row m-b-sm m-t-xs">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Designation fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.designationFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.designationFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Examination fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.examinationFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.examinationFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Excess Page fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.excessPageFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.excessPageFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Filing fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.filingFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.filingFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Renewal Fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.renewalFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.renewalFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Supplmentary Search fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.supplementarySearchFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.supplementarySearchFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Validation State fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.validationFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.validationFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Extension State fee:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.extensionFeeUSD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.extensionFeeEUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>                                        
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Claims fee 1:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.claimsFee1USD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.claimsFee1EUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>   
                                            <div class="row m-b-sm">
                                                <div class="col-xl-5">
                                                    <p class="font-weight-medium">Claims fee 2:</p>
                                                </div>
                                                <div class="col-xl-4">
                                                    <p class="text-center">$ {{($ctrl.availableFees.claimsFee2USD | number: 2) || '0.00'}}</p>
                                                </div>
                                                <div class="col-xl-3">
                                                    <p class="text-center">&euro; {{($ctrl.availableFees.claimsFee2EUR | number: 2) || '0.00'}}</p>
                                                </div>                                                                                        
                                            </div>                                                                                                
                                            <div class="border-grey-xs--btm"></div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-xl-5">
                                    <p class="font-weight-medium">Processing fee:</p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-center">$ {{($ctrl.availableFees.processingFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="text-center">&euro; {{($ctrl.availableFees.processingFeeEUR | number: 2) || '0.00'}}</p>
                                </div>
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-xl-5">
                                    <p class="font-weight-medium">Express fee:</p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-center">$ {{($ctrl.availableFees.expressFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="text-center">&euro; {{($ctrl.availableFees.expressFeeEUR | number: 2) || '0.00'}}</p>
                                </div>
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-xl-5">
                                    <p class="font-weight-medium">Urgent fee:</p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-center">$ {{($ctrl.availableFees.urgentFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="text-center">&euro; {{($ctrl.availableFees.urgentFeeEUR | number: 2) || '0.00'}}</p>
                                </div>
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-xl-5">
                                    <p class="font-weight-medium">Total:</p>
                                </div>
                                <div class="col-xl-4">
                                    <p class="text-center">$ {{($ctrl.availableFees.subTotalUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-xl-3">
                                    <p class="text-center">&euro; {{($ctrl.availableFees.subTotalEUR | number: 2) || '0.00'}}</p>
                                </div>
                            </div>
                            <div class=" m-b-sm border-grey-xs--btm"></div>       
                        </div>
                        <div class="row" data-ng-if="$ctrl.patent.portfolioUI.serviceList[0].currentStageColour !== 'Red'"><!--FINISH WORK OFF TOMORROW -->
                            <div class="col-xl-12 d-flex justify-content-between align-items-end">
                                <div data-ng-if="$ctrl.patent.renewalSavings !== 0">
                                    <p class="font-h3 font-weight-medium m-b-xs">Save: <span class="txt-phase-green">$ {{($ctrl.patent.renewalSavings | number: 2) || '0.00'}}</span></p>
                                    <p class="font-body">Instruct before: <span class="font-weight-bold">{{$ctrl.patent.portfolioUI.serviceList[0].costBandEndDateUI}}</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-sm">
                            <div class="col-xl-12">
                                <button class="btn btn--green btn--lg pill-radius" data-ng-if="$ctrl.patent.portfolioUI.serviceStatus == 'Epct available'" data-ui-sref="portfolio.patent.euro-pct.form1200.intro">Generate Form 1200</button>
                                <button type="button" class="btn btn--lg btn--green pill-radius" data-ng-if="$ctrl.patent.epctStatus == ('Payment in progress' || 'EPO Instructed')" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>
                                <ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn" data-ng-if="$ctrl.patent.epctStatus == 'Epct saved'" name="service.form1200" price="{{$ctrl.availableFees.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent"></ngcart-addtocart>
                                <span class="font-h4" data-ng-bind="$ctrl.getStatus($ctrl.patent.portfolioUI.serviceStatus)"></span>                            
                                <span class="font-h4" data-ng-if="$ctrl.patent.portfolioUI.serviceStatus == 'Epct not available'"> - Call Pure Ideas on +44 203 696 0949</span>                            
                            </div>          
                        </div> <!-- row end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>