// .case-overview {
//   min-height: 420px
// }

.case-overview-nav {
	background: $grey;
 //  	-webkit-transition: background .3s ease-in-out;
 //  	-o-transition: background .3s ease-in-out;		
	// transition: background .3s ease-in-out;
	// .nav-link{
	// 	font-size: $font-body;
	//     font-weight: 500;
	//     padding: 1.4rem 3rem;
	//     /* margin: 0 auto; */
	//     text-align: center;
	//     line-height: 1.8rem;
	// }
	// &.nav-item {	
	// 	&.active {
	// 		background: $white;
	// 		border-right: 3px solid $green;
	// 	}
	// 	&:not(.active):hover {
	// 		background: $white;
	// 	}
	// }
	// .nav-tabs {
	// 	margin-bottom: 2.5rem;
	// }

}

.notification-heading {
	min-width: 8rem;
	width: 10%;
}

.notifcation-body {
	width: 90%;
}