.phase-rectangle { /*modules*/ /*pages*/ /*_dashboard.scss*/
  display: block;
  width: 35px;
  height: 20px;
}
.donut-inner { /*component*/ /*pages*/ /*_dashboard.scss*/
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -21.5px;
  margin-left: -17.5px;
  text-align: center;
}
.donut-inner h4 { /*component*/ /*pages*/ /*_dashboard.scss*/
    margin-bottom: 5px;
    margin-top: 0;
}

.dashboard-row-top .widget-panel { 
  min-height: 262px; 
} 