<div class="row">
    <div class="col-md-12">
		<form ng-submit="$ctrl.submit($ctrl.patent)">
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered table-inverse td-30-70">
						<thead>
							<tr>
								<td colspan="2">
									<h2>Patent Information</h2>
								</td>
							</tr>
						</thead>
						<tbody>
							<div class="row">
								<div class="col-md-6">
									<tr>
										<td colspan="2">
											Patent Data for Application Number: {{$ctrl.patent.patentApplicationNumber}}
										</td>
									</tr>
									<tr>
									    <td>
									        <label class="text-xs-right col-form-label">Inventor</label>
								        </td>
								        <td>
								        	<input type="text" name="patentPublicationNumber" class="form-control" ng-model="$ctrl.patent.patentPublicationNumber" required readonly>
								        </td>   		
									</tr>
								 	<tr>
									    <td>
									        <label class="text-xs-right col-form-label">Inventor</label>
								        </td>
								        <td>
								        	<input type="text" name="primaryApplicantName" class="form-control" ng-model="$ctrl.patent.primaryApplicantName" required readonly>
								        </td>   		
									</tr>
									<tr>
									    <td>
								    		<label class="text-xs-right col-form-label">Patent Filing Date</label>
							    		</td>
							    		<td>
							    			<input type="text" name="filingDateUI" class="form-control" ng-model="$ctrl.patent.filingDateUI" required readonly>
							    		</td>
							    	</tr>
							    	<tr>
									    <td>
								    		<label class="text-xs-right col-form-label">Title</label>
							    		</td>
							    		<td>
							    			<input type="text" name="title" class="form-control" ng-model="$ctrl.patent.title" required readonly>
							    		</td>
							    	</tr>
								</div>
							</div>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
		    		<h3>Optional Data</h3>
	    			<div class="form-group row">
	    			
						<label class="col-md-4" for="clientRef">Your Reference for your Client</label>
						<div class="col-md-8">
							<input type="text" name="clientRef" class="form-control" id="clientRef" ng-model="$ctrl.patent.clientRef">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-md-4" for="shortTitle">Your Nickname for this patent</label>
						<div class="col-md-8">
							<input type="text" name="shortTitle" class="form-control" id="shortTitle" ng-model="$ctrl.patent.shortTitle" >
						</div>
					</div>		    			
					<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
						<div class="col-md-4" ng-repeat="item in checkbox">
							<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
								<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
									{{item.title}}
									<div class="onoffswitch">
										<label class="switch font-sm">
										  <input type="checkbox" ng-model="item.isOn">
										  <span class="slider round"></span>
										</label>
									</div>
								</div>
							</div>	
						</div>
					</div>
 					<div class="form-group row">
						<label class="col-md-4" for="filingDate">RAW Filing Date</label>
						<div class="col-md-8">
							<input type="text" name="filingDate" class="form-control" id="filingDate" ng-model="$ctrl.patent.filingDate" required>
						</div>
					</div>
	 			</div>
	 			<div class="col-md-2 offset-md-10">
					<button class="btn btn-lg btn-success btn-block" id="add_review_submit" type="submit">Add</button>
	 			</div>
			</div>
		</form>
	</div>
</div>


							
<!-- <tr ng-repeat="x in $ctrl.patent.notificationUIs">
					<td ng-model="x.title"></td>
					<td>
						<input
						    type="checkbox"
						    name="notification{{x.id}}"
						    value="{{x.isOn}}"
						    ng-checked="{{x.isOn}}"
						    ng-click="toggleSelection(x.isOn); x.isOn=0"
						  />
					</td>
	 			</tr>
       -->