<nav class="nav m-b-md">
	<ul class="nav nav-pills view-tabs">
		<li class="tab tab--lg nav-item nav-view-list-item pill-radius pill-tabs font-h3 bg-white border-grey-xs" data-ui-sref-active="active"><a class="nav-view-link btn--lg" data-ui-sref="patents">List patents</a></li>
		<li class="tab tab--lg nav-item nav-view-list-item pill-radius pill-tabs font-h3 bg-white border-grey-xs" data-ui-sref-active="active"><a class="nav-view-link btn--lg" data-ui-sref="search-patent">Add patent</a></li>
	</ul>
</nav>	



