<!doctype html>
<html lang="en">
	<head>
	
	<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

		<!--styling-->

		<link rel="stylesheet" type="text/css" href="../styles/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../styles/style.css">


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

		<!--angular-->

		<base href="/">

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>


		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>

		

		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.0/moment.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.13/moment-timezone.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.js"></script>

		<title>Patent Place</title>
		
	
	</head>
<body ng-app="myApp">
<main class="container">
	<!-- <form  ng-submit="register()" ng-controller="userProfileCtrl">
		<div class="col-md-6">
			<fieldset>
				<legend class="font-weight-bold">User Info</legend>
				<div class="form-group row">
					<label class="col-md-5" for="emailAddress">Email address</label>
					<div class="col-md-7">
						<input type="email" name="emailAddress" ng-model="user.emailAddress" class="form-control" id="emailAddress" email required>
						
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="firstName">First name</label>
					<div class="col-md-7">
						<input type="text" name="firstName" class="form-control" ng-model="user.firstName" id="firstName" ng-bind="firstName" required>
						
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="lastName">Last name</label>
					<div class="col-md-7">
						<input type="text" class="form-control" name="user.lastName" ng-model="user.lastName"  id="lastName" required>
						
	
					</div>
				</div>
			</fieldset> -->
			
			<a ui-sref="new-user">New User</a>
			
			<!-- <fieldset>
				<legend class="font-weight-bold">Password</legend>
				<div class="form-group row">
					<label class="col-md-5" for="new_password">Password</label>
					<div class="col-md-7">
						<input type="text" name="new_password" ng-model="newPassword" class="form-control" id="new_password" minlength="8" required>
						
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="confirm_password">Confirm password</label>
					<div class="col-md-7">
						<input type="text" name="confirm_password" class="form-control" ng-model="confirm_password" id="confirmPassword" required>
						
					</div>
				</div>
			</fieldset>
	
			<fieldset class="form-group">
				<legend class="font-weight-bold">Email notifications</legend>
				<p>Do you want to receive email notificaitons?</p>
				<div class="col-md-2">
					<label class="form-check-label">
		    			<input type="radio" class="form-check-input" name="opt_notification_y" id="opt_notification_y" value="option1" checked>
						Yes
					</label>				
				</div>
				<div class="col-md-2">
				  	<label class="form-check-label">
		    			<input type="radio" class="form-check-input" name="opt_notification_n" id="opt_notification_n" value="option2">
						No
					</label>
				</div>
			</fieldset>					
		</div>
		<div class="col-md-6">
			<fieldset>
				<legend class="font-weight-bold">Business details</legend>
				<div class="form-group row">
					<label class="col-md-5" for="businessName">Business name</label>
					<div class="col-md-7">
						<input type="text" name="businessName" class="form-control" ng-model="user.business.businessName" id="businessName" required>
						
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="phoneNumber">Business phone number</label>
					<div class="col-md-7">
						<input type="text" name="phoneNumber" class="form-control" ng-model="user.business.phoneNumber" id="phoneNumber" required>
										
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="street">Street</label>
					<div class="col-md-7">
						<input type="text" name="street" class="form-control" ng-model="user.business.street" id="street" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="city">City</label>
					<div class="col-md-7">
						<input type="text" name="city" class="form-control" ng-model="user.business.city" id="city" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="USstate">State</label>
					<div class="col-md-7">
						<input type="text" name="USstate" class="form-control" ng-model="user.business.usstate" id="USstate" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="zip">Zip</label>
					<div class="col-md-7">
						<input type="text" name="zip" class="form-control" ng-model="user.business.zip" id="zip" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="timezone">Time Zone</label>
					<div class="col-md-2">
						<select class="form-control" ng-model="selected_timezone" ng-options="x.abbr for x in timezone">
							<option class="form-control" ng-model="user.timezone">{{selected_timezone}}</option>
						</select>
					</div>
					
				</div>
			</fieldset>
		</div>
	
		<div class="col-offset-6 col-md-6">
			<fieldset>
				<legend class="font-weight-bold">Billing address</legend>
				<div class="form-group row">
					<label class="col-md-5" for="billing_street">Street</label>
					<div class="col-md-7">
						<input type="text" name="billing_street" class="form-control" ng-model="user.business.billingStreet" id="billing_street" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="billing_city">City</label>
					<div class="col-md-7">
						<input type="text" name="billing_city" class="form-control" ng-model="user.business.billingCity" id="billing_city" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="billing_state">State</label>
					<div class="col-md-7">
						<input type="text" name="billing_state" class="form-control" ng-model="user.business.billingState" id="billing_state" required>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-md-5" for="billing_zip">Zip</label>
					<div class="col-md-7">
						<input type="text" name="billing_zip" class="form-control" ng-model="user.business.billingZip" id="billing_zip" required>
					</div>
				</div>
			</fieldset> -->
		</div>
		<div class="col-offset-6 col-md-6">
			<button class="btn btn-success" type="submit">Submit</button>
		</div>
	
	</form>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>	
		
	</main>		
</body>
</html>