<div class="row m-b-sm">
	<div class="col-xl-12">	
	    <h3 class="font-weight-bold font-h2 m-b-sm">Grant and Publishing Fees</h3>
	    <p>Here you can respond to an intention to grant which we can submit to complete the grant process. You'll be asked a small number of questions, but we get all the remaining information for you from the published data. We'll also calculate all of the fees that need to be paid with the submission. The action is then available to either review or check out.</p>
	</div>
</div>
<form name="grantInitiate">
	<div class="form-group m-b-sm">
		<p class="font-body m-b-xs font-weight-medium">The French and German translations of this application are required to be uploaded.</p>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="translations" data-ng-model="initiate.translations" class="form-check-input checkbox-round" required>
            <label for="translations" class="form-check-label">I understand</label>
        </div>
	</div>
	<div class="form-group m-b-sm">
		<p class="font-body m-b-xs font-weight-medium">Details of total number of claims and pages are required (if applicable)</p>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="totals" data-ng-model="initiate.totals" class="form-check-input checkbox-round" required>
            <label for="totals" class="form-check-label">I understand</label>
        </div>
	</div>
	<div class="form-group m-b-sm">
		<p class="font-body m-b-xs font-weight-medium">If renewal fee(s) are due, these will be automatically be included</p>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="renewal" data-ng-model="initiate.renewal" class="form-check-input checkbox-round" required>
            <label for="renewal" class="form-check-label">I understand</label>
        </div>
	</div>	
	<div class="row">
		<div class="col-xl-12 d-flex justify-content-end">
			<button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.initiateGrantOrder()" data-ng-disabled="grantInitiate.$invalid">Start Process</button>
		</div>
	</div>	
</form>

