<div class="row m-b-sm">
	<div class="col-xl-12">	
	    <h3 class="font-weight-bold font-h3 m-b-sm">Grant and Publishing Questionnaire</h3>
	    <p class="m-b-xs">Here you can respond to an intention to grant which we can submit to complete the grant process. You'll be asked a small number of questions, but we get all the remaining information for you from the published data. We'll also calculate all of the fees that need to be paid with the submission. The action is then available to either review or check out.</p>
	    <p class="font-weight-bold">Please confirm that you understand the following statements:</p>
	</div>
</div>
<form name="grantInitiate" class="d-flex flex-column flex-grow-1">
	<div class="form-group m-b-sm">
		<p class="font-body m-b-xs font-weight-medium">The French and German translations of this application are required to be uploaded</p>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="translations" data-ng-model="initiate.translations" class="form-check-input checkbox-square" required>
            <label for="translations" class="form-check-label">I understand</label>
        </div>
	</div>
	<div class="form-group m-b-sm">
		<p class="font-body m-b-xs font-weight-medium">Details of total number of claims and pages are required (if applicable)</p>
        <div class="form-check form-check-inline">
            <input type="checkbox" name="totals" data-ng-model="initiate.totals" class="form-check-input checkbox-square" required>
            <label for="totals" class="form-check-label">I understand</label>
        </div>
	</div>
	<div class="row d-flex flex-grow-1">
		<div class="col-xl-12 d-flex justify-content-end align-items-end">
			<button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.initiateGrantOrder()" data-ng-disabled="grantInitiate.$invalid">Start Process</button>
		</div>
	</div>	
</form>

