<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <img src="assets/imgs/logos/PP_icon_lg.png" alt="updated icon">   
    </div>
    <p class="font-h3 txt-phase-green font-weight-medium">Form 1200 generating</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <p class="font-h4 font-weight-medium m-b-xs">We are currently generating your form 1200 which can take up to several minutes. You can wait for the form 1200 to become available, or you can leave this page and complete other tasks, and the application will be saved to the this patent, accessible through the portfolio page.</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
    <button class="btn btn--lg btn-portal pill-radius bg-phase-green font-h4 txt-white d-flex align-items-center justify-content-center" ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
