<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-exclamation-circle fa-4x txt-phase-red"></i>   
    </div>
    <p class="font-h3 font-weight-medium">Reset Grant Order</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">Do you want to reset your grant order?</p>
    <div class="d-flex">
    	<button class="btn btn--lg btn--red pill-radius m-r-md" data-ng-click="$ctrl.dismissModal()">Cancel</button>
    	<button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.deleteGrant()">Yes</button>
    </div>
</div>