<div class="widget-panel">
	<div class="widget-panel__body d-flex flex-column align-items-center justify-content-center">
		<span class="modal-cross cursor-pointer" data-ng-click="dismissWelcomeModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
		<div class="m-b-sm">
			<img src="assets/imgs/logos/PP_icon_lg.png" alt="patent place icon">	
		</div>
		<h2 class="font-h2 font-weight-medium">Welcome to the Patent Place</h2>
	</div>
	<div class="widget-panel__body d-flex flex-column align-items-center justify-content-center p-t-none">
		<p class="font-body m-b-sm">You don't have any patents entered on to the system yet.  You can start by adding patents through the add patent function on the left.  You only need to add the application number, and we'll retrieve all the rest of the imformation from the EPO register for you.</p>
		<p class="font-body">If you need any more information then please access our <a href="http://thepatent.place/faqs" target="__blank" class="inline-link font-weight-bold">FAQ section</a>.</p>
	</div>
	<div class="widget-panel__body d-flex align-items-center justify-content-center p-t-none">
		<button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body no-line-height font-weight-medium txt-white d-flex align-items-center justify-content-center m-r-md" data-ng-click="dismissWelcomeModal()">Dismiss</button>
	</div>
</div>
