<div class="modal-header p-b-none m-b-xs d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-xs">
        <img src="assets/imgs/icons/modal/modal_success_icon.png" alt="updated icon">   
    </div>
    <p class="font-h3 font-weight-medium">Success</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <p class="font-body w-100 text-center">Successfully deleted the Euro-PCT application that was generated for this patent</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
    <button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body txt-white d-flex align-items-center justify-content-center" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
