<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <img src="assets/imgs/icons/modal/modal_fail_icon.png" alt="updated icon">   
    </div>
    <p class="font-h3 txt-phase-green font-weight-medium">Success</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <p class="font-h4">We have successfully update the notification settings</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center btn-default">
    <button class="btn btn--lg btn-portal pill-radius bg-phase-green font-h4 txt-white d-flex align-items-center justify-content-center" ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
