<div class="modal-header m-b-xs d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-xs">
        <i class="far fa-clock fa-4x txt-phase-green"></i>  
    </div>
    <p class="font-h3 font-weight-medium">Form 1200 generating</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">We are currently generating your Form 1200 which can take up to several minutes. You can wait for the form 1200 to generate, or you can leave this page and complete other tasks, and the application will be saved to this patent's profile, accessible through the portfolio page.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
