<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-check-circle fa-4x txt-phase-green"></i>   
    </div>
    <p class="font-h3 font-weight-medium m-b-xs">Grant and Publishing action ready</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">We have prepared your Grant and Publishing fee action which is now ready to check out. All fees included are displayed in the 'Fee Breakdown' tab.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>