<div class="bg-white d-flex flex-column p-5 br-1">
	<div data-ng-hide="avatarImgUploaded">
		<span class="modal-cross cursor-pointer" data-ng-click="dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
		<div class="row">
			<div class="col-md-12 text-center">
				<label for="avatarFileUpload" class="btn btn--lg btn--grey pill-radius m-b-md">
				    Select file
				</label>			
				<label for="avatarFileUpload" data-ng-hide="imgSelected"  class="pre-upload-avatar">
				    Select file
				</label>			
				<input data-select-avatar id="avatarFileUpload" type="file" name="avatarFileUpload" accept="image/*">
			</div>
		</div>
	 	<div class="row m-b-xs" data-ng-show="imgSelected">
	 		<div class="col-md-6">
	 			<p class="font-h4 font-weight-medium m-b-xs">Uploaded image:</p>
	 			<croppie  src="cropped.source" ng-model="cropped.image" options="{boundary:{width:300,height:350}}" class="br-1"></croppie>
	 		</div>
	 		<div class="col-md-6 d-flex flex-column">
				<p class="font-h4 font-weight-medium m-b-xs">Preview:</p>
				<div class="flex-grow-1 d-flex justify-content-center  align-items-center">
					<div class="avatar-cropped">
						<img class="avatar-img" data-ng-src="{{cropped.image}}">
					</div>
				</div>
	 		</div>
	 	</div>
	 	<div class="row" data-ng-show="imgSelected">
	 		<div class="col-md-12 text-center">
	 			<button type="button" name="avatarUpload" data-ng-click="uploadAvatar()" class="btn btn-block btn--lg btn--green pill-radius m-b-lg">Upload</button>
	 		</div>
	 		
	 	</div>
	</div>
	<div data-ng-show="avatarImgUploaded" class="d-flex flex-column text-center">
		<div class="m-b-sm">
			<i class="fas fa-check-circle fa-4x txt-phase-green"></i>
		</div>
		<p class="font-h4">Your new profile picture has been saved!</p>
	</div>
</div>