<div class="modal-header p-b-none m-b-xs d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-xs">
        <img src="assets/imgs/logos/PP_icon_lg.png" alt="updated icon">   
    </div>
    <p class="font-h3 font-weight-medium">Form 1200 generating</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <p class="font-body w-100 text-center">We are currently generating your Form 1200 which can take up to several minutes. You can wait for the form 1200 to generate, or you can leave this page and complete other tasks, and the application will be saved to this patent's profile, accessible through the portfolio page.</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
    <button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body txt-white d-flex align-items-center justify-content-center" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
