<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <img src="assets/imgs/icons/modal/modal_success_icon.png" alt="updated icon">   
    </div>
    <p class="font-h3 font-weight-medium">Manual Processing</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
    <div class="text-center">
        <p class="m-b-sm">Your application has been submitted to our legal team and they will be in contact shortly. The patent has been added to your portfolio to help keep track of the application through the entry into the European Phase. Please refer to our help guide on how to configure the settings for a patent to help keep you updated on the progress.</p>
    </div>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
    <button class="btn pill-radius btn--default bg-phase-green pill-radius m-r-sm" type="button" data-ng-click="dismissModal()">
        <a class="btn__link btn__link btn--lg">Ok</a>
    </button>
</div>
