<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-check-circle fa-4x txt-phase-green"></i>   
    </div>
	<p class="font-h3 font-weight-medium">Adding Patent</p>
	<p class="font-body w-100 text-center m-b-sm m-t-xs">Add Patent Application?</p>
</div>
<div class="d-flex">
	<button class="btn btn--lg btn--red pill-radius m-r-md" data-ng-click="$ctrl.cancelAdd()">No</button>
	<button class="btn btn--lg btn--green pill-radius " data-ng-click="$ctrl.addPatent()">Yes</button>
</div>
