<div class="modal-header d-flex flex-column align-items-center justify-content-center">
	<span class="modal-cross cursor-pointer" ng-click="dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="m-b-sm">
		<img src="assets/imgs/icons/modal/alert_icon.png" alt="success icon">	
	</div>
	<p class="font-h3 txt-phase-red font-weight-medium">Processing Error</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
	<p class="font-h4">We've encoutered a problem processing this transaction.  Please try again.  If it's still a problem then please let us know support@ip.place</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
	<button class="btn btn--lg btn-portal pill-radius bg-phase-red font-body no-line-height font-weight-medium txt-white d-flex align-items-center justify-content-center m-r-md" ng-click="cancel()">Dimiss <img src="assets/imgs/icons/cross_white_icon.png" alt="cancel icon" class="m-l-xs"></button>
</div>