<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <div class="m-b-sm">
        <i class="fas fa-exclamation-circle fa-4x txt-phase-amber"></i>
    </div>
    <p class="font-h3 font-weight-medium">Duplicate file</p>
    <p class="font-body w-100 text-center m-b-sm m-t-xs">It seems you are attempting to upload a duplicate file. Please check and try again.</p>
    <button class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>

