<div class="modal-header d-flex flex-column align-items-stretch">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
    <p class="font-h2 font-weight-bold m-b-sm">Support details</p>
    <p class="font-h3 m-b-sm">Application No.: <span class="font-weight-bold">{{$ctrl.applicationNo}}</span></p>
    <p class="font-h3 m-b-sm">Formality type: <span class="font-weight-bold text-capitalize">{{$ctrl.formalityType}}</span></p>
    <textarea name="message" id="message" class="form-control br-1 m-b-sm" rows="10" data-ng-model="caseFormData.message" maxlength="5000" placeholder="Message.." validate-text-field required></textarea>
    <div class="form-group row">
        <div class="col-md-8">
            <p class="font-h4 font-weight-bold m-b-xs">Supporting documents</p>
            <p class="font-body">If you have any documents that will help our team with your enquiry, please upload them here.</p>
            <div  class="m-t-xs" data-ng-if="caseFormData.uploadedDocs.length > 0">                            
                <p class="font-body m-b-xs">Files uploaded:</p>
                <div data-ng-repeat="file in caseFormData.uploadedDocs" class="btn btn--lg btn--plain br-1 btn-file-upload m-r-sm" data-ng-click="removeSpecificFile(file.name)">
                    <span class="m-r-sm" title="{{file.name}}">{{file.name}}</span>
                    <span ><i class="fas fa-times fa-lg action-icon btn-close"></i></span>
                </div>
            </div>
        </div>
    </div> 
    <div class="row m-t-md">
        <div class="col-md-6 col-xl-6 text-left"><!--fileStore.file-->
            <input type="file" name="uploadedDocs" id="uploadedDocs" class="d-none" data-ng-model="caseFormData.files" support-file-upload onchange="angular.element(this).scope().getFileDetails(this, true)" accept=".pdf, .PDF, .docx, .DOCX, .png, .PNG, .gif, .GIF, ,.jpg, .JPG, .jpeg, .JPEG, .pptx, .PPTX, .csv, .CSV, .xlsx, .XLSX, .zip, .ZIP" multiple>
            <label for="uploadedDocs" class="btn btn--lg pill-radius btn--plain">Attach file(s)</label>
         
        </div>
        <div class="col-md-6 col-xl-6 text-right">
            <button type="submit" class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.add(caseFormData, patent)">
                Add
            </button>
        </div>        
    </div> 
</div>
