<button data-ng-hide="inCart()" class="btn btn-block t-data__btn-portal pill-radius bg-phase-green cartbtn d-flex align-items-center justify-content-center" data-ng-click="ngCart.addItem(id, name, price, q, data)">
    <span class="btn__link btn--lg btn__link--white m-l-xs">Add<img class="m-l-xs d-md-none d-lg-inline-block" src="assets/imgs/icons/cart_icon_white_sm.png"></span>
</button>
<div class="btn-remove">
	<a data-ng-show="inCart()" class="btn btn-block t-data__btn-portal pill-radius bg-phase-red cartbtn d-flex align-items-center justify-content-center" data-ng-click="ngCart.removeItemById(id)">
		<span class="btn__link btn--lg btn__link--white m-l-xs">Remove <img class="m-l-xs d-md-none d-lg-inline-block" src="assets/imgs/icons/cart_icon_white_sm.png"></span>
	</a>	
</div>


