<div class="content-panel d-none d-xl-block border-t-none">
	<div class="bg-white">
		<div class="row">
			<div data-ng-class="$ctrl.patent.renewalFeeUI === null ? 'col-xl-12' : 'col-xl-7'">
				<div class="content-panel__body">
					<div class="row">
						<div class="col-xl-12">
							<nav>
								<ul class="panel-nav">
									<li class="panel-nav__list-item list-item--plain pill-radius text-uppercase" data-ng-init="activeChart = 0;" data-ng-click="$ctrl.loadChart(); activeChart = 0" data-ng-class="{active : activeChart == 0}">Stage Cost Chart</li>
									<li class="panel-nav__list-item list-item--plain pill-radius text-uppercase" data-ng-click="$ctrl.loadChart(); activeChart = 1;" data-ng-class="{active : activeChart ==  1}">FX Chart</li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-12 text-xs-left">
							<uib-tabset type="pills" active="activeChart">
								<uib-tab heading="Stage Cost Chart" classes="btn btn-primary" index="0" data-ng-hide="true">
									<div data-ng-if="!$ctrl.patent.renewalFeeUI">
										<div class="content-panel__body bg-white">
											<div class="row">
												<div class="col-xl-12">
													<div class="d-flex align-items-center justify-content-center h-100 z-index-1">
														<div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
															<p class="h4 font-weight-medium">Sorry</p>
															<p class="h4 font-weight-medium text-center">No Renewal Information Available</p>
															<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>            
															<div class="m-b-sm"></div>
															<p class="font-body text-center">Renewal information will be displayed here when the renewal window for the patent opens again</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-ng-if="$ctrl.patent.renewalFeeUI">
										<nvd3 options="$ctrl.barOptions" data="$ctrl.barData" class="with-transitions"></nvd3>
									</div>
								</uib-tab>
								<uib-tab heading="FX Chart" classes="btn btn-primary" index="1" data-ng-hide="true">
									<div data-ng-if="!$ctrl.patent.renewalFeeUI">
										<div class="content-panel__body bg-white">
											<div class="row">
												<div class="col-xl-12">
													<div class="d-flex align-items-center justify-content-center h-100 z-index-1">
														<div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
															<p class="h4 font-weight-medium">Sorry</p>
															<p class="h4 font-weight-medium text-center">No Renewal Information Available</p>
															<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>            
															<div class="m-b-sm"></div>
															<p class="font-body text-center">Renewal information will be displayed here when the renewal window for the patent opens again</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>                              
									<div data-ng-if="$ctrl.patent.renewalFeeUI">
										<nvd3 options="$ctrl.lineOptions" data="$ctrl.lineData" class="with-transitions"></nvd3>
									</div>
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
			<div data-ng-if="$ctrl.patent.renewalFeeUI !== null" class="col-xl-5">
				<div class="content-panel__body border-grey-xs--left h-100">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-xl-6">
							<h4 class="font-weight-medium font-h4">Cost breakdown</h4>
						</div>
						<div class="col-xl-6">
							<p class="font-h4" data-ng-if="$ctrl.patent.renewalFeeUI">1 EUR = {{$ctrl.patent.renewalFeeUI.fxRate}} USD</p>
						</div>  
					</div>
					<div class="m-t-md">
						<div class="row">
							<div class="col-xl-2 offset-xl-6">
								<p class="font-h4 font-weight-medium m-b-xs text-center">USD</p>
							</div>
							<div class="col-xl-3 offset-xl-1">
								<p class="font-h4 font-weight-medium m-b-xs text-center">EUR</p>
							</div>
						</div>
						<div class=" m-b-sm border-grey-xs--btm"></div>                  
						<div class="row m-b-sm">
							<div class="col-xl-5">
	                            <p class="font-weight-medium">Official fee:
	                                <i class="fas fa-lg fa-caret-right accordion-caret" data-ng-class="{'active': !$ctrl.panelActive}" data-ng-click="$ctrl.panelActive = !$ctrl.panelActive"></i> 
	                            </p>
							</div>
							<div class="col-xl-4">
								<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-3">
								<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.currentOfficialFeeEUR | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-12">
                                <div class="expandcollapse-item">
                                    <div class="slideDown m-t-xs" data-ng-init="$ctrl.panelActive = true" data-ng-hide="$ctrl.panelActive">
                                        <div class="row m-b-sm m-t-xs">
                                            <div class="col-xl-5">
                                                <p class="font-weight-medium">Renewal fee:</p>
                                            </div>
                                            <div class="col-xl-4">
                                                <p class="text-center">$ {{($ctrl.patent.renewalFeeUI.renewalFeeUSD | number: 2) || '0.00'}}</p>
                                            </div>
                                            <div class="col-xl-3">
                                                <p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.renewalFeeEUR | number: 2) || '0.00'}}</p>
                                            </div>                                                                                        
                                        </div>
                                        <div class="row m-b-sm">
                                            <div class="col-xl-5">
                                                <p class="font-weight-medium">Extension fee:</p>
                                            </div>
                                            <div class="col-xl-4">
                                                <p class="text-center">$ {{($ctrl.patent.renewalFeeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
                                            </div>
                                            <div class="col-xl-3">
                                                <p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.extensionFeeEUR | number: 2) || '0.00'}}</p>
                                            </div>                                                                                        
                                        </div>                                                                                               
                                        <div class="border-grey-xs--btm"></div> 
                                    </div>
                                </div>	
                            </div>						
						</div>
						<div class="row m-b-sm">
							<div class="col-xl-5">
								<p class="font-weight-medium">Processing fee:</p>
							</div>
							<div class="col-xl-4">
								<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.processingFeeUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-3">
								<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.processingFeeEUR | number: 2) || '0.00'}}</p>
							</div>
						</div>
						<div class="row m-b-sm">
							<div class="col-xl-5">
								<p class="font-weight-medium">Express fee:</p>
							</div>
							<div class="col-xl-4">
								<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.expressFeeUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-3">
								<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.expressFeeEUR | number: 2) || '0.00'}}</p>
							</div>
						</div>
						<div class="row m-b-sm">
							<div class="col-xl-5">
								<p class="font-weight-medium">Urgent fee:</p>
							</div>
							<div class="col-xl-4">
								<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.urgentFeeUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-3">
								<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.urgentFeeEUR | number: 2) || '0.00'}}</p>
							</div>
						</div>
						<div class="row m-b-sm">
							<div class="col-xl-5">
								<p class="font-weight-medium">Total:</p>
							</div>
							<div class="col-xl-4">
								<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.subTotalUSD | number: 2) || '0.00'}}</p>
							</div>
							<div class="col-xl-3">
								<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.subTotalEUR | number: 2) || '0.00'}}</p>
							</div>
						</div>                            
						<div class=" m-b-sm border-grey-xs--btm"></div>                                                                            

					</div>
					<div class="row">
						<div class="col-xl-12 d-flex justify-content-between align-items-end">
							<div data-ng-if="$ctrl.patent.renewalStatus == 'Show price'">
								<p class="font-h3 font-weight-medium m-b-xs">Save: <span class="txt-phase-green">$ {{$ctrl.patent.renewalCostNextStageUSD - $ctrl.patent.currentRenewalCostUSD | number: 2}}</span></p>
								<p class="font-body">Renew before: <span class="font-weight-bold">{{$ctrl.patent.costBandEndDateUI}}</span></p>
							</div>
						</div>
					</div>
					<div class="row m-t-sm">
						<div class="col-xl-12 text-right">              
							<button type="button" class="btn btn--lg btn--green pill-radius" data-ng-if="$ctrl.patent.renewalStatus == ('Payment in progress' || 'EPO Instructed')" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>
							<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn" data-ng-if="$ctrl.patent.renewalStatus == 'Show price'" name="service.renewal" price="{{$ctrl.patent.currentRenewalCost}}" quantity="1" quantity-max="10" data="$ctrl.patent"></ngcart-addtocart>
						</div>          
					</div> <!-- row end-->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-xl-none">
	<div class="content-panel border-t-none m-b-md">
		<div class="content-panel__body bg-white">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<nav>
						<ul class="panel-nav">
							<li class="panel-nav__list-item list-item--plain pill-radius text-uppercase" data-ng-init="activeChart = 0;" data-ng-click="$ctrl.loadChart(); activeChart = 0" data-ng-class="{active : activeChart == 0}">Stage Cost Chart</li>
							<li class="panel-nav__list-item list-item--plain pill-radius text-uppercase" data-ng-click="$ctrl.loadChart(); activeChart = 1;" data-ng-class="{active : activeChart ==  1}">FX Chart</li>
						</ul>
					</nav>
					<div class="row">
						<div class="col-md-12 col-lg-12 text-xs-left">
							<uib-tabset type="pills" active="activeChart">
								<uib-tab heading="Stage Cost Chart" classes="btn btn-primary" index="0" data-ng-hide="true">
									<div data-ng-if="$ctrl.patent.renewalFeeUI">
										<nvd3 options="$ctrl.barOptions" data="$ctrl.barData" class="with-transitions"></nvd3>
									</div>
									<div data-ng-if="!$ctrl.patent.renewalFeeUI">
										<div class="content-panel__body bg-white">
											<div class="row">
												<div class="col-md-12 col-lg-12">
													<div class="d-flex align-items-center justify-content-center h-100 z-index-1">
														<div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
															<p class="h4 font-weight-medium">Sorry</p>
															<p class="h4 font-weight-medium text-center">No Renewal Information Available</p>
															<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>            
															<div class="m-b-sm"></div>
															<p class="font-body text-center">Renewal information will be displayed here when the renewal window for the patent opens again</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>                              
								</uib-tab>
								<uib-tab heading="FX Chart" classes="btn btn-primary" index="1" data-ng-hide="true">
									<div data-ng-if="$ctrl.patent.renewalFeeUI">
										<nvd3 options="$ctrl.lineOptions" data="$ctrl.lineData" class="with-transitions"></nvd3>
									</div>
									<div data-ng-if="!$ctrl.patent.renewalFeeUI">
										<div class="content-panel__body bg-white">
											<div class="row">
												<div class="col-md-12 col-lg-12">
													<div class="d-flex align-items-center justify-content-center h-100 z-index-1">
														<div class="d-flex justify-content-center bg-no-chart align-items-center flex-column">
															<p class="h4 font-weight-medium">Sorry</p>
															<p class="h4 font-weight-medium text-center">No Renewal Information Available</p>
															<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>
															<div class="m-b-sm"></div>
															<p class="font-body text-center">Renewal information will be displayed here when the renewal window for the patent opens again</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>                              
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-panel">
		<div class="content-panel__body bg-white">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<div class="row d-flex justify-content-center align-items-center">
						<div class="col-md-6 col-lg-6">
							<h4 class="font-weight-medium font-h4">Cost breakdown</h4>
						</div>
						<div class="col-md-6 col-lg-6 text-right">
							<p class="font-h4" data-ng-if="$ctrl.patent.renewalFeeUI">1 EUR = {{$ctrl.patent.renewalFeeUI.fxRate}} USD</p>
						</div>  
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<div class="row">
						<div class="col-md-4 offset-md-4">
							<p class="font-h4 font-weight-medium m-b-xs text-center">USD</p>
						</div>
						<div class="col-md-4">
							<p class="font-h4 font-weight-medium m-b-xs text-center">EUR</p>
						</div>
					</div>
					<div class=" m-b-sm border-grey-xs--btm"></div>                  
					<div class="row m-b-sm">
						<div class="col-md-4">
                            <p class="font-weight-medium">Official fee:
                                <i class="fas fa-lg fa-caret-right accordion-caret" data-ng-class="{'active': !$ctrl.panelActive}" data-ng-click="$ctrl.panelActive = !$ctrl.panelActive"></i> 
                            </p>     
						</div>
						<div class="col-md-4">
							<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.currentOfficialFeeEUR | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-12">
                            <div class="expandcollapse-item">
                                <div class="slideDown m-t-xs" data-ng-init="$ctrl.panelActive = true" data-ng-hide="$ctrl.panelActive">
                                    <div class="row m-b-sm m-t-xs">
                                        <div class="col-md-4">
                                            <p class="font-weight-medium">Renewal fee:</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">$ {{($ctrl.patent.renewalFeeUI.renewalFeeUSD | number: 2) || '0.00'}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.renewalFeeEUR | number: 2) || '0.00'}}</p>
                                        </div>                                                                                        
                                    </div>
                                    <div class="row m-b-sm">
                                        <div class="col-md-4">
                                            <p class="font-weight-medium">Extension fee:</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">$ {{($ctrl.patent.renewalFeeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.extensionFeeEUR | number: 2) || '0.00'}}</p>
                                        </div>                                                                                        
                                    </div>                                                                                               
                                    <div class="border-grey-xs--btm"></div> 
                                </div>
                            </div>	
                        </div>						
					</div>
					<div class="row m-b-sm">
						<div class="col-md-4">
							<p class="font-weight-medium">Processing fee:</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.processingFeeUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.processingFeeEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-md-4">
							<p class="font-weight-medium">Express fee:</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.expressFeeUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.expressFeeEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-md-4">
							<p class="font-weight-medium">Urgent fee:</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.urgentFeeUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.urgentFeeEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>
					<div class="row m-b-sm">
						<div class="col-md-4">
							<p class="font-weight-medium">Total:</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">$ {{($ctrl.patent.renewalFeeUI.subTotalUSD | number: 2) || '0.00'}}</p>
						</div>
						<div class="col-md-4">
							<p class="text-center">&euro; {{($ctrl.patent.renewalFeeUI.subTotalEUR | number: 2) || '0.00'}}</p>
						</div>
					</div>                            
					<div class="border-grey-xs--btm"></div>                                    
				</div>
				<div class="col-md-4 col-lg-4 d-flex flex-column justify-content-end m-t-sm">
					<div data-ng-if="$ctrl.patent.renewalStatus == 'Show price'">
						<p class="font-h3 font-weight-medium m-b-xs">Save: $ <span class="txt-phase-green">{{$ctrl.patent.renewalCostNextStageUSD - $ctrl.patent.currentRenewalCostUSD | number: 2}}</span></p>
						<p class="font-body m-b-xs">Renew before: <span class="font-weight-medium">{{$ctrl.patent.costBandEndDateUI}}</span></p>
						<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn m-t-sm" name="service.renewal" price="{{$ctrl.patent.renewalFeeUI.subTotalUSD}}" quantity="1" quantity-max="10" data="$ctrl.patent">
						</ngcart-addtocart>
					</div>
					<button type="button" data-ng-if="$ctrl.patent.renewalStatus == ('Payment in progress' || 'EPO Instructed')" class="btn btn--green btn--lg pill-radius m-t-sm" data-ng-click="$ctrl.fetchItemTransaction($ctrl.patent.id)">View Transaction</button>                                              
				</div>      
			</div> <!-- row end-->
		</div>
	</div>
</div>