<div class="d-none d-xl-block">
	<div class="content-panel bg-white border-t-none">
		<div data-ng-if="!$ctrl.renewal.length">
			<div class="content-panel__body bg-white">
				<div class="row">
					<div class="col-xl-12">
						<div class="row bg-no-chart">
							<div class="col-xl-12 d-flex align-items-center justify-content-center z-index-1">
								<div class="d-flex justify-content-center align-items-center flex-column  container-content-40">
									<p class="h4 font-weight-medium text-center">This patent has not yet been renewed through Patent Place</p>
									<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>			
									<div class="m-b-sm"></div>
									<p class="font-body text-center">When you've renewed this patent through Patent Place you'll be able to download copies of the invioce and renewal certificates from here.</p>
								</div>
			    			</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="$ctrl.renewal.length !== 0">
			<div class="bg-white">
				<div class="row">
					<div class="col-xl-12">
						<table class="t-data">
							<thead>
								<tr class="t-data__row">
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'renewalYear'; $ctrl.sortReverse = !$ctrl.sortReverse">Renewal Year
										<span data-ng-show="$ctrl.sortType == 'renewalYear' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'renewalYear' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'dateRenewed'; $ctrl.sortReverse = !$ctrl.sortReverse">Date Renewed
										<span data-ng-show="$ctrl.sortType == 'dateRenewed' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'dateRenewed' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'costBreakdown'; $ctrl.sortReverse = !$ctrl.sortReverse">Cost Breakdown
										<span data-ng-show="$ctrl.sortType == 'costBreakdown' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'costBreakdown' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold">Downloads</th>
								</tr>
							</thead>
							<tbody>
								<tr class="t-data__row t-data_td--b-border" data-ng-repeat="renewal in $ctrl.renewal | orderBy:$ctrl.sortType:$ctrl.sortReverse">
									<td class="t-data__td text-left align-top">Year <span data-ng-bind="renewal.renewalYear"></span></td>
									<td class="t-data__td text-left align-top">{{renewal.certificate.renewedOnDateExEpo | date: 'MM/dd/yy'}}</td>
									<td class="text-left align-top">
										<table class="t-data table-borderless">
											<tr>
												<td class="t-data__td text-left">Official fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.renewalFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Processing fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.processingFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Extension fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.extensionFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Express fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.expressFeeUSD | number: 2}}</td>
											</tr>
											<tr class="t-data_td--b-border">
												<td class="t-data__td text-left">Urgent fee:</td>
												<td class="t-data__td text-left ">$ {{renewal.feeUI.urgentFeeUSD | number: 2}}</td>
											</tr>																								
											<tr class="t-data_td--b-border">
												<td class="t-data__td text-left font-weight-bold">Total: </td>
												<td class="t-data__td text-left font-weight-bold">$ {{renewal.feeUI.subTotalUSD | number: 2}}</td>
											</tr>													
										</table>
									</td>
									<td class="t-data__td align-top">
										<div class="row">
											<div class="col-xl-6 d-flex align-items-center" data-ng-if="renewal.certificateUrl">
												<button type="button" class="btn btn--white btn-block btn--default bg-phase-green pill-radius cartbtn d-flex align-items-center justify-content-center">
								 					<a class="btn__link btn__link--white btn--lg" data-ng-href="{{renewal.certificateUrl}}" target="_blank">Certificate <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
								 				</button>
											</div>
											<div class="col-xl-6 d-flex align-items-center">
												<button type="button" class="btn btn--white btn-block btn--default bg-phase-green pill-radius cartbtn d-flex align-items-center justify-content-center">
								 					<a class="btn__link btn__link--white btn--lg" data-ng-href="{{renewal.invoiceUrl}}" target="_blank" class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white d-flex align-items-center d-flex align-items-center">Invoice <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
												</button>
											</div>	
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="d-xl-none">
	<div class="content-panel border-t-none">
		<div data-ng-if="$ctrl.renewal.length == 0">
	    	<div class="content-panel__body border-t-none bg-white">
				<div class="row">
					<div class="col-lg-12 d-flex align-items-center justify-content-center z-index-1">
						<div class="content-panel_body bg-no-chart d-flex align-items-center justify-content-center">
							<div class="d-flex justify-content-center align-items-center flex-column z-index-1">
								<p class="h4 font-weight-medium text-center">This patent has not yet been renewed through Patent Place</p>
								<p class="h4 font-weight-medium">Status: <span class="txt-phase-green" data-ng-bind="$ctrl.patent.renewalStatus"></span></p>			
								<div class="m-b-sm"></div>
								<p class="font-body text-center">When you've renewed this patent through Patent Place you'll be able to download copies of the invioce and renewal certificates from here.</p>																					
							</div>
		    			</div>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="$ctrl.renewal.length !== 0">
			<div class="bg-white">
				<div class="row">
					<div class="col-md-12 col-lg-12">
						<table class="t-data">
							<thead>
								<tr class="t-data__row">
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'renewalYear'; $ctrl.sortReverse = !$ctrl.sortReverse">Renewal Year
										<span data-ng-show="$ctrl.sortType == 'renewalYear' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'renewalYear' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'dateRenewed'; $ctrl.sortReverse = !$ctrl.sortReverse">Date Renewed
										<span data-ng-show="$ctrl.sortType == 'dateRenewed' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'dateRenewed' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold t-data__th" data-ng-click="$ctrl.sortType = 'costBreakdown'; $ctrl.sortReverse = !$ctrl.sortReverse">Cost Breakdown
										<span data-ng-show="$ctrl.sortType == 'costBreakdown' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
										<span data-ng-show="$ctrl.sortType == 'costBreakdown' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
									</th>
									<th class="font-h4 text-left font-weight-bold">Downloads</th>
								</tr>
							</thead>
							<tbody>
								<tr class="t-data__row t-data_td--b-border" data-ng-repeat="renewal in $ctrl.renewal | orderBy:$ctrl.sortType:$ctrl.sortReverse">
									<td class="t-data__td text-left align-top">Year <span data-ng-bind="renewal.renewalYear"></span></td>
									<td class="t-data__td text-left align-top">{{renewal.certificate.renewedOnDateExEpo | date: 'MM/dd/yy'}}</td>
									<td class="text-left align-top">
										<table class="t-data table-borderless">
											<tr>
												<td class="t-data__td text-left">Official fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.renewalFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Processing fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.processingFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Extension fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.extensionFeeUSD | number: 2}}</td>
											</tr>
											<tr>
												<td class="t-data__td text-left">Express fee:</td>
												<td class="t-data__td text-left">$ {{renewal.feeUI.expressFeeUSD | number: 2}}</td>
											</tr>
											<tr class="t-data_td--b-border">
												<td class="t-data__td text-left">Urgent fee:</td>
												<td class="t-data__td text-left ">$ {{renewal.feeUI.urgentFeeUSD | number: 2}}</td>
											</tr>																								
											<tr class="t-data_td--b-border">
												<td class="t-data__td text-left font-weight-bold">Total: </td>
												<td class="t-data__td text-left font-weight-bold">$ {{renewal.feeUI.subTotalUSD | number: 2}}</td>
											</tr>													
										</table>
									</td>
									<td class="t-data__td align-top">
										<div class="row m-b-xs">
											<div class="col-xl-6 d-flex align-items-center" data-ng-if="renewal.certificateUrl">
												<button type="button" class="btn btn--white btn-block btn--default bg-phase-green pill-radius cartbtn d-flex align-items-center justify-content-center">
								 					<a class="btn__link btn__link--white btn--lg" data-ng-href="{{renewal.certificateUrl}}" target="_blank">Certificate <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
								 				</button>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-6 d-flex align-items-center">
												<button type="button" class="btn btn--white btn-block btn--default bg-phase-green pill-radius cartbtn d-flex align-items-center justify-content-center">
								 					<a class="btn__link btn__link--white btn--lg" data-ng-href="{{renewal.invoiceUrl}}" target="_blank" class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white d-flex align-items-center d-flex align-items-center">Invoice <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
												</button>
											</div>	
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>