<div class="row m-b-sm">
	<div class="col-xl-12">	
		<p class="m-b-xs">We have instructed the necessary associates and the states below require POA documents to be signed, scanned and uploaded to Patent Place. Please find the necessary documents available for download below</p>
	</div>
</div>
<div class="row m-b-sm">
	<div class="col-xl-12">	
		<h4 class="font-h4 font-weight-medium text-uppercase m-b-xs">Notice</h4>
		<p class="m-b-xs">We require the original signed PoA documents to be sent in the post for all states listed below to:</p>
		<address class="font-body font-weight-medium">
			Mr Validation<br>
			25 Meer Street<br>
			S-O-A<br>
			Warwickshire<br>
			CV37 6QB<br>
			United Kingdom
		</address>
	</div>
</div>
<div class="row">
	<div class="col-xl-12">
		<h4 class="font-weight-medium font-h4 m-b-xs d-flex align-items-center">PoA documents | Download </h4>
		<a class="btn-underlined pill-radius font-h4 txt-phase-green m-b-sm" data-ng-href="{{$ctrl.domain}}rest-validation-downloadPOA/{{$ctrl.patent.patentID}}" download>Download all PoA documents</a>
		<h4 class="font-weight-medium font-h4  m-b-xs">PoA documents | Upload</h4>
		<p>Upload all Power of Attorney documents for the states listed below:</p>
		<form name="validationForm" novalidate>
			<!-- <input type="file" name="testFile" class="form-control-file font-h4" data-ng-model="formData.testFile" select-ng-files accept="application/pdf" required> -->
			<div data-ng-if="$ctrl.patent.p3sServicesWithFees[0].validationFeeUI.designatedStates.length" data-ng-init="formData.designatedStates">
				<div data-ng-repeat="states in $ctrl.patent.p3sServicesWithFees[0].validationFeeUI.designatedStates" data-ng-if="states.poaNeeded"> 
					<div class="border-grey-xs--btm m-b-md m-t-md"></div>
		            <div class="form-group row">
		                <label for="{{states.stateName}}" class="col-xl-4 col-form-label font-weight-medium font-h4">{{states.stateName}}: </label>
		                <div class="col-xl-8">                	
			                <input type="file" name="{{states.stateName}}" class="form-control-file font-h4" data-ng-model="states.signedPoaDoc" select-ng-files accept="application/pdf" required>
		                </div>
		                
		            </div>    			    		
				</div>
			</div>
			<div data-ng-if="$ctrl.patent.p3sServicesWithFees[0].validationFeeUI.extensionStates.length" data-ng-init="formData.extensionStates">
				<div data-ng-repeat="states in $ctrl.patent.p3sServicesWithFees[0].validationFeeUI.extensionStates" data-ng-if="states.poaNeeded"> 
					<div class="border-grey-xs--btm m-b-md m-t-md"></div>
		            <div class="form-group row">
		                <label for="{{states.stateName}}" class="col-xl-4 col-form-label font-weight-medium font-h4">{{states.stateName}}: </label>
		                <div class="col-xl-8">                	
			                <input type="file" name="{{states.stateName}}" class="form-control-file font-h4"  data-ng-model="states.signedPoaDoc" select-ng-files accept="application/pdf" required>
		                </div>
		                
		            </div>    			    		
				</div>
			</div>
			<div data-ng-if="$ctrl.patent.p3sServicesWithFees[0].validationFeeUI.validationStates.length" data-ng-init="formData.validationStates">
				<div data-ng-repeat="states in $ctrl.patent.p3sServicesWithFees[0].validationFeeUI.validationStates" data-ng-if="states.poaNeeded"> 
					<div class="border-grey-xs--btm m-b-md m-t-md"></div>
		            <div class="form-group row">
		                <label for="{{states.stateName}}" class="col-xl-4 col-form-label font-weight-medium font-h4">{{states.stateName}}: </label>
		                <div class="col-xl-8">
			                <input type="file" name="{{states.stateName}}" class="form-control-file font-h4"  data-ng-model="states.signedPoaDoc" select-ng-files accept="application/pdf" required>
		                </div>
		                
		            </div>    			    		
				</div>
			</div>
			<div class="row m-b-md m-t-md">
				<div class="col-md-12 m-b-xs">
					<p class="font-weight-medium">I confirm that all the correct PoA documents have been uploaded for each required state listed above <input type="checkbox" class="m-r-xs" name="rightpoas" data-ng-model="rightPoas"></p>
				</div>
				<div class="col-md-12">
					<p class="font-weight-medium">I confirm that all original PoA documents are in transit to the address provided above <input type="checkbox" name="transit" class="m-r-xs" data-ng-model="inTransit"></p>
				</div>				
			</div>
			<div class="row">
				<div class="col-xl-12 text-right">
	        		<button type="button" id="submitPoas" class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.submitPoaDocuments(formData);" data-ng-disabled="validationForm.$invalid || formDataSubmitted || !rightPoas || !inTransit">Submit PoA documents</button>
				</div>
			</div>
		</form>
	</div>
</div>