<h2 class="m-b-sm">Billing Details</h2>
<div>
    <div class="row m-b-md">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="d-flex align-items-center">
                <label class="font-body font-weight-medium">
                    Use business address for billing address?
                    <input type="checkbox" name="same_as_business" class=" m-l-sm" data-ng-model="copyAddress" data-ng-change="$ctrl.copyBusinessAddress(copyAddress)">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="billingStreet" class="form-control pill-radius font-body" placeholder="Billing Street" data-ng-model="$ctrl.formData.billingStreet" data-validate-address required>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingStreet.$error.required && registrationForm.billingStreet.$dirty">Please fill out this field.</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingStreet.$error.validAddress && registrationForm.billingStreet.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>                
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="billingCity" class="form-control pill-radius font-body" placeholder="Billing City" data-ng-model="$ctrl.formData.billingCity" data-validate-address required>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingCity.$error.required && registrationForm.billingCity.$dirty">Please fill out this field.</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingCity.$error.validAddress && registrationForm.billingCity.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>                  
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="billingState" class="form-control pill-radius font-body" placeholder="Billing State" data-ng-model="$ctrl.formData.billingState" data-validate-address required>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingState.$error.required && registrationForm.billingState.$dirty">Please fill out this field.</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingState.$error.validAddress && registrationForm.billingState.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>                
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <input type="text" name="billingZip" class="form-control pill-radius font-body" placeholder="Billing Zip"  data-ng-model="$ctrl.formData.billingZip" data-validate-zip required>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingZip.$error.required && registrationForm.billingZip.$dirty">Please fill out this field.</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingZip.$error.validZip && registrationForm.billingZip.$dirty">Please provide a valid ZIP.</p> 
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.billingZip.$error.maxlength && registrationForm.billingZip.$dirty">Maximum of 10 numbers are permitted in this field</p>                 
        </div>
    </div>
    <div>
        <button data-ng-click="$ctrl.test()">Test</button>
         
    </div>

    <div class="row m-b-sm ">
        <div class="col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end">
            <div
                vc-recaptcha
                theme="'light'"
                key="$ctrl.recap.publicKey"
            ></div>
        </div>
    </div>
    <div class="row m-b-sm">
        <div class="col-md-12 col-xl-12 text-right">
            <label class="form-check-label m-r-xs">
                I accept the <a href="http://thepatent.place/terms/" target="__blank" class="font-weight-medium inline-link">Terms and Conditions</a>
                <input type="checkbox" name="terms-register" data-ng-model="$ctrl.formData.tandc" required>      
            </label> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xl-12 text-right">
            <p class="font-body txt-phase-red text-transform-italic font-weight-medium m-b-sm" data-ng-show="registrationForm.$invalid">Please ensure all user, business and billing fields have been either filled or selected</p>
            <input type="submit" name="formSubmit" class="btn btn--lg btn--green pill-radius" value="Create account" data-ng-disabled="registrationForm.$invalid">
        </div>

    </div>
</div>
