<h2 class="m-b-sm">User Details</h2>
<div class="form-group row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <input type="email" name="emailAddress" class="form-control pill-radius font-body" data-ng-model="$ctrl.formData.emailAddress" placeholder="Email" data-validate-email required>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.emailAddress.$error.required && registrationForm.emailAddress.$dirty">Please fill out this field</p>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.emailAddress.$error.email && registrationForm.emailAddress.$dirty">Please enter a valid email address</p>        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <input type="text" name="firstName" class="form-control pill-radius font-body"data-ng-model="$ctrl.formData.firstName" placeholder="First Name" data-validate-name required>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.firstName.$error.required && registrationForm.firstName.$dirty">Please fill out this field</p>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.firstName.$error.validName && registrationForm.firstName.$dirty">Only letters, numbers, ' - and spaces are valid charcters in this field.</p>        
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <input type="text" class="form-control pill-radius font-body" name="lastName" data-ng-model="$ctrl.formData.lastName" placeholder="Last Name" data-validate-name required>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.lastName.$error.required && registrationForm.lastName.$dirty">Please fill out this field</p>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.lastName.$error.validName && registrationForm.lastName.$dirty">Only letters, numbers, ' - and spaces are valid charcters in this field.</p>              
    </div>
</div>
<div class="form-group row m-b-none">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="icon-field">
            <input type="password" name="new_password" id="password" data-ng-model="$ctrl.formData.new_password" zxcvbn="passwordStrength" id="password" class="form-control font-body pill-radius m-b-xs" data-ng-blur="visitedPassword=true" data-ng-minlength="8" data-ng-maxlength="20" autocomplete="off" placeholder="Password">
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.password.$error.required && registrationForm.password.$dirty">Please fill out this field</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.password.$error.minlength && registrationForm.password.$dirty">Password needs to be a minimum of 8 characters</p>
            <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.password.$error.maxlength && registrationForm.password.$dirty">Password needs to be a maximum of 20 characters</p>
        </div>
<!--         <div class="col-md-12 col-xl-12">
            <zx-password-meter value="{{ passwordStrength.score }}" max="4"></zx-password-meter>
        </div> -->
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <input type="password" name="confirmPassword" class="form-control font-body pill-radius" data-ng-model="confirmPassword" data-confrim-pw-to="$ctrl.formData.password" required>
        <p class="font-body txt-phase-red m-t-xs" data-ng-show="registrationForm.confirmPassword.$invalid && registrationForm.password.$dirty">Passwords don't match.</p>
    </div>
</div>

<div class="form-group row m-b-none">
    <div class="col-md-12 col-lg-12 col-xl-12 text-right">
        <a ui-sref="register.business-details" class="btn btn--lg btn--green pill-radius txt-white">
            Business Details <i class="far fa-angle-right"></i>
        </a>
    </div>
</div>