<patentnav></patentnav>
<div class="animate-show">    
    <div class="form-group row m-b-sm">
        <div class="col-md-3 col-lg-3 col-xl-2">
            <input type="text" class="form-control pill-radius" name="appNoFilter" data-ng-model="filterPortfolio.ep_ApplicationNumber" placeholder="App No." autocomplete="off">
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2">
            <div class="input-group">
                <input type="text" class="form-control pill-radius" name="clientRefFilter" data-ng-model="filterPortfolio.clientRef" placeholder="Client Ref" autocomplete="off">
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2 offset-xl-4">
            <div class="input-group">
                <select class="pill-radius form-control font-body" data-ng-options="item for item in $ctrl.patentActionStatuses.values" data-ng-model="$ctrl.patentActionStatuses.value" data-ng-change="$ctrl.updateCategory($ctrl.patentActionStatuses.value)">
                </select>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-2">
            <button type="button" class="btn btn--lg btn-block pill-radius" data-ng-click="$ctrl.panelActive = !$ctrl.panelActive">Advanced Search</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="expandcollapse-item">
                <div class="slideDown m-b-sm" data-ng-hide="$ctrl.panelActive">
                    <div class="expand-collapse-content">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="d-flex align-items-center">
                                    <h4 class="font-body font-h4-title font-weight-bold m-r-lg">Service Type</h4>
                                    <ul class="panel-nav">
                                        <li class="panel-nav__list-item list-item--plain pill-radius" data-ng-class="{active: activeFilterTab == 0}" data-ng-click="activeFilterTab = 0;">Euro-PCT</li>
                                        <li class="panel-nav__list-item list-item--plain pill-radius" data-ng-class="{active: activeFilterTab == 1}" data-ng-click="activeFilterTab = 1;">Regional Renewals</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <uib-tabset active="activeFilterTab" vertical="true" type="pills" class="flex-column">
                            <uib-tab index="0" heading="renewals" data-ng-hide="true">
                                <div class="row m-b-xs" data-ng-if="europctStatus('serviceStatus').length !== 0">
                                    <div class="col-xl-6">
                                        <div class="filter-box m-t-md">
                                            <div class="row">
                                                <div class="col-md-2 col-xl-2">
                                                    <h4 class="font-body font-h4-title font-weight-bold">Euro-PCT</h4>
                                                </div>
                                                <div class="col-md-9 col-xl-9 d-flex">
                                                    <div class="checkbox-container" data-ng-repeat="status in europctStatus('serviceStatus')">
                                                        <label class="filter-container">
                                                            <input type="checkbox" data-ng-model="filters.serviceStatus[status]"><span class="font-body">{{status}}</span>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6" data-ng-if="epctStages('currentStageColour').length !== 0">
                                        <div class="filter-box m-t-md">
                                            <div class="row">
                                                <div class="col-md-2 col-xl-2">
                                                    <h4 class="font-body font-h4-title font-weight-bold">Phase</h4>
                                                </div>
                                                <div class="col-md-10 col-xl-10 d-flex">
                                                    <div class="checkbox-container" data-ng-repeat="status in epctStages('currentStageColour')">
                                                        <label class="filter-container">
                                                            <input type="checkbox" data-ng-model="filters.currentStageColour[status]"><span class="font-body">{{status}}</span>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-md" data-ng-if="europctStatus('serviceStatus').length === 0">
                                    <div class="col-xl-12 text-center">
                                        <p class="font-h4 font-weight-medium">[ No filter options available ]</p>
                                    </div>
                                </div> 
                            </uib-tab>
                            <uib-tab index="1" heading="europct" data-ng-hide="true">
                                <div class="row m-b-xs" data-ng-if="renewalsStatus('serviceStatus').length !== 0">
                                    <div class="col-xl-6">
                                        <div class="filter-box m-t-md">
                                            <div class="row">
                                                <div class="col-md-2 col-xl-2">  
                                                     <h4 class="font-body font-weight-bold">Renewals</h4>
                                                </div>
                                                <div class="col-md-9 col-xl-9 d-flex">                                                
                                                    <div class="checkbox-container" data-ng-repeat="status in renewalsStatus('serviceStatus')">
                                                        <label class="filter-container">
                                                            <input type="checkbox" data-ng-model="filters.serviceStatus[status]"><span class="font-body">{{status}}</span>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div> 
                                            </div>                                         
                                        </div>
                                    </div>
                                    <div class="col-xl-6" data-ng-if="renewalStages('currentStageColour').length !== 0">
                                        <div class="filter-box m-t-md">
                                            <div class="row">
                                                <div class="col-md-2 col-xl-2">                                            
                                                    <h4 class="font-body font-weight-bold">Phase</h4>
                                                </div>
                                                <div class="col-md-10 col-xl-10 d-flex">
                                                    <div class="checkbox-container" data-ng-repeat="status in renewalStages('currentStageColour')">
                                                        <label class="filter-container">
                                                            <input type="checkbox" data-ng-model="filters.currentStageColour[status]"><span class="font-body">{{status}}</span>
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row m-t-md" data-ng-if="renewalsStatus('serviceStatus').length === 0">
                                    <div class="col-xl-12 text-center">
                                        <p class="font-h4 font-weight-medium">[ No filter options available ]</p>
                                    </div>
                                </div>                                 
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="expand-collapse-content border-t-none">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <button data-ng-click="$ctrl.toggleAll($event, false)" class="txt-phase-red btn-no-bg font-body font-weight-medium btn-underlined">Clear All Filters</button>
<!--                                 <button data-ng-click="$ctrl.toggleAll($event, true)" class="txt-phase-black btn-no-bg font-body font-weight-medium btn-underlined">Select All Filters</button> -->
                            </div>
                            <div class="col-md-6 text-right">
                                <button type="button" class="btn btn--lg btn--red pill-radius" data-ng-click="$ctrl.panelActive = !$ctrl.panelActive">Close</button>
                            </div>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-b-md">
        <div data-ng-show="data.length === 0" class="col-md-12">
            <div class="bg-white p-a-sm">
                <p class="font-weight-medium">We are sorry but no results were returned from you search criteria. Please try again.</p>
            </div>
        </div>        
        <div data-ng-show="data.length !== 0" class="col-md-12">
            <div id="scrollable-area" class="table-responsive-md">
                <table class="table t-data t-data--border table-scroll" fixed-table-headers="scrollable-area">
                    <thead>
                        <tr class="t-data__row t-data__row--select t-data__head">
                            <th class="t-data__th t-data__w12" data-ng-click="$ctrl.sortType('patentApplicationNumber'); $ctrl.sortReverse = !$ctrl.sortReverse">
                                <span>App No.</span>
                                <span data-ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                                <span data-ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
                            </th>
                            <th class="t-data__th t-data__w12" data-ng-click="$ctrl.sortType('clientRef'); $ctrl.sortReverse = !$ctrl.sortReverse">
                                <span>Client Ref</span>
                                <span data-ng-show="$ctrl.selectedSortType == 'clientRef' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                                <span data-ng-show="$ctrl.selectedSortType == 'clientRef' && $ctrl.sortReverse" class="fa fa-caret-up"></span>                          
                            </th>
                            <th class="t-data__th t-data__w12" data-ng-click="$ctrl.sortType('shortTitle'); $ctrl.sortReverse = !$ctrl.sortReverse">
                                <span>Client Desc</span>
                                <span data-ng-show="$ctrl.selectedSortType == 'shortTitle' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                                <span data-ng-show="$ctrl.selectedSortType == 'shortTitle' && $ctrl.sortReverse" class="fa fa-caret-up"></span>                         
                            </th>
                            <th class="t-data__th t-data__w15" data-ng-click="$ctrl.sortType('epoStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">
                                <span>EPO Status</span>
                                <span data-ng-show="$ctrl.selectedSortType == 'epoStatus' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
                                <span data-ng-show="$ctrl.selectedSortType == 'epoStatus' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>     
                            </th>                            
                            <th class="t-data__th t-data__w25" data-ng-click="$ctrl.sortType('ppStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">
                                <span>Service Status</span>
                                <span data-ng-show="$ctrl.selectedSortType == 'ppStatus' && !$ctrl.sortReverse" class="fa fa-caret-donw"></span>
                                <span data-ng-show="$ctrl.selectedSortType == 'ppStatus' && $ctrl.sortReverse" class="fa fa-caret-up"></span>                          
                            </th>
                            <th class="t-data__w20"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="patent in portfolioData | filter:testFl | filter:filterPortfolio as Result" data-ng-click="$ctrl.rowSelect($event, patent)" data-ui-sref-active="active" class="t-data__row t-data__row--select">
                            <td class="t-data__td--ellipsis t-data__td t-data__w12">
                                <span class="td-ellipsis">
                                    <a class="t-data__a" data-ng-bind="patent.ep_ApplicationNumber" data-ng-attr-id="{{patent.id}}"></a>
                                </span>
                            </td>
                            <td class="t-data__td--ellipsis t-data__td t-data__w12 ellipsis-remove" data-ng-class="patent.clientRef == '' ? 'ellipsis-remove' : ''">
                                <span class="td-ellipsis txt-grey" data-ng-if="patent.clientRef == ''">[No client reference provided]</span>
                                <span class="td-ellipsis" data-ng-if="patent.clientRef !== ''">{{patent.clientRef}}</span>
                            </td>
                            <td class="t-data__td--ellipsis t-data__td t-data__w12 ellipsis-remove" data-ng-class="patent.shortTitle == '' ? 'ellipsis-remove' : ''">
                                <span class="td-ellipsis txt-grey" data-ng-if="patent.shortTitle == ''">[No client description provided]</span>
                                <span class="td-ellipsis" data-ng-if="patent.shortTitle !== ''">{{patent.shortTitle}}</span>
                            </td>
                            <td class="t-data__td--ellipsis t-data__td t-data__w15 ellipsis-remove"> <!--this is where it starts to split with x2 services-->
                                <span class="td-ellipsis" data-ng-bind="patent.epoStatus"></span>
                            </td><!--when multiple services begin-->
                            <td class="t-data__td t-data__w25">
                                <div data-ng-if="patent.serviceList.length === 0">
                                    <span data-ng-if="patent.serviceStatus == 'Renewal in place'">Renewal in Place</span>
                                    <span data-ng-if="patent.serviceStatus == 'No renewal needed'">No Renewal Needed</span>
                     <!--                <span data-ng-if="patent.serviceStatus == 'Too late to renew'">No Renewal Needed</span> -->
                                </div>
                                <table data-ng-if="patent.serviceList.length > 1">
                                    <tr data-ng-repeat="item in patent.serviceList">
                                        <td class="t-data__td t-data__w15 border-grey-xs--left">
                                            <span data-ng-if="item.serviceStatus == 'Epct not available'">E-PCT not Available</span>
                                            <span data-ng-if="item.serviceStatus == 'Too early'">Too early</span>
                                            <span data-ng-if="item.serviceStatus == 'Too late'">Too late</span>
                                            <div data-ng-if="$ctrl.actionStatus(item.serviceStatus)">
                                                <p data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')" class="font-weight-bold">$ {{item.currentStageCostUSD | number: 2}}</p>
                                                <i class="fa fa-chevron-right fa-lg" data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')"></i>
                                                <p data-ng-class="$ctrl.getCurrColour(item.nextStageColour, 'text')" class="font-weight-bold">$ {{item.nextStageCostUSD | number: 2}}</p>
                                            </div>
                                            <div data-ng-if="$ctrl.actionStatus(item.serviceStatus)" class="d-md-flex d-lg-none flex-column">
                                                <p data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')" class="font-weight-bold">$ {{item.currentStageCostUSD | number: 2}}</p>
                                                <i class="fa fa-chevron-down fa" data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')"></i>
                                                <p data-ng-class="$ctrl.getCurrColour(item.nextStageColour, 'text')" class="font-weight-bold">$ {{item.nextStageCostUSD | number: 2}}</p>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </table>
                                <table data-ng-if="patent.serviceList.length == 1">
                                    <tr>
                                        <td data-ng-repeat="item in patent.serviceList">
                                            <span data-ng-if="item.serviceStatus == 'Epct not available'">E-PCT not available</span>
                                            <span data-ng-if="item.serviceStatus == 'Too early'">E-PCT process not ready</span>
                                            <span data-ng-if="item.serviceStatus == 'Too late'">E-PCT deadline passed</span>
                                            <div data-ng-if="$ctrl.actionStatus(item.serviceStatus)" class="d-md-none d-lg-flex justify-content-between align-items-center">
                                                <p data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')" class="font-weight-bold">$ {{item.currentStageCostUSD | number: 2}}</p>
                                                <i class="fa fa-chevron-right fa-lg" data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')"></i>
                                                <p data-ng-class="$ctrl.getCurrColour(item.nextStageColour, 'text')" class="font-weight-bold">$ {{item.nextStageCostUSD | number: 2}}</p>
                                            </div>
                                            <div data-ng-if="$ctrl.actionStatus(item.serviceStatus)" class="d-md-flex d-lg-none flex-column">
                                                <p data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')" class="font-weight-bold">$ {{item.currentStageCostUSD | number: 2}}</p>
                                                <i class="fa fa-chevron-down fa" data-ng-class="$ctrl.getCurrColour(item.currentStageColour, 'text')"></i>
                                                <p data-ng-class="$ctrl.getCurrColour(item.nextStageColour, 'text')">$ {{item.nextStageCostUSD | number: 2}}</p>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="t-data__td t-data__w20">
                                <table data-ng-if="patent.serviceList.length == 1">
                                    <tr>
                                        <td>
                                            <div class="d-flex justify-content-center" data-ng-repeat="item in patent.serviceList">
                                                <div data-ng-if="item.serviceType == 'Form1200'">
                                                    <button data-ng-if="item.serviceStatus == 'Epct available' || item.serviceStatus == 'Epct rejeted' || item.serviceStatus == 'Payment failed'" type="button" class="btn btn--lg btn--green cartbtn pill-radius" data-ui-sref="portfolio.patent.euro-pct.form1200.intro">Generate Form 1200</button>
                                                    <div data-ng-if="item.serviceStatus == 'Epct saved'">
                                                        <ngcart-addtocart id="{{patent.id}}" class="cartbtn" name="service.form1200" price="{{item.currentStageCostUSD}}" quantity="1" quantity-max="10" data="patent" data-ng-if="item.serviceStatus == 'Epct saved'"> <!--secret to different button labels checkngcartdirective.js-->
                                                        </ngcart-addtocart>
                                                    </div>
                                                </div>
                                                <div data-ng-if="item.serviceType == 'Renewal'">
                                                    <ngcart-addtocart id="{{patent.id}}" class="cartbtn" name="service.renewal" price="{{item.currentStageCostUSD}}" quantity="1" quantity-max="10" data="patent" data-ng-if="item.serviceStatus == 'Show price'"> <!--secret to different button labels checkngcartdirective.js-->
                                                    </ngcart-addtocart>
                                                </div>                                    
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <table data-ng-if="patent.serviceList.length > 1">
                                    <tr data-ng-repeat="item in patent.serviceList">
                                        <td class="t-data__td t-data__w15">
                                            <div class="d-flex justify-content-center">
                                                <div data-ng-if="item.serviceType == 'Form1200'">
                                                    <button data-ng-if="item.serviceStatus == 'Epct available' || item.serviceStatus == 'Epct rejeted' || item.serviceStatus == 'Payment failed'" type="button" class="btn btn--default pill-radius bg-phase-green t-data__btn-portal" data-ui-sref="portfolio.patent.euro-pct.form1200.intro">Generate Form 1200
                                                    </button>
                                                    <div data-ng-if="item.serviceStatus == 'Epct saved'">
                                                        <ngcart-addtocart id="{{patent.id}}" class="cartbtn" name="service.form1200" price="{{item.currentStageCostUSD}}" quantity="1" quantity-max="10" data="patent" data-ng-if="item.serviceStatus == 'Epct saved'"> <!--secret to different button labels checkngcartdirective.js-->
                                                        </ngcart-addtocart>
                                                    </div>
                                                    <div data-ng-if="item.serviceStatus == 'Epct not available'">
                                                        <!--empty-->
                                                    </div>                                                              
                                                </div>
                                                <div data-ng-if="item.serviceType == 'Renewal'">
                                                    <ngcart-addtocart id="{{patent.id}}" class="cartbtn" name="service.renewal" price="{{item.currentStageCostUSD}}" quantity="1" quantity-max="10" data="patent" data-ng-if="item.serviceStatus == 'Show price'"> <!--secret to different button labels checkngcartdirective.js-->
                                                    </ngcart-addtocart>
                                                </div>
                                            </div>                                    
                                        </td>
                                    </tr>
                                </table>                                
                            </td>                            
                        
                        </tr>
                        <tr data-ng-show="Result.length==0">
                            <td class="t-data__td text-left" colspan="8">
                                No Results Found
                            </td>
                        </tr>                               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div data-ui-view class="m-b-xl"></div>
</div>