<div class="row">
    <div class="col-md-12">
        <h1 class="font-h1 lh-default" data-ng-bind="$ctrl.pageTitle"></h1>
    </div>
</div>
<transactionnav></transactionnav>
<div data-ng-show="$ctrl.transactionsLoaded" class="animate-show">
	<div class="row m-b-md">
		<div class="col-md-12 col-lg-12 col-xl-12" data-ng-show="$ctrl.tableData.length === 0">
			<div class="content-panel p-a-sm">
				<div class="bg-white content-panel__body">
					<p class="font-body font-weight-medium">There are currently no historic transactions</p>
				</div>
			</div>
		</div>
		<div data-ng-if="$ctrl.tableData.length !== 0" class="col-md-12 col-lg-12 col-xl-12">
	        <div class="bg-white p-a-sm br-tx-1">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xl-12">
						<form class="form-inline">
							<div class="input-group m-r-md">
								<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="p3S_TransRefFilter" data-ng-model="searchTrans.p3S_TransRef" placeholder="Transaction ID">
								<div class="input-group-append">
									<i class="d-flex input-group-text pill-radius fa fa-search"></i>
								</div>
							</div>
							<div class="input-group m-r-md">
								<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="appNoFilter" data-ng-model="searchTrans.patentApplicationNumber" placeholder="App No.">
								<div class="input-group-append">
									<i class="d-flex input-group-text pill-radius fa fa-search"></i>
								</div>
							</div>
							<div class="input-group">
								<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="clientRefFilter" data-ng-model="searchTrans.clientRef" placeholder="Client Ref">
								<div class="input-group-append">
									<i class="d-flex input-group-text pill-radius fa fa-search"></i>
								</div>
							</div>
						</form>
					</div>
				</div> 
			</div>    

            <div class="scrollable-area transaction-table bg-white">
                <table class="t-data sticky-table">
                    <thead class="sticky-thead">
						<tr class="t-data__row t-data__row--select t-data__head">
							<th class="t-data__th sticky-th" data-ng-click="$ctrl.sortType('p3S_TransRef'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans ID
                                <span data-ng-show="$ctrl.selectedSortType == 'p3S_TransRef' && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.selectedSortType == 'p3S_TransRef' && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>	        					
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transLength'); $ctrl.sortReverse = !$ctrl.sortReverse">No. of patents
                                <span data-ng-show="$ctrl.sortTransItems && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.sortTransItems && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('patentApplicationNumber'); $ctrl.sortReverse = !$ctrl.sortReverse">App No.
                                <span data-ng-show="$ctrl.sortPatentApplicationNumber && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.sortPatentApplicationNumber && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('clientRef'); $ctrl.sortReverse = !$ctrl.sortReverse">Client Ref
                                <span data-ng-show="$ctrl.sortClientRef && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.sortClientRef && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transStartDate'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans Initiated
                                <span data-ng-show="$ctrl.sortTransDate && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.sortTransDate && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>								
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transAmount_USD'); $ctrl.sortReverse = !$ctrl.sortReverse">Cost
                                <span data-ng-show="$ctrl.sortTransCost && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.sortTransCost && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>		        					
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('latestTransStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">Status
                                <span data-ng-show="$ctrl.selectedSortType == 'latestTransStatus' && $ctrl.sortReverse">
                                    <i class="fas fa-angle-up fa-lg"></i>
                                </span>                                
                                <span data-ng-show="$ctrl.selectedSortType == 'latestTransStatus' && !$ctrl.sortReverse">
                                    <i class="fas fa-angle-down fa-lg"></i>
                                </span>									
							</th>
						</tr>
					</thead>
					<tbody class="sticky-tbody">
					    <tr data-ng-hide="Result.length==0" data-ng-repeat="item in $ctrl.tableData  | orderBy:$ctrl.selectedSortType:$ctrl.sortReverse | filter: {p3S_TransRef: searchTrans.p3S_TransRef} | filter: {serviceUIs: {patentUI: {ep_ApplicationNumber: searchTrans.ep_ApplicationNumber}}} | filter: {serviceUIs: {patentUI: {clientRef: searchTrans.clientRef}}} as Result" data-ng-click="$ctrl.rowSelect(item, $index, $event)" data-ui-sref-active="active" class="t-data__row t-data__row--select" data-ng-init="outerIndex = $index">
					        <td class="t-data__td sticky-td">
								<a class="t-data__a" data-ui-sref="transaction-history.transaction-history-item({transHistoryId: item.id})">{{item.p3S_TransRef}}</a>
					        </td>
					        <td class="t-data__td">
								{{item.serviceUIs.length}}
					        </td>
					        <td class="t-data__td">
								<span data-ng-if="item.serviceUIs.length === 1" data-ng-repeat="patent in item.serviceUIs">
									<span data-ng-if="patent.patentUI.patentApplicationNumber.length">
										<span class="txt-grey">
											{{patent.patentUI.patentApplicationNumber}}
										</span>
									</span>
								</span>
								<select 
									data-ng-if="item.serviceUIs.length > 1"
							        data-ng-options="ui.appAndType for ui in item.serviceUIs"
							        data-ng-model="item.selectedUi"
									data-ng-change="$ctrl.transactionListFilter(item,$index)"
									id="{{outerIndex}}"
									class="pill-radius form-control font-body"
									transaction-select="selectedItem">
									<option value="">Multiple</option>
								</select>
					        </td>
					        <td class="t-data__td">
				        		{{item.transStartDate | date: 'MM/dd/yy'}}
					        </td>
					        <td class="t-data__td">
					        	$ {{item.transAmount_USD | number: 2}}
					        </td>
					        <td class="t-data__td t-data__w16">
								<p class="font-weight-bold m-b-xs">{{item.latestTransStatus}}</p>
								<div class="progress-tracker progress-trans">
									<uib-progress data-ng-if="item.hasFailed"><uib-bar class="bg-phase-red pill-radius tracker-item" value="item.renewalProgress" max="100"></uib-bar></uib-progress>
									<uib-progress data-ng-if="!item.hasFailed"><uib-bar class="bg-phase-green pill-radius tracker-item" value="item.renewalProgress" max="100"></uib-bar></uib-progress>
								</div>	
					        </td>      				                 
					    </tr>
					 	<tr data-ng-show="Result.length==0">
					 		<td class="t-data__td text-left" colspan="7">
					 			No Results Found
					 		</td>
					 	</tr>						    						
					</tbody>
				</table>
			</div>
<!--             <div class="portfolio-pointer">
                <i class="fas fa-caret-down fa-3x"></i>
            </div>		 -->		
		</div>
	</div>
</div>
<!-- <div class="animate-show" data-ng-show="$ctrl.transInfoContent"> -->
<div id="currTransAnchor" data-ui-view class="m-t-xxxl m-b-xl">
	<div class="row" data-ng-if="$ctrl.tableData.length !== 0">
		<div class="col-xl-12 text-center">
			<i class="fas fa-caret-up fa-3x"></i>			
			<p>Select a transaction from the Transaction table to access further information and documents.</p>
		</div>
	</div>	
</div>	
<!-- </div> -->