<div class="row">
    <div class="col-md-12">
        <h1 class="font-h1" data-ng-bind="$ctrl.pageTitle"></h1>
    </div>
</div>
<transactionnav></transactionnav>
<div data-ng-show="$ctrl.transactionsLoaded" class="animate-show">
	<div class="row m-b-md">
		<div class="col-md-12 col-lg-9 offset-lg-3 col-xl-6 offset-xl-6 p-none">
			<form class="form-inline">
				<div class="col-md-4 col-lg-4 col-xl-4">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="p3S_TransRefFilter" data-ng-model="searchTrans.p3S_TransRef" placeholder="Transaction ID">
						<div class="input-group-append">
							<i class="d-flex input-group-text pill-radius fa fa-search"></i>
						</div>
					</div>
				</div>					
				<div class="col-md-4 col-lg-4 col-xl-4">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="appNoFilter" data-ng-model="searchTrans.patentApplicationNumber" placeholder="App No.">
						<div class="input-group-append">
							<i class="d-flex input-group-text pill-radius fa fa-search"></i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-lg-4 col-xl-4">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-body" data-ng-change="$ctrl.displayTrans()" name="clientRefFilter" data-ng-model="searchTrans.clientRef" placeholder="Client Ref">
						<div class="input-group-append">
							<i class="d-flex input-group-text pill-radius fa fa-search"></i>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row m-b-md">
		<div class="col-md-12 col-lg-12 col-xl-12" data-ng-show="$ctrl.tableData.length === 0">
			<div class="content-panel p-a-sm">
				<div class="bg-white content-panel__body">
					<p class="font-body font-weight-medium">There are currently no historic transactions</p>
				</div>
			</div>
		</div>
		<div data-ng-if="$ctrl.tableData.length !== 0" class="col-md-12 col-lg-12 col-xl-12">
            <div class="table-panel scrollable-area">
                <table class="table t-data table-scroll">
					<thead>
						<tr class="t-data__row t-data__row--select t-data__head">
							<th class="t-data__th" data-ng-click="$ctrl.sortType('p3S_TransRef'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans ID
				            	<span data-ng-show="$ctrl.selectedSortType == 'p3S_TransRef' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.selectedSortType == 'p3S_TransRef' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transLength'); $ctrl.sortReverse = !$ctrl.sortReverse">No. of patents
				            	<span data-ng-show="$ctrl.sortTransItems && $ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.sortTransItems && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('patentApplicationNumber'); $ctrl.sortReverse = !$ctrl.sortReverse">App No.
				            	<span data-ng-show="$ctrl.sortPatentApplicationNumber && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.sortPatentApplicationNumber && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('clientRef'); $ctrl.sortReverse = !$ctrl.sortReverse">Client Ref
				            	<span data-ng-show="$ctrl.sortClientRef && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.sortClientRef && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transStartDate'); $ctrl.sortReverse = !$ctrl.sortReverse">Trans Initiated
				            	<span data-ng-show="$ctrl.sortTransDate && $ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.sortTransDate && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('transAmount_USD'); $ctrl.sortReverse = !$ctrl.sortReverse">Cost
				            	<span data-ng-show="$ctrl.sortTransCost && $ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.sortTransCost && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('latestTransStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">Status
				            	<span data-ng-show="$ctrl.selectedSortType == 'latestTransStatus' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	        					<span data-ng-show="$ctrl.selectedSortType == 'latestTransStatus' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
						</tr>
					</thead>
					<tbody>
					    <tr data-ng-hide="Result.length==0" data-ng-repeat="item in $ctrl.tableData | orderBy:$ctrl.selectedSortType:$ctrl.sortReverse | filter: {p3S_TransRef: searchTrans.p3S_TransRef} | filter: {serviceUIs: {patentUI: {patentApplicationNumber: searchTrans.patentApplicationNumber}}} | filter: {serviceUIs: {patentUI: {clientRef: searchTrans.clientRef}}} as Result" data-ng-click="$ctrl.rowSelect($event)" data-ui-sref-active="active" class="t-data__row t-data__row--select">
					        <td class="t-data__td--ellipsis t-data__td t-data__w15">
					        	<span class="td-ellipsis">
									<a class="t-data__a" data-ui-sref="transaction-history.transaction-history-item({transHistoryId: item.id})">{{item.p3S_TransRef}}</a>
					        	</span>
					        </td>
					        <td class="t-data__td t-data__w13">
								{{item.serviceUIs.length}}
					        </td>
					        <td class="t-data__td--ellipsis t-data__td t-data__w15">
								<span data-ng-if="item.serviceUIs.length === 1" data-ng-repeat="patent in item.serviceUIs">
									<span data-ng-if="patent.patentUI.patentApplicationNumber.length">
										<span class="td-ellipsis txt-grey">
											{{patent.patentUI.patentApplicationNumber}}
										</span>
									</span>
								</span>
								<select data-ng-if="item.serviceUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in item.serviceUIs" data-ng-model="$ctrl.patentAppData.defaultSelect" data-ng-change="$ctrl.transactionListFilter($ctrl.patentAppData.defaultSelect, 'patentAppFilter', item.id)" class="pill-radius form-control font-body">
									<option value="">Multiple</option>
								</select>
					        </td>
					        <td class="t-data__td--ellipsis t-data__td t-data__w15" data-ng-class="$ctrl.noClientRef ? 'ellipsis-remove' : ''">
								<span data-ng-if="item.serviceUIs.length == 1;" data-ng-repeat="ref in item.serviceUIs">
									<span data-ng-if="ref.patentUI.clientRef === ''" data-ng-init="$ctrl.noClientRef()">
										<span class="td-ellipsis txt-grey">[No client reference provided]</span>
									</span>
									<span data-ng-if="ref.patentUI.clientRef !== ''">{{ref.patentUI.clientRef}}</span>
								</span>
								<select data-ng-if="item.serviceUIs.length > 1" data-ng-options="item.patentUI.clientRef for item in item.serviceUIs" data-ng-model="$ctrl.clientRefData.defaultSelect" class="pill-radius form-control font-body" data-ng-change="$ctrl.transactionListFilter($ctrl.clientRefData.defaultSelect, 'clientRefFilter', item.id)">
									<option value="">Multiple</option>
								</select>
					        </td>
					        <td class="t-data__td t-data__w13">
				        		{{item.transStartDate | date: 'MM/dd/yy'}}
					        </td>
					        <td class="t-data__td t-data__w13">
					        	$ {{item.transAmount_USD | number: 2}}
					        </td>
					        <td class="t-data__td t-data__w16">
								<p class="font-weight-bold m-b-xs">{{item.latestTransStatus}}</p>
								<div class="progress-tracker progress-trans">
									<uib-progress data-ng-if="item.hasFailed"><uib-bar class="bg-phase-red pill-radius tracker-item" value="item.renewalProgress" max="100"></uib-bar></uib-progress>
									<uib-progress data-ng-if="!item.hasFailed"><uib-bar class="bg-phase-green pill-radius tracker-item" value="item.renewalProgress" max="100"></uib-bar></uib-progress>
								</div>	
					        </td>      				                 
					    </tr>
					 	<tr data-ng-show="Result.length==0">
					 		<td class="t-data__td text-left" colspan="7">
					 			No Results Found
					 		</td>
					 	</tr>						    						
					</tbody>
				</table>
			</div>
<!--             <div class="portfolio-pointer">
                <i class="fas fa-caret-down fa-3x"></i>
            </div>		 -->		
		</div>
	</div>
</div>
<!-- <div class="animate-show" data-ng-show="$ctrl.transInfoContent"> -->
<div id="currTransAnchor" data-ui-view class="m-t-xxxl m-b-xl">
	<div class="row" data-ng-if="$ctrl.tableData.length !== 0">
		<div class="col-xl-12 text-center">
			<i class="fas fa-caret-up fa-3x"></i>			
			<p>Select a transaction from the Transaction table to access further information and documents.</p>
		</div>
	</div>	
</div>	
<!-- </div> -->