<div role="dialog" class="container-filter-list">

    <md-list class="box" ng-repeat="cat in categories" ng-init="filter[cat]={}">
        <md-subheader class="md-no-sticky">
            <h2>{{cat == 'currentStageColour' ? 'Current Stage Colour' : 'European Action'}}</h2>
        </md-subheader>
        <md-list-item ng-repeat="value in getItems(cat, portfolioData)">
            <md-checkbox class="md-secondary" data-ng-model="filter[cat][value]" data-ng-change="testChange(filter[cat][value])">
            </md-checkbox>
            <p>({{(filtered | filter:value:true).length}})&nbsp;
                <span class="text-capitalize" data-ng-if="value == 'GREY'">Grey</span>
                <span class="text-capitalize" data-ng-if="value == 'epct'">Euro-PCT</span>
                <span class="text-capitalize" data-ng-if="value !== 'epct' && value !== 'GREY'">{{value}}</span>
            </p>
        </md-list-item>
        <md-divider></md-divider>
    </md-list>
    <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" data-ng-click="$ctrl.closeDialog();">
            Close
        </md-button>
    </div>
<!-- 
        <md-list-item ng-repeat="action in $ctrl.europeanActions">
            <p>{{action.title}} ({{action.total}})</p>
            <md-checkbox class="md-secondary" data-ng-model="action.selected" data-ng-change="$ctrl.checkboxSelect('serviceType', action.title, title.selected)"></md-checkbox>
        </md-list-item>    
        <md-divider></md-divider> 
        <md-subheader class="md-no-sticky">Color Phases</md-subheader>
        <md-list-item ng-repeat="phase in $ctrl.colorPhases">
            <p>{{phase.color}} ({{phase.total}})</p>
            <md-checkbox class="md-secondary" data-ng-model="phase.selected" data-ng-change="$ctrl.checkboxSelect('currentStageColour', phase.color, phase.selected)"></md-checkbox>
        </md-list-item> -->
        
<!--    
    <md-content ng-cloak>
        <md-subheader class="md-no-sticky">Due date between</md-subheader>
        <div layout-gt-xs="column">
            <div flex-gt-xs>
                <h4>Start date</h4>
                <md-datepicker data-ng-model="$ctrl.myStartDate" md-placeholder="Select start"></md-datepicker>
            </div>
            <div flex-gt-xs>
                <h4>End date</h4>
                <md-datepicker data-ng-model="$ctrl.myEndDate" md-placeholder="Select end"></md-datepicker>
            </div>             
        </div>
    </md-content>    --> 

</div>