<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    <span class="font-md">Your cart is empty</span>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="t-list table table-responsive m-b-lg" ng-show="ngCart.getTotalItems() > 0">
            <table class="table table-striped ngCart cart text-md-center">
                <thead>
                    <tr class="font-md font-weight-bold">
                        <th class="text-md-center">Application No.</th>
                        <th class="text-md-center">Client Reference</th>
                        <th class="text-md-center">Short Description</th>
                        <th class="text-md-center">Amount</th>
                        <th class="text-md-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ngCart.getCart().items track by $index" class="font-md">
                        <td>{{item.getData().patentApplicationNumber}}</td>
                        <td>{{item.getData().clientRef}}</td>
                        <td>{{item.getData().shortTitle}}</td>
                        <td>{{ item.getPrice() | currency}}</td>
                        <td><button class="btn pill-radius bg-phase-red txt-white font-weight-medium p-wide-sm" ng-click="hello(); ngCart.removeItemById(item.getId())">Remove<i class="fa fa-cross fa-1x"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </div>
</div>

<div class="row m-b-lg">
    <div class="col-md-2">
        <a class="btn btn-block bg-phase-green txt-white pill-radius font-lg font-weight-medium" ui-sref="patents">Add More Patents</a>
    </div>
</div>
