<div class="content-panel m-b-md">
    <div class="row">
        <div class="col-md-12 col-xl-12 d-flex">
            <div class="content-panel__body bg-white flex-grow-1">
                <div class="row m-b-md">
                    <div class="col-md-6 col-xl-6">                
                        <p class="font-h1 m-b-md">Support form</p>
                        <p>Our professional team are always here to help with your enquiries, whether they are IP-related or technical. Use the form below to provide as much information as you can to ensure that we direct your enquiry to the appropriate team.</p>
                    </div>
                </div>
                <div class="form-group row m-b-md">
                    <div class="col-md-8 col-xl-7">
                        <p class="font-body m-b-xs">Is your enquiry in relation to specific case(s)?</p>
                        <div class="form-check form-check-inline">
                            <label for="specificCase">Yes</label>
                            <input type="checkbox" class="m-l-xs m-r-sm" name="specificCase" 

                            ng-model="specificCase" 
                            ng-true-value="'yes'" 
                            data-ng-checked="specificCase == 'yes'" 

                            data-ng-change="$ctrl.specificCaseCheck('yes', $ctrl.caseSpecific, specificCase.yes)" 
                            data-ng-disabled="$ctrl.fetchingPatents"> <!--ng-required if caseCheck == 'yes'-->
                        </div>

                        <div class="form-check form-check-inline">
                            <label for="notSpecificCase">No</label>
                            <input type="checkbox" class="m-l-xs m-r-sm" name="specificCase" 

                            ng-model="specificCase"
                            ng-true-value="'no'" 
                            data-ng-checked="specificCase == 'no'" 

                            data-ng-change="$ctrl.specificCaseCheck('no', $ctrl.caseSpecific, specificCase.no)" 
                            data-ng-disabled="$ctrl.fetchingPatents">
                        </div>
                        <div class="form-check form-check-inline">
                            <label for="unsureSpecificCase">Unsure</label>
                            <input type="checkbox" class="m-l-xs" name="specificCase"

                            ng-model="specificCase"
                            ng-true-value="'unsure'" 
                            data-ng-checked="specificCase == 'unsure'" 

                            data-ng-change="$ctrl.specificCaseCheck('unsure', $ctrl.caseSpecific, specificCase.unsure)" data-ng-disabled="$ctrl.fetchingPatents">
                        </div>
                    </div>
                </div>

                <div data-ng-show="specificCase == 'yes' && $ctrl.optionSelected">
                    <form name="specificSupportForm" novalidate>
                        <div class="form-group row  m-b-md">
                            <div class="col-md-6 col-xl-5">
                                <label for="category" class="font-h4 font-weight-bold m-b-xs">Category</label>
                                <select name="category" class="form-control font-body pill-radius"
                                    data-ng-model="caseFormData.category"
                                    data-ng-change="$ctrl.checkSpecificType(caseFormData.category, $ctrl.caseSpecificCategory)"
                                    data-ng-disabled="$ctrl.fetchingPatents"
                                    required>
                                    <option value="" disabled selected>--Please select--</option>
                                    <option data-ng-repeat="item in $ctrl.specificCategories" value="{{item}}" data-ng-selected="item == selectedItemvalue">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div data-ng-if="$ctrl.categorySelected">
                            <div class="row" data-ng-show="$ctrl.fetchingPatents" >
                                <div class="col-md-6 col-xl-5">
                                    <div class="animate-hide d-flex flex-column justify-content-center align-items-center flex-grow-1">
                                        <i class="fas fa-cog fa-spin fa-2x m-b-xs"></i>
                                        <p class="font-body font-weight-bold">We are just fetching available cases</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row" data-ng-hide="$ctrl.fetchingPatents">
                                    <div data-ng-if="!$ctrl.patents" class="col-md-6 col-xl-5">
                                        <p class="font-h4 font-weight-bold text-center">
                                             - No cases available for this category -
                                        </p>
                                    </div>
                                    <div data-ng-if="$ctrl.patents.length > 0" class="col-md-6 col-xl-6">
                                        <p class="font-h4 font-weight-bold m-b-xs">Cases available for <span data-ng-if="!$ctrl.assistedFiling">enquiry</span><span data-ng-if="$ctrl.assistedFiling">assisted formality filing</span></p>
                                        <p data-ng-if="$ctrl.assistedFiling" class="m-b-xs">Select below any cases you wish to request assisted formality filing for. Upon selection you will have the option to provide a message and, if required, any supporting documents.</p>
                                        <p data-ng-if="!$ctrl.assistedFiling" class="m-b-xs">Select below any cases you wish to include in your enquiry. Upon selection you will be prompted to provide a message and, if required, any supporting documents.</p>  
                                        <div class="container__scrollable-area">
                                            <div class="scrollable-area scrollable-area--250">
                                                <table class="t-data support-table">
                                                    <thead>
                                                        <tr class="t-data__row t-data__row--select">
                                                            <th class="t-data__th t-data__th--sm sticky-th" data-ng-click="$ctrl.sortBy('epApplicationNumber');">
                                                                <span>App No.</span>
                                                                <span data-ng-show="$ctrl.propertyName == 'ep_ApplicationNumber' && !$ctrl.reverse">
                                                                    <i class="fas fa-angle-down fa-lg"></i>
                                                                </span>
                                                                <span data-ng-show="$ctrl.propertyName == 'ep_ApplicationNumber' && $ctrl.reverse">
                                                                    <i class="fas fa-angle-up fa-lg"></i>
                                                                </span>
                                                            </th>
                                                            <th class="t-data__th t-data__th--sm sticky-th">
                                                                Formality Type
                                                            </th>                                            
                                                            <th class="t-data__th t-data__th--sm sticky-th">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="sticky-tbody">
                                                        <tr data-ng-repeat="patent in $ctrl.patents | orderBy:$ctrl.propertyName:$ctrl.reverse as Result" class="t-data__row t-data__row--select" data-ng-class="{'disabled-row': patent.selectedForEnquiry}" >
                                                            <td class="t-data__td t-data__td--sm sticky-td">
                                                                <a class="t-data__a" data-ng-bind="patent.epApplicationNumber" data-ng-attr-id="{{patent.patentID}}"></a>
                                                            </td>
                                                            <td class="t-data__td t-data__td--sm sticky-td">
                                                                <p class="text-capitalize d-inline" data-ng-if="patent.formalityAvailable == 'epct'">Euro-PCT</p>
                                                                <p class="text-capitalize d-inline" data-ng-if="patent.formalityAvailable == 'postvalidation' || patent.formalityAvailable == 'postgrant'">----</p>
                                                                <p class="text-capitalize d-inline" data-ng-if="patent.formalityAvailable !== 'postvalidation' && patent.formalityAvailable !== 'postgrant' && patent.formalityAvailable !== 'epct'">{{patent.formalityAvailable}}</p>
                                                                <div class="d-inline" data-ng-if="patent.isManualProcessing || patent.isUrgent">                                        
                                                                    <i class="far fa-exclamation-triangle fa-lg txt-phase-amber cursor-pointer"></i>
                                                                    <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="bottom" md-z-index="99999">
                                                                        <p class="font-body" data-ng-if="patent.isManualProcessing">
                                                                            <span class="font-weight-bold">Manual processing: </span>This formality can only be processed offline via one of our IP profesionals. Please contact our customer support team on {{phoneNumber}}.
                                                                        </p>
                                                                       <p class="font-body" data-ng-if="patent.isUrgent">
                                                                            <span class="font-weight-bold">Urgent processing: </span>It is too close to the deadline for processing this formality online. If you wish to discuss that, we recommend you call our customer support number of {{phoneNumber}}.
                                                                        </p>                                                                        
                                                                    </md-tooltip>            
                                                                </div>
                                                            </td>
                                                            <td class="t-data__td t-data__td--sm sticky-td">
                                                                <button class="btn btn--bordered btn-underlined txt-phase-green font-weight-bold" data-ng-click="$ctrl.formalitySelect(patent)" id="{{patent.formalityAvailable + patent.patentID}}" data-ng-disabled="patent.selectedForEnquiry">Add</button>
                                                            </td>                                            
                                                        </tr>
                                                    </tbody>  
                                                </table>
                                            </div>
                                        </div>                                                                         
                
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12 m-t-md" data-ng-if="allEnquiryCases.length > 0">
                                    <p class="font-h4 font-weight-bold m-b-xs">Cases selected:</p>
                                    <div class="container__scrollable-area">
                                        <div class="scrollable-area scrollable-area--250">
                                            <table class="t-data support-table">
                                                <thead>
                                                    <tr class="t-data__row t-data__row--select">
                                                        <th class="t-data__th t-data__th--sm sticky-th">
                                                            App No.
                                                        </th>
                                                        <th class="t-data__th t-data__th--sm sticky-th th-w-25">
                                                            Message
                                                        </th>
                                                        <th class="t-data__th t-data__th--sm sticky-th th-w-25">
                                                            Files
                                                        </th>
                                                        <th class="t-data__th t-data__th--sm sticky-th">
                                                            Indicative cost
                                                        </th>
                                                        <th class="t-data__th t-data__th--sm sticky-th">
                                                        </th>
                                                        <th class="t-data__th t-data__th--sm sticky-th">

                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="sticky-tbody">
                                                    <tr data-ng-repeat="case in allEnquiryCases">
                                                        <td class="t-data__td t-data__td--sm sticky-td" data-ng-bind="case.epApplicationNumber">
                                                        </td>
                                                        <td class="t-data__td t-data__td--sm sticky-td t-data-ellipsis" data-ng-bind="case.message">
                                                        </td>
                                                        <td class="t-data__td t-data__td--sm sticky-td">
                                                            <span class="d-block" data-ng-repeat="file in case.uploadedDocs">{{file.name}}</span>
                                                        </td>
                                                        <td class="t-data__td t-data__td--sm sticky-td" data-ng-bind="case.indicativeCost">
                                                        </td>
                                                        <td class="t-data__td t-data__td--sm sticky-td">
                                                            <button class="btn btn--bordered btn-underlined txt-phase-green font-weight-bold" data-ng-click="$ctrl.formalitySelect(case, 'edit')" data-ng-disabled="patent.selectedForEnquiry">Edit</button>
                                                        </td>
                                                        <td class="t-data__td t-data__td--sm sticky-td">
                                                            <button class="btn btn--bordered btn-underlined txt-phase-green font-weight-bold" data-ng-click="$ctrl.formalitySelect(case, 'delete')" data-ng-disabled="patent.selectedForEnquiry">Delete</button>
                                                        </td>                                                
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-md" data-ng-if="allEnquiryCases.length > 0 && $ctrl.assistedFiling">
                                <div class="col-md-12 col-xl-12 text-right m-b-xs">
                                    <label class="form-check-label m-r-xs">
                                        I understand additional fees are added when requesting assisted formality filing 
                                        <input type="checkbox" name="tandcFees" class="m-l-xs" data-ng-model="caseFormData.tandcFees" data-ng-required="$ctrl.assistedFiling">      
                                    </label> 
                                </div>
                               <div class="col-md-12 col-xl-12 text-right">
                                    <label class="form-check-label m-r-xs">
                                        I understand a professional from Patent Place is granted temporary access to my account when preparing a formality
                                        <input type="checkbox" name="tandcAccess" class="m-l-xs" data-ng-model="caseFormData.tandcAccess" data-ng-required="$ctrl.assistedFiling">      
                                    </label> 
                                </div>                                
                            </div>
                            <div class="row m-t-sm" data-ng-if="allEnquiryCases.length > 0">
                                
                                <div class="col-md-12 col-xl-12 text-right">
                                    <button type="submit" class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.submitForm(caseFormData, true)" data-ng-disabled="specificSupportForm.$invalid">
                                        <span data-ng-show="$ctrl.submittingRequest">                                
                                            <i class="fa fa-spinner fa-spin fa-lg m-r-xs" ></i>
                                        </span>
                                        Request support
                                    </button>
                                </div>
                            </div>
                        </div> 
                    </form>
                </div>

                <!--non case specific form-->
                <div data-ng-show="(specificCase == 'no' || specificCase == 'unsure') && $ctrl.optionSelected">
                	<form name="supportForm" id="supportForm" data-ng-init="" data-ng-model="$ctrl.supportForm" novalidate>
                        <div class="form-group row">
                    		<div class="col-md-7 col-xl-6">
                    			<label for="subject" class="font-h4 font-weight-bold m-b-xs">Subject</label>
                    			<input type="text" name="subject" id="subject" class="form-control" data-ng-model="$ctrl.formData.subject" data-ng-maxlength="150" validate-text-field required>
                                <p class="font-body txt-phase-red m-t-xs" data-ng-show="supportForm.subject.$error.required && supportForm.subject.$dirty">Please fill out this field</p>
                                <p class="font-body txt-phase-red m-t-xs" data-ng-show="supportForm.subject.$error.validTextField">Special characters: []\<\>"%;&+\/* are not permitted.</p>
                                <p class="font-body txt-phase-red m-t-xs" data-ng-show="supportForm.subject.$error.maxlength && supportForm.subject.$dirty">Subject field has a maximum limit of 150 characters</p>                            
                    		</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-7 col-xl-6">
                                <label for="category" class="font-h4 font-weight-bold m-b-xs">Category</label>
                                <select name="category" class="form-control font-body pill-radius"
                                    data-ng-model="$ctrl.formData.category"
                                    data-ng-class="{'input-error': $ctrl.formValidation && supportForm.timezone.$error.required}" data-ng-change="$ctrl.checkSubcategories($ctrl.formData.category)"
                                    required>
                                    <option value="" disabled selected>--Please select--</option>
                                    <option data-ng-repeat="item in $ctrl.categories" value="{{item}}" data-ng-selected="item == selectedItemvalue">{{item}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" data-ng-show="$ctrl.subCategoryRequired">
                            <div class="col-md-7 col-xl-6">
                                <label for="subcategory" class="font-h4 font-weight-bold m-b-xs">Sub-category</label>
                                <select name="subcategory" class="form-control font-body pill-radius"
                                    data-ng-model="$ctrl.formData.subcategory"
                                    data-ng-class="{'input-error': $ctrl.formValidation && upportForm.timezone.$error.required}"
                                    data-ng-required="$ctrl.subCategoryRequired">
                                    <option value="" disabled selected>--Please select--</option>
                                    <option data-ng-repeat="item in $ctrl.subcategory" value="{{item}}" data-ng-selected="item == selectedItemvalue">{{item}}</option>
                                 </select>
                            </div>   
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8 col-xl-6">                        
                                <label for="message" class="font-h4 font-weight-bold m-b-xs">Message</label>
                                <textarea name="message" id="message" class="form-control br-1" rows="10" data-ng-model="$ctrl.formData.message" maxlength="5000" validate-text-field required></textarea>
                                <p class="form-help font-body m-t-xs">{{!$ctrl.formData.message.length ? 0 : $ctrl.formData.message.length}} / 5000 Characters</p>                        
                                <p class="font-body txt-phase-red m-t-xs" data-ng-show="supportForm.message.$error.required && supportForm.message.$dirty">Please fill out this field</p>
                                <p class="font-body txt-phase-red m-t-xs" data-ng-show="supportForm.message.$error.validTextField && supportForm.message.$dirty">Special characters: &lsqb;&rsqb;&lt;&gt;&quot;&percnt;&semi;&amp;&plus;&bsol;&sol;&ast; are not permitted.</p>                            
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8">
                                <p class="font-h4 font-weight-bold m-b-xs">Supporting documents</p>
                                <p class="font-body">If you have any documents that will help our team with your enquiry, please upload them here.</p>
                                <div data-ng-if="$ctrl.files.length > 0" class="m-t-xs">                            
                                    <p class="font-body m-b-xs">Files uploaded:</p>
                                    <div data-ng-repeat="file in $ctrl.files" class="btn btn--lg btn--plain br-1 btn-file-upload m-r-sm">
                                        <span class="m-r-sm" title="{{file.name}}">{{file.name}}</span>
                                        <span data-ng-click="$ctrl.files.splice($index,1)"><i class="fas fa-times fa-lg action-icon btn-close"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group row"  data-ng-if="fileStore.maxSizeError || supportForm.uploadedDocs.$error.validfile">
                            <div class="col-md-12 col-xl-7m-b-sm">
                                <p class="txt-phase-red font-body" data-ng-show="fileStore.maxSizeError">You cannot upload a document with a file size of 0KB.</p>
                                <div ng-messages="supportForm.uploadedDocs.$error" data-ng-if="supportForm.uploadedDocs.$error.validfile">
                                    <p class="txt-phase-red m-t-xs" ng-message="validfile">Invalid file format uploaded. Only the following file formats are permitted (not case sensitive): .pdf, .docx, .png, .gif, .jpg, .jpeg, .pptx, .csv, .xlsx, .zip</p> 
                                </div>   
                            </div>              
                        </div>
                        <div class="form-group row m-t-md">
                           
                            <div class="col-md-6 col-xl-4 text-left">
                                <input type="file" name="uploadedDocs" id="uploadedDocs" class="d-none" data-ng-model="fileStore.file" support-file-upload onchange="angular.element(this).scope().getFileDetails(this)" accept=".pdf, .PDF, .docx, .DOCX, .png, .PNG, .gif, .GIF, ,.jpg, .JPG, .jpeg, .JPEG, .pptx, .PPTX, .csv, .CSV, .xlsx, .XLSX, .zip, .ZIP" multiple>
                                <label for="uploadedDocs" class="btn btn--lg pill-radius btn--plain">Attach file(s)</label>
                             
                            </div>
                            <div class="col-md-6 col-xl-3 text-right">
                                <button type="submit" class="btn btn--green btn--lg pill-radius" data-ng-click="$ctrl.submitForm($ctrl.formData, false)" data-ng-disabled="supportForm.$invalid">
                                    <span data-ng-show="$ctrl.submittingRequest">                                
                                        <i class="fa fa-spinner fa-spin fa-lg m-r-xs" ></i>
                                    </span>
                                    Request support
                                </button>
                            </div>

                        </div>                    
                	</form>
                </div>
            </div>
        </div>
    </div>
</div>