<div class="m-b-md">
	<div class="row m-b-sm">
		<div class="col-md-8">
			<h1 data-ng-show="$ctrl.animate" class="font-h1 animate-show">{{$root.page}}</h1>
		</div>
		<div class="col-md-4">
			<div class="d-flex justify-content-end align-items-center">
				<div class="m-r-md">
					<a ui-sref="profile">
						<img src="assets/imgs/icons/user_icon_sm.png">
					</a>					
				</div>
				<div class="m-r-md">
					<p class="font-body no-line-height font-weight-bold">{{$root.user.firstName}}</p>
					<a class="font-body no-line-height txt-black inline-link" data-ng-click="$ctrl.empty()" data-ng-href="http://localhost:8080/p3sweb/resources/j_spring_security_logout">Logout</a>
				</div>
				<a ui-sref="basket" class="m-r-md">
					<ngcart-summary class="font-body txt-black"></ngcart-summary>
				</a>
			</div>
		</div>
	</div>
	<div class="row">		
		<div class="col-md-12 d-flex justify-content-between align-items-end">
			<p data-ng-show="$ctrl.animate" class="animate-show font-h3"><span class="m-r-md"><span class="font-weight-bold">EST:</span> {{$root.estTime}}</span> <span class="font-xl"><span class="font-weight-bold">UTC:</span> {{$root.utcTime}}</p>		
		</div>
	</div>
</div>