<div data-ng-controller="CartController">
    <div class="row m-b-md">
    	<div class="col-md-12">
            <div class="content-panel bg-white">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Important notice</p>
                </div>
                <div class="content-panel__body">
                    <div class="m-b-md">
                        <p class="font-body m-b-md">Thank you for your instruction.  This data can be accessed via "Transactions" should you need it again.  Please double check the reference you use when you make the transfer, as we rely on it to process your transaction.  We may not be able to process your annuity if it's wrong.  Once you've made the transfer you can follow the prorgess though the transaction monitor</p>               
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="font-weight-medium font-body">Transaction ID: </p>     
                        </div>
                       <div class="col-md-8">                   
                            <p class="font-weight-bold font-body">{{orderObj.p3sTransRef}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="font-weight-medium font-body">Date: </p>
                        </div>
                        <div class="col-md-8">
                            <p class="font-weight-bold font-body">{{orderObj.dateNowLocalTimeUI}}</p> <!--dummy date-->
                        </div>              
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p class="font-weight-medium font-body">Funds received by: </p>
                        </div>
                        <div class="col-md-8">
                            <p class="font-weight-bold font-body">{{orderObj.transTargetEndDateUI}}</p> <!--dummy date-->
                        </div>              
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="content-panel bg-white">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium"><span class="font-weight-bold" ng-bind="orderObj.bankTransferPaymentDetails.account1Type"></span> Account Details</p>
                </div>
                <div class="content-panel__body">
                    <div class="row">
                        <div class="col-md-12">
<!--                             <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Account Holder's Name: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.accountHoldersName}}</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Account number: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account1Number}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">ABA Number: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account1BranchCode}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Bank Name: </p>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account1field1}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Reference: </p>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.p3sTransRef}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Amount: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">$ {{orderObj.totalCostUSD}}</p>
                                    </div>
                                </div>
                            </div>                                                                                                                             
                        </div>
                    </div>
    			</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="content-panel bg-white">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium"><span class="font-weight-bold" ng-bind="orderObj.bankTransferPaymentDetails.account2Type"></span> Account Details</p>
                </div>
                <div class="content-panel__body">
                    <div class="row">
                        <div class="col-md-12">
<!--                             <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Account Holder's Name: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.accountHoldersName}}</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Account number: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account2Number}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">ABA Number: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account2BranchCode}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Bank Name: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.bankTransferPaymentDetails.account2field1}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Reference: </p>
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">{{orderObj.p3sTransRef}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-weight-medium font-body">Amount: </p>                        
                                    </div>
                                    <div class="col-md-12 col-lg-6 col-xl-6">
                                        <p class="font-body">$ {{orderObj.totalCostUSD}}</p>
                                    </div>
                                </div>
                            </div>                                                                                                                             
                        </div>                       
                    </div>
                </div>
            </div>
        </div>        
    </div><!-- row end-->
    <div class="row m-t-md">
        <div class="col-md-12 d-flex justify-content-end btn-default">
            <a class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white d-flex align-items-center m-r-sm" target="__blank" data-ng-href="{{orderObj.proformaInvoiceUrl}}">Download Invoice <i class="fa fa-file-pdf-o fa-1x m-l-xs"></i></a>
            <a class="btn btn--lg font-body font-weight-medium bg-phase-green pill-radius txt-white d-flex align-items-center" data-ui-sref="dashboard">Return to dashboard <img src="p3sweb/assets/imgs/icons/dashboard_icon_sm.png" alt="dashboard icon" class="m-l-xs"></a>
        </div>
    </div>        
</div>