<div ng-controller="CartController">
    <div class="row hidden-lg-up m-b-md">
        <div class="content-panel col-md-12 p-r-none">
            <div class="bg-white">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Important notice</p>
                </div>
                <div class="content-panel__body">
                    <p class="font-body m-b-md">Please check the transaction details below. When you press the "Place this order" button below you're entering in to a legal contract under our terms and conditions.</p>
                    <p class="font-body m-b-md">You will need to make payment in to the MoneyCorp account at the Bank of New York.</p>
                    <p class="font-body m-b-md">Funds must be received in to our account at MoneyCorp by:</p>                
                    <p class="font-weight-medium font-h4 m-b-md">{{$ctrl.patentObj.transTargetEndDateUI}}</p>       
                    <p class="font-body">The transaction will be progressed at the time shown provided funds have been receieved.  After this point the transaction will be cancelled and penalty charges will apply.  The cost of renewal may also change.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row hidden-lg-up">
       <div class="content-panel col-md-12">
            <div class="bg-white">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Order Summary MD</p>
                </div>
                 <div class="content-panel__body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-md-5">
                                        <p class="font-weight-medium font-body">Total Patents: </p>                        
                                    </div>
                                    <div class="col-md-7">
                                        <p class="font-body">{{$ctrl.patentObj.totalPatents}}</p>
                                    </div>                                
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">                                
                                    <div class="col-md-5">
                                        <p class="font-weight-medium font-body">App No/s: </p>                        
                                    </div>                    
                                    <div class="col-md-7">
                                        <span class="font-body" ng-repeat="p in $ctrl.patentObj.patents">{{p}}<br></span>
                                    </div>  
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">                                
                                    <div class="col-md-5">
                                        <p class="font-weight-medium font-body">Date: </p>                        
                                    </div>                  
                                    <div class="col-md-7">
                                        <p class="font-body">{{$ctrl.patentObj.dateNowLocalTime}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b-xs"> 
                                <div class="row font-body m-b-xs">                         
                                    <div class="col-md-5">
                                        <p class="font-weight-medium font-body">Total Cost: </p>                        
                                    </div>
                                    <div class="col-md-7">
                                        <p class="font-body">$ {{$ctrl.patentObj.totalCostUSD}}</p>
                                    </div> 
                                </div>
                            </div>
                        </div>                       
                        <div class="col-md-7 d-flex justify-content-end align-items-end">
                            <div class="btn-error">
                                <button class="btn btn--cross bg-phase-red btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center" ng-click="ngCart.empty()" ui-sref="patents">Cancel transaction</button>                            
                            </div>
                            <div class="btn-submit">
                               <button class="btn btn--check bg-phase-green btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center m-l-sm" ng-click="$ctrl.commitTransfer(); ngCart.empty()" ng-disabled="$ctrl.commitTransferBtn">Complete payment</button>  
                            </div>
                        </div>
                    </div>
                </div>                     
            </div>      
        </div>
    </div>
    <div class="bg-white">
        <div class="row hidden-md-down">
            <div class="content-panel col-lg-6 col-xl-6 p-r-none">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Important notice</p>
                </div>
                <div class="content-panel__body">
                    <p class="font-body m-b-md">Please check the transaction details below. When you press the "Place this order" button below you're entering in to a legal contract under our terms and conditions.</p>
                    <p class="font-body m-b-md">You will need to make payment in to the MoneyCorp account at the Bank of New York.</p>
                    <p class="font-body m-b-md">Funds must be received in to our account at MoneyCorp by:</p>                
                    <p class="font-weight-medium font-h4 m-b-md">{{$ctrl.patentObj.transTargetEndDateUI}}</p>       
                    <p class="font-body">The transaction will be progressed at the time shown provided funds have been receieved.  After this point the transaction will be cancelled and penalty charges will apply.  The cost of renewal may also change.</p>
                </div>
            </div>
        	<div class="content-panel col-xl-6 p-l-none">
                <div class="content-panel__head border-grey-xs--btm">
                    <p class="font-h4 font-weight-medium">Order Summary</p>
                </div>
                 <div class="content-panel__body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="border-grey-xs--btm  m-b-xs">
                                <div class="row font-body m-b-xs">
                                    <div class="col-xl-8">
                                        <p class="font-weight-medium font-body">Total Patents: </p>                        
                                    </div>
                                    <div class="col-xl-4">
                                        <p class="font-body">{{$ctrl.patentObj.totalPatents}}</p>
                                    </div>                                
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">                                
                                    <div class="col-xl-8">
                                        <p class="font-weight-medium font-body">App No/s: </p>                        
                                    </div>                    
                                    <div class="col-xl-4">
                                        <span class="font-body" ng-repeat="p in $ctrl.patentObj.patents">{{p}}<br></span>
                                    </div>  
                                </div>
                            </div>
                            <div class="border-grey-xs--btm m-b-xs">
                                <div class="row font-body m-b-xs">                                
                                    <div class="col-xl-8">
                                        <p class="font-weight-medium font-body">Date: </p>                        
                                    </div>                  
                                    <div class="col-xl-4">
                                        <p class="font-body">{{$ctrl.patentObj.dateNowLocalTime}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="m-b-xs"> 
                                <div class="row font-body m-b-xs">                         
                                    <div class="col-xl-8">
                                        <p class="font-weight-medium font-body">Total Cost: </p>                        
                                    </div>
                                    <div class="col-xl-4">
                                        <p class="font-body">$ {{$ctrl.patentObj.totalCostUSD}}</p>
                                    </div> 
                                </div>
                            </div>
                        </div>                       
                    </div>
                </div>
    			<div class="content-panel__body">
        			<div class="row">
    					<div class="col-xl-12 d-flex justify-content-end">
                            <div class="btn-error">
                                <button class="btn btn--cross bg-phase-red btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center" ng-click="$ctrl.openCancelTransModal()">Cancel transaction</button>                            
                            </div>
                            <div class="btn-submit">
                               <button class="btn btn--check bg-phase-green btn--lg font-weight-medium txt-white pill-radius font-body font-body--component d-flex align-items-center m-l-sm" ng-click="$ctrl.commitTransfer(); ngCart.empty()" ng-disabled="$ctrl.commitTransferBtn">Complete payment</button>  
                            </div>
    					</div>						
        			</div>
    			</div>		
            </div>
    	</div>
    </div>
</div>	