<patentnav></patentnav>
<div class="row m-b-md">
	<div class="col-md-8 d-flex align-items-center">
		<div class="phase-tabs">
			<uib-tabset type="pills" active="activePhaseTab" class="phase-pills">
				<uib-tab index="0" class="tab tab--reg bg-white pill-radius btn--reg pill-tabs font-body font-body--component txt-black border-grey-xs" heading="View All({{$ctrl.allPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.all" ng-click="$ctrl.displayPhase(1)" ui-sref="patents">
			    </uib-tab>
			    <uib-tab index="1" class="tab tab--reg bg-phase-green pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Green({{$ctrl.greenPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.green" ng-click="$ctrl.displayPhase(2)" ui-sref="patents">
				</uib-tab>
			    <uib-tab index="2" class="tab tab--reg bg-phase-amber pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Yellow({{$ctrl.amberPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.amber" ng-click="$ctrl.displayPhase(3)" ui-sref="patents">
				</uib-tab>
			    <uib-tab index="3" class="tab tab--reg bg-phase-red pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Red({{$ctrl.redPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.red" ng-click="$ctrl.displayPhase(4)" ui-sref="patents">
				</uib-tab>
			    <uib-tab index="4" class="tab tab--reg bg-phase-blue pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Blue({{$ctrl.bluePatentsLength}})" ng-attr-id="$ctrl.patentsTabs.blue" ng-click="$ctrl.displayPhase(5)" ui-sref="patents">
				</uib-tab>
			    <uib-tab index="5" class="tab tab--reg bg-phase-black pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Black({{$ctrl.blackPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.black" ng-click="$ctrl.displayPhase(6)" ui-sref="patents">
				</uib-tab>
			    <uib-tab index="6" class="tab tab--reg bg-phase-grey pill-radius btn--reg pill-tabs font-body font-body--component txt-white" heading="Grey({{$ctrl.greyPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.grey" ng-click="$ctrl.displayPhase(7)" ui-sref="patents">
				</uib-tab>				
			</uib-tabset>
		</div>	
	</div>
	<div class="col-md-4">
		<form class="form">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-body" name="filter" ng-model="$ctrl.tableParams.filter()['patentApplicationNumber']" ng-change="$ctrl.displayPatents()" placeholder="App No.">
						<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
					</div>					
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-body" name="filter" ng-model="$ctrl.tableParams.filter()['clientRef']" ng-change="$ctrl.displayPatents()" placeholder="Client Ref">
						<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row m-b-xl">
	<div ng-show="$ctrl.tableParams.data == 0" class="col-md-12">
		<div class="bg-white p-a-sm">
			<p class="font-body font-weight-medium">There are currently know patents in this phase</p>
		</div>
	</div>
	<div ng-hide="$ctrl.tableParams.data == 0" class="col-md-12 p-r-none" id="scrollable-area" class="table-scroll">
		<table ng-table="$ctrl.tableParams" class="table font-body t-list" show-filter="false" fixed-table-headers="scrollable-area">
		    <tr ng-if="$ctrl.tableParams.data !== 0" ng-repeat="row in $data" ng-click="$ctrl.rowSelect($event)" ui-sref-active="active">
		        <td data-title="'App No.'" filter="{ 'patentApplicationNumber': 'text'}" sortable="'patentApplicationNumber'">
		            <a class="txt-black" ui-sref="patents.patent({patentId: row.id})">{{row.patentApplicationNumber}}</a>
		        </td>
		        <td data-title="'Client Ref'" filter="{ 'clientRef': 'text'}" sortable="'clientRef'">
		            {{row.clientRef}}
		        </td>
		        <td data-title="'Description'" filter="{ 'title': 'text'}" sortable="'title'">
		            {{row.title}}
		        </td>
		        <td>
					<div ng-if="row.renewalStatus == 'Show price'" ng-class="(row.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (row.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (row.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Black' ? 'txt-phase-white': '')">
						<span class="font-weight-bold">$ {{row.currentRenewalCost}}</span><br>
						<span>{{$ctrl.date | date:'MM/dd/yy'}}</span>
					</div>		        	
		        </td>
		        <td data-title="'Renewal status'" filter="{ 'renewalStatus': 'text'}" sortable="'renewalStatus'">
					<div ng-if="row.renewalStatus !== 'Show price'" class="d-flex justify-content-start align-items-center">
						<div class="m-r-xs">
							<img ng-if="row.renewalStatus == 'Payment in progress'" src="p3sweb/assets/imgs/icons/progress_icon.png">
							<img ng-if="row.renewalStatus == 'EPO Instructed'" src="p3sweb/assets/imgs/icons/epo_instructed_icon.png">
							<img ng-if="row.renewalStatus == 'Renewal in place'" src="p3sweb/assets/imgs/icons/complete_icon.png">
							<img ng-if="row.renewalStatus == 'Too late to renew'" src="p3sweb/assets/imgs/icons/lapsed_icon.png">
							<img ng-if="row.renewalStatus == ('No renewal needed' || 'Show price')" src="p3sweb/assets/imgs/icons/renewal_na_icon.png">
						</div>
				    	<p class="font-weight-medium font-body d-flex justify-content-end align-items-center">{{row.renewalStatus}}</p>
					</div>	
					<div class="progress-phase" ng-if="row.renewalStatus == 'Show price'">
						<uib-progress class="pill-radius font-body font-body--component" ng-class="(row.costBandColour == 'Green' ? 'bg-phase-amber': '') + '' + (row.costBandColour == 'Amber' ? 'bg-phase-red': '') + '' + (row.costBandColour == 'Red' ? 'bg-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'bg-phase-black': '') + '' + (row.costBandColour == 'Black' ? 'bg-phase-white': '')">
							<uib-bar class="pill-radius d-flex align-items-center justify-content-center progress-15" value="row.progressBar"></uib-bar>
						</uib-progress>
					</div>
		        </td>
		        <td>
					<div ng-if="row.renewalStatus == 'Show price'" ng-class="(row.costBandColour == 'Green' ? 'txt-phase-amber': '') + '' + (row.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + (row.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'txt-phase-black': '') + '' + (row.costBandColour == 'Black' ? 'txt-phase-white': '')">
						<span class="font-weight-bold">$ {{row.renewalCostNextStage}}</span><br>
						<span>{{row.costBandEndDate | date:'MM/dd/yy'}}</span>
					</div>		        	
		        </td>
		        <td data-title="'Due date'" filter="{ 'renewalDueDateUI': 'number'}" sortable="'renewalDueDateUI'">
		        	{{row.renewalDueDate | date:'MM/dd/yy'}}</td>
		        </td>
		        <td>
		        	<div ng-if="row.renewalStatus == 'Show price'">
				 		<ngcart-addtocart id="{{row.id}}" class="cartbtn" name="patent_{{row.id}}" price="{{row.currentRenewalCost}}" quantity="1" quantity-max="10" data="row" >
				 		</ngcart-addtocart>
				 	</div>
		        	<div ng-if="row.renewalStatus == ('Payment in progress' || 'EPO Instructed')">
				 		<a class="btn btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium cartbtn txt-white" ng-click="$ctrl.fetchItemTransaction(row.id)">View Transaction<i class="fa fa-credit-card fa-1x m-l-xs"></i></a>
				 	</div>
		        	<div ng-if="row.renewalStatus == 'Renewal in place'">
				 		<a class="btn btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium txt-white" ui-sref="patents.patent({patentId: row.id})" ng-click="$ctrl.fetchItemRenewal()">View Renewal<i class="fa fa-refresh fa-1x m-l-xs"></i></a>
				 	</div>						 			 	
		        </td>   		    		
		    </tr>
		</table>
	</div>
</div>

<ui-view></ui-view>
