<patentnav></patentnav>
<div class="row m-b-md">
	<div class="col-md-6">
		<div class="phase-tabs">
			<uib-tabset type="pills" active="activePhaseTab">
			
				<uib-tab index="0" class="bg-white pill-radius p-xl-pill-tabs pill-tabs font-sm txt-black border-grey-xs" heading="View All({{$ctrl.allPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.all" ng-click="$ctrl.displayPhase(1)" ui-sref="patents">
		    	
			    </uib-tab>
			    <uib-tab index="1" class="bg-phase-green pill-radius p-xl-pill-tabs pill-tabs font-sm txt-white" heading="Green({{$ctrl.greenPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.green" ng-click="$ctrl.displayPhase(2)" ui-sref="patents">
					
				</uib-tab>
			    <uib-tab index="2" class="bg-phase-amber pill-radius p-xl-pill-tabs pill-tabs font-sm txt-white" heading="Yellow({{$ctrl.amberPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.amber" ng-click="$ctrl.displayPhase(3)" ui-sref="patents">
					
				</uib-tab>
			    <uib-tab index="3" class="bg-phase-red pill-radius p-xl-pill-tabs pill-tabs font-sm txt-white" heading="Red({{$ctrl.redPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.red" ng-click="$ctrl.displayPhase(4)" ui-sref="patents">
					
				</uib-tab>
			    <uib-tab index="4" class="bg-phase-blue pill-radius p-xl-pill-tabs pill-tabs font-sm txt-white" heading="Blue({{$ctrl.bluePatentsLength}})" ng-attr-id="$ctrl.patentsTabs.blue" ng-click="$ctrl.displayPhase(5)" ui-sref="patents">
					
				</uib-tab>
			    <uib-tab index="5" class="bg-phase-black pill-radius p-xl-pill-tabs pill-tabs font-sm txt-white" heading="Black({{$ctrl.blackPatentsLength}})" ng-attr-id="$ctrl.patentsTabs.black" ng-click="$ctrl.displayPhase(6)" ui-sref="patents">
					
				</uib-tab>
			</uib-tabset>
		</div>	
	</div>
	<div class="col-md-4 offset-md-2">
		<form class="form-inline">
			<div class="row">
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-md" name="filter" ng-model="$ctrl.tableParams.filter()['patentApplicationNumber']" placeholder="App No.">
						<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
					</div>					
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<input type="text" class="form-control pill-radius font-md" name="filter" ng-model="$ctrl.tableParams.filter()['clientRef']" placeholder="Client Ref">
						<div class="input-group-addon pill-radius"><i class="fa fa-search"></i></div>
					</div>
				</div>			
			</div>
		</form>
	</div>
</div>

<div class="row m-b-xl">
	<div class="col-md-12" id="scrollable-area" class="table-scroll">
		<table ng-table="$ctrl.tableParams" class="table font-md t-list" show-filter="false" fixed-table-headers="scrollable-area">
		    <tr ng-repeat="row in $data" ng-click="$ctrl.rowSelect($event); $ctrl.colourPhase(row)">
		        <td width="13%" data-title="'Application No.'" filter="{ 'patentApplicationNumber': 'text'}" sortable="'patentApplicationNumber'">
		            <a class="txt-black" ui-sref="patents.patent({patentId: row.id})">{{row.patentApplicationNumber}}</a>
		        </td>
		        <td width="13%" data-title="'Client Ref'" filter="{ 'clientRef': 'text'}" sortable="'clientRef'">
		            {{row.clientRef}}
		        </td>
		        <td width="14%" data-title="'Description'" filter="{ 'title': 'text'}" sortable="'title'">
		            {{row.title}}
		        </td>
		        <td width="8%">
	
					<div ng-if="row.renewalStatus == 'Show price'" ng-class="(row.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (row.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + (row.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Black' ? 'txt-phase-white': '')">
						<span class="font-weight-bold">$ {{row.currentRenewalCost}}</span><br>
						<span>{{$ctrl.date | date:'MM/dd/yy'}}</span>
					</div>		        	
		        </td>
		        <td width="14%" data-title="'Renewal status'" filter="{ 'renewalStatus': 'text'}" sortable="'renewalStatus'">
					<div ng-if="row.renewalStatus !== 'Show price'">
						<p class="font-md font-weight-bold txt-phase-green">{{row.renewalStatus}}</p>
					</div>	
					<div class="progress-phase" ng-if="row.renewalStatus == 'Show price'">
						<uib-progress class="pill-radius font-sm font-weight-bold" ng-class="(row.costBandColour == 'Green' ? 'bg-phase-amber': '') + '' + (row.costBandColour == 'Amber' ? 'bg-phase-red': '') + '' + (row.costBandColour == 'Red' ? 'bg-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'bg-phase-black': '') + '' + (row.costBandColour == 'Black' ? 'bg-phase-white': '')">
							<uib-bar class="pill-radius d-flex align-items-center justify-content-center progress-15" value="row.progressBar">{{row.progressBar}}%</uib-bar>
						</uib-progress>
					</div>
		        </td>
		        <td width="8%">
					<div ng-if="row.renewalStatus == 'Show price'" ng-class="(row.costBandColour == 'Green' ? 'txt-phase-amber': '') + '' + (row.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + (row.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + (row.costBandColour == 'Blue' ? 'txt-phase-black': '') + '' + (row.costBandColour == 'Black' ? 'txt-phase-white': '')">
						<span class="font-weight-bold">$ {{row.renewalCostNextStage}}</span><br>
						<span>{{row.costBandEndDate | date:'MM/dd/yy'}}</span>
					</div>		        	
		        </td>

		        	

		        <td width="15%" data-title="'Due date'" filter="{ 'renewalDueDateUI': 'text'}" sortable="'renewalDueDateUI'">
		        	{{row.renewalDueDate | date:'MM/dd/yy'}}</td>
		        </td>
		        <td width="10%">
		        	<div ng-if="row.renewalStatus == 'Show price'">
				 		<ngcart-addtocart id="{{row.id}}" class="cartbtn" name="patent_{{row.id}}" price="{{row.currentRenewalCost}}" quantity="1" quantity-max="10" data="row" >
				 	</ngcart-addtocart>
				 	</div>
		        </td>                   
		    </tr>
		</table>
	</div>
</div>

<ui-view></ui-view>
