<!--patentDetailctrl-->


<div class="selected-item-panel">
	<div class="row m-b-md">
		<div class="col-md-4">
			<div class="view-tabs">
				<ul class="nav view-pills">
					<li class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs" ng-click="activeSelectedTab = 0; $ctrl.activePatentItemMenu = 'Patent Info'" ng-class="{active : $ctrl.activePatentItemMenu === 'Patent Info'}">Patent Info</li>
					<li class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs" ng-click="activeSelectedTab = 1; $ctrl.activePatentItemMenu = 'Cost Analysis'" ng-class="{active : $ctrl.activePatentItemMenu === 'Cost Analysis'}">Cost Analysis</li>
					<li class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs" ng-click="activeSelectedTab = 2; $ctrl.activePatentItemMenu = 'Renewal History'" ng-class="{active : $ctrl.activePatentItemMenu === 'Renewal History'}">Renewal History</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="bg-white">
		<uib-tabset type="pills" active="activeSelectedTab">
			<uib-tab heading="Patent Information" class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs active m-b-md" index="0" ng-hide="true">
					<div class="selected-item-panel__head border-grey-xs--btm">
						<div class="row d-flex align-items-center">
						    <div class="col-md-3">
								<h3><span class="font-weight-bold">Application Number:</span> {{$ctrl.patent.patentApplicationNumber}}</h3>
								<h3><span class="font-weight-bold">Status:</span> {{$ctrl.patent.renewalStatus}}</h3>				
						    </div>
						    <div class="col-md-6">
	    						<div ng-if="$ctrl.patent.renewalStatus !== 'Show price'" class="text-center">
									<p class="font-lg font-weight-bold txt-phase-green">{{$ctrl.patent.renewalStatus}}</p>
								</div>
								<div ng-if="$ctrl.patent.renewalStatus == 'Show price'">
									<div class="row">
										<div class="col-md-12">
											<div class="text-center inline-container m-b-xs" ng-style="{'width': $ctrl.patent.progressBar + '%'}">
												<span class="font-md font-weight-bold nowrap" ng-class="($ctrl.patent.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + ($ctrl.patent.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + ($ctrl.patent.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + ($ctrl.patent.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + ($ctrl.patent.costBandColour == 'Black' ? 'txt-phase-white': '')">$ {{$ctrl.patent.currentRenewalCost}}</span>
											</div>
											<div class="text-center inline-container m-b-xs"  ng-style="{'width': ((100 - $ctrl.patent.progressBar) - 1)  + '%'}">
												<span class="font-md font-weight-bold nowrap" ng-class="($ctrl.patent.costBandColour == 'Green' ? 'txt-phase-amber': '') + '' + ($ctrl.patent.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + ($ctrl.patent.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + ($ctrl.patent.costBandColour == 'Blue' ? 'txt-phase-black': '') + '' + ($ctrl.patent.costBandColour == 'Black' ? 'txt-phase-white': '')">$ {{$ctrl.patent.renewalCostNextStageUSD}}</span>
											</div>		
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<uib-progress class="pill-radius progress-bar-tall" ng-class="($ctrl.patent.costBandColour == 'Green' ? 'bg-phase-amber': '') + '' + ($ctrl.patent.costBandColour == 'Amber' ? 'bg-phase-red': '') + '' + ($ctrl.patent.costBandColour == 'Red' ? 'bg-phase-blue': '') + '' + ($ctrl.patent.costBandColour == 'Blue' ? 'bg-phase-black': '') + '' + ($ctrl.patent.costBandColour == 'Black' ? 'bg-phase-white': '')"><uib-bar class="pill-radius progress-bar-tall font-md d-flex align-items-center justify-content-center font-weight-bold progress-10" value="$ctrl.progressBar">{{$ctrl.patent.progressBar}}%</uib-bar></uib-progress>											
										</div>	
									</div>
																	
								</div>
						    </div>
						    <div class="col-md-3">
						    	<div ng-if="$ctrl.patent.renewalStatus == 'Show price'" class="text-right">
							    	<h3><span class="font-weight-bold">Next stage:</span> <span ng-class="($ctrl.patent.costBandColour == 'Green' ? 'txt-phase-amber': '') + '' + ($ctrl.patent.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + ($ctrl.patent.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + ($ctrl.patent.costBandColour == 'Blue' ? 'txt-phase-black': '') + '' + ($ctrl.patent.costBandColour == 'Black' ? 'txt-phase-white': '')">{{$ctrl.nextStage()}}</span></h3>
							    	<h3><span class="font-weight-bold">Occurs:</span> {{$ctrl.patent.costBandEndDateUI}}</h3>
						    	</div>
						    </div>		    		    
					    </div>
				    </div>
				    <div class="selected-item-panel__body">
				    	<div class="row">
				    		<div class="col-md-9">
				    			<form class="form" ng-submit="$ctrl.updatePatent($ctrl.patent)">
				    				<div class="row">
					    				<div class="col-md-6">
											<table class="table d-flex flex-column">
												<tr>
													<td><h4 class="font-weight-bold">Details</h4></td>
												</tr>
										    	<tr>
												    <td class="text-xs-right font-sm font-weight-bold align-middle">Description:</td>
												    <td class="align-middle">
												        <span class="font-sm" ng-hide="$ctrl.editing[1]">{{$ctrl.patent.shortTitle}}</span>
												        <input type="text" class="font-sm" data-id="123" ng-show="$ctrl.editing[1]" ng-blur="$ctrl.doneEditing(1)" ng-model="$ctrl.patent.shortTitle" autofocus>
												    </td>
												    <td class="align-middle">
												    	<span ng-click="$ctrl.editItem(1)"><i class="fa fa-edit fa-2x"></i></span> 					    	
												    </td>
												</tr>
										    	<tr>
										    		<td class="text-xs-right font-sm font-weight-bold">Client Ref:</td>
												    <td class="align-middle">
												        <span class="font-sm" ng-hide="$ctrl.editing[2]">{{$ctrl.patent.clientRef}}</span>
												        <input type="text" class="font-sm" data-id="123" ng-show="$ctrl.editing[2]" ng-blur="$ctrl.doneEditing(2)" ng-model="$ctrl.patent.clientRef" autofocus>										         	
											        </td>
												    <td class="align-middle">
												    	<span ng-click="$ctrl.editItem(2)"><i class="fa fa-edit fa-2x"></i></span> 					    	
												    </td>
										    	</tr>
										    	<tr>
										    		<th class="text-xs-right font-sm align-middle">Applicant Name:</th>
										    		<td class="align-middle font-sm">{{$ctrl.patent.primaryApplicantName}}</td>
										    	</tr>
										    	<tr>
										    		<th class="text-xs-right font-sm align-middle">Publication No:</th>
										    		<td class="align-middle font-sm">{{$ctrl.patent.patentPublicationNumber}}</td>
										    	</tr>
										    	<tr>
										    		<th class="text-xs-right font-sm align-middle">Title:</th>
										    		<td class="align-middle font-sm">{{$ctrl.patent.title}}</td>
										    	</tr>
										    	<tr>
										    		<th class="text-xs-right font-sm align-middle">Filing date:</th>
										    		<td class="align-middle font-sm">{{$ctrl.patent.filingDateUI}}</td>
										    	</tr>
										    </table>
										</div>
										
							    		<div class="col-md-5">
							    			<div class="m-b-md">
							    				<div class="m-b-md">
													<h4 class="font-weight-bold m-b-xs">Notifications</h4>
												</div>
												<p class="font-sm">Select the colour and time frame to recieve email notifications for this patent prior to each stage.</p>					    				
							    			</div>
											<div class="phase-pills m-b-sm">
												<div class="pill-radius p-pill-tabs pill-tabs d-flex justify-content-center align-items-center flex-column" ng-style="{ 'background': $ctrl.colourPhaseTitle.color}">
													<span class="font-sm font-weight-bold">{{$ctrl.colourPhaseTitle.title}} Stage</span>
												</div>													
											</div>
											<div class="row m-b-md">
												<div class="col-md-4">
													<div class="notification-tabs">
														<ul class="nav notification-pills flex-column">
															<li class="green nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-sm bg-white border-grey-xs active d-flex justify-content-center align-items-center m-b-xs" ng-init="" ng-click="activeNotificationTab = 0; $ctrl.displayNotifications($ctrl.patentNotifications.green); $ctrl.colourKey(0);">Green</li>
															<li class="amber nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-sm bg-white border-grey-xs d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 1; $ctrl.displayNotifications($ctrl.patentNotifications.amber); $ctrl.colourKey(1);">Amber</li>
															<li class="red nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-sm bg-white border-grey-xs d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 2; $ctrl.displayNotifications($ctrl.patentNotifications.red); $ctrl.colourKey(2);">Red</li>
															<li class="blue nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-sm bg-white border-grey-xs active d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 3; $ctrl.displayNotifications($ctrl.patentNotifications.blue); $ctrl.colourKey(3);">Blue</li>
															<li class="black nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-sm bg-white border-grey-xs d-flex justify-content-center align-items-center " ng-click="activeNotificationTab = 4; $ctrl.displayNotifications($ctrl.patentNotifications.black); $ctrl.colourKey(4);">Black</li>															
														</ul>
													</div>
												</div>
												<div class="col-md-8">
													<uib-tabset active="activeNotificationTab" vertical="true" type="pills" class="flex-column">
														<uib-tab index="0" heading="Green" ng-attr-id="$ctrl.patentNotifications.green"  ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.green)" ng-hide="true">
															<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
																<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
																	{{item.title}}
																	<div class="onoffswitch">
																		<label class="switch font-sm">
																		  <input type="checkbox" ng-model="item.isOn">
																		  <span class="slider round"></span>
																		</label>
																	</div>
																</div>
															</div>	
													    </uib-tab>
													    <uib-tab index="1" heading="Amber" ng-attr-id="$ctrl.patentNotifications.amber" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.amber)" ng-hide="true">
															<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
																<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
																	{{item.title}}
																	<div class="onoffswitch">
																		<label class="switch font-sm">
																		  <input type="checkbox" ng-model="item.isOn">
																		  <span class="slider round"></span>
																		</label>
																	</div>
																</div>
															</div>								    
														</uib-tab>
													    <uib-tab index="2" heading="Red" ng-attr-id="$ctrl.patentNotifications.red" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.red)" ng-hide="true">
															<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
																<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
																	{{item.title}}
																	<div class="onoffswitch">
																		<label class="switch font-sm">
																		  <input type="checkbox" ng-model="item.isOn">
																		  <span class="slider round"></span>
																		</label>
																	</div>
																</div>
															</div>								    
														</uib-tab>
													    <uib-tab index="3" heading="Blue" ng-attr-id="$ctrl.patentNotifications.blue" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.blue)"  ng-hide="true">
															<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
																<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
																	{{item.title}}
																	<div class="onoffswitch">
																		<label class="switch font-sm">
																		  <input type="checkbox" ng-model="item.isOn">
																		  <span class="slider round"></span>
																		</label>
																	</div>
																</div>
															</div>								    
														</uib-tab>
													    <uib-tab index="4" heading="Black" ng-attr-id="$ctrl.patentNotifications.black" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.blue)" ng-hide="true">
															<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">	
																<div class="col-md-4 font-sm text-center" ng-repeat="item in checkbox">
																	{{item.title}}
																	<div class="onoffswitch">
																		<label class="switch font-sm">
																		  <input type="checkbox" ng-model="item.isOn">
																		  <span class="slider round"></span>
																		</label>
																	</div>
																</div>
															</div>								    
														</uib-tab>
													</uib-tabset>
												</div>
											</div>
										</div> <!--col-md-6-->
									</div>								
									<div class="row">
										<div class="col-md-4">
											<div class="row">
												<div class="col-md-6">
													<input type="submit" id="submit" class="btn btn-block btn-lg btn-success pill-radius" value="Save">
												</div>	
												<div class="col-md-6">
													<input type="button" id="delete" class="btn btn-block btn-lg btn-danger pill-radius" value="Remove" ng-click="$ctrl.deletePatent($ctrl.patent.id)">
												</div>	
											</div>
										</div>
									</div>
								</form>
							</div>

						<div class="col-md-3">
							<div class="selected-item-panel">
								<div class="m-b-md">
									<h4 class="font-weight-bold m-b-xs">FX Rate Impact</h4>
								</div>
								
								<div class="row border-grey-xs--btm p-b-md m-b-md">
									<div class="col-md-5 text-center">
										<p class="font-md font-weight-bold">USD</p>
										<p class="font-xl">$ {{$ctrl.patent.feeUI.subTotalUSD}}</p>
									</div>
									<div class="col-md-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-md-5 text-center">
										<p class="font-md font-weight-bold">EUR</p>
										<p class="font-xl">€ {{$ctrl.patent.feeUI.subTotalEUR}}</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-lg">Yesterday's price:</p>
											</div>
											<div class="col-md-6">
												<p class="font-lg text-center">$ {{$ctrl.yesterdaysPrice}}</p>
											</div>												
										</div>
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-lg">Price last week:</p>			
											</div>
											<div class="col-md-6">
												<p class="font-lg text-center">$ {{$ctrl.lastWeeksPrice}}</p>
											</div>												
										</div>
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-lg">Price last month:</p>
											</div>
											<div class="col-md-6">
												<p class="font-lg text-center">$ {{$ctrl.lastMonthsPrice}}</p>
											</div>												
										</div>
										<div class="row m-b-sm">
											<div class="col-md-6">
												<p class="font-lg font-weight-bold">Four week variation:</p>	
											</div>
											<div class="col-md-6">
												<p class="font-lg text-center">$ {{$ctrl.lastMonthsPrice - $ctrl.yesterdaysPrice}}</p>
											</div>												
										</div>																																						
									</div>
								</div> <!-- row end -->
								<div class="row">
									<div class="col-md-12">
			    						<div ng-if="$ctrl.patent.renewalStatus !== 'Show price'" class="text-center">
											<p class="font-lg font-weight-bold txt-phase-green">{{$ctrl.patent.renewalStatus}}</p>
										</div>
										<div ng-if="$ctrl.patent.renewalStatus == 'Show price'">
											<div class="row">
										 		<ngcart-addtocart id="{{$ctrl.selectedPatent.id}}" class="cartbtn font-weight-bold btn-block" name="patent_{{$ctrl.selectedPatent.id}}" price="{{$ctrl.selectedPatent.currentRenewalCost}}" quantity="1" quantity-max="10" data="$ctrl.selectedPatent">
					 							</ngcart-addtocart>		
											</div>
										</div>
									</div>
								</div>	
							</div>	
					    </div><!-- col-md-4-->
				    </div>
				</div>
		    </uib-tab>
		    <uib-tab heading="Cost Analysis" class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs m-b-md" index="1" ng-hide="true">
		    	<div class="selected-item-panel__body">
		    		<div class="row">
		    			<div class="col-md-8">
		    				<div class="row">
		    					<div class="col-md-12">
			    					<div class="view-tabs m-b-md">
										<ul class="nav chart-pills">
											<li class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs" ng-click="activeChart = 0; $ctrl.chartActive = 'Stage Cost Chart'" ng-class="{active : $ctrl.chartActive === 'Stage Cost Chart'}">Stage Cost Chart</li>
											<li class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs" ng-click="activeChart = 1; $ctrl.chartActive = 'FX Chart'" ng-class="{active : $ctrl.chartActive === 'FX Chart'}">FX Chart</li>
										</ul>
									</div>	
		    					</div>
		    				</div>

		    				<div class="row">
								<div class="col-md-12 text-xs-left">
								  	<uib-tabset type="pills" active="activeChart">
								    	<uib-tab heading="Stage Cost Chart" classes="btn btn-primary" index="0" ng-hide="true">
									    	<canvas id="patentBarChart" class="chart chart-horizontal-bar" chart-data="$ctrl.barData" chart-labels="$ctrl.barLabels" chart-series="$ctrl.barSeries" chart-options="$ctrl.barOptions" chart-colors="$ctrl.barChartColours" chart-dataset-override="$ctrl.barDatasetOverride" height="100px"></canvas>
									    </uib-tab>
									    <uib-tab heading="FX Chart" classes="btn btn-primary" index="1" ng-hide="true">
							 				<canvas id="patentLineChart" class="chart chart-line" chart-data="$ctrl.lineData" chart-labels="$ctrl.lineLabels" chart-series="$ctrl.lineSeries" chart-options="$ctrl.lineOptions" chart-dataset-override="$ctrl.lineDatasetOverride" height="100px"></canvas>
							    		</uib-tab>
						    		</uib-tabset>
				    			</div>
		    				</div>
	    				</div>

						<div class="col-md-4 d-flex flex-column justify-content-between">
							<div class="row d-flex justify-content-center align-items-center">
								<div class="col-md-6">
									<h4 class="font-weight-bold font-lg">Cost breakdown</h4>
								</div>
								<div class="col-md-6">
									<p class="font-lg">1 USD = {{$ctrl.usd2eur}} EUR</p>
								</div>	
							</div>
							<div class="m-t-md">
								<table class="table table-bordered">
									<thead>
										<tr>
											<td></td>
											<td class="font-md font-weight-bold">EUR</td>
											<td class="font-md font-weight-bold">USD</td>
										</tr>
									</thead>
									<div class="table-responsive">
										<tbody>
											<tr>
												<td class="font-md font-weight-bold">Official fee</td>
												<td class="font-md">€ {{$ctrl.feeBreakDown.renewalFeeEUR}}</td>
												<td class="font-md">$ {{$ctrl.feeBreakDown.renewalFeeUSD}}</td>
											</tr>
											<tr>
												<td class="font-md font-weight-bold">Processing fee</td>
												<td class="font-md">€ {{$ctrl.feeBreakDown.processingFeeEUR}}</td>
												<td class="font-md">$ {{$ctrl.feeBreakDown.processingFeeUSD}}</td>
											</tr>
											<tr>
												<td class="font-md font-weight-bold">Extension Fee</td>
												<td class="font-md">€ {{$ctrl.feeBreakDown.extensionFeeEur}}</td>
												<td class="font-md">$ {{$ctrl.feeBreakDown.extensionFeeUSD}}</td>
											</tr>								
											<tr>
												<td class="font-md font-weight-bold">Total</td>
												<td class="font-md font-weight-bold">€ {{$ctrl.feeBreakDown.subTotalEUR}}</td>
												<td class="font-md font-weight-bold">$ {{$ctrl.feeBreakDown.subTotalUSD}}</td>
											</tr>
										</tbody>
									</div>
								</table>
							</div>
							
							<div class="row m-t-md">
								<div class="col-md-7">
									<h5 class="font-xl">Save:</h5>
									<p class="font-xl txt-phase-green font-weight-bold">$ {{$ctrl.feeBreakDown.bandSaving().savings}}</p>
									<p class="font-lg">Renew before: {{$ctrl.feeBreakDown.bandSaving().renewBefore | date: dd-mm-yy}}</p>
								</div>
								<div class="col-md-5 d-flex flex-column justify-content-center">
		    						<div ng-if="$ctrl.patent.renewalStatus !== 'Show price'" class="text-center">
										<p class="font-lg font-weight-bold txt-phase-green">{{$ctrl.patent.renewalStatus}}</p>
									</div>
									<div ng-if="$ctrl.patent.renewalStatus == 'Show price'">
								 		<ngcart-addtocart id="{{$ctrl.selectedPatent.id}}" class="cartbtn btn-block" name="patent_{{$ctrl.selectedPatent.id}}" price="{{$ctrl.selectedPatent.currentRenewalCost}}" quantity="1" quantity-max="10" data="$ctrl.selectedPatent">
								 		</ngcart-addtocart>
								 	</div>
								</div>						
							</div> <!-- row end-->
						</div>
					</div>
				</div>
			</uib-tab>
		    <uib-tab heading="Renewal History" class="nav-item nav-view-list-item pill-radius p-page-nav-tabs pill-tabs font-lg bg-white border-grey-xs m-b-md"  index="2"  ng-hide="true">

		    	<div class="selected-item-panel__head border-grey-xs--btm">
		    		<div class="row">
						<div class="col-md-2">
							<h4 class="font-weight-bold font-xl">App No.</h4>
							<p class="font-xl">{{$ctrl.patent.patentApplicationNumber}}</p>
						</div>
						<div class="col-md-2">
							<h4 class="font-weight-bold font-xl">Client Ref</h4>
							<p class="font-xl">{{$ctrl.patent.clientRef}}</p>
						</div>
						<div class="col-md-8 text-right">
							<h4 class="font-weight-bold font-xl">Description</h4>
							<p class="font-xl">{{$ctrl.patent.title}}</p>				
						</div>
					</div>
		    	</div>
				
				<div class="selected-item-panel__body">
					<div class="row">
						<div class="col-md-12">
							<div ng-if="$ctrl.renewal.length == 0">
								<p class="font-weight-bold font-lg">This patent has not been renewed through Patent Place</p>
							</div>
							<div ng-if="$ctrl.renewal.length !== 0">
								<table class="table">
									<thead class="border-grey-xs--btm border-grey-xs--top">
										<tr>
											<td class="font-lg font-weight-bold" width="20%" ng-click="$ctrl.sortType = 'renewalYear'; $ctrl.sortReverse = !$ctrl.sortReverse">Renewal Year
												<span ng-show="$ctrl.sortType == 'renewalYear' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
												<span ng-show="$ctrl.sortType == 'renewalYear' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
											</td>
											<td class="font-lg font-weight-bold"  width="20%" ng-click="$ctrl.sortType = 'dateRenewed'; $ctrl.sortReverse = !$ctrl.sortReverse">Date Renewed
												<span ng-show="$ctrl.sortType == 'dateRenewed' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
												<span ng-show="$ctrl.sortType == 'dateRenewed' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
											</td>
											<td class="font-lg font-weight-bold"  width="30%" ng-click="$ctrl.sortType = 'costBreakdown'; $ctrl.sortReverse = !$ctrl.sortReverse" colspan="2">Cost Breakdown
												<span ng-show="$ctrl.sortType == 'costBreakdown' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
												<span ng-show="$ctrl.sortType == 'costBreakdown' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
											</td>
											<td class="font-lg font-weight-bold" width="30%">Downloads</td>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="renewal in $ctrl.renewal | orderBy:$ctrl.sortType:$ctrl.sortReverse">
											<td class="font-lg" width="20%">Year <span ng-bind="renewal.renewalYear"></span></td>
											<td class="font-lg" width="20%">{{renewal.renewalDueDate | date: 'MM/dd/yy'}}</td>
											<td class="font-lg" width="10%">
												<p>Official Fee:</p>
												<p>Processing Fee:</p>
												<p class="font-weight-bold">Total: </p>
											</td>
											<td class="font-lg" width="20%">
												<p>$ {{$ctrl.feeBreakDown.renewalFeeUSD}}</p>
												<p>$ {{$ctrl.feeBreakDown.processingFeeEUR}}</p>
												<p class="font-weight-bold">$ {{$ctrl.feeBreakDown.subTotalUSD}}</p>
											</td>
											<td width="30%">
												<div class="row">
													<div class="col-md-5">
														<a href="p3sweb/hardcodedpffolder/certificates/dummyCertificateNumber1.pdf" class="btn btn-block bg-phase-green pill-radius p-pill-tabs txt-white" download>Certificate <i class="fa fa-file-pdf-o fa-2x"></i></a></span>
													</div>
													<div class="col-md-5">
														<a href="p3sweb/hardcodedpffolder/invoices/dummyInvoiceNumber1.pdf" class="btn btn-block bg-phase-green pill-radius p-pill-tabs txt-white" download>Invoice <i class="fa fa-file-pdf-o fa-2x"></i></a></span>
													</div>	
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>


  
	    



	

			





