<!--patentDetailctrl-->
<uib-tabset type="pills">
	<uib-tab heading="Patent Information">
    	<div class="row">
		    <div class="col-md-3">
				<h3>Application Number: {{$ctrl.patent.patentApplicationNumber}}</h3>
				<h3>Status: {{$ctrl.patent.renewalStatus}}</h3>				
		    </div>
		    <div class="col-md-6">
				<uib-progress><uib-bar value="$ctrl.progressBar">{{$ctrl.progressBar}}%</uib-bar></uib-progress>
		    </div>
		    <div class="col-md-3">
		    	<p>Next stage: {{$ctrl.nextStage()}}</p>
		    	<p>Occurs: {{$ctrl.patent.costBandEndDateUI}}</p>
		    </div>		    		    
	    </div>

	    <div class="row">
	    	<div class="col-md-8">
	    		<form class="form" ng-submit="$ctrl.updatePatent($ctrl.patent)">
	    			<div class="row">
		    			<div class="col-md-6">
							<table class="table">
						    	<tr>
								    <th class="text-xs-right">Short Name</th>
								    <td>
								        <span ng-hide="$ctrl.editing[1]">{{$ctrl.patent.shortTitle}}</span>
								        <input type="text" data-id="123" ng-show="$ctrl.editing[1]" ng-blur="$ctrl.doneEditing(1)" ng-model="$ctrl.patent.shortTitle" autofocus></input>
								    </td>
								    <td>
								    	<span ng-click="$ctrl.editItem(1)"><i class="fa fa-edit fa-lg"></i></span> 					    	
								    </td>
								</tr>
						    	<tr>
						    		<th class="text-xs-right">Client Reference</th>
								    <td>
								        <span  ng-hide="$ctrl.editing[2]">{{$ctrl.patent.clientRef}}</span>
								        <input type="text" data-id="123" ng-show="$ctrl.editing[2]" ng-blur="$ctrl.doneEditing(2)" ng-model="$ctrl.patent.clientRef" autofocus></input>
						         	</td>
								    <td>
								    	<span ng-click="$ctrl.editItem(2)"><i class="fa fa-edit fa-lg"></i></span> 					    	
								    </td>
						    	</tr>
						    	<tr>
						    		<th class="text-xs-right">Applicant Name</th>
						    		<td>{{$ctrl.patent.primaryApplicantName}}</td>
						    	</tr>
						    	<tr>
						    		<th class="text-xs-right">Publication Number</th>
						    		<td>{{$ctrl.patent.patentPublicationNumber}}</td>
						    	</tr>
						    	<tr>
						    		<th class="text-xs-right">Title</th>
						    		<td>{{$ctrl.patent.title}}</td>
						    	</tr>
						    	<tr>
						    		<th class="text-xs-right">Filing date</th>
						    		<td>{{$ctrl.patent.filingDateUI}}</td>
						    	</tr>
						    </table>
			    		</div>
			    		<div class="col-md-6">
							<h4>Patent Notifications</h4>
							<uib-tabset active="activePill" vertical="true" type="pills">
								<uib-tab index="0" heading="Green" ng-attr-id="$ctrl.patentNotifications.green" ng-init="$ctrl.displayNotifications($ctrl.patentNotifications.green)" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.green)">
									<h3>{{$ctrl.colourPhase}} Stage</h3>
									<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
										<div class="col-md-4" ng-repeat="item in checkbox">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" ng-model="item.isOn">{{item.title}}
											</label>
										</div>
									</div>	
							    </uib-tab>
							    <uib-tab index="1" heading="Yellow" ng-attr-id="$ctrl.patentNotifications.amber" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.amber)">
									<h3>{{$ctrl.colourPhase}} Stage</h3>
									<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
										<div class="col-md-4" ng-repeat="item in checkbox">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" ng-model="item.isOn">{{item.title}}
											</label>
										</div>
									</div>								    
								</uib-tab>
							    <uib-tab index="2" heading="Red" ng-attr-id="$ctrl.patentNotifications.red" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.red)">
									<h3>{{$ctrl.colourPhase}} Stage</h3>
									<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
										<div class="col-md-4" ng-repeat="item in checkbox">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" ng-model="item.isOn">{{item.title}}
											</label>
										</div>
									</div>								    
								</uib-tab>
							    <uib-tab index="3" heading="Blue" ng-attr-id="$ctrl.patentNotifications.blue" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.blue)">
									<h3>{{$ctrl.colourPhase}} Stage</h3>
									<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
										<div class="col-md-4" ng-repeat="item in checkbox">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" ng-model="item.isOn">{{item.title}}
											</label>
										</div>
									</div>								    
								</uib-tab>
							    <uib-tab index="4" heading="Black" ng-attr-id="$ctrl.patentNotifications.black" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.black)">
									<h3>{{$ctrl.colourPhase}} Stage</h3>
									<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
										<div class="col-md-4" ng-repeat="item in checkbox">
											<label class="form-check-label">
												<input class="form-check-input" type="checkbox" ng-model="item.isOn">{{item.title}}
											</label>
										</div>
									</div>								    
								</uib-tab>
							</uib-tabset>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 offset-md-8">
							<div class="row">
								<div class="col-md-6">
									<input type="submit" id="submit" class="btn btn-block btn-lg btn-success" value="Update">
								</div>	
								<div class="col-md-6">
									<input type="button" id="delete" class="btn btn-block btn-lg btn-danger" value="Delete" ng-click="$ctrl.deletePatent($ctrl.patent.id)">
								</div>	
							</div>
						</div>		
					</div>
				</form>
			</div>
			<div class="col-md-4">
				<div class="row">
					<h4>Renewal cost</h4>
				</div>
				<div class="row">
					<div class="col-md-4">
						<span>USD</span>
						<p>$ {{$ctrl.patent.feeUI.subTotalUSD}}</p>
					</div>
					<div class="col-md-4">
						<i class="fa fa-long-arrow-right fa-2x"></i>
					</div>
					<div class="col-md-4">
						<span>EUR</span>
						<p>€ {{$ctrl.patent.feeUI.subTotalEUR}}</p>
					</div>
				</div>
				<div class="row">
					<p>Yesterday's price: $ {{$ctrl.yesterdaysPrice}}</p>
				</div>
				<div class="row">
					<p>Price last week: $ {{$ctrl.lastWeeksPrice}}</p>
				</div>
				<div class="row">
					<p>Price last month: $ {{$ctrl.lastMonthsPrice}}</p>
				</div>
				<div class="row">
					<p>Four week variation: $ {{$ctrl.lastMonthsPrice - $ctrl.yesterdaysPrice}}</p>
				</div>							
			</div>	
	    </div>
    </uib-tab>
    <uib-tab heading="Cost Analysis">
		<div class="col-md-12 text-xs-left">
			<div class="row">
				<div class="col-md-8">
				  	<uib-tabset type="pills">
				    	<uib-tab heading="Stage Cost Chart" classes="btn btn-primary">
					    	<canvas id="patentBarChart" class="chart chart-horizontal-bar" chart-data="$ctrl.barData" chart-labels="$ctrl.barLabels" chart-series="$ctrl.barSeries" chart-options="$ctrl.barOptions" chart-dataset-override="$ctrl.barDatasetOverride" height="100px"></canvas>
					    </uib-tab>
					    <uib-tab heading="FX Chart" classes="btn btn-primary">
			 				<canvas id="patentLineChart" class="chart chart-line" chart-data="$ctrl.lineData" chart-labels="$ctrl.lineLabels" chart-series="$ctrl.lineSeries" chart-options="$ctrl.lineOptions" chart-dataset-override="$ctrl.lineDatasetOverride" height="100px"></canvas>
			    		</uib-tab>
		    		</uib-tabset>
    			</div>

				<div class="col-md-4">
					<div class="row">
						<div class="col-md-6">
							<h4>Cost breakdown</h4>
						</div>
						<div class="col-md-6">
							<p>1 USD = {{$ctrl.usd2eur}} EUR</p>
						</div>	
					</div>

					<table class="table table-bordered">
						<thead>
							<tr>
								<td></td>
								<td class="font-weight-bold">EUR</td>
								<td class="font-weight-bold">USD</td>
							</tr>
						</thead>
						<div class="table-responsive">
							<tbody>
								<tr>
									<td class="font-weight-bold">Official fee</td>
									<td>{{$ctrl.feeBreakDown.renewalFeeEUR}}</td>
									<td>{{$ctrl.feeBreakDown.renewalFeeUSD}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Processing fee</td>
									<td>{{$ctrl.feeBreakDown.processingFeeEUR}}</td>
									<td>{{$ctrl.feeBreakDown.processingFeeUSD}}</td>
								</tr>
								<tr>
									<td class="font-weight-bold">Extension Fee</td>
									<td>{{$ctrl.feeBreakDown.extensionFeeEur}}</td>
									<td>{{$ctrl.feeBreakDown.extensionFeeUSD}}</td>
								</tr>								
								<tr>
									<td class="font-weight-bold">Total</td>
									<td>{{$ctrl.feeBreakDown.subTotalEUR}}</td>
									<td>{{$ctrl.feeBreakDown.subTotalUSD}}</td>
								</tr>
							</tbody>
						</div>
					</table>
					<div class="row">
						<div class="col-md-8">
							<h5>Save:</h5>
							<p>$ {{$ctrl.feeBreakDown.bandSaving().savings}}</p>
							<p>Renew before: {{$ctrl.feeBreakDown.bandSaving().renewBefore | date: dd-mm-yy}}</p>							
						</div>
						<div class="col-md-4">
						 	<ngcart-addtocart id="{{$ctrl.patent.id}}" class="cartbtn" name="patent_{{$ctrl.patent.id}}" price="{{$ctrl.patent.currentRenewalCost}}" quantity="1" quantity-max="10" data="$ctrl.patent">
						 	</ngcart-addtocart>									
						</div>						
					</div>
				</div>
			</div>
		</div>
	</uib-tab>
    <uib-tab heading="Renewal History">
		<div class="row">
			<div class="col-md-2">
				<h4>App No.</h4>
				<p>{{$ctrl.patent.patentApplicationNumber}}</p>
			</div>
			<div class="col-md-2">
				<h4>Client Ref</h4>
				<p>{{$ctrl.patent.clientRef}}</p>				
			</div>
			<div class="col-md-8">
				<h4>Description</h4>
				<p>{{$ctrl.patent.title}}</p>				
			</div>
		</div>
		<div class="row" >
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<td width="20%" ng-click="$ctrl.sortType = 'renewalYear'; $ctrl.sortReverse = !$ctrl.sortReverse">Renewal Year
								<span ng-show="$ctrl.sortType == 'renewalYear' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
								<span ng-show="$ctrl.sortType == 'renewalYear' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
							</td>
							<td width="20%" ng-click="$ctrl.sortType = 'dateRenewed'; $ctrl.sortReverse = !$ctrl.sortReverse">Date Renewed
								<span ng-show="$ctrl.sortType == 'dateRenewed' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
								<span ng-show="$ctrl.sortType == 'dateRenewed' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
							</td>
							<td width="30%" ng-click="$ctrl.sortType = 'costBreakdown'; $ctrl.sortReverse = !$ctrl.sortReverse" colspan="2">Cost Breakdown
								<span ng-show="$ctrl.sortType == 'costBreakdown' && !$ctrl.sortReverse" class="fa fa-caret-up"></span>
								<span ng-show="$ctrl.sortType == 'costBreakdown' && $ctrl.sortReverse" class="fa fa-caret-down"></span>
							</td>
							<td width="30%">Downloads</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="renewal in $ctrl.renewal | orderBy:$ctrl.sortType:$ctrl.sortReverse">
							<td width="20%">Year <span ng-bind="renewal.renewalYear"></span></td>
							<td width="20%">{{renewal.renewalDueDateUI}}</td>
							<td width="10%">
								<p>Official Fee:</p>
								<p>Processing Fee:</p>
								<p>Total: </p>
							</td>
							<td width="20%">
								<p>$ {{$ctrl.feeBreakDown.renewalFeeUSD}}</p>
								<p>$ {{$ctrl.feeBreakDown.processingFeeEUR}}</p>
								<p>$ {{$ctrl.feeBreakDown.subTotalUSD}}</p>
							</td>
							<td width="30%">
								<div class="row">
									<div class="col-md-5">
										<span><a href="#" class="btn btn-block btn-success" download>Certificate <i class="fa fa-file-pdf-o fa-2x"></i></a></span>
									</div>
									<div class="col-md-5">
										<span><a href="#" class="btn btn-block btn-success" download>Invoice <i class="fa fa-file-pdf-o fa-2x"></i></a></span>
									</div>	
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</uib-tab>
   	
</uib-tabset>


  
	    



	

			





