<patentnav></patentnav>
<div class="content-panel bg-white">
	<div class="row">
		<div class="col-md-6">
			<div class="content-panel__head">

				<form class="form" ng-submit="$ctrl.findPatent(searchPatent);"  name="searchPatentForm">
					<div class="form-group row d-flex align-items-center m-none">
						<label class="font-body font-weight-bold col-md-2" for="searchPatent">EP No.</label>
						<div class="col-md-10">
							<div class="row">
								<div class="col-md-10">
									<input type="text" name="searchPatent" ng-model="searchPatent" class="form-control pill-radius input-h100 font-body" placeholder="Search" required>
								</div>
								<div class="col-md-2">
									<button type="submit" class="btn btn-success btn-block btn-lg circle-radius-sm d-flex justify-content-center"><i class="fa fa-search fa-1x"></i></button>
								</div>
							</div>
						</div>
					</div>
				</form>	
		
				<div class="row m-t-md" ng-if="!$ctrl.queriedPatent && searchPatentForm.$submitted ">
					<div class="col-md-12">
						<p class="font-body font-weight-medium">No results were found with this Patent Application number</p>
					</div>
				</div>
			</div>
		</div>		
	</div>

	<div class="row" ng-if="$ctrl.queriedPatent && searchPatentForm.$submitted">
	    <div class="col-md-12">
	    	<div class="content-panel__body">
				<form ng-submit="$ctrl.submit($ctrl.queriedPatent)">
					<div class="row">
						<div class="col-md-7">	
							<table class="table table-bordered">
								<tbody>
									<tr>
										<td class="col-form-label font-body font-weight-bold">
											Description:
										</td>
										<td>
							        		<input type="text" name="patentPublicationNumber" class="form-control font-body" ng-model="$ctrl.queriedPatent.shortTitle">
										</td>
									</tr>
									<tr>
										<td class="col-form-label font-body font-weight-bold">
											Client Ref:
										</td>
										<td>
							        		<input type="text" name="patentPublicationNumber" class="form-control font-body" ng-model="$ctrl.queriedPatent.clientRef">
										</td>	
									</tr>
								 	<tr>
									    <td>
									        <label class="col-form-label font-body font-weight-bold">Primary Applicant Name:</label>
								        </td>
								        <td>
								        	<input type="text" name="primaryApplicantName" class="form-control border-none font-body" ng-model="$ctrl.queriedPatent.primaryApplicantName" required readonly>
								        </td>
									</tr>
									<tr>
									    <td>
								    		<label class="col-form-label font-body font-weight-bold">Application No:</label>
							    		</td>
							    		<td>
							    			<input type="text" name="filingDateUI" class="form-control border-none font-body" ng-model="$ctrl.queriedPatent.patentApplicationNumber" required readonly>
							    		</td>
							    	</tr>
							    	<tr>
									    <td>
								    		<label class="col-form-label font-body font-weight-bold">Publication No:</label>
							    		</td>
							    		<td>
							    			<input type="text" name="title" class="form-control border-none font-body" ng-model="$ctrl.queriedPatent.patentPublicationNumber" required readonly>
							    		</td>
							    	</tr>
							    	<tr>
									    <td>
								    		<label class="col-form-label font-body font-weight-bold">Title:</label>
							    		</td>
							    		<td>
							    			<input type="text" name="title" class="form-control border-none font-body" ng-model="$ctrl.queriedPatent.title" required readonly>
							    		</td>
							    	</tr>
							    	<tr>
									    <td>
								    		<label class="col-form-label font-body font-weight-bold">Filing Date:</label>
							    		</td>
							    		<td>
							    			<input type="text" name="title" class="form-control border-none font-body" ng-model="$ctrl.queriedPatent.filingDateUI" required readonly>
							    		</td>
							    	</tr>					    					    	
								</tbody>
							</table>
						</div>
						<div class="col-md-5">
			    			<div class="m-b-md">
			    				<div class="m-b-md">
									<h4 class="font-weight-medium m-b-xs font-h4">Notifications</h4>
								</div>
								<p class="font-body">Select the collur and time frame to recieve email notifications for this patent prior to each stage.</p>
			    			</div>
							<div class="phase-pills m-b-xs">
								<div class="row m-b-sm">
									<div class="col-md-12 d-flex justify-content-between align-items-center">
										<p class="font-h4 font-weight-medium">Selected</p>
										<div class="pill-radius btn--lg font-body--component" ng-style="{ 'background': $ctrl.colourPhaseTitle.color}">
											<span class="font-body font-weight-medium font-body--component txt-white">{{$ctrl.colourPhaseTitle.title}} Stage</span>
										</div>												
									</div>
								</div>
							</div>					
							<div class="row">
								<div class="col-md-12">
									<div class="notification-tabs">
										<ul class="nav nav d-flex justify-content-between">
											<li class="green-notification nav-item nav-view-list-item pill-radius pill-tabs font-body bg-white border-grey-xs active d-flex justify-content-center align-items-center m-b-xs" ng-init="$ctrl.colourKey(0); activeNotificationTab = 0;"  ng-click="activeNotificationTab = 0; $ctrl.displayNotifications($ctrl.patentNotifications.green); $ctrl.colourKey(0);" ng-class="{'txt-white bg-phase-green': activeNotificationTab == 0, 'bg-white txt-phase-green': activeNotificationTab !== 0}">Green</li>

											<li class="amber-notification nav-item nav-view-list-item pill-radius pill-tabs font-body bg-white border-grey-xs d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 1; $ctrl.displayNotifications($ctrl.patentNotifications.amber); $ctrl.colourKey(1);" ng-class="{'txt-white bg-phase-amber': activeNotificationTab == 1, 'bg-white txt-phase-amber': activeNotificationTab !== 1}">Amber</li>

											<li class="red-notification nav-item nav-view-list-item pill-radius pill-tabs font-body bg-white border-grey-xs d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 2; $ctrl.displayNotifications($ctrl.patentNotifications.red); $ctrl.colourKey(2);" ng-class="{'txt-white bg-phase-red': activeNotificationTab == 2, 'bg-white txt-phase-red': activeNotificationTab !== 2}">Red</li>
											<li class="blue-notification nav-item nav-view-list-item pill-radius pill-tabs font-body bg-white border-grey-xs active d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 3; $ctrl.displayNotifications($ctrl.patentNotifications.blue); $ctrl.colourKey(3);" ng-class="{'txt-white bg-phase-blue': activeNotificationTab == 3, 'bg-white txt-phase-blue': activeNotificationTab !== 3}">Blue</li>
											<li class="black-notification nav-item nav-view-list-item pill-radius pill-tabs font-body bg-white border-grey-xs active d-flex justify-content-center align-items-center m-b-xs" ng-click="activeNotificationTab = 4; $ctrl.displayNotifications($ctrl.patentNotifications.black); $ctrl.colourKey(4);" ng-class="{'txt-white bg-phase-black': activeNotificationTab == 4, 'bg-white txt-phase-black': activeNotificationTab !== 4}">Black</li>													
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<uib-tabset active="activeNotificationTab" vertical="true" type="pills">
										<uib-tab index="0" heading="Green" ng-attr-id="$ctrl.patentNotifications.green" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.green)" ng-hide="true">
											<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
												<div class="col-md-3 font-body text-center" ng-repeat="item in checkbox">
													<span ng-bind="item.title"></span>
													<div class="onoffswitch">
														<label class="switch font-body">
														  <input type="checkbox" ng-model="item.isOn">
														  <span class="slider round bg-phase-green"></span>
														</label>
													</div>
												</div>
											</div>	
									    </uib-tab>
									    <uib-tab index="1" heading="Amber" ng-attr-id="$ctrl.patentNotifications.amber" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.amber)" ng-hide="true">
											<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
												<div class="col-md-3 font-body text-center" ng-repeat="item in checkbox">
													<span ng-bind="item.title"></span>
													<div class="onoffswitch">
														<label class="switch font-body">
														  <input type="checkbox" ng-model="item.isOn">
														  <span class="slider round bg-phase-amber"></span>
														</label>
													</div>
												</div>
											</div>								    
										</uib-tab>
									    <uib-tab index="2" heading="Red" ng-attr-id="$ctrl.patentNotifications.red" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.red)" ng-hide="true">
											<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
												<div class="col-md-3 font-body text-center" ng-repeat="item in checkbox">
													<span ng-bind="item.title"></span>
													<div class="onoffswitch">
														<label class="switch font-body">
														  <input type="checkbox" ng-model="item.isOn">
														  <span class="slider round bg-phase-red"></span>
														</label>
													</div>
												</div>
											</div>	
										</uib-tab>
									    <uib-tab index="3" heading="Blue" ng-attr-id="$ctrl.patentNotifications.blue" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.blue)" ng-hide="true">
											<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
												<div class="col-md-3 font-body text-center" ng-repeat="item in checkbox">
													<span ng-bind="item.title"></span>
													<div class="onoffswitch">
														<label class="switch font-body">
														  <input type="checkbox" ng-model="item.isOn">
														  <span class="slider round bg-phase-blue"></span>
														</label>
													</div>
												</div>
											</div>					    
										</uib-tab>
									    <uib-tab index="4" heading="Black" ng-attr-id="$ctrl.patentNotifications.brown" ng-click="$ctrl.displayNotifications($ctrl.patentNotifications.black)" ng-hide="true">
											<div class="row" ng-repeat="checkbox in $ctrl.chunkedData">
												<div class="col-md-3 font-body text-center" ng-repeat="item in checkbox">
													<span ng-bind="item.title"></span>
													<div class="onoffswitch">
														<label class="switch font-body">
														  <input type="checkbox" ng-model="item.isOn">
														  <span class="slider round bg-phase-black"></span>
														</label>
													</div>
												</div>
											</div>								    
										</uib-tab>
									</uib-tabset>
								</div> <!-- col end-->
							</div>	 <!-- row end-->	
						</div> <!--col end-->
					</div> 	<!-- row end-->	

					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-6">
									<button class="btn btn-success btn-block pill-radius font-body" type="submit">Submit</button>
								</div>
								<div class="col-md-6">
									<button class="btn btn-danger btn-block pill-radius font-body" type="button" ng-click="$ctrl.cancelSearch()">Cancel</button>
								</div>
							</div>			
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


      