<nav class="row m-b-sm">
    <div class="col-xl-12">
        <div class="primary-view-nav">
            <ul class="nav primary-view-nav__list">
                <li class="pill-radius primary-view-nav__list-item" data-ui-sref-active="active">
                    <a class="primary-view-nav__list-item-a primary-view-nav__list-item--green pill-radius" data-ui-sref="portfolio">List Patents</a>
                </li>
                <li class="pill-radius primary-view-nav__list-item" data-ui-sref-active="active">
                    <a class="primary-view-nav__list-item-a primary-view-nav__list-item--green pill-radius" data-ui-sref="search-patent">Add Patent</a>
                </li>
	       </ul>
       </div>
   </div>
</nav> 