<uib-tabset type="pills" active="activeSelectedTab">
	<uib-tab heading="Transaction Details" index="0" data-ng-hide="true">
		<div data-ng-repeat="transaction in $ctrl.transactionItem.serviceUIs | filter: transactionsFilter">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xl-12 md-m-b-md">
					<p class="font-body font-weight-medium m-b-sm">Transaction item {{$index + 1}} of {{$ctrl.transactionItem.serviceUIs.length}}</p>
					<p class="font-body text-uppercase font-weight-bold m-b-xs">Details</p>
					<p class="font-weight-bold font-body m-b-xs lh-default">Client Ref: 
						<span class="font-weight-normal lh-default" data-ng-bind="transaction.clientRef"></span>
					</p>
					<p class="font-weight-bold font-body m-b-xs lh-default">European Action: <span class="font-weight-normal lh-default text-capitalize" data-ng-bind="transaction.serviceType"></span></p>
					<p class="font-weight-bold font-body m-b-xs lh-default">App No: <span class="font-weight-normal lh-default" data-ng-bind="transaction.patentApplicationNumber || transaction.patentApplicationNumber"></span></p>
					<p class="font-weight-bold font-body lh-default m-r-md">Transaction item status:
						<span class="font-weight-normal font-body lh-default" data-ng-bind="transaction.transItemStatus"></span>
						<button class="btn btn-no-bg">						
							<i class="fas fa-question-circle txt-phase-green cursor-pointer fa-lg" data-ng-if="$ctrl.transactionItem.hasFailed"></i>
				            <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="bottom" md-z-index="99999">
								Unfortunately this transaction item has failed due to the reason of <span class="font-weight-medium">'{{$ctrl.transactionItem.failureReason}}'</span>. If you require further information or assitance, please email us at: support@ip.place. 			              	
				            </md-tooltip>							
						</button>
						<button class="btn btn-no-bg">
			            	<i class="fas fa-question-circle txt-phase-green cursor-pointer fa-lg" data-ng-if="!$ctrl.transactionItem.hasFailed">
			            	</i>
				            <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="bottom" md-z-index="99999" data-ng-if="transaction.transItemStatus == 'Payment in progress'">
								This is the process between asking us to complete a transaction and us sending the money to the patent office. We send an instruction to our payment partner who book the currency exchange transaction. Once we receive the money it's exchanged and sent on to the patent office.	              			              	
				            </md-tooltip>
				            <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="right" md-z-index="99999" data-ng-if="transaction.transItemStatus == 'EPO Instructed'">
				              	This means that we've asked the EPO to complete the transaction. We're now just waiting for them to action this.          			              	
				            </md-tooltip>
				            <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="right" md-z-index="99999" data-ng-if="transaction.transItemStatus == 'Processing'">
				              	The European patent validation work is now in progress. When the work is completed, you will be emailed a notification and the status of the transaciton will be updated to 'Completed'.              	
				            </md-tooltip>
				            <md-tooltip md-delay="200" class="mdtooltip-md" md-direction="right" md-z-index="99999" data-ng-if="transaction.transItemStatus == 'Completed'">
				              	We've had confirmation that the instruction has gone through. You can download a copy of the invoice or any relevant certificates.       			              	
				            </md-tooltip>
						</button>

		            </p>
					 
				</div>
			</div>
			<div class="m-b-md m-t-md"></div>
			<div class="row" data-ng-if="transaction.epoReceiptUrl || transaction.certificateUrl">
				<div class="col-md-12">
					<p class="font-body text-uppercase font-weight-bold m-b-xs">Documents</p>

					<a class="btn-underlined pill-radius font-body txt-phase-green font-weight-normal text-capitalize" target="_blank" data-ng-href="{{transaction.epoReceiptUrl}}" data-ng-if="transaction.epoReceiptUrl">{{transaction.serviceType}} receipt</a><br data-ng-if="transaction.epoReceiptUrl">
					<a data-ng-href="{{transaction.certificateUrl}}" class="btn-underlined pill-radius font-body txt-phase-green font-weight-normal" target="_blank" data-ng-if="transaction.certificateUrl">Certificate</a>
				</div>
			</div>
			<div class="m-b-md m-t-md"></div> 
	    	<div class="row m-b-sm">
		    	<div class="col-xl-12">
		    		<p class="font-body text-uppercase font-weight-bold m-b-xs">Fees</p>
		    	</div>
		        <div class="col-md-5 col-xl-5">
		            <p class="font-weight-bold font-body">Official Fees:
		            	<button class="btn btn-no-bg accordion-caret" data-ng-click="panelActive = !panelActive" data-ng-class="{'active': !panelActive}">
		            		<i class="fas fa-lg fa-caret-right"></i>
		            	</button>
		                
		            </p>
		        </div>								
		        <div class="col-md-4 col-xl-4">
		            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
		        </div>
		        <div class="col-md-12 col-xl-12">								
					<div class="expandcollapse-item">
						<div class="slideDown m-t-sm" data-ng-init="panelActive = true" data-ng-hide="panelActive">
							<div data-ng-if="transaction.serviceType == 'Euro-PCT'">
			                
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Designation fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.designationFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                     
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Examination fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.examinationFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                      
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Excess Page fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.excessPageFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                       
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Filing fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.filingFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                    
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Supplmentary Search fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.supplementarySearchFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                       
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Validation State fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.validationFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                    
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Extension State fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                      
			                    </div>                                        
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Claims fee 1:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.claimsFee1USD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                      
			                    </div>   
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Claims fee 2:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.claimsFee2USD | number: 2) || '0.00'}}</p>
			                        </div>                                                                                    
			                    </div>
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Additional Documents:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.additionalCopiesFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                    
	                            </div>
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Renewal Fee:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.renewalFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>
	                            </div>
			                    <div class="border-grey-xs--btm"></div> 
			                </div>
				            <div data-ng-if="transaction.serviceType == 'renewal'">
		                        <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Renewal Fee:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.renewalFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                
	                            </div>
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Extension Fee:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                       
	                            </div>   
				            </div>
				            <div data-ng-if="transaction.serviceType == 'grant'">
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Grant Fee:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.grantFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                       
	                            </div>                             
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Claims for the 16th and each subsequent claim to the limit of 50:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.claimsFee1USD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                     
	                            </div>
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Claims for the 51st and each subsequent claim:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.claimsFee2USD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                     
	                            </div>      
	                            <div class="row m-b-sm">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">Excess pages:</p>
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(transaction.serviceFeeUI.excessPageFeeUSD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                  
	                            </div>
				            </div>
				            <div data-ng-if="transaction.serviceType == 'validation'">
	                            <div class="row m-b-sm" data-ng-repeat="state in transaction.allStates">
	                                <div class="col-md-5 col-xl-5">
	                                    <p class="font-weight-medium m-l-sm">{{state.stateCode}}:
								            <md-tooltip md-delay="200" md-direction="right" md-z-index="99999">
								              	{{states.stateName}}
								            </md-tooltip>
							            </p>	  			                                    
	                                </div>
	                                <div class="col-md-4 col-xl-4">
	                                    <p class="text-left font-body">$ {{(state.validationCost_USD | number: 2) || '0.00'}}</p>
	                                </div>                                                                                     
	                            </div>
				            </div>				            						            
				        </div>
					</div>
		        </div>
		    </div><!--row end-->
		    <div class="row m-b-sm">
		        <div class="col-md-5 col-xl-5">
		            <p class="font-weight-bold font-body">Patent Place Fees:
		            	<button class="btn btn-no-bg accordion-caret" data-ng-click="ppPanelActive = !ppPanelActive" data-ng-class="{'active': !ppPanelActive}" >
		                	<i class="fas fa-lg fa-caret-right "></i>
		                </button>
		            </p>
		        </div>
		        <div class="col-md-4 col-xl-4">
		            <p class="text-left font-body">$ {{(transaction.serviceFeeUI.subTotalUSD - transaction.serviceFeeUI.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
		        </div> 
		        <div class="col-xl-12">
		        	<div class="slideDown m-t-sm" data-ng-init="ppPanelActive = true" data-ng-hide="ppPanelActive">
		            	<div class="expandcollapse-item">
	                         <div class="row m-b-sm">
	                            <div class="col-md-5 col-xl-5">
	                                <p class="font-weight-medium m-l-sm">Processing fee:</p>
	                            </div>
		                            <div class="col-md-4 col-xl-4">
		                                <p class="text-left font-body">$ {{(transaction.serviceFeeUI.processingFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Express fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left">$ {{(transaction.serviceFeeUI.expressFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>
			                    </div>
			                    <div class="row m-b-sm">
			                        <div class="col-md-5 col-xl-5">
			                            <p class="font-weight-medium m-l-sm">Urgent fee:</p>
			                        </div>
			                        <div class="col-md-4 col-xl-4">
			                            <p class="text-left">$ {{(transaction.serviceFeeUI.urgentFeeUSD | number: 2) || '0.00'}}</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
		        </div>
		    </div> <!--row end-->
			<div class="row">
				<div class="col-md-5 col-xl-5">
					<p class="font-weight-bold font-body">Total: </p>
				</div>
				<div class="col-md-4 col-xl-4">
					<p class="font-body">$ {{(transaction.serviceFeeUI.subTotalUSD || '0.00') | number: 2}}</p>
				</div>	
			</div>
			<div class="border-grey-xs--btm m-t-lg m-b-lg"></div> 
		</div><!-- end of repeat-->
		<div class="row">
			<div class="col-md-12 text-right">
				<p class="font-h4 font-weight-weight">Invoice : <a data-ng-href="{{$ctrl.transactionItem.invoiceUrl}}" class="btn-underlined pill-radius font-h4 txt-phase-green font-weight-normal" download>Download</a></p>
			</div>
		</div>
	</uib-tab>
</uib-tabset>