<form  ng-controller="userProfileListCtrl">
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped text-md-center">
				<thead class="thead-inverse">
					<tr>
						<td class="align-middle">First Name</td>
						<td class="align-middle">Last Name</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in users">
						<td ng-bind="x.firstName"></td>
						<td ng-bind="x.lastName"></td>
					</tr>
				</tbody>
			</table>
			<div ui-view></div>		
		</div>
	</div>
</form>         
            