<div class="modal-header d-flex flex-column align-items-center justify-content-center">
    <span class="modal-cross cursor-pointer" data-ng-click="$ctrl.dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="m-b-sm">
		<img src="../../../../../assets/imgs/logos/pp_icon.png" alt="patent place icon">	
	</div>
    <h2 class="font-h2 font-weight-medium">Welcome to the Patent Place</h2>
	<p class="font-body w-100  m-b-sm m-t-sm">You don't have any patents entered on to the system yet. You can start by adding patents through the add patent function on the left. You only need to add the application number, and we'll retrieve the rest of the information from the EPO register for you.</p>
	<p class="font-body w-100 m-b-sm ">If you need any more information then please access our <a href="http://thepatent.place/faqs" target="__blank" class="inline-link font-weight-bold">FAQ section</a>.</p>
    <button class="btn btn--lg btn--green pill-radius" data-ng-click="$ctrl.dismissModal()">Dismiss</button>
</div>
