	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-striped text-md-center">
				<thead class="thead-inverse">
					<tr>
						<td ng-click="patentAppOrder()" class="align-middle">Application No. </td>
						<td class="align-middle">Client Ref</td>
						<td class="align-middle">Cost now</td>
						<td class="align-middle">Cost band end</td>
						<td class="align-middle">Cost next</td>
						<td class="align-middle">Renewal Date</td>
						<td class="align-middle">Remove</td>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in patents">
						<td ng-click="select(x)"><a ui-sref="patents.list.item({id: x.id, patentApplicationNumber: x.patentApplicationNumber, clientRef: x.clientRef, renewalStatus: x.renewalStatus, currentRenewalCost: x.currentRenewalCost, costBandEndDate: x.costBandEndDate, renewalCostNextStage: x.renewalCostNextStage, renewalDueDate: x.renewalDueDate, shortTitle: x.shortTitle, primaryApplicantName: x.primaryApplicantName, patentPublicationNumber: x.patentPublicationNumber,  title: x.title, filingDate: x.filingDate, epoPatentStatus: x.epoPatentStatus})">{{x.patentApplicationNumber}}</a></td>
						<td ng-bind="x.clientRef"></td>
						<td ng-bind="x.currentRenewalCost">$</td>
						<td ng-bind="x.costBandEndDateUI"></td>
						<td ng-bind="x.renewalCostNextStage"></td>
						<td ng-bind="x.renewalDueDateUI"></td>
						<td><button type="button" class="btn btn-danger" ng-click="remove(x.id)">Remove</button></td>
					</tr>
				</tbody>
			</table>
			<div ui-view></div>		
		</div>
	</div>

           
            