<div class="modal-header d-flex flex-column align-items-center justify-content-center">
	<span class="modal-cross cursor-pointer" ng-click="dismissUpdateModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="m-b-sm">
		<img src="p3sweb/assets/imgs/icons/complete_icon_lg.png" alt="updated icon">	
	</div>
	<p class="font-h3 txt-phase-green font-weight-medium">Adding Patent</p>
</div>
<div class="modal-body d-flex flex-column align-items-center justify-content-center">
	<p class="font-h4">Add Patent Application <span class="font-weight-medium">{{$ctrl.queriedPatent.patentApplicationNumber}}</span>?</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
	<button class="btn btn--lg btn-portal pill-radius bg-phase-red font-body font-body--component font-weight-medium txt-white d-flex align-items-center justify-content-center m-r-md" ng-click="cancelAdd()">No <img src="p3sweb/assets/imgs/icons/cross_white_icon.png" alt="cancel icon" class="m-l-xs"></button>
	<button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body font-body--component font-weight-medium txt-white d-flex align-items-center justify-content-center" ng-click="addPatent()">Yes <img src="p3sweb/assets/imgs/icons/tick_white_icon.png" alt="submit icon" class="m-l-xs"></button>
</div>
