<form name="userProfileForm" ng-submit="$ctrl.updateUser($ctrl.user)">
	<div class="col-md-6">

		<fieldset>
			<legend class="font-weight-bold">User Info</legend>
			<div class="form-group row">
				<label class="col-md-5" for="emailAddress">Email address</label>
				<div class="col-md-7">
					<input type="email" name="emailAddress" ng-model="$ctrl.user.emailAddress" class="form-control" required>
					<p ng-show="userProfileForm.emailAddress.$error.required && userProfileForm.emailAddress.$dirty">Please fill out this field</p>
					<p ng-show="userProfileForm.emailAddress.$error.email && userProfileForm.emailAddress.$dirty">Enter a valid email</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="firstName">First name</label>
				<div class="col-md-7">
					<input type="text" name="firstName" class="form-control" ng-model="$ctrl.user.firstName" id="firstName" ng-bind="firstName" required>
					<p ng-show="userProfileForm.firstName.$error.required && userProfileForm.firstName.$dirty">Please fill out this field</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="lastName">Last name</label>
				<div class="col-md-7">
					<input type="text" class="form-control" name="lastName" ng-model="$ctrl.user.lastName"  id="lastName" required>
					<p ng-show="userProfileForm.lastName.$invalid && !userProfileForm.lastName.$pristine">Please fill out this field</p>

				</div>
			</div>
		</fieldset>
		
		<fieldset>
			<legend class="font-weight-bold">Password</legend>
			<div class="form-group row">
				<label class="col-md-5" for="new_password">New password</label>
				<div class="col-md-7">
					<input type="text" name="new_password" ng-model="$ctrl.user.newPassword" class="form-control" id="new_password" minlength="8">
					<p ng-show="userProfileForm.new_password.$error.required && userProfileForm.new_password.$dirty">Please fill out this field</p>
					<p ng-show="userProfileForm.new_password.$error.minlength">Password needs to be a minimum of 8 characters</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="confirm_password">Confirm password</label>
				<div class="col-md-7">
					<input type="text" name="confirm_password" class="form-control" ng-model="$ctrl.user.confirm_password" id="confirmPassword">
					<p ng-show="userProfileForm.confirm_password.$error.required && userProfileForm.confirm_password.$dirty">Please fill out this field</p>
				</div>
			</div>
		</fieldset>

		<fieldset class="form-group">
			<legend class="font-weight-bold">Email notifications</legend>
			<p>Do you want to receive email notificaitons?</p>
			<div class="col-md-4">

				<!-- <div class="form-check form-check-inline">
				  	<label class="form-check-label">
				    	<input class="form-check-input" ng-model="$ctrl.user.isEmailNotification" type="radio" name="opt_notification" id="opt_notification_y" value="option1" checked>
				    	Yes
				  	</label>
				</div>
				<div class="form-check form-check-inline">
				  	<label class="form-check-label">
				    	<input class="form-check-input" ng-model="$ctrl.user.isEmailNotification" type="radio" name="opt_notification" id="opt_notification_n" value="option2">
				    	No
				  	</label>
				</div> -->
			</div>
		</fieldset>					

	</div>
	<div class="col-md-6">
		<fieldset>
			<legend class="font-weight-bold">Business Info</legend>
			<div class="form-group row">
				<label class="col-md-5" for="businessName">Business name</label>
				<div class="col-md-7">
					<input type="text" name="businessName" class="form-control" ng-model="$ctrl.user.business.businessName" id="businessName" required>
					<p ng-show="userProfileForm.businessName.$error.required && userProfileForm.businessName.$dirty">Please fill out this field</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="phoneNumber">Business phone number</label>
				<div class="col-md-7">
					<input type="text" name="phoneNumber" class="form-control" ng-model="$ctrl.user.business.phoneNumber" id="phoneNumber" required>
					<p ng-show="userProfileForm.phoneNumber.$error.required && userProfileForm.phoneNumber.$dirty">Please fill out this field</p>					
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="street">Street</label>
				<div class="col-md-7">
					<input type="text" name="street" class="form-control" ng-model="$ctrl.user.business.street" id="street" required>
					<p ng-show="userProfileForm.street.$error.required && userProfileForm.street.$dirty">Please fill out this field</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="city">City</label>
				<div class="col-md-7">
					<input type="text" name="city" class="form-control" ng-model="$ctrl.user.business.city" id="city" required>
					<p ng-show="userProfileForm.city.$error.required && userProfileForm.city.$dirty">Please fill out this field</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="USstate">State</label>
				<div class="col-md-7">
					<input type="text" name="USstate" class="form-control" ng-model="$ctrl.user.business.usstate" id="USstate" required>
					<p ng-show="userProfileForm.USstate.$error.required && userProfileForm.USstate.$dirty">Please fill out this field</p>					
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="zip">Zip</label>
				<div class="col-md-7">
					<input type="text" name="zip" class="form-control" ng-model="$ctrl.user.business.zip" id="zip" required>
				</div>
				<p ng-show="userProfileForm.zip.$error.required && userProfileForm.zip.$dirty">Please fill out this field</p>						
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="timezone">Time Zone</label>
				<div class="col-md-4">

					<select name="timezone" class="form-control"
					    ng-init="userTimezone._abbr = $ctrl.user.business.timezone"
					    ng-change="$ctrl.user.business.timezone = userTimezone._abbr"
					    ng-model="userTimezone._abbr" 
					    ng-options="zone.text as zone.abbr for zone in $ctrl.timezones">
					</select>
					<!--removed track by zone.text in ng-options-->
				</div>

			</div>
		</fieldset>
	</div>

	<div class="col-offset-6 col-md-6">
		<fieldset>
			<legend class="font-weight-bold">Billing address</legend>
			<div class="form-group row">
				<label class="col-md-5" for="phone_number">Business phone number</label>
				<div class="col-md-7">
					<input type="text" name="phone_number" class="form-control" ng-model="$ctrl.user.business.businessNumber" id="phone_number" required>
				</div>
				<p ng-show="userProfileForm.phone_number.$error.required && userProfileForm.phone_number.$dirty">Please fill out this field</p>		
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="billing_street">Street</label>
				<div class="col-md-7">
					<input type="text" name="billing_street" class="form-control" ng-model="$ctrl.user.business.billingStreet" id="billing_street" required>
					<p ng-show="userProfileForm.billing_street.$error.required && userProfileForm.billing_street.$dirty">Please fill out this field</p>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="billing_city">City</label>
				<div class="col-md-7">
					<input type="text" name="billing_city" class="form-control" ng-model="$ctrl.user.business.billingCity" id="billing_city" required>
				</div>
				<p ng-show="userProfileForm.billing_city.$error.required && userProfileForm.billing_city.$dirty">Please fill out this field</p>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="billing_state">State</label>
				<div class="col-md-7">
					<input type="text" name="billing_state" class="form-control" ng-model="$ctrl.user.business.billingState" id="billing_state" required>
					<p ng-show="userProfileForm.billing_state.$error.required && userProfileForm.billing_state.$dirty">Please fill out this field</p>					
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="billing_zip">Zip</label>
				<div class="col-md-7">
					<input type="text" name="billing_zip" class="form-control" ng-model="$ctrl.user.business.billingZip" id="billing_zip" required>
					<p ng-show="userProfileForm.billing_zip.$error.required && userProfileForm.billing_zip.$dirty">Please fill out this field</p>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="col-offset-6 col-md-6">
		<fieldset>
			<legend class="font-weight-bold">For adding further Users</legend>
			<div class="form-group row">
				<label class="col-md-5" for="phone_number">Business Number</label>
				<div class="col-md-7">
					<input type="text" name="phone_number" class="form-control" ng-model="$ctrl.user.business.businessNumber" id="phone_number" required>
				</div>
				<p ng-show="userProfileForm.phone_number.$error.required && userProfileForm.phone_number.$dirty">Please fill out this field</p>		
			</div>
			<div class="form-group row">
				<label class="col-md-5" for="billing_street">Business PIN</label>
				<div class="col-md-7">
					<input type="text" name="billing_street" class="form-control" ng-model="$ctrl.user.business.businessPin" id="billing_street" required>
					<p ng-show="userProfileForm.billing_street.$error.required && userProfileForm.billing_street.$dirty">Please fill out this field</p>
				</div>
			</div>
		</fieldset>
	</div>

	<div class="col-offset-6 col-md-6">
		<!--   <button class="btn btn-success" type="submit">Submit</button>  -->
		<input type="submit" id="submit" class="btn btn-success" value="Submit">
	</div>

</form>	