<div class="row m-b-sm">
    <div class="col-xl-12">
        <p>Select an action from the drop-down menu below</p>
    </div>
</div>
<div class="row m-b-sm">
    <div class="col-xl-12">
        <div class="form-inline">
            <div class="form-group">                      
                <label class="font-h4 font-weight-bold text-uppercase m-r-sm">Display fees for: </label>
                <select name="actions" id="actions" class="form-control text-capitalize" data-ng-model="$ctrl.data.selectedAction" data-ng-options="option.action for option in $ctrl.data.availableAction track by option.id" data-ng-change="$ctrl.setFees($ctrl.data.selectedAction.action)">
                </select>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-xl-12 text-right">
            <p class="font-h4">1 USD = {{$ctrl.availableFees.official[0].feeUI.fxRate || $ctrl.availableFees.official.feeUI.fxRate}} EUR</p>
        </div>  
    </div>
    <div class="m-t-md">
        <div class="row">
            <div class="offset-xl-5 col-xl-4">
                <p class="font-h4 font-weight-bold m-b-xs text-left">USD</p>
            </div>
            <div class="col-md-3 col-xl-3">
                <p class="font-h4 font-weight-bold m-b-xs text-left">EUR</p>
            </div>
        </div>
        <div class="m-b-sm border-grey-xs--btm"></div>                  
        <div class="row m-b-sm">
            <div class="col-md-5 col-xl-5">
                <p class="font-weight-medium font-h4">Official Fee:
                    <button class="btn btn-no-bg accordion-caret" data-ng-class="{'active': !panelActive}" data-ng-click="panelActive = !panelActive">
                        <i class="fas fa-lg fa-caret-right"></i>
                    </button>
                </p>
            </div>
            <div class="col-md-4 col-xl-4">
                <p class="text-left font-h4">$ {{($ctrl.availableFees.official[0].feeUI.currentOfficialFeeUSD || $ctrl.availableFees.official.currentOfficialFeeUSD | number: 2) || '0.00'}}</p>
            </div>
            <div class="col-md-3 col-xl-3">
                <p class="text-left font-h4">&euro; {{($ctrl.availableFees.official[0].feeUI.currentOfficialFeeEUR || $ctrl.availableFees.official.currentOfficialFeeEUR | number: 2) || '0.00'}}</p>
            </div>
            <div class="col-md-12 col-xl-12">
                <div class="expandcollapse-item">
                    <div class="slideDown m-t-sm" data-ng-init="panelActive = true" data-ng-hide="panelActive">
                        <div data-ng-if="$ctrl.displayForm1200">
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Designation fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.designationFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.designationFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Examination fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.examinationFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.examinationFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Excess Page fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.excessPageFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.excessPageFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Filing fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.filingFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.filingFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Supplmentary Search fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.supplementarySearchFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.supplementarySearchFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Validation State fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.validationFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.validationFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Extension State fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.extensionFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>                                        
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Claims fee 1:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.claimsFee1USD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.claimsFee1EUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>   
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Claims fee 2:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.claimsFee2USD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.claimsFee2EUR | number: 2) || '0.00'}}</p>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="$ctrl.displayRenewal">
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Renewal Fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.renewalFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.renewalFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Extension Fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.extensionFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.extensionFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>                            
                        </div>
                        <div data-ng-if="$ctrl.displayGrant">
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Grant Fee:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.grantFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.grantFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>                             
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Claims for the 16th and each subsequent claim to the limit of 50:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.claimsFee1USD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.claimsFee1EUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Claims for the 51st and each subsequent claim:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.claimsFee2USD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.claimsFee2EUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>      
                            <div class="row m-b-sm">
                                <div class="col-md-5 col-xl-5">
                                    <p class="font-weight-medium m-l-sm">Excess pages:</p>
                                </div>
                                <div class="col-md-4 col-xl-4">
                                    <p class="text-left font-body">$ {{($ctrl.availableFees.official[0].feeUI.excessPageFeeUSD | number: 2) || '0.00'}}</p>
                                </div>
                                <div class="col-md-3 col-xl-3">
                                    <p class="text-left font-body">&euro; {{($ctrl.availableFees.official[0].feeUI.excessPageFeeEUR | number: 2) || '0.00'}}</p>
                                </div>                                                                                        
                            </div>
                        </div>
                        <div data-ng-if="$ctrl.displayValidation">
                            <div class="row m-b-sm" data-ng-if="$ctrl.availableFees.official.feeUI.designatedStates.length">
                                <div class="col-md-5 col-xl-5 m-b-sm">
                                    <p class="font-weight-medium m-l-sm">Designation State Fees:</p>
                                </div>
                                <div class="col-md-12 col-xl-12" data-ng-repeat="state in $ctrl.availableFees.official.feeUI.designatedStates">     
                                    <div class="row m-b-sm">
                                        <div class="col-md-5 col-xl-5">
                                            <p class="m-l-lg">{{state.stateCode}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4">
                                            <p class="text-left font-body">$ {{(state.validationCost_USD | number: 2) || '0.00'}}</p>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <p class="text-left font-body">&euro; {{(state.validationCost_EUR | number: 2) || '0.00'}}</p>
                                        </div>                                                                                        
                                    </div>
                                </div>
                            </div>                             
                            <div class="row m-b-sm" data-ng-if="$ctrl.availableFees.official.feeUI.extensionStates.length">
                                <div class="col-md-5 col-xl-5 m-b-sm">
                                    <p class="font-weight-medium m-l-sm">Extension State Fees:</p>
                                </div>
                                <div class="col-md-12 col-xl-12" data-ng-repeat="state in $ctrl.availableFees.official.feeUI.extensionStates">
                                    <div class="row m-b-sm">
                                        <div class="col-md-5 col-xl-5">
                                            <p class="m-l-lg">{{state.stateCode}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4">
                                            <p class="text-left font-body">$ {{(state.validationCost_USD | number: 2) || '0.00'}}</p>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <p class="text-left font-body">&euro; {{(state.validationCost_EUR | number: 2) || '0.00'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-sm" data-ng-if="$ctrl.availableFees.official.validationStates.length">
                                <div class="col-md-5 col-xl-5  m-b-sm">
                                    <p class="font-weight-medium m-l-sm">Validation State Fees:</p>
                                </div>
                                <div class="col-md-12 col-xl-12" data-ng-repeat="state in $ctrl.availableFees.official.feeUI.validationStates">
                                    <div class="row m-b-sm">
                                        <div class="col-md-5 col-xl-5">
                                            <p class="m-l-lg">{{state.stateCode}}</p>
                                        </div>
                                        <div class="col-md-4 col-xl-4"> 
                                            <p class="text-left font-body">$ {{(state.validationCost_USD | number: 2) || '0.00'}}</p>
                                        </div>
                                        <div class="col-md-3 col-xl-3">
                                            <p class="text-left font-body">&euro; {{(state.validationCost_EUR | number: 2) || '0.00'}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>      
                        </div>                        
                        <div class="border-grey-xs--btm"></div> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-sm">
            <div class="col-md-5 col-xl-5">
                <p class="font-weight-medium  font-h4">Patent Place Fees:
                    <button class="btn btn-no-bg accordion-caret" data-ng-class="{'active': !ppPanelActive}" data-ng-click="ppPanelActive = !ppPanelActive">
                        <i class="fas fa-lg fa-caret-right"></i>
                    </button>
                </p>
            </div>
            <div class="col-md-4 col-xl-4">
                <p class="text-left font-h4">$ {{($ctrl.availableFees.ppFeesUSD | number: 2) || '0.00'}}</p>
            </div>
            <div class="col-md-3 col-xl-3">
                <p class="text-left font-h4">&euro; {{($ctrl.availableFees.ppFeesEUR | number: 2) || '0.00'}}</p>
            </div>    
            <div class="col-xl-12">
                <div class="expandcollapse-item">
                    <div class="slideDown m-t-sm" data-ng-init="ppPanelActive = true" data-ng-hide="ppPanelActive">
                        <div class="row m-b-sm">
                            <div class="col-xl-5">
                                <p class="font-weight-medium m-l-sm">Processing fee:</p>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <p class="text-left">$ {{($ctrl.availableFees.official[0].feeUI.processingFeeUSD || $ctrl.availableFees.official.feeUI.processingFeeUSD| number: 2) || '0.00'}}</p>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <p class="text-left">&euro; {{($ctrl.availableFees.official[0].feeUI.processingFeeEUR || $ctrl.availableFees.official.feeUI.processingFeeEUR| number: 2) || '0.00'}}</p>
                            </div>
                        </div>
                        <div class="row m-b-sm">
                            <div class="col-xl-5">
                                <p class="font-weight-medium m-l-sm">Express fee:</p>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <p class="text-left">$ {{($ctrl.availableFees.official[0].feeUI.expressFeeUSD | number: 2) || '0.00'}}</p>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <p class="text-left">&euro; {{($ctrl.availableFees.official[0].feeUI.expressFeeEUR | number: 2) || '0.00'}}</p>
                            </div>
                        </div>
                        <div class="row m-b-sm">
                            <div class="col-xl-5">
                                <p class="font-weight-medium m-l-sm">Urgent fee:</p>
                            </div>
                            <div class="col-md-4 col-xl-4">
                                <p class="text-left">$ {{($ctrl.availableFees.official[0].feeUI.urgentFeeUSD | number: 2) || '0.00'}}</p>
                            </div>
                            <div class="col-md-3 col-xl-3">
                                <p class="text-left">&euro; {{($ctrl.availableFees.official[0].feeUI.urgentFeeEUR | number: 2) || '0.00'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-b-md border-grey-xs--btm"></div>
        <div class="row m-b-md">
            <div class="col-md-5 col-xl-5">
                <p class="font-weight-heavy font-h4">Total:</p>
            </div>
            <div class="col-md-4 col-xl-4">
                <p class="text-left font-h4">$ {{($ctrl.availableFees.official[0].feeUI.subTotalUSD || $ctrl.availableFees.official.feeUI.subTotalUSD | number: 2) || '0.00'}}</p>
            </div>
            <div class="col-md-3 col-xl-3">
                <p class="text-left font-h4">&euro; {{($ctrl.availableFees.official[0].feeUI.subTotalEUR || $ctrl.availableFees.official.feeUI.subTotalEUR | number: 2) || '0.00'}}</p>
            </div>
        </div>
    </div>
</div>
<div data-ng-if="$ctrl.availableFees.official[0].isUrgentAttention" class="d-flex justify-content-center align-items-center m-b-xxxl m-t-xxxl">
    <p class="font-h4 font-weight-medium">This European Action requires urgent attention. If you want to process the action before the deadline is reached, call our legal team on: {{phoneNumber}}</p>
</div>
<div class="m-b-md border-grey-xs--btm"></div>
<div class="row">
    <div class="col-md-6 col-lg-12 col-xl-6 d-flex justify-content-start align-items-center">
        <div class="d-flex flex-column align-items-start text-left m-r-xxxl">
            <span class="txt-grey text-uppercase font-body font-weight-heavy m-b-xs" data-ng-if="$ctrl.availableFees.official[0].saleType !== 'In Progress'">Current cost</span>
            <span class="txt-grey text-uppercase font-body font-weight-heavy m-b-xs" data-ng-if="$ctrl.availableFees.official[0].saleType == 'In Progress'">Committed cost</span>
            <p class="font-h3 font-weight-bold nowrap" data-ng-class="$ctrl.availableFees.official[0].cssCurrent || $ctrl.availableFees.official.cssCurrent" data-ng-if="$ctrl.availableFees.official[0].saleType !== 'In Progress'">$ {{$ctrl.availableFees.official[0].feeUI.subTotalUSD || $ctrl.availableFees.official.feeUI.subTotalUSD | number: 2}}</p>
            <p class="font-h3 font-weight-bold nowrap" data-ng-if="$ctrl.availableFees.official[0].saleType == 'In Progress'">$ {{$ctrl.availableFees.official[0].feeUI.subTotalUSD | number: 2}}</p>
        </div>   
        <div class="d-flex flex-column align-items-start text-left" data-ng-if="$ctrl.availableFees.official[0].saleType !== 'In Progress' && $ctrl.availableFees.official.serviceType !== 'validation'">
            <span class="txt-grey text-uppercase font-body font-weight-heavy m-b-xs">Future cost</span>
            <p class="font-h3 font-weight-bold nowrap" data-ng-class="$ctrl.availableFees.official[0].cssNext" data-ng-if="(!$ctrl.availableFees.official[0].isUrgentAttention 
            && $ctrl.availableFees.official[0].currentStageColour !== 'Black' 
            && ($ctrl.availableFees.official[0].saleType === 'Online' || $ctrl.availableFees.official[0].saleType === 'Offline')) 
            || 
            ($ctrl.availableFees.official[0].currentStageColour == 'Red' 
            && $ctrl.availableFees.official[0].serviceType == 'renewal')
            ||
            (!$ctrl.availableFees.official[0].isUrgentAttention 
            && $ctrl.availableFees.official[0].currentStageColour == 'Black' 
            && ($ctrl.availableFees.official[0].saleType === 'Online' || $ctrl.availableFees.official[0].saleType === 'Offline'))">$ {{$ctrl.availableFees.official[0].nextStageCostUSD | number: 2}}</p>
            <p class="font-h3 font-weight-bold" data-ng-if="
            ($ctrl.availableFees.official[0].isUrgentAttention && $ctrl.availableFees.official[0].currentStageColour === 'Red' && $ctrl.availableFees.official[0].serviceType !== 'renewal') 
            || ($ctrl.availableFees.official[0].isUrgentAttention && $ctrl.availableFees.official[0].currentStageColour === 'Black' && $ctrl.availableFees.official[0].serviceType == 'renewal')">LAPSE</p>   
        </div>
    </div>
    <div class="col-md-6 col-lg-12 col-xl-6 lg-m-t-sm d-flex justify-content-center align-items-end flex-column" >
        <p class="font-h3 font-weight-heavy font-h3--content" data-ng-if="
        ((!$ctrl.availableFees.official[0].isUrgentAttention && $ctrl.availableFees.official[0].saleType !== 'In Progress') && $ctrl.availableFees.official.serviceType !== 'validation') 
        || ($ctrl.availableFees.official[0].isUrgentAttention && $ctrl.availableFees.official[0].currentStageColour === 'Red' && $ctrl.availableFees.official[0].serviceType == 'renewal')">Save: <span class="txt-phase-green">$ {{($ctrl.availableFees.savings | number: 2) || '0.00'}}</span></p>
        <p class="font-body" data-ng-if="$ctrl.availableFees.official[0].saleType === 'Online' || $ctrl.availableFees.official[0].saleType === 'Offline'">Instruct before: <span class="font-weight-bold">{{$ctrl.availableFees.official[0].costBandEndDateUI}}</span></p>
    </div>
</div>
