<p/>
The application number you provided yielded the below patent details.
<br/>
<h2>Is this your patent?</h2>
<br/>
<h2>Do you want to add this patent to your list of patents?</h2>
<p/>
If so, click 'Add' below,
<br/>
But first, you may optionally provide:
<br/>
- Your Shortname/Nickname for this patent
<br/>
- Your Reference/Nickname for your client that owns this patent
<br/>
- Which reminder emails you (and your colleagues) would like to receive for this patent
<br/>


<p/>
<h1>BCS Development Note: The 4 fields immediately below will be ReadOnly once we get real EPO data.</h1>
<br/>
However, for <b>BCS testing purposes</b>, and especially whilst we are using dummy data (prior to the EPO link being active), such data CAN temporarily be edited here.
<br/>
<hr/>
<br/>

<form  ng-submit="submit()" ng-controller="addPatentCtrl">
	<div class="col-md-6">

		<fieldset>
			<legend class="font-weight-bold">Patent Data for {{patent.patentApplicationNumber}}</legend>

			<div class="form-group row">
				<label class="col-md-5" for="patentApplicationNumber">appnum</label>
				<div class="col-md-7">
					<input type="text" name="patentApplicationNumber" class="form-control" ng-model="patent.patentApplicationNumber" id="patentApplicationNumber" ng-bind="patentApplicationNumber" required>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-5" for="patentPublicationNumber">PUBnum</label>
				<div class="col-md-7">
					<input type="text" name="patentPublicationNumber" class="form-control" ng-model="patent.patentPublicationNumber" id="patentPublicationNumber" ng-bind="patentPublicationNumber" required>
				</div>
			</div>


			<div class="form-group row">
				<label class="col-md-5" for="primaryApplicantName">Inventor</label>
				<div class="col-md-7">
					<input type="text" name="primaryApplicantName" class="form-control" ng-model="patent.primaryApplicantName" id="primaryApplicantName" ng-bind="primaryApplicantName" required>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-5" for="filingDateUI">Patent Filing Date</label>
				<div class="col-md-7">
					<input type="text" name="filingDateUI" class="form-control" ng-model="patent.filingDateUI" id="filingDateUI" ng-bind="filingDateUI" required readonly>
				</div>
			</div>





&nbsp;<p/>
&nbsp;<p/>

			<legend class="font-weight-bold">Optional Data</legend>

		
			<div class="form-group row">
				<label class="col-md-5" for="clientRef">Your Reference for your Client</label>
				<div class="col-md-7">
					<input type="text" name="clientRef" class="form-control" ng-model="patent.clientRef" id="clientRef" ng-bind="clientRef" >
				</div>
			</div>

			<div class="form-group row">
				<label class="col-md-5" for="shortTitle">Your Nickname for this patent</label>
				<div class="col-md-7">
					<input type="text" name="shortTitle" class="form-control" ng-model="patent.shortTitle" id="shortTitle" ng-bind="shortTitle" >
				</div>
			</div>



	<!--  now attempt that list of notifications -->
	<table class="table table-bordered table-striped text-md-center" border="2" >
		<thead class="thead-inverse">
			<tr>
				<td class="align-middle">Email Reminder</td>
				<td class="align-middle">Send this Email</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="x in patent.notificationUIs">
				<td ng-bind="x.title"></td>
				<td>
					<input
					    type="checkbox"
					    name="notification{{x.id}}"
					    value="{{x.isOn}}"
					    ng-checked="{{x.isOn}}"
					    ng-click="toggleSelection(x.isOn); x.isOn=0"
					  />
					<!--                                   ********            -->  
				</td>
<!-- 
				<td ng-bind="x.isOn"></td>
				<td ng-bind="x.displayOrder"></td>
				<td ng-bind="x.id"></td>
 -->
 			</tr>
		</tbody>
	</table>

<!-- Patrick - sorry about the isOn=0 (meaning changeit) cludge - couldn't get it to work properly. Hopefully you can. Andy -->

			<div class="form-group row">
				<label class="col-md-5" for="filingDate">RAW Filing Date</label>
				<div class="col-md-7">
					<input type="text" name="filingDate" class="form-control" ng-model="patent.filingDate" id="filingDate" ng-bind="filingDate" required>
				</div>
				(To temporarily enable this filing date to be edited) 
			</div>















		</fieldset>



			<div class="form-group">
				<button id="add_review_submit" type="submit">Add</button>
			</div>									


</form>	

<!-- pmdToDo
 Other fields to display [if appropriate] (Readonly)
 - title
 - business (name)



NOT (coz not yet populated
epoPatentStatus
lastRenewedDateExEpo
renewalYear
renewalStatus
 -->

<p/>
Reminder: These Email Notifications can be adjusted Per-Patent. However such emails are sent to ALL registered users of your business (unless they have Opted-Out of all emails)

      
      