<div class="app-guide">
    
    <div class="app-guide__body p-none bg-white">
        <div class="d-flex justify-content-between align-items-center bg-phase-grey br-tx-1 p-t-2 p-l-3 p-r-3 p-b-2">
            <div class="d-flex align-items-center">
                <img src="assets/imgs/logos/pp_icon.png" width="30px" class="m-r-sm" alt="patent place logo">
                <h2 class="font-h2 font-weight-medium txt-white">Patent Place Help</h2>
            </div>
            <span class="cursor-pointer" data-ng-click="$ctrl.dismissWelcomeModal()"><i class="txt-white fa fa-times fa-2x"></i></span>
        </div>
        <div class="d-flex flex-column justify-content-center p-t-none p-l-3 p-r-3 p-b-3">
            <div class="row m-b-md">
                <div class="col-md-12">
                    <div class="app-guide">
                        <div id="carouselIndicate" class="carousel slide d-flex justify-content-between" data-interval="false" data-wrap="false">
                            <a class="prev-caret" href="#carouselIndicate" role="button" data-slide="prev"> <!--side ones we need-->
                                <span class="txt-black font-weight-bold d-flex align-items-center"><i class="fas fa-caret-left fa-2x m-r-xs"></i> Prev</span>
                            </a>
                            <div class="carousel-inner flex-grow-1">
                                <div class="carousel-item active">
                                    <ul class="nav nav-tabs d-flex justify-content-between">
                                        <li class="panel-nav__list-item nav-item flex-fill text-center" data-ng-repeat="item in $ctrl.slides track by item.index" data-ng-init="$ctrl.states.activeItem = 0" data-ng-class="{'active': item.index == $ctrl.states.activeItem} " data-ng-click="$ctrl.states.activeItem = item.index; active.activeGuideTab = item.index">
                                            <a class="nav-link">{{item.title}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="carousel-item">
                                    <ul class="nav nav-tabs d-flex justify-content-center">
                                        <li class="panel-nav__list-item nav-item flex-fill text-center" data-ng-repeat="item in $ctrl.slides2 track by item.index"  data-ng-class="{'active': item.index == $ctrl.states.activeItem}" data-ng-click="$ctrl.states.activeItem = item.index; active.activeGuideTab = item.index">
                                            <a class="nav-link">{{item.title}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a class="next-caret " href="#carouselIndicate" role="button" data-slide="next">
                                <span class="txt-black font-weight-bold d-flex align-items-center">Next <i class="fas fa-caret-right fa-2x m-l-xs"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <uib-tabset active="active.activeGuideTab">
                <uib-tab index="0" heading="Color Phases" data-ng-hide="true">
                    <div>
                        <div class="row m-b-lg">
                            <div class="col-md-12">
                                <p class="font-h4 font-h4-text">The color phases are there to assist users on instructing European Patent(EP) formalities at the most cost-efficient time. </p>
                            </div>
                        </div>
                        <div class="row m-b-xs">
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <nav>
                                    <ul class="panel-nav">
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius green m-b-xs active" data-ng-click="activeTab = 0;" data-ng-class="{'active': activeTab == 0}">Green</li>
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius amber m-b-xs" data-ng-click="activeTab = 1;" data-ng-class="{'active': activeTab == 1}">Amber</li>
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius red m-b-xs" data-ng-click="activeTab = 2;" data-ng-class="{'active': activeTab == 2}">Red</li>
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius blue m-b-xs" data-ng-click="activeTab = 3;" data-ng-class="{'active': activeTab == 3}">Blue</li>
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius black m-b-xs" data-ng-click="activeTab = 4;" data-ng-class="{'active': activeTab == 4}">Black</li>
                                        <li class="panel-nav__list-item list-item--colour-border pill-radius grey m-b-xs" data-ng-click="activeTab = 5;" data-ng-class="{'active': activeTab == 5}">Grey</li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <uib-tabset active="activeTab" type="pills">
                            <uib-tab heading="Green" index="0" class="bg-phase-green font-h4 font-h4-text" data-ng-hide="true">
                                    <p class="font-h4 font-h4-text">The Green Phase is the most cost-effective phase to instruct aN EP formality in. It's the first phase for all EP formalities available through Patent Place and it's advised to instruct within this period in order to save money and prevent further costs being incurred.</p>
                            </uib-tab>
                            <uib-tab heading="Amber" index="1" data-ng-hide="true">
                                <p class="font-h4 font-h4-text">The Amber phase requires an alternative method to ensure funds are sent to the required office and the European formality is instructed before the deadline. To cover the further costs that are required to ensure the instruction and funds are sent in time, Patent Place add an additional 10% of the total cost.</p>
                            </uib-tab>
                            <uib-tab heading="Red" index="2" data-ng-hide="true">
                                <p class="font-h4 font-h4-text m-b-lg">The Red Phase indicates that the EP formality is close to the deadline and there is a maximum of five days left to instruct. To ensure the funds and instruction have been sent to the appropriate office in time, Patent Place provide urgent processing which involves one of our Patent Administrators assisting in the processing of the EP formality. If you require either manual or urgent processing of an EP formality, then call the Patent Place support team on: +44 203 696 0949.</p>
                            </uib-tab>
                            <uib-tab heading="Blue" index="3" data-ng-hide="true">
                                <p class="font-h4 font-h4-text">The Blue Phase applies to only renewal fees and starts on the day after the deadline and runs until 21:00 UTC on the 11th working day before the end of the extension period. The extension period is the 6 month period after the deadline.</p>
                            </uib-tab>
                            <uib-tab heading="Black" index="4" data-ng-hide="true">
                                <p class="font-h4 font-h4-text m-b-lg">The Black Phase applies to only renewal fees and starts on the 11th working day at 21:00 UTC before the end of the renewal's extension period, and runs until 21:00 UTC on the 6th day before the end of the extension period.</p>                          
                            </uib-tab>
                            <uib-tab heading="Grey" index="5" data-ng-hide="true">
                                <p class="font-h4 font-h4-text">If an EP formality has no current actions available, it will be categorized under the grey phase.</p>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Portfolio" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Table</h2>
                        <p class="font-h4 font-h4-text m-b-xs">The portfolio is where users can add or remove cases, and keep track of any European PatentEP) formalities that are due when obtaining a European patent</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Adding cases to Portfolio</h2>
                        <p class="m-b-xs font-h4 font-h4-text">From the Portfolio you are able to add patents to the platform. Click on the 'add patent' button and enter the EPO application number, making sure to include the check digit (eg.123456.1). Our system will fetch the details from the EPO, which you will need to confirm are correct.</p>
                        <p class="font-h4 font-h4-text">You can add your reference and short description, which you can use for organizing the patents, or, you can leave them blank. This information can be added, edited, or removed at a later stage through the Patent Information panel.</p>
                        <p class="m-b-lg font-h4 font-h4-text">Portfolio key table is set out with the following columns:</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Application Number</h2>
                        <p class="m-b-lg font-h4 font-h4-text">This is the Application Number that assigned to the patent application by the EPO</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Client Reference and Description</h2>
                        <p class="m-b-lg font-h4 font-h4-text">This is for your reference and description for the case to help users with referencing and filtering. All cases added to the Portfolio can be filtered through the available filter and search tools in the Portfolio table.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Patent Place Statuses</h2>
                        <p class="font-h4 font-h4-text m-b-xs">Patent place assigned a status to each case indicating the progress towards obtaining a European patent and the availability of any EP formalities</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Current and next phases</h2>
                        <p class="m-b-lg font-h4 font-h4-text">Patent Place assigns a status to each patent to indicate whether the next action can be processed, or what stage it is during the progress of an action. If an action is available, the current and next color phase and the costs will be displayed. This is to help you on the timing of executing the next action.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">European Actions</h2>
                        <p class="m-b-lg font-h4 font-h4-text">The European Action column displays the next stages available for your patent, for example an upcoming Renewal or filing a Form 1200 and what you need to do next.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Filtering/Quick search</h2>
                        <p class="m-b-xs font-h4 font-h4-text">Patent Place offers three ways to filter and search the Portfolio:</p>
                        <ul class="m-b-lg">
                            <li class="font-h4 font-h4-text">Use the search fields to filter by Application number or Client Reference.</li>
                            <li class="font-h4 font-h4-text">Use the drop-down filter to find patents that have an action available or not</li>
                            <li class="font-h4 font-h4-text">Through the ‘Advanced Search’ options, filter patents based on statuses or color phases assigned by Patent Place. For example, to see patents that have just opened for Renewal or are in the Amber phase, then you can do so by selecting these filter options. To revert to manually scrolling through the table, then clear all filter options.</li>
                        </ul>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Case overview</h2>
                        <p class="font-h4 font-h4-text">By selecting a row in the Portfolio table, the case overview for that selected patent is displayed. This gives you access to the details, cost and available actions and documents.</p>
      

                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Case Overview" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Case-overview</h2>
                        <p class="m-b-lg font-h4 font-h4-text">Select a case from the Portfolio table and further details and tools are provided via the case-overview modal through a series of tabs.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Details</h2>
                        <p class="m-b-lg font-h4 font-h4-text">Basic information extracted from the EPO about the case is provided in this panel. Users are alse able to add, remove or edit the Client Reference and Description.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Details</h2>
                        <p class="m-b-lg font-h4 font-h4-text">Basic information extracted from the EPO about the case is provided in this panel. Users are alse able to add, remove or edit the Client Reference and Description.</p>                        
                        <h2 class="font-h2 font-weight-medium m-b-xs">Form 1200</h2>
                        <p class="m-b-xs font-h4 font-h4-text">To enter the European phase, an applicant and/or their representative must file a Form 1200 and the appropriate filing fees. Through the Form 1200 tab, users can complete the provided questionnaire which results in the Form 1200 being generated and the fees being calculated. When the formality has been instructed, the panel provides new information and tools depending on the progress.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Cost Chart</h2>
                        <p class="m-b-lg font-h4 font-h4-text">The cost chart provides a breakdown of costs, including both official and Patent Place. The bar chart helps illustrate the cost for instructing the EP formality in each color phase.</p>
                        <h2 class="font-h2 font-weight-medium m-b-xs">FX Chart</h2>
                        <p class="m-b-lg font-h4 font-h4-text">The FX chart provides information on the impact FX has had on the cost of the select EP formality. It holds FX history up to 90 days, helping you decide if it is the most cost-effetive time to instruct.</p>                        

                    </div>
                </uib-tab>
                <uib-tab index="3" heading="Reminders" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Setting color phase reminders</h2>
                        <p class="m-b-xs font-h4 font-h4-text">The color phase system is accompanied by the reminders feature. Reminders help you by notifying the user when a specific period has been reached within the color phase. Reminder settings are based per case and you have full control over when they are sent out.</p>
                        <p>To set reminders, go to the portfolio and select a case from the table. You then select the 'Reminders tab', and from here you can adjust the reminder settings for each available EP formality.</p>
                    </div>
                </uib-tab>                
                <uib-tab index="4" heading="Form 1200" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Generating a Form 1200</h2>
                        <p class="m-b-xs font-h4 font-h4-text">To generate a Form 1200, go to the Portfolio, select the case from the table which will then display the case-overview modal, and then navigate to the 'Form 1200' tab.</p>
                        <p class="m-b-xs font-h4 font-h4-text">Once you click 'Start process', you will be directed to a series of questions. Complete each section, and when displayed, click the 'Generate form 1200' button. You will be directed to a fee summary page which provides a breakdown of all EPO official fees and Patent Place charges whilst your form 1200 is being generated. You do not have to stay on this page and can proceed to complete other tasks whilst you wait.</p>
                        <p class="m-b-xs font-h4 font-h4-text">When the form 1200 has been generated in a PDF format, you can review the document by navigating to 'Form 1200' tab and selecting the 'Download' button. If required, you can also delete the application from the same location. With the form 1200 generated, you are able to add the formality to the basket.</p>
                        <p class="m-b-xs font-h4 font-h4-text">If the system has informed you that the Form 1200 requires either manual or urgent processing, contact us via either phone: +44 203 696 0949 or email: support@ip.place</p>   
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="Grant and Publishing Fees" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Preparing a Grant and Publishing instruction</h2>
                        <p class="m-b-xs font-h4 font-h4-text">To prepeare a Grant and Publishing order, go to the portfolio, select the case from the table which will then display the case-overview modal, and then navigate to the 'Grant' tab.</p>
                        <p class="m-b-xs font-h4 font-h4-text">Once you click 'Start process', you will be directed to a series of questions. Complete each section, and when displayed, click the 'Prepare Grant action' button. The system will then calculate the necessary fees which can be accessed via the 'Fee Breakdown' tab. You do not have to stay on this page and can proceed to complete other tasks whilst you wait.  With the Grant and Publishing order prepared, you are able to add the formality to the basket</p>
                        <p class="m-b-xs font-h4 font-h4-text">If the system has informed you that preparing the Grant and Publishing instruction requires either manual or urgent processing, contact us via either phone: +44 203 696 0949 or email: support@ip.place</p>    
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="Validation" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Validation</h2>
                        <p class="m-b-xs font-h4 font-h4-text">Validating a patent through Patent Place requires two steps from our users. First they must request a quote, where our system calculates the official fees required by each state and display via the 'Fee Breakdown' page. If you are happy with the quote, you need to place the order by adding it to the basket and confirming the transaction. Patent Place then instructs the appropriate associates to carry out the required work to get the patent validated in the specified states.</p>
                        <p class="m-b-xs font-h4 font-h4-text">If the system has informed you that validation requires either manual or urgent processing, contact us via either phone: +44 203 696 0949 or email: support@ip.place</p>
                    </div>
                </uib-tab>                                
                <uib-tab index="5" heading="Fees" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Fees</h2>
                        <p class="m-b-xs font-h4 font-h4-text">Patent place aims to provide transparency with transactions and costs, so our Fee Breakdown' tab provides a clear breakdown of both official and Patent Place fees. Additional FX informaiton is all available included costs in both USD and EUR, and also the FX rate for the day.</p>                  

                    </div>
                </uib-tab>                                                 
                <uib-tab index="6" heading="Checkout" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Checkout</h2>
                        <p class="m-b-xs font-h4 font-h4-text">To instruct an EP formality at the appropriate office:</p>
                        <ol class="m-b-lg">
                            <li class="font-h4 font-h4-text">Ensure that if any steps required to preprare the EP formality for instruction have been carried out via the application.</li>
                            <li class="font-h4 font-h4-text">Add the item to the basket</li>
                            <li class="font-h4 font-h4-text">From the basket page (in the top right hand corner), review and accept the terms and conditions and click 'Continue'</li>
                            <li class="font-h4 font-h4-text">Once you have reviewed the order and checked the transfer deadline, click 'Place this order'</li>
                        </ol>
                        <p class="m-b-xs font-h4 font-h4-text">From this point you will have confirmed the transaction and are required to make sure the funds have been received into the provided account</p>
                        <p class="m-b-xs font-h4 font-h4-text">You will be presented with a download link for a pro-forma invoice if you require a copy. If you navigate away from the page, do not worry as you can locate the invoice from the transactions page.</p>
                    </div>
                </uib-tab>
                <uib-tab index="7" heading="Transactions" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Transactions</h2>
                        <p class="m-b-xs font-h4 font-h4-text">All transactions whethher current or historic are available from one location under the transactions page. If required, to help filter and find a specific transaction, users are provided with filtering and sorting tools in the transaction table.</p>
                        <p class="m-b-xs font-h4 font-h4-text">If you would like find further information on a transaction, such as the fee breakdown, select one of the transactions from the table and a transaction overview modal will be displayed.</p>
                        <p class="m-b-xs font-h4 font-h4-text">Any invoices or other documents, such as receipts from the EPO, can be found in the transaction overview panel, where they can be downloaded and printed off.</p>
                    </div>
                </uib-tab>            
                <uib-tab index="8" heading="Navigation" data-ng-hide="true">
                    <div>
                        <h2 class="font-h2 font-weight-medium m-b-xs">Navigation</h2>
                        <p class="m-b-xs font-h4 font-h4-text">You can find a quick access navigation on the left-hand side of the page. This directs you to the frequently used Patent Place services: Dashboard, Portfolio and Transactions.</p>
                        <p class="font-h4 font-h4-text">To view all available links to services in Patent Place, select the menu icon or text at the top.</p><
                    </div>
                </uib-tab>            
            </uib-tabset>
        </div>
    </div>
</div>