<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
					<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
					<div class="hidden-xl-up">
						<ul class="nav btn-default view-pills">
							<li data-ng-repeat="item in $ctrl.activityNotifications track by $index" data-ng-init="$ctrl.activeActivityTabResp = item.index" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black m-r-md" data-ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTabResp); $ctrl.activeActivityTabResp = item.index " data-ng-class="{active : $ctrl.activeMenu == item.activity}"><a class="nav-link">{{item.activity}}</a></li>
						</ul>
					</div>
				</div>
				<div class="widget-panel__body hidden-xl-up">
					<div class="view-tabs justify-content-between">
						<uib-tabset type="pills view-pills" active="$ctrl.activeActivityTabResp">
							<uib-tab heading="Stage Change" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="0" data-ng-hide="true">
								<div class="widget-panel--max">
									<div class="row bg-no-data" data-ng-if="$ctrl.recentStageArr.length === 0">
										<div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>
									</div>
									<div class="row" data-ng-repeat="item in $ctrl.recentStageArr" data-ng-if="$ctrl.recentStageArr.length !== 0">
										<div class="col-md-12 col-lg-6">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Patent No.</td>
													<td>{{item.patentApplicationNumber}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Description</td>
													<td ng-if="!item.shortTitle" class="txt-grey">[No client description provided]</td>
													<td ng-if="item.shortTitle">{{item.shortTitle}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td>$ {{item.currentRenewalCostUSD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Current Stage</td>
													<td data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold">{{item.costBandColour}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Next Stage</td>
													<td data-ng-class="(item.nextCostBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.nextCostBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.nextCostBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.nextCostBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold">{{item.nextCostBandColor}}</td>
												</tr>					
											</table>
										</div>								
									</div>									
								</div>
							</uib-tab>

						    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="1" data-ng-hide="true">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data" data-ng-if="$ctrl.recentTransArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
								    <div class="row border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
										<div class="col-md-12 col-lg-6">
											<table class="table font-body">
												<tr>
													<td class="font-weight-bold">Transaction ID</td>
													<td>{{trans.p3S_TransRef}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction Date</td>
													<td>{{trans.transStartDate | date:'MM-dd-yy'}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
																{{item.patentUI.patentApplicationNumber}}<br>
														</span>
														<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control font-body">
															<option value="" disabled selected>Multiple</option>									
														</select>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Total</td>
													<td>$ {{trans.transAmount_USD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction status</td>
													<td>{{trans.latestTransStatus}}</td>
												</tr>
	<!-- 										<tr>
													<td class="col-md-5">
													 	<ngcart-addtocart id="{{trans.id}}" class="cartbtn" name="trans_{{trans.id}}" price="{{trans.transAmount_USD}}" quantity="1" quantity-max="10" data="trans" >
													 	</ngcart-addtocart>
													</td>
												</tr> -->
											</table>
										</div>
									</div>
								</div>
							</uib-tab>

						    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="2" data-ng-hide="true">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentRenewalArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>						    
							    	<div class="row"  data-ng-repeat="item in $ctrl.recentRenewalArr" data-ng-if="$ctrl.recentRenewalArr.length !== 0">
										<div class="col-md-12 col-lg-12">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Status</td>
													<td>Renewal {{item.latestTransStatus}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Date Renewed</td>
													<td>
														<span data-ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.lastRenewedDateExEpo | date:'MM/dd/yyyy'}}<br>
														</span>
													</td>
												</tr>																			
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span data-ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.patentApplicationNumber}}<br>
														</span>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td>$ {{item.transAmount_USD}}</td>
												</tr>			
											</table>
										</div>
									</div>
								</div>
							</uib-tab>						
						</uib-tabset>
					</div>	
				</div>			
				<div class="widget-panel__body hidden-lg-down">
					<div class="view-tabs justify-content-between">
						<uib-tabset type="pills view-pills">
							<uib-tab heading="Stage Change" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
								<div class="widget-panel--max">
									<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentStageArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
									<div class="row m-t-md" data-ng-repeat="item in $ctrl.recentStageArr" data-ng-if="$ctrl.recentStageArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12">
											<table class="table font-body m-b-md">
												<tbody>
													<tr>
														<td class="font-weight-bold">Patent No.</td>
														<td>{{item.patentApplicationNumber}}</td>
													</tr>
													<tr>
														<td class="font-weight-bold">Description</td>
														<td ng-if="!item.shortTitle" class="txt-grey">[No client description provided]</td>
														<td ng-if="item.shortTitle">{{item.shortTitle}}</td>
													</tr>
													<tr>
														<td class="font-weight-bold">Amount</td>
														<td>$ {{item.currentRenewalCostUSD}}</td>
													</tr>
													<tr>
														<td class="font-weight-bold">Current Stage</td>
														<td data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold">{{item.costBandColour}}</td>
													</tr>
													<tr>
														<td class="font-weight-bold">Next Stage</td>
														<td data-ng-class="(item.nextCostBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.nextCostBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.nextCostBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.nextCostBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold">{{item.nextCostBandColor}}</td>
													</tr>									
												</tbody>
											</table>
										</div>								
									</div>								
								</div>
							</uib-tab>
						    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentTransArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
								    <div class="row m-t-md border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12">
											<table class="table font-body">
												<tr>
													<td class="font-weight-bold">Transaction ID</td>
													<td>{{trans.p3S_TransRef}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction Date</td>
													<td>{{trans.transStartDate | date:'MM-dd-yy'}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
																{{item.patentUI.patentApplicationNumber}}<br>
														</span>
														<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control font-body">
															<option value="" disabled selected>Multiple</option>									
														</select>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Total</td>
													<td>$ {{trans.transAmount_USD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction status</td>
													<td>{{trans.latestTransStatus}}</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</uib-tab>
						    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentRenewalArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>						    
							    	<div class="row" data-ng-repeat="item in $ctrl.recentRenewalArr" data-ng-if="$ctrl.recentRenewalArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12 m-t-md">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Status</td>
													<td>Renewal {{item.latestTransStatus}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Date Renewed</td>
													<td>
														<span data-ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.lastRenewedDateExEpo | date:'MM/dd/yyyy'}}<br>
														</span>
													</td>
												</tr>																			
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span data-ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.patentApplicationNumber}}<br>
														</span>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td>$ {{item.transAmount_USD}}</td>
												</tr>			
											</table>
										</div>
									</div>
								</div>
							</uib-tab>						
						</uib-tabset>
					</div>	
				</div>