<div ng-show="$ctrl.animate" class="animate-show animate-hide">
	<div class="row m-b-xl lg-m-b-md widget-row-top">
		<div class="col-md-12 col-lg-12 col-xl-7 md-m-b-md lg-m-b-md">
			<div class="widget-panel bg-white">
				<div class="widget-panel__head border-grey-xs--btm">
					<div class="row d-flex align-items-center">
						<div class="col-md-9 col-lg-9 col-xl-9">
							<h3 class="font-h3 font-weight-bold">Colour Key</h3>
						</div>
						<div class="col-md-3 col-lg-3 col-xl-3">
							<div class="d-flex justify-content-center align-items-center flex-column" >
								<div class="pill-radius btn btn--lg" ng-style="{ 'background': $ctrl.colourPhaseTitle.color}">
									<p class="txt-white widget-pill-title font-weight-medium font-h4">{{$ctrl.colourPhaseTitle.title}} Phase</p>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="widget-panel__body">
					<div class="row m-b-md">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<p class="font-weight-medium font-h4"><span class="font-weight-bold">Timeframe:</span> {{$ctrl.colourPhaseTitle.descrip}}</p>
						</div>
					</div>
					<div class="m-b-md">
						<uib-tabset active="activeTab" type="pills">
						    <uib-tab heading="Green" index="0" class="bg-phase-green font-body" ng-hide="true">
								<p class="font-body">The Green Phase is the first phase in the annuity cycle and starts when the renewal window opens 3 months before the renewal date, and closes when only 6 working days remain before the end of the period.  This is the most cost-effective time to renew.</p>
							</uib-tab>
						    <uib-tab heading="Amber" index="1" ng-hide="true">
								<p class="font-body">The Amber Phase starts on day 6 before the renewal date and closes on day 4. We use priority exchange and payments methods during this time which attract a small premium.</p>
							</uib-tab>
						    <uib-tab heading="Red" index="2" ng-hide="true">
								<p class="font-body">The Red Phase is the final 3 working days before the renewal date.  We’re not currently able to accept renewals through our web service at this time, but we can certainly help – you just need to give us a call.</p>
							</uib-tab>
						    <uib-tab heading="Blue" index="3" ng-hide="true">
								<p class="font-body">The Blue Phase starts on the day after the renewal date and runs until the end of the 11th working days before the end of the 6 month extension period.</p>
							</uib-tab>
						    <uib-tab heading="Black" index="4" ng-hide="true">
								<p class="font-body">Black from 4 hours before end of UK day on Renewal Due day to 10 days before the expiry of the extension at 6 months.  During this period the renewal takes place without additional fees from PP but is subject to a 50% surcharge from the EPO. Buy ahead options also available for this period.</p>
							</uib-tab>
						    <uib-tab heading="Grey" index="5" ng-hide="true">
								<p class="font-body">Generally patents are not renewable during this the Grey phase.  This may be because the patent has already been renewed, or it may be that the renewal window hasn’t opened yet.  If you think you should be able to renew a patent in this phase then please contact us.</p>
							</uib-tab>
						</uib-tabset>
					</div>
					<div class="row">
						<div class="col-md-12 col-lg-12 col-xl-12">
							<div class="phase-tabs">
								<ul class="nav phase-pills">
									<li class="bg-phase-green pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-init="$ctrl.colourKey(0); $ctrl.phaseSliderInfo(0);" ng-click="activeTab = 0; $ctrl.phaseSliderInfo(0); $ctrl.colourKey(0);" ng-hide="activeTab == 0">Green</li>
									<li class="bg-phase-amber pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-click="activeTab = 1; $ctrl.phaseSliderInfo(1); $ctrl.colourKey(1)" ng-hide="activeTab == 1">Amber</li>
									<li class="bg-phase-red pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-click="activeTab = 2; $ctrl.phaseSliderInfo(2); $ctrl.colourKey(2)" ng-hide="activeTab == 2">Red</li>
									<li class="bg-phase-blue pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-click="activeTab = 3; $ctrl.phaseSliderInfo(3); $ctrl.colourKey(3)" ng-hide="activeTab == 3">Blue</li>
									<li class="bg-phase-black pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-click="activeTab = 4; $ctrl.phaseSliderInfo(4); $ctrl.colourKey(4);" ng-hide="activeTab == 4">Black</li>
									<li class="bg-phase-grey pill-radius btn--reg pill-tabs font-body font-body--component font-weight-medium" ng-click="activeTab = 5; $ctrl.phaseSliderInfo(5); $ctrl.colourKey(5);" ng-hide="activeTab == 5">Grey</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-lg-6 col-xl-5">
			<div class="bg-white widget-panel widget-panel-sq">
				<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center">
					<h3 class="font-h3 font-weight-bold">Total Renewals</h3>
				<!-- 	<input type="text" name="tester" ng-model="localStorageDemo"> -->
				</div>
				<div class="widget-panel__body">
					<div class="row" ng-if="$ctrl.patents">
						<div class="col-md-12 col-lg-8 col-xl-8 d-flex align-items-center">
							<canvas id="doughnut" class="chart chart-doughnut" chart-data="$ctrl.charts.doughnut.data" chart-labels="$ctrl.charts.doughnut.labels" chart-colors="$ctrl.charts.doughnut.colours" chart-options="$ctrl.charts.doughnut.options" height="225">
							</canvas>
							<div class="donut-inner">
								<h4 class="font-h4 font-weight-bold">Total</h4>
								<span class="font-h2 font-weight-bold">{{$ctrl.totalPatents}}</span>							
							</div>
							<!--check whether it works when its back online-->
						</div>
						<div class="col-md-6 col-lg-4 col-xl-4 d-flex align-items-center hidden-md-down">
							<ul class="nav flex-column font-h4">
								<li class="li-green m-b-sm"><span>Green: <span ng-bind="$ctrl.greenRenewals.length"></span></span></li>
								<li class="li-amber m-b-sm"><span>Amber: <span ng-bind="$ctrl.amberRenewals.length"></span></span></li>
								<li class="li-red m-b-sm"><span>Red: <span ng-bind="$ctrl.redRenewals.length"></span></span></li>
								<li class="li-blue m-b-sm"><span>Blue: <span ng-bind="$ctrl.blueRenewals.length"></span></span></li>
								<li class="li-black m-b-sm"><span>Black: <span ng-bind="$ctrl.blackRenewals.length"></span></span></li>
								<li class="li-grey m-b-sm"><span>Grey: <span ng-bind="$ctrl.greyRenewals.length"></span></span></li>
							</ul>
						</div>			
					</div>
					<div ng-if="!$ctrl.patents" class="h-100 bg-no-data d-flex">
		            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
		            		<p class="font-body font-weight-bold">There is no data to display as no patents have been added.</p>
		            	</div>		
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 hidden-xl-up">
			<div class="bg-white widget-panel widget-panel-sq">
				<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
					<h3 class="font-h3 font-weight-bold">Renewal Cost</h3>
					<div ng-if="$ctrl.renewalfxTimeframe" class="pill-radius d-flex justify-content-center align-items-center flex-column bg-phase-green">	
						<p class="txt-white font-body font-body--component btn--lg">{{$ctrl.renewalfxTimeframe}}</p>
					</div>
				</div>
				<div class="widget-panel__body">
					<div class="row bg-no-data" ng-if="!$ctrl.phaseArr.length">
						<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
							<p class="font-body font-weight-bold">No patents currently in this Stage</p>
						</div>
					</div>
					<div ng-if="$ctrl.phaseArr.length">
						<uib-tabset type="pills" active="fxPeriodActive" class="m-b-sm">
							<uib-tab heading="Today" class="font-body" index="0" ng-hide="true">
								<div class="row">
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.todaysPriceUSD}}</p>
									</div>
									<div class="col-md-2 col-lg-2 d-flex align-items-center justify-content-center">
										<img src="p3sweb/assets/imgs/icons/arrows_icons_sm.png">
									</div>
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.todaysPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>			
							<uib-tab heading="Yesterday" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.yesterdaysPriceUSD}}</p>
									</div>
									<div class="col-md-2 col-lg-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.yesterdaysPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Last week" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.lastWeeksPriceUSD}}</p>
									</div>
									<div class="col-md-2 col-lg-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.lastWeeksPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Last Mth" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-md-5 col-lg-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.lastMonthsPriceUSD}}</p>
									</div>
									<div class="col-md-2 col-lg-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-md-5 col-lg-5 text-center"">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.lastMonthsPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>									
						</uib-tabset>
						<div class="row m-b-sm">
							<div class="col-md-12 col-lg-12">
								<div class="view-tabs">
									<ul class="nav view-pills d-flex justify-content-between">
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component bg-white border-grey-xs font-weight-medium md-btn--lg" ng-init="$ctrl.renewalfxTimeframe = 'Today'" ng-click="$ctrl.fxPeriodActive(0);" ng-hide="$ctrl.renewalfxTimeframe == 'Today'">Today</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium md-btn--lg" ng-click="$ctrl.fxPeriodActive(1);" ng-hide="$ctrl.renewalfxTimeframe == 'Yesterday'">Yesterday</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium md-btn--lg" ng-click="$ctrl.fxPeriodActive(2); "  ng-hide="$ctrl.renewalfxTimeframe == 'Last Week'">Last Week</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium md-btn--lg" ng-click="$ctrl.fxPeriodActive(3); " ng-hide="$ctrl.renewalfxTimeframe == 'Last Mth'">Last Mth</li>
									</ul>								
								</div>
							</div>	
						</div>
						<div class="row m-b-sm">
							<div class="col-md-8 col-lg-8 text-left">
								<p class="font-h4 font-weight-bold">Four week variation:</p> 
							</div>
							<div class="col-md-4 col-lg-4 text-right">
								<p class="font-h4 font-weight-bold txt-phase-green">$ {{$ctrl.lastMonthsPriceUSD - $ctrl.yesterdaysPriceUSD}}</p>
							</div>
						</div>
						<div class="row m-b-xs">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center align-items-center">						
								<div class="d-flex justify-content-between align-items-center">
									<div class="m-r-xs">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Payment in progress'" src="p3sweb/assets/imgs/icons/progress_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'EPO Instructed'" src="p3sweb/assets/imgs/icons/epo_instructed_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Renewal in place'" src="p3sweb/assets/imgs/icons/complete_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Too late to renew'" src="p3sweb/assets/imgs/icons/lapsed_icon.png">
										<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'">
											<i class="fa fa-phone fa-2x txt-phase-red"></i>
										</div>
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'No renewal needed' || $ctrl.selectedPatent.renewalStatus == 'Show price'" src="p3sweb/assets/imgs/icons/complete_icon.png">									
									</div>
									<p ng-if="$ctrl.selectedPatent.renewalStatus !== 'Way too late to renew'" class="font-body font-weight-bold">{{$ctrl.selectedPatent.renewalStatus}}</p>
									<p ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'" class="font-h4 font-weight-medium">Call us to Renew (+44)1789-000-000</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-12">
								<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Show price'" class=" btn-default">
							 		<ngcart-addtocart id="{{$ctrl.selectedPatent.id}}" class="cartbtn font-weight-bold" name="patent_{{$ctrl.selectedPatent.id}}" price="{{$ctrl.selectedPatent.currentRenewalCostUSD}}" quantity="1" quantity-max="10" data="$ctrl.selectedPatent">
						 			</ngcart-addtocart>										
								</div>
								<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'" class=" btn-default">
							 		<!--blank-->					
								</div>	
					        	<div ng-if="$ctrl.selectedPatent.renewalStatus == ('Payment in progress' || 'EPO Instructed')" class="d-flex btn-default">
							 		<a class="btn btn-block btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium cartbtn txt-white cursor-pointer d-flex align-items-center justify-content-center" ng-click="$ctrl.fetchItemTransaction($ctrl.selectedPatent.id)">View Transaction <img src="p3sweb/assets/imgs/icons/view_transaction_icon.png" alt="transaction icon" class="m-l-xs"></a>
							 	</div>
					        	<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Renewal in place'" class="d-flex btn-default">
							 		<a class="btn btn-block btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium txt-white cursor-pointer d-flex align-items-center justify-content-center" ui-sref="patents.patent({patentId: $ctrl.selectedPatent.id})" ng-click="$ctrl.fetchItemRenewal()">View Patent <img src="p3sweb/assets/imgs/icons/view_renewal_icon.png" alt="renewal icon" class="m-l-xs"></a>
							 	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row m-b-xl lg-m-b-md widget-row-middle">
		<div class="col-md-12 col-lg-12 col-xl-7">
			<div class="bg-white widget-panel">
				<div class="widget-panel__head border-grey-xs--btm d-flex flex-column justify-content-center">
					<div class="row d-flex align-items-center">
						<div class="col-md-3 col-lg-3 col-xl-3">
							<h3 class="font-h3 m-r-sm font-weight-bold">Renewals</h3>
						</div>
						<div class="col-md-9 col-lg-9 col-lg-9">
							<div class="phase-tabs">
								<ul class="nav phase-pills font-body font-body--component d-flex justify-content-end">
									<li class="bg-phase-green pill-radius btn--reg pill-tabs-num font-weight-medium" ng-init="$ctrl.colourKey(0);" ng-click="activeTab = 0; $ctrl.phaseSliderInfo(0); $ctrl.colourKey(0);" ng-hide="activeTab == 0">({{$ctrl.greenRenewals.length}})</li>
									<li class="bg-phase-amber pill-radius btn--reg pill-tabs-num font-weight-medium" ng-click="activeTab = 1; $ctrl.phaseSliderInfo(1); $ctrl.colourKey(1)" ng-hide="activeTab == 1">({{$ctrl.amberRenewals.length}})</li>
									<li class="bg-phase-red pill-radius btn--reg pill-tabs-num font-weight-medium" ng-click="activeTab = 2; $ctrl.phaseSliderInfo(2); $ctrl.colourKey(2)" ng-hide="activeTab == 2">({{$ctrl.redRenewals.length}})</li>
									<li class="bg-phase-blue pill-radius btn--reg pill-tabs-num font-weight-medium" ng-click="activeTab = 3; $ctrl.phaseSliderInfo(3); $ctrl.colourKey(3)" ng-hide="activeTab == 3">({{$ctrl.blueRenewals.length}})</li>
									<li class="bg-phase-black pill-radius btn--reg pill-tabs-num font-weight-medium" ng-click="activeTab = 4; $ctrl.phaseSliderInfo(4); $ctrl.colourKey(4);" ng-hide="activeTab == 4">({{$ctrl.blackRenewals.length}})</li>	
									<li class="bg-phase-grey pill-radius btn--reg pill-tabs-num font-weight-medium" ng-click="activeTab = 5; $ctrl.phaseSliderInfo(5); $ctrl.colourKey(5);" ng-hide="true">({{$ctrl.greyRenewals.length}})</li>															
								</ul>
							</div>							
						</div>
					</div>
				</div>
				<div class="widget-panel__body">	
					<uib-tabset active="activeTab" type="pills" class="pills">
					    <uib-tab heading="Green" index="0" class="bg-phase-green pill-radius p-pill-tabs pill-tabs font-body" ng-hide="true">
				            <div class="slick-container" ng-if="$ctrl.phaseArr.length">
				            	<div class="txt-white font-h4 tr-border slick-header" ng-style="{'background': $ctrl.colourPhaseTitle.color}">
			        				<p class="font-weight-medium text-center txt-white">Green Renewal <span ng-bind="$ctrl.currIndexForTitle"></span> of {{$ctrl.greenRenewals.length}}</p>
			        			</div>					            	
							    <slick data="$ctrl.phaseArr" settings="slickConfig">
							        <div ng-repeat="item in $ctrl.phaseArr">
							        	<table class="t-data slider-table">
							        		<tbody class="font-body">
								            	<tr>
								            		<td colspan="2" class="td-50 td-border"><span class="font-weight-medium">App No: </span>{{item.patentApplicationNumber}}</td>
								            		<td class="td-50 td-border-nb">
								            			<div class="d-flex justify-content-between">
										            		<p><span class="font-weight-medium">Current Stage:</span> {{$ctrl.date | date:'dd/MM/yy'}}</p>
															<div class="phase-rectangle bg-phase-green m-r-lg"></div>	
									            		</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-50 td-border td-ellipsis"><span class="font-weight-medium">Description: </span> {{item.title}}</td>
								            		<td class="td-50 no-border-er">
								            			<div class="d-flex justify-content-between">
								            				<p><span class="font-weight-medium">Next Stage: </span>{{item.costBandEndDate | date:'dd/MM/yy'}}</p>
								            				<div class="phase-rectangle bg-phase-amber m-r-lg"></div>	
								            			</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-50 td-border"><span class="font-weight-medium">Due Date: </span>{{item.renewalDueDateUI}}</td>
								            		<td class="td-50 td-border-nt">
								            			<div class="progress-phase">
										            		<uib-progress class="bg-phase-amber pill-radius"><uib-bar class="bg-phase-green pill-radius"  value="item.progressBar"></uib-bar></uib-progress>
										            	</div>	
								            		</td>
								            	</tr>
							        		</tbody>
							        	</table>
							        </div>
							    </slick>      	
			            	</div>	
				            <div ng-show="$ctrl.greenRenewals.length == 0" class="row h-100 bg-no-data">
				            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
		                    		<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
		                    	</div>
		                    </div>
						</uib-tab>
					    <uib-tab heading="Amber" index="1" class="bg-phase-amber pill-radius p-pill-tabs pill-tabs font-body" ng-hide="true">
				            <div class="slick-container" ng-if="$ctrl.phaseArr.length">
				            	<div class="txt-white font-h4 tr-border slick-header" ng-style="{'background': $ctrl.colourPhaseTitle.color}">
			        				<p class="font-weight-medium text-center txt-white">Amber Renewal <span ng-bind="$ctrl.currIndexForTitle"></span> of {{$ctrl.amberRenewals.length}}</p>
			        			</div>				            	
							    <slick data="$ctrl.phaseArr" settings="slickConfig">
							        <div ng-repeat="item in $ctrl.phaseArr">
							            <table class="t-data">
							        		<tbody class="font-body">
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border"><span class="font-weight-medium">App No: </span>{{item.patentApplicationNumber}}</td>
								            		<td class="td-50 td-border-nb">
								            			<div class="d-flex justify-content-between">
										            		<p class="font-weight-medium"><span class="font-weight-medium">Current Stage:</span> {{$ctrl.date | date:'dd-MM-yy'}}</p>
										            		<div class="phase-rectangle bg-phase-amber m-r-lg"></div>
										            	</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-ellipsis"><span class="font-weight-medium">Description: </span>{{item.title}}</td>
								            		<td class="td-50 no-border-er">
								            			<div class="d-flex justify-content-between">
								            				<p class="font-weight-medium"><span class="font-weight-medium">Next Stage: </span>{{item.costBandEndDate | date:'dd-MM-yy'}}</p>
								            				<div class="phase-rectangle bg-phase-red m-r-lg"></div>
								            			</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border"><span class="font-weight-medium">Due Date: </span>{{item.renewalDueDateUI}}</td>
								            		<td class="td-50 td-border-nt">
								            			<div class="progress-phase">
										            		<uib-progress class="bg-phase-red pill-radius"><uib-bar class="bg-phase-amber pill-radius"  value="item.progressBar"></uib-bar></uib-progress>
										            	</div>	
								            		</td>
								            	</tr>
							        		</tbody>
							        	</table>
							        </div>
							    </slick>      	
			            	</div>		
				            <div ng-show="$ctrl.amberRenewals.length == 0" class="row h-100 bg-no-data">
				            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
		                    		<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
		                    	</div>
		                    </div>
	 					</uib-tab>
					    <uib-tab heading="Red" index="2" class="bg-phase-red pill-radius p-pill-tabs pill-tabs" ng-hide="true">
				            <div class="slick-container" ng-if="$ctrl.phaseArr.length">
				            	<div class="txt-white font-h4 tr-border slick-header" ng-style="{'background': $ctrl.colourPhaseTitle.color}">
			        				<p class="font-weight-medium text-center txt-white">Red Renewal <span ng-bind="$ctrl.currIndexForTitle"></span> of {{$ctrl.redRenewals.length}}</p>
			        			</div>					                     
							    <slick data="$ctrl.phaseArr" settings="slickConfig">							    	
							        <div ng-repeat="item in $ctrl.phaseArr">
							        	<table class="t-data">
							        		<tbody class="font-body">
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border"><span class="font-weight-medium">App No: </span>{{item.patentApplicationNumber}}</td>
								            		<td class="td-50 td-border-nb">
								            			<div class="d-flex justify-content-between">
									            			<p class="font-weight-medium"><span class="font-weight-medium">Current Stage:</span> {{$ctrl.date | date:'dd-MM-yy'}}</p>
								            				<div class="phase-rectangle bg-phase-red m-r-lg"></div>
								            			</div>									            		
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-ellipsis"><span class="font-weight-medium">Description: </span>{{item.title}}</td>
								            		<td class="td-50 no-border-er">
								            			<div class="d-flex justify-content-between">
								            				<p class="font-weight-medium"><span class="font-weight-medium">Next Stage: </span>{{item.costBandEndDate | date:'dd-MM-yy'}}</p>
								            				<div class="phase-rectangle bg-phase-blue m-r-lg"></div>
								            			</div>							            			
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border"><span class="font-weight-medium">Due Date: </span>{{item.renewalDueDateUI}}</td>
								            		<td class="td-50 td-border-nt">
								            			<div class="progress-phase">
										            		<uib-progress class="bg-phase-blue pill-radius"><uib-bar class="bg-phase-red pill-radius"  value="item.progressBar"></uib-bar></uib-progress>
										            	</div>									            			
								            		</td>
								            	</tr>
							        		</tbody>
							        	</table>
						            </div>
							    </slick>
			            	</div>			            
				            <div ng-show="$ctrl.redRenewals.length == 0" class="row h-100 bg-no-data">
				            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
		                    		<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
		                    	</div>
		                    </div>
						</uib-tab>
					    <uib-tab heading="Blue" index="3" class="bg-phase-blue pill-radius p-pill-tabs pill-tabs" ng-hide="true">
				            <div class="slick-container" ng-if="$ctrl.phaseArr.length">
				            	<div class="txt-white font-h4 tr-border slick-header" ng-style="{'background': $ctrl.colourPhaseTitle.color}">
			        				<p class="font-weight-medium text-center txt-white">Blue Renewal <span ng-bind="$ctrl.currIndexForTitle"></span> of {{$ctrl.blueRenewals.length}}</p>
			        			</div>	
							    <slick data="$ctrl.phaseArr" settings="slickConfig">

							        <div ng-repeat="item in $ctrl.phaseArr">
						        		<table class="t-data">
							        		<tbody class="font-body">
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border"><span class="font-weight-medium">App No: </span>{{item.patentApplicationNumber}}</td>
								            		<td  class="td-50 td-border-nb">
								            			<div class="d-flex justify-content-between">
									            			<p class="font-weight-medium"><span class="font-weight-medium">Current Stage:</span> {{$ctrl.date | date:'dd-MM-yy'}}</p>
									            			<div class="phase-rectangle bg-phase-blue m-r-lg"></div>
									            		</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-ellipsis"><span class="font-weight-medium">Description: </span>{{item.title}}</td>
								            		<td class="td-50 no-border-er">
								            			<div class="d-flex justify-content-between">
								            				<p class="font-weight-medium"><span class="font-weight-medium">Next Stage: </span>{{item.costBandEndDate | date:'dd-MM-yy'}}</p>
								            				<div class="phase-rectangle bg-phase-black m-r-lg"></div>
								            			</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border"><span class="font-weight-medium">Due Date: </span>{{item.renewalDueDateUI}}</td>
								            		<td class="td-50 td-border-nt">
								            			<div class="progress-phase">
										            		<uib-progress class="bg-phase-black pill-radius"><uib-bar class="bg-phase-blue pill-radius"  value="item.progressBar"></uib-bar></uib-progress>
										            	</div>
								            		</td>
								            	</tr>
							        		</tbody>
							        	</table>
							        </div>
							    </slick>
			            	</div>
				            <div ng-show="$ctrl.blueRenewals.length == 0" class="row h-100 bg-no-data">
				            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
		                    		<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
		                    	</div>
		                    </div>						            
						</uib-tab>
					    <uib-tab heading="Black" index="4" class="bg-phase-black pill-radius p-pill-tabs pill-tabs" ng-hide="true">
				            <div class="slick-container" ng-if="$ctrl.phaseArr.length">
				            	<div class="txt-white font-h4 tr-border slick-header" ng-style="{'background': $ctrl.colourPhaseTitle.color}">
			        				<p class="font-weight-medium text-center txt-white">Black Renewal <span ng-bind="$ctrl.currIndexForTitle"></span> of {{$ctrl.blackRenewals.length}}</p>
			        			</div>								            	
							    <slick data="$ctrl.phaseArr" settings="slickConfig">
							        <div ng-repeat="item in $ctrl.phaseArr">
							        	<table class="t-data">
							        		<tbody class="font-body">
								            	<tr>
								            		<td colspan="2" class="td-20 td-border"><span class="font-weight-medium">App No: </span>{{item.patentApplicationNumber}}</td>
								            		<td class="td-50 td-border-nb">
								            			<div class="d-flex justify-content-between">
										            		<p class="font-weight-medium"><span class="font-weight-medium">Current Stage: </span> {{$ctrl.date | date:'dd-MM-yy'}}</p>
										            		<div class="phase-rectangle bg-phase-black m-r-lg"></div>
										            	</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-ellipsis"><span class="font-weight-medium">Description: </span>{{item.title}}</td>
								            		<td class="td-50 no-border-er">
								            			<div class="d-flex justify-content-between">
									            			<p class="font-weight-medium"><span class="font-weight-medium">Next Stage: </span>{{item.costBandEndDate | date:'dd-MM-yy'}}</p>
									            			<div class="phase-rectangle m-r-lg"></div>
									            		</div>
								            		</td>
								            	</tr>
								            	<tr>
								            		<td colspan="2" class="td-20 td-border td-border">Due Date: {{item.renewalDueDateUI}}</td>
								            		<td class="td-50 td-border-nt">
								            			<div class="progress-phase">
										            		<uib-progress class="pill-radius"><uib-bar class="bg-phase-black pill-radius"  value="item.progressBar"></uib-bar></uib-progress>
										            	</div>
								            		</td>
								            	</tr>
							        		</tbody>
							        	</table>
							        </div>
							    </slick>
			            	</div>
			            	<div ng-show="$ctrl.blackRenewals.length == 0" class="row h-100 bg-no-data">
				            	<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
	                    			<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
	                    		</div>
	                    	</div>
						</uib-tab>
						<uib-tab heading="Grey" index="5" class="bg-phase-black pill-radius p-pill-tabs pill-tabs" ng-hide="true">
			            	<div class="row h-100 bg-no-data">
			            		<div class="col-xl-12 d-flex align-items-center justify-content-center z-index-1">
			            			<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
			            		</div>
	                    	</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</div>				
		</div>					            
		<div class="col-xl-5 hidden-lg-down">
			<div class="bg-white widget-panel h-100">
				<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
					<h3 class="font-h3 font-weight-bold">Renewal Cost</h3>
					<div ng-if="$ctrl.renewalfxTimeframe" class="pill-radius d-flex justify-content-center align-items-center flex-column bg-phase-green">	
						<p class="txt-white font-body font-body--component btn--lg">{{$ctrl.renewalfxTimeframe}}</p>
					</div>
				</div>
				<div class="widget-panel__body">
					<div class="row bg-no-data" ng-if="!$ctrl.phaseArr.length">
						<div class="col-md-12 d-flex align-items-center justify-content-center z-index-1">
							<p class="font-body font-weight-bold">Currently there aren't any patents in this phase</p>
						</div>
					</div>

					<div ng-if="$ctrl.phaseArr.length">
						<uib-tabset type="pills" active="fxPeriodActive" class="m-b-md">
							<uib-tab heading="Today" class="font-body" index="0" ng-hide="true">
								<div class="row">
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.todaysPriceUSD}}</p>
									</div>
									<div class="col-xl-2 text-center">
										<img src="p3sweb/assets/imgs/icons/arrows.png">
									</div>
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.todaysPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>			
							<uib-tab heading="Yesterday" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.yesterdaysPriceUSD}}</p>
									</div>
									<div class="col-xl-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.yesterdaysPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>
							<uib-tab heading="Last week" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.lastWeeksPriceUSD}}</p>
									</div>
									<div class="col-xl-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.lastWeeksPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>	
							<uib-tab heading="Last Mth" class="font-body" ng-hide="true">
								<div class="row">
									<div class="col-xl-5 text-center">
										<p class="font-h3 m-b-xs">USD</p>
										<p class="font-h2">$ {{$ctrl.lastMonthsPriceUSD}}</p>
									</div>
									<div class="col-xl-2 text-center">
										<i class="txt-grey fa fa-exchange fa-4x"></i>
									</div>
									<div class="col-xl-5 text-center"">
										<p class="font-h3 m-b-xs">EUR</p>
										<p class="font-h2">€ {{$ctrl.lastMonthsPriceEUR}}</p>
									</div>
								</div>
							</uib-tab>									
						</uib-tabset>
						<div class="row m-b-md">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<div class="view-tabs">
									<ul class="nav view-pills d-flex justify-content-between">
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium" ng-init="$ctrl.renewalfxTimeframe = 'Today'" ng-click="$ctrl.fxPeriodActive(0);" ng-hide="$ctrl.renewalfxTimeframe == 'Today'">Today</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium" ng-click="$ctrl.fxPeriodActive(1);" ng-hide="$ctrl.renewalfxTimeframe == 'Yesterday'">Yesterday</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium" ng-click="$ctrl.fxPeriodActive(2); "  ng-hide="$ctrl.renewalfxTimeframe == 'Last Week'">Last Week</li>
										<li class="pill-radius btn--lg pill-tabs font-body font-body--component border-grey-xs font-weight-medium" ng-click="$ctrl.fxPeriodActive(3); " ng-hide="$ctrl.renewalfxTimeframe == 'Last Mth'">Last Mth</li>
									</ul>
								</div>
							</div>	
						</div>
						<div class="row m-b-md">
							<div class="col-xl-8 text-left">
								<p class="font-h4 font-weight-bold">Four week variation:</p> <!--lg-->
							</div>
							<div class="col-xl-4 text-right">
								<p class="font-h4 font-weight-bold txt-phase-green">$ {{$ctrl.lastMonthsPriceUSD - $ctrl.yesterdaysPriceUSD}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12 d-flex justify-content-between align-items-center">						
								<div class="d-flex justify-content-between align-items-center">
									<div class="m-r-xs">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Payment in progress'" src="p3sweb/assets/imgs/icons/progress_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'EPO Instructed'" src="p3sweb/assets/imgs/icons/epo_instructed_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Renewal in place'" src="p3sweb/assets/imgs/icons/complete_icon.png">
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'Too late to renew'" src="p3sweb/assets/imgs/icons/lapsed_icon.png">
										<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'">
											<i class="fa fa-phone fa-2x txt-phase-red"></i>
										</div>
										<img ng-if="$ctrl.selectedPatent.renewalStatus == 'No renewal needed' || $ctrl.selectedPatent.renewalStatus == 'Show price'" src="p3sweb/assets/imgs/icons/complete_icon.png">									
									</div>
									<p ng-if="$ctrl.selectedPatent.renewalStatus !== 'Way too late to renew'" class="font-body font-weight-bold">{{$ctrl.selectedPatent.renewalStatus}}</p>
									<p ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'" class="font-h4 font-weight-medium">Call us to Renew (+44)1789-000-000</p>
								</div>
								<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Show price'" class=" btn-default">
							 		<ngcart-addtocart id="{{$ctrl.selectedPatent.id}}" class="cartbtn font-weight-bold" name="patent_{{$ctrl.selectedPatent.id}}" price="{{$ctrl.selectedPatent.currentRenewalCostUSD}}" quantity="1" quantity-max="10" data="$ctrl.selectedPatent">
						 			</ngcart-addtocart>										
								</div>
								<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Way too late to renew'" class=" btn-default">
							 		<!--blank-->					
								</div>								
					        	<div ng-if="$ctrl.selectedPatent.renewalStatus == ('Payment in progress' || 'EPO Instructed')" class="d-flex btn-default">
							 		<a class="btn btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium cartbtn txt-white cursor-pointer d-flex align-items-center" ng-click="$ctrl.fetchItemTransaction($ctrl.selectedPatent.id)">View Transaction <img src="p3sweb/assets/imgs/icons/view_transaction_icon.png" alt="transaction icon" class="m-l-xs"></a>
							 	</div>
					        	<div ng-if="$ctrl.selectedPatent.renewalStatus == 'Renewal in place'" class="d-flex btn-default">
							 		<a class="btn btn--lg pill-radius bg-phase-green font-body font-body--component font-weight-medium txt-white cursor-pointer d-flex align-items-center" ui-sref="patents.patent({patentId: $ctrl.selectedPatent.id})" ng-click="$ctrl.fetchItemRenewal()">View Patent <img src="p3sweb/assets/imgs/icons/view_renewal_icon.png" alt="renewal icon" class="m-l-xs"></a>
							 	</div>								
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
				
	<div class="row">
		<div class="col-md-12 col-lg-12 col-xl-7 lg-m-b-md">
			<div class="widget-panel bg-white">
				<div class="widget-panel__head border-grey-xs--btm d-flex justify-content-between align-items-center">
					<div class="row w-100">
						<div class="col-md-12 d-flex justify-content-between align-items-center p-r-none">
							<h3 class="font-h3 font-weight-bold">Live FX Chart</h3>
							<p class="font-h3">24hr High</p>
						</div>
					</div>
				</div>					
				<div class="widget-panel__body">
					<img src="p3sweb/assets/imgs/imgs/mc-fx.jpg" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="col-md-12 col-lg-12 col-xl-5">
			<div class="bg-white widget-panel">
				<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
					<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
					<div class="hidden-xl-up">
						<ul class="nav btn-default view-pills">
							<li ng-repeat="item in $ctrl.activityNotifications track by $index" ng-init="$ctrl.activeActivityTabResp = item.index" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black m-r-md" ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTabResp); $ctrl.activeActivityTabResp = item.index " ng-class="{active : $ctrl.activeMenu == item.activity}"><a class="nav-link">{{item.activity}}</a></li>
						</ul>
					</div>
				</div>
				<div class="widget-panel__body hidden-xl-up">
					<div class="view-tabs justify-content-between">
						<uib-tabset type="pills view-pills" active="$ctrl.activeActivityTabResp">
							<uib-tab heading="Stage Change" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="0" ng-hide="true">
								<div class="widget-panel--max">
									<div class="row bg-no-data" ng-if="$ctrl.recentStageArr.length === 0">
										<div class="col-md-12 col-lg-12 col-xl-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>
									</div>
									<div class="row" ng-repeat="item in $ctrl.recentStageArr" ng-if="$ctrl.recentStageArr.length !== 0">
										<div class="col-md-12 col-lg-6">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Patent No.</td>
													<td>{{item.patentApplicationNumber}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Description</td>
													<td>{{item.shortTitle}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td>$ {{item.currentRenewalCostUSD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Current Stage</td>
													<td>{{item.costBandColour}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Next Stage</td>
													<td>{{item.nextCostBandColor}}</td>
												</tr>					
											</table>
										</div>								
									</div>									
								</div>
							</uib-tab>

						    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="1" ng-hide="true">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data" ng-if="$ctrl.recentTransArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
								    <div class="row border-grey-xs--btm" ng-repeat="trans in $ctrl.recentTransArr" ng-if="$ctrl.recentTransArr.length !== 0">
										<div class="col-md-12 col-lg-6">
											<table class="table font-body">
												<tr>
													<td class="font-weight-bold">Transaction ID</td>
													<td>{{trans.p3S_TransRef}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction Date</td>
													<td>{{trans.transStartDate | date:'dd-mm-yy'}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span ng-repeat="item in trans.renewalUIs" ng-if="trans.renewalUIs.length == 1" >
																{{item.patentUI.patentApplicationNumber}}<br>
														</span>
														<select ng-if="trans.renewalUIs.length > 1" ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" ng-model="data.selectedOption" class="pill-radius form-control font-body">
															<option value="" disabled selected>Multiple</option>									
														</select>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Total</td>
													<td>$ {{trans.transAmount_USD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction status</td>
													<td>{{trans.latestTransStatus}}</td>
												</tr>
	<!-- 										<tr>
													<td class="col-md-5">
													 	<ngcart-addtocart id="{{trans.id}}" class="cartbtn" name="trans_{{trans.id}}" price="{{trans.transAmount_USD}}" quantity="1" quantity-max="10" data="trans" >
													 	</ngcart-addtocart>
													</td>
												</tr> -->
											</table>
										</div>
									</div>
								</div>
							</uib-tab>

						    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="2" ng-hide="true">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data" ng-if="$ctrl.recentRenewalArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>				    
							    	<div class="row" ng-repeat="renewals in $ctrl.recentRenewalArr" ng-if="$ctrl.recentRenewalArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12 m-t-md">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Patent No.</td>
													<td></td>
												</tr>
												<tr>
													<td class="font-weight-bold">Description</td>
													<td></td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td></td>
												</tr>
												<tr>
													<td class="font-weight-bold">Current Stage</td>
													<td></td>
												</tr>
												<tr>
													<td class="font-weight-bold">Next Stage</td>
													<td></td>
												</tr>			
											</table>
										</div>
									</div>
								</div>
							</uib-tab>						
						</uib-tabset>
					</div>	
				</div>			
				<div class="widget-panel__body hidden-lg-down">
					<div class="view-tabs justify-content-between">
						<uib-tabset type="pills view-pills">
							<uib-tab heading="Stage Change" class="pill-radius pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
								<div class="widget-panel--max">
									<div class="row bg-no-data m-t-lg" ng-if="$ctrl.recentStageArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
									<div class="row m-t-md" ng-repeat="item in $ctrl.recentStageArr" ng-if="$ctrl.recentStageArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12">
											<table class="table font-body m-b-md">
												<td class="font-weight-bold">Patent No.</td>
													<td>{{item.patentApplicationNumber}}</td>
												</tr>
												<td class="font-weight-bold">Description</td>
													<td>{{item.shortTitle}}</td>
												</tr>
												<td class="font-weight-bold">Amount</td>
													<td>$ {{item.currentRenewalCostUSD}}</td>
												</tr>
												<td class="font-weight-bold">Current Stage</td>
													<td>{{item.costBandColour}}</td>
												</tr>
												<td class="font-weight-bold">Next Stage</td>
													<td>{{item.nextCostBandColor}}</td>
												</tr>					
											</table>
										</div>								
									</div>								
								</div>
							</uib-tab>
						    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data m-t-lg" ng-if="$ctrl.recentTransArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>
								    <div class="row m-t-md border-grey-xs--btm" ng-repeat="trans in $ctrl.recentTransArr" ng-if="$ctrl.recentTransArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12">
											<table class="table font-body">
												<tr>
													<td class="font-weight-bold">Transaction ID</td>
													<td>{{trans.p3S_TransRef}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction Date</td>
													<td>{{trans.transStartDate | date:'dd-mm-yy'}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span ng-repeat="item in trans.renewalUIs" ng-if="trans.renewalUIs.length == 1" >
																{{item.patentUI.patentApplicationNumber}}<br>
														</span>
														<select ng-if="trans.renewalUIs.length > 1" ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" ng-model="data.selectedOption" class="pill-radius form-control font-body">
															<option value="" disabled selected>Multiple</option>									
														</select>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Total</td>
													<td>$ {{trans.transAmount_USD}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Transaction status</td>
													<td>{{trans.latestTransStatus}}</td>
												</tr>
											</table>
										</div>
									</div>
								</div>
							</uib-tab>
						    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs font-body font-body--component uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black">
						    	<div class="widget-panel--max">	
									<div class="row bg-no-data m-t-lg" ng-if="$ctrl.recentRenewalArr.length === 0">
										<div class="col-md-12 col-lg-12 d-flex align-items-center justify-content-center z-index-1">
											<p class="font-body font-weight-bold">There is no recent activity to report</p>
										</div>								
									</div>						    
							    	<div class="row"  ng-repeat="item in $ctrl.recentRenewalArr" ng-if="$ctrl.recentRenewalArr.length !== 0">
										<div class="col-md-12 col-lg-12 col-xl-12 m-t-md">
											<table class="table font-body m-b-md">
												<tr>
													<td class="font-weight-bold">Status</td>
													<td>Renewal {{item.latestTransStatus}}</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Date Renewed</td>
													<td>
														<span ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.lastRenewedDateExEpo | date:'MM/dd/yyyy'}}<br>
														</span>
													</td>
												</tr>																			
												<tr>
													<td class="font-weight-bold">Patents</td>
													<td>
														<span ng-repeat="renewals in item.renewalUIs">
															{{renewals.patentUI.patentApplicationNumber}}<br>
														</span>
													</td>
												</tr>
												<tr>
													<td class="font-weight-bold">Amount</td>
													<td>$ {{item.transAmount_USD}}</td>
												</tr>			
											</table>
										</div>
									</div>
								</div>
							</uib-tab>						
						</uib-tabset>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>