<div data-ng-if="$ctrl.patentsLoaded" class="animate-show">
	<patentnav></patentnav>
	<div class="row m-b-md">
		<div class="col-md-12 col-lg-12 col-xl-8 d-flex align-items-center lg-m-b-md">
			<div class="panel-nav">
				<uib-tabset type="pills" active="activePhaseTab">
					<uib-tab index="0" class="tab tab--reg bg-white pill-radius panel-nav__list-item panel-nav__list-item--md-nav no-line-height panel-nav__li--txt-black border-grey-xs" heading="View All({{$ctrl.sortedPatentData.allRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.all" data-ng-click="$ctrl.displayPhase('all')" data-ui-sref="patents">
				    </uib-tab>
				    <uib-tab index="1" class="tab tab--reg bg-phase-green  pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Green({{$ctrl.sortedPatentData.greenRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.green" data-ng-click="$ctrl.displayPhase('green')" data-ui-sref="patents">
					</uib-tab>
				    <uib-tab index="2" class="tab tab--reg bg-phase-amber pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Yellow({{$ctrl.sortedPatentData.amberRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.amber" data-ng-click="$ctrl.displayPhase('amber')" data-ui-sref="patents">
					</uib-tab>
				    <uib-tab index="3" class="tab tab--reg bg-phase-red pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Red({{$ctrl.sortedPatentData.redRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.red" data-ng-click="$ctrl.displayPhase('red')" data-ui-sref="patents">
					</uib-tab>
				    <uib-tab index="4" class="tab tab--reg bg-phase-blue pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Blue({{$ctrl.sortedPatentData.blueRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.blue" data-ng-click="$ctrl.displayPhase('blue')" data-ui-sref="patents">
					</uib-tab>
				    <uib-tab index="5" class="tab tab--reg bg-phase-black pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Black({{$ctrl.sortedPatentData.blackRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.black" data-ng-click="$ctrl.displayPhase('black')" data-ui-sref="patents">
					</uib-tab>
				    <uib-tab index="6" class="tab tab--reg bg-phase-grey pill-radius panel-nav__list-item panel-nav__list-item--md-nav panel-nav__li--txt-white no-line-height txt-white" heading="Grey({{$ctrl.sortedPatentData.greyRenewals.length}})" data-ng-attr-id="$ctrl.patentsTabs.grey" data-ng-click="$ctrl.displayPhase('grey')" data-ui-sref="patents">
					</uib-tab>
				</uib-tabset>
			</div>
		</div>
		<div class="col-md-12 col-xl-4">
			<form class="form">
				<div class="row">
					<div class="col-md-4 col-lg-4 col-xl-6">
						<div class="input-group">
							<input type="text" class="form-control pill-radius" name="appNoFilter" data-ng-model="searchPatents.patentApplicationNumber" data-ng-change="$ctrl.displayPatents()" placeholder="App No.">
							<div class="input-group-append">
								<i class="d-flex input-group-text pill-radius fa fa-search"></i>
							</div>
						</div>					
					</div>
					<div class="col-md-4 col-lg-4 col-xl-6">
						<div class="input-group">
							<input type="text" class="form-control pill-radius" name="clientRefFilter" data-ng-model="searchPatents.clientRef" data-ng-change="$ctrl.displayPatents()" placeholder="Client Ref">
							<div class="input-group-append pill-radius">
								<i class="d-flex input-group-text pill-radius fa fa-search"></i>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="row m-b-md">
		<div data-ng-show="$ctrl.tableData.length === 0" class="col-md-12">
			<div class="bg-white p-a-sm">
				<p class="font-weight-medium">There aren't any patents in this phase at the moment.  You can see all the patents in all phases by clicking on the View All  button above.</p>
			</div>
		</div>
		<div data-ng-show="$ctrl.tableData.length !== 0" class="col-md-12">
			<div id="scrollable-area" class="table-responsive-md">
				<table class="table t-data t-data--border table-scroll" fixed-table-headers="scrollable-area">
					<thead>
						<tr class="t-data__row t-data__row--select t-data__head">
							<th class="t-data__th" data-ng-click="$ctrl.sortType('patentApplicationNumber'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>App No.</span>
					            <span data-ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	            				<span data-ng-show="$ctrl.selectedSortType == 'patentApplicationNumber' && $ctrl.sortReverse" class="fa fa-caret-up"></span>
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('clientRef'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>Client Ref</span>
					            <span data-ng-show="$ctrl.selectedSortType == 'clientRef' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	            				<span data-ng-show="$ctrl.selectedSortType == 'clientRef' && $ctrl.sortReverse" class="fa fa-caret-up"></span>							
							</th>
							<th class="t-data__th" data-ng-click="$ctrl.sortType('shortTitle'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>Client Desc</span>
					            <span data-ng-show="$ctrl.selectedSortType == 'shortTitle' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	            				<span data-ng-show="$ctrl.selectedSortType == 'shortTitle' && $ctrl.sortReverse" class="fa fa-caret-up"></span>							
							</th>
							<th class="t-data__th d-xl-none" data-ng-click="$ctrl.sortType('renewalStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>Renewal Status</span>
					            <span data-ng-show="$ctrl.selectedSortType == 'renewalStatus' && !$ctrl.sortReverse" class="fa fa-caret-donw"></span>
	            				<span data-ng-show="$ctrl.selectedSortType == 'renewalStatus' && $ctrl.sortReverse" class="fa fa-caret-up"></span>							
							</th>
							<th class="t-data__th d-none d-xl-table-cell" colspan="3" data-ng-click="$ctrl.sortType('renewalStatus'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>Renewal Status</span>
					            <span data-ng-show="$ctrl.selectedSortType == 'renewalStatus' && !$ctrl.sortReverse" class="fa fa-caret-down"></span>
	            				<span data-ng-show="$ctrl.selectedSortType == 'renewalStatus' && $ctrl.sortReverse" class="fa fa-caret-up"></span>							
							</th>						
							<th class="t-data__th" data-ng-click="$ctrl.sortType('dueDate'); $ctrl.sortReverse = !$ctrl.sortReverse">
								<span>Due Date</span>
					            <span data-ng-show="$ctrl.sortDate && $ctrl.sortReverse" class="fa fa-caret-down"></span>
	            				<span data-ng-show="$ctrl.sortDate && !$ctrl.sortReverse" class="fa fa-caret-up"></span>							
							</th>
							<th></th>					
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="item in $ctrl.tableData | orderBy:$ctrl.selectedSortType:$ctrl.sortReverse | filter: searchPatents as Result" data-ng-click="$ctrl.rowSelect($event)" data-ui-sref-active="active" class="t-data__row t-data__row--select">
							<td class="t-data__td--ellipsis t-data__td t-data__w12">
								<span class="td-ellipsis">
									<a class="t-data__a" data-ui-sref="patents.patent({patentId: item.id})">{{item.patentApplicationNumber}}</a>
								</span>
							</td>
							<td class="t-data__td--ellipsis t-data__td t-data__w12" data-ng-class="item.clientRef == '' ? 'ellipsis-remove' : ''">
								<span class="td-ellipsis txt-grey" data-ng-if="item.clientRef == ''">[No client reference provided]</span>
								<span class="td-ellipsis" data-ng-if="item.clientRef !== ''">{{item.clientRef}}</span>
							</td>
							<td class="t-data__td--ellipsis t-data__td t-data__w12" data-ng-class="item.shortTitle == '' ? 'ellipsis-remove' : ''">
								<span class="td-ellipsis txt-grey" data-ng-if="item.shortTitle == ''">[No client description provided]</span>
								<span class="td-ellipsis" data-ng-if="item.shortTitle !== ''">{{item.shortTitle}}</span>
							</td>
							<td class="t-data__td t-data__w10 d-none d-xl-table-cell">
								<div data-ng-if="item.renewalStatus == 'Show price'" data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="">
									<span class="font-weight-bold">$ {{item.currentRenewalCost | number: 2}}</span><br>
									<span>{{$ctrl.date | date:'MM/dd/yy'}}</span>
								</div>
							</td>
							<td class="t-data__td t-data__w15">
								<div data-ng-if="item.renewalStatus !== 'Show price'" class="d-flex justify-content-start align-items-center">
									<div class="m-r-xs">
										<img data-ng-if="item.renewalStatus == 'Payment in progress'" src="assets/imgs/icons/progress_icon.png" alt="payment in progress icon">
										<img data-ng-if="item.renewalStatus == 'EPO Instructed'" src="assets/imgs/icons/epo_instructed_icon.png" alt="epo instructed icon">
										<img data-ng-if="item.renewalStatus == 'Renewal in place'" src="assets/imgs/icons/complete_icon.png" alt="renewal in place icon">
										<i data-ng-if="item.renewalStatus == 'Too late to renew'" class="fa fa-phone fa-2x txt-phase-red"></i>
										<img data-ng-if="item.renewalStatus == 'Way too late to renew'" src="assets/imgs/icons/lapsed_icon.png" alt="not open for renewal icon">
										<img data-ng-if="item.renewalStatus == 'No renewal needed'" src="assets/imgs/icons/no_renewal.png" alt="renewal icon">
										<img data-ng-if="item.renewalStatus == 'Show price'" src="assets/imgs/icons/show_price.png" alt="renewal icon">
									</div>
							    	<span class="font-weight-medium d-flex justify-content-end align-items-center">
								    	<span data-ng-if="item.renewalStatus !== 'Way too late to renew' && item.renewalStatus !== 'Too late to renew' && item.renewalStatus !== 'Show price'">{{item.renewalStatus}}</span>
								    	<span data-ng-if="item.renewalStatus == 'Way too late to renew'">Renewal lapsed</span>
								    	<span data-ng-if="item.renewalStatus == 'Too late to renew'">Call to renew</span>
								    	<span data-ng-if="item.renewalStatus == 'Show price'">Open for renewal</span>
							    	</span>
								</div>
								<div class="d-xl-none progress-phase d-flex justify-content-start align-items-center" data-ng-if="item.renewalStatus == 'Show price'">
									<div class="m-r-xs">
										<img src="assets/imgs/icons/show_price.png" alt="completed icon">
									</div>
									<span class="font-weight-medium d-flex justify-content-end align-items-center">Open for renewal</span>
								</div>
								<div class="d-none d-xl-block progress-phase" data-ng-if="item.renewalStatus == 'Show price'">
									<uib-progress class="pill-radius no-line-height" data-ng-class="(item.costBandColour == 'Green' ? 'bg-phase-amber': '') + '' + (item.costBandColour == 'Amber' ? 'bg-phase-red': '') + '' + (item.costBandColour == 'Red' ? 'bg-phase-blue': '') + '' + (item.costBandColour == 'Blue' ? 'bg-phase-black': '') + '' + (item.costBandColour == 'Black' ? 'bg-white': '')">
										<uib-bar class="pill-radius d-flex align-items-center justify-content-center progress-bar progress-15" value="item.progressBar"></uib-bar>
									</uib-progress>
								</div>
							</td>
							<td class="t-data__td t-data__w10 d-none d-xl-table-cell">
								<div data-ng-if="item.renewalStatus == 'Show price'" data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-black': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="d-none d-xl-block">
									<span ng-if="item.costBandColour == 'Black'" class="font-weight-bold">LAPSE</span>
									<span ng-if="item.costBandColour !== 'Black'" class="font-weight-bold">$ {{item.renewalCostNextStage | number: 2}}</span><br>
									<span>{{item.costBandEndDate | date:'MM/dd/yy'}}</span>
								</div>
							</td>
					        <td class="t-data__td t-data__w11">
					        	{{item.renewalDueDate | date:'MM/dd/yy'}}
					        </td>
							<td class="t-data__td t-data__w18">
					        	<div data-ng-if="item.renewalStatus == 'Show price'" class="d-flex justify-content-center btn-default">
							 		<ngcart-addtocart id="{{item.id}}" class="cartbtn w-100" name="patent_{{item.id}}" price="{{item.currentRenewalCost}}" quantity="1" quantity-max="10" data="item">
							 		</ngcart-addtocart>
							 	</div>
					        	<div data-ng-if="item.renewalStatus == 'Payment in progress' || item.renewalStatus ==  'EPO Instructed'" class="d-flex justify-content-center btn-default">
					        		<div class="btn btn-block t-data__btn-portal pill-radius bg-phase-green font-weight-medium cartbtn d-flex align-items-center justify-content-center">
								 		<a class="btn__link btn--lg btn__link--white" data-ng-click="$ctrl.fetchItemTransaction(item.id)">View Transaction <img src="assets/imgs/icons/view_transaction_icon.png" alt="transaction icon" class="m-l-xs d-none d-md-none d-lg-inline-block"></a>
					        		</div>
							 	</div>
					        	<div data-ng-if="item.renewalStatus == 'Renewal in place'" class="d-flex justify-content-center btn-default">
					        		<div class="btn btn-block t-data__btn-portal pill-radius bg-phase-green font-weight-medium cartbtn d-flex align-items-center justify-content-center">
							 			<a class="btn__link btn--lg btn__link--white m-l-xs" data-ui-sref="patents.patent({patentId: item.id})" data-ng-click="$ctrl.fetchItemRenewal()">View Renewal <img src="assets/imgs/icons/view_renewal_icon.png" alt="renewal icon" class="m-l-xs d-md-none d-lg-inline-block"></a>
							 		</div>
							 	</div>						 					 			 	
					        </td>
						</tr>
					 	<tr data-ng-show="Result.length==0">
					 		<td colspan="8">
					 			No Results Found
					 		</td>
					 	</tr>							
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div data-ui-view class="m-b-xl"></div>
</div>