<div class="row m-b-md">
	<div class="col-xl-12">
		<div class="secondary-view-nav">
			<ul class="nav secondary-view-nav__list">
				<li class="pill-radius secondary-view-nav__list-item secondary-view-nav__list-item--green" data-ui-sref-active="active"  data-ng-click="$ctrl.activePatentItemMenu = 'Patent Info'" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Patent Info'}">
					<a data-ui-sref="portfolio.patent.patent-info">Patent Info</a>
				</li>
				<li class="pill-radius secondary-view-nav__list-item secondary-view-nav__list-item--green" data-ng-click="$ctrl.activePatentItemMenu = 'Cost Analysis'; $ctrl.loadChart()" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Cost Analysis'}">
					<a data-ui-sref="portfolio.patent.euro-pct.info">Euro-PCT</a>
				</li>
				<li class="pill-radius secondary-view-nav__list-item secondary-view-nav__list-item--green" data-ng-click="$ctrl.activePatentItemMenu = 'Renewal History'" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Renewal History'}">
					<a data-ui-sref="portfolio.patent.renewal">Renewal</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div ui-view></div>