<patentnav></patentnav>
<div data-ng-show="$ctrl.animate" class="animate-show">
	<div class="content-panel bg-white">
		<div class="row">
			<div class="col-md-12 col-lg-9 col-xl-8">
				<div class="content-panel__head">
					<form class="form" ng-submit="$ctrl.findPatent(searchPatent);" name="searchPatentForm" novalidate>
						<div class="form-group row d-flex align-items-center m-none">
							<div class="col-md-3 col-lg-3 col-xl-4">
								<label class="font-body font-weight-bold" for="searchPatent">Patent Application No.</label>
							</div>
							<div class="col-md-9 col-lg-9 col-xl-8">
								<div class="row">
									<div class="col-md-10 col-lg-10 col-xl-10 d-flex">
										<input type="text" name="searchPatent" id="searchPatent" ng-model="searchPatent" class="form-control pill-radius font-body" placeholder="Search" focus-me="true" validate-patent required autofocus>
										<script>
											document.searchPatentForm.searchPatent.focus();
										</script>
									</div>
									<div class="col-md-2 col-xl-2 user-utils d-flex justify-content-center">
										<button type="submit" data-ng-disabled="searchPatentForm.$invalid" class="btn bg-phase-green  circle-radius-sm d-flex justify-content-center icon-link">
											<i class="txt-white fa fa-search fa-x2"></i>
										</button>
									</div>
								</div>
							</div>		
						</div>
					</form>
					<div class="col-md-9 offset-md-3 col-lg-9 offset-lg-3 col-lg-6 offset-xl-4 m-t-xs" ng-show="!$ctrl.queriedPatent">
						<p class="font-body font-weight-medium txt-phase-red" ng-bind="$ctrl.searchError"></p>
					</div>			
				</div>
			</div>
		</div>
		<div class="animate-show">
			<div data-ui-view></div>
		</div>
	</div>
</div>