<div class="d-flex justify-content-center align-items-center content-panel">
   <div class="container-pre-app__center-box-40">
      <div class="content-panel__body bg-white p-t-xxxl p-b-xxxl p-r-6 p-l-6">
         <div class="row">
            <div class="col-xl-12 text-center">
               <img src="../../../../assets/imgs/logos/pp-logo-text-black.png" alt="patent place logo with text" width="200" class="m-b-lg">
            </div>  
         </div>
         
         <div class="row m-b-lg">
            <div class="col-md-12 text-center">
               <h1 class="font-h1 font-weight-light">Enter in new password</h1>
            </div>
         </div>
         <div id="initialForgotPass">
            <p class="m-b-sm">Please enter and confirm your new password</p>
            <form name="resetPasswordForm" data-ng-submit="$ctrl.submitEmail($ctrl.formData.password)">
                <div class="form-group row m-b-none">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="icon-field">
                            <input type="password" name="password" id="password" class="form-control font-body pill-radius m-b-xs" data-ng-blur="visitedPassword=true" autocomplete="off" placeholder="Password" data-ng-model="$ctrl.formData.password" zxcvbn="$ctrl.passwordStrength" data-ng-change="$ctrl.passwordUpdate($ctrl.formData.password);"  required>
                            <p class="font-body txt-phase-red m-t-xs" data-ng-show="resetPasswordForm.password.$error.required && resetPasswordForm.password.$dirty">Please fill out this field</p>
                            <p class="font-body txt-phase-red m-t-xs" data-ng-show="resetPasswordForm.password.$error.minlength && resetPasswordForm.password.$dirty">Password needs to be a minimum of 8 characters</p>
                            <p class="font-body txt-phase-red m-t-xs" data-ng-show="resetPasswordForm.password.$error.maxlength && resetPasswordForm.password.$dirty">Password needs to be a maximum of 20 characters</p>
                        </div>
                        <div class="m-t-xs m-b-xs">
                            <zx-password-meter value="{{ $ctrl.passwordStrength.score }}" max="4"></zx-password-meter>
                        </div>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-md-12 col-lg-12 col-xl-12">
                     <input type="password" name="confirmPassword" class="form-control font-body pill-radius" data-ng-model="$ctrl.formData.confirmPassword" data-confrim-pw-to="$ctrl.formData.password" placeholder="Confirm Password" required>
                     <p class="font-body txt-phase-red m-t-xs" data-ng-show="resetPasswordForm.confirmPassword.$invalid && resetPasswordForm.password.$dirty">Passwords don't match.</p>
                  </div>
               </div>
                <div class="row m-b-sm ">
                    <div class="col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end">
                        <div
                            vc-recaptcha
                            theme="'light'"
                            key="$ctrl.recap.publicKey"
                        ></div>
                    </div>
                </div>               
               <div class="form-actions text-right">
                  <button type="submit" data-ng-disabled="resetPasswordForm.$invalid || $ctrl.dataLoading" class="btn btn--lg btn-block btn--green pill-radius">Reset password</button>
              </div>
            </form>
         </div>
      </div>
   </div>
</div>