<div data-ng-controller="CartController">
    <div class="d-none d-md-block d-lg-none">
        <div class="row m-b-md">
            <div class="content-panel col-md-12">
                <div class="bg-white">
                    <div class="content-panel__head border-grey-xs--btm">
                        <p class="font-h4 font-weight-medium">Important notice</p>
                    </div>
                    <div class="content-panel__body">
                        <p class="font-body m-b-md">Please check the transaction details below. When you press the "Place this order" button below you're entering in to a legal contract under our terms and conditions.</p>
                        <p class="font-body m-b-md">You will need to make payment in to the MoneyCorp account at the Bank of New York.</p>
                        <p class="font-body m-b-md">Funds must be received in to our account at MoneyCorp by:</p>                
                        <p class="font-weight-medium font-h4 m-b-md">{{$ctrl.patentObj.transTargetEndDateUI}}</p>       
                        <p class="font-body">The transaction will be progressed at the time shown provided funds have been received.  After this point the transaction will be cancelled and penalty charges will apply.  The cost of renewal may also change.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block d-lg-none">
        <div class="row">
           <div class="content-panel col-md-12">
                <div class="bg-white">
                    <div class="content-panel__head border-grey-xs--btm">
                        <p class="font-h4 font-weight-medium">Order Summary MD</p>
                    </div>
                     <div class="content-panel__body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="border-grey-xs--btm  m-b-xs">
                                    <div class="row font-body m-b-xs">
                                        <div class="col-md-5">
                                            <p class="font-weight-medium font-body">Total Patents: </p>                        
                                        </div>
                                        <div class="col-md-7">
                                            <p class="font-body">{{$ctrl.patentObj.totalPatents}}</p>
                                        </div>                                
                                    </div>
                                </div>
                                <div class="border-grey-xs--btm m-b-xs">
                                    <div class="row font-body m-b-xs">                                
                                        <div class="col-md-5">
                                            <p class="font-weight-medium font-body">App No/s: </p>                        
                                        </div>                    
                                        <div class="col-md-7">
                                            <span class="font-body" data-ng-repeat="p in $ctrl.patentObj.patents">{{p}}<br></span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="border-grey-xs--btm m-b-xs">
                                    <div class="row font-body m-b-xs">                                
                                        <div class="col-md-5">
                                            <p class="font-weight-medium font-body">Date: </p>                        
                                        </div>                  
                                        <div class="col-md-7">
                                            <p class="font-body">{{$ctrl.patentObj.dateNowLocalTime}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-xs"> 
                                    <div class="row font-body m-b-xs">                         
                                        <div class="col-md-5">
                                            <p class="font-weight-medium font-body">Total Cost: </p>                        
                                        </div>
                                        <div class="col-md-7">
                                            <p class="font-body">$ {{$ctrl.patentObj.totalCostUSD | number: 2 }}</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>                       
                            <div class="col-md-7 d-flex justify-content-end align-items-end">
                                <div class="btn-cancel">
                                    <div class="btn bg-phase-red font-weight-medium pill-radius d-flex align-items-center" data-ng-click="$ctrl.openCancelTransModal()">
                                        <a class="btn__link btn__link--white btn--lg ">Cancel transaction <img class="m-l-xs d-md-none" src="assets/imgs/icons/cart_icon_white_sm.png"></a> 
                                    </div>                            
                                </div>
                                <div class="btn-submit">
                                   <div class="btn bg-phase-green font-weight-medium pill-radius d-flex align-items-center m-l-sm" data-ng-click="$ctrl.commitTransfer(); ngCart.empty()" data-ng-disabled="$ctrl.commitTransferBtn">
                                        <a href="" class="btn--lg btn__link btn__link--white">Place this order<img class="m-l-xs d-md-none" src="assets/imgs/icons/cart_icon_white_sm.png"></a>
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div>                     
                </div>      
            </div>
        </div>
    </div>
    <div class="bg-white">
        <div class="d-none d-lg-block">
            <div class="row">
                <div class="content-panel col-lg-6 col-xl-6 p-r-none">
                    <div class="content-panel__head border-grey-xs--btm">
                        <p class="font-h4 font-weight-medium">Important notice</p>
                    </div>
                    <div class="content-panel__body">
                        <p class="font-body m-b-md">Please check the transaction details below. When you press the "Place this order" button below you're entering in to a legal contract under our terms and conditions.</p>
                        <p class="font-body m-b-md">Funds must be received in to our U.S MoneyCorp account by:</p>                
                        <p class="font-weight-medium font-h4 m-b-md">{{$ctrl.patentObj.transTargetEndDateUI}}</p>       
                        <p class="font-body">The transaction will be progressed at the time shown provided funds have been received. Otherwise the transaction will be cancelled and penalty charges will apply.  The cost of renewal may also change.</p>
                    </div>
                </div>
            	<div class="content-panel col-lg-6 col-xl-6 p-l-none">
                    <div class="content-panel__head border-grey-xs--btm">
                        <p class="font-h4 font-weight-medium">Order Summary</p>
                    </div>
                     <div class="content-panel__body">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="border-grey-xs--btm  m-b-xs">
                                    <div class="row font-body m-b-xs">
                                        <div class="col-xl-8">
                                            <p class="font-weight-medium font-body">Total Patents: </p>                        
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="font-body">{{$ctrl.patentObj.totalPatents}}</p>
                                        </div>                                
                                    </div>
                                </div>
                                <div class="border-grey-xs--btm m-b-xs">
                                    <div class="row font-body m-b-xs">                                
                                        <div class="col-xl-8">
                                            <p class="font-weight-medium font-body">App No/s: </p>                        
                                        </div>                    
                                        <div class="col-xl-4">
                                            <span class="font-body" data-ng-repeat="p in $ctrl.patentObj.patents">{{p}}<br></span>
                                        </div>  
                                    </div>
                                </div>
                                <div class="border-grey-xs--btm m-b-xs">
                                    <div class="row font-body m-b-xs">                                
                                        <div class="col-xl-8">
                                            <p class="font-weight-medium font-body">Date: </p>                        
                                        </div>                  
                                        <div class="col-xl-4">
                                            <p class="font-body">{{$ctrl.patentObj.dateNowLocalTime}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-b-xs"> 
                                    <div class="row font-body m-b-xs">                         
                                        <div class="col-xl-8">
                                            <p class="font-weight-medium font-body">Total Cost: </p>                        
                                        </div>
                                        <div class="col-xl-4">
                                            <p class="font-body">$ {{$ctrl.patentObj.totalCostUSD | number: 2 }}</p>
                                        </div> 
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </div>
        			<div class="content-panel__body">
            			<div class="row">
        					<div class="col-xl-12 d-flex justify-content-end">
                                <div class="btn-cancel">
                                    <div class="btn bg-phase-red font-weight-medium pill-radius d-flex align-items-center" data-ng-click="$ctrl.openCancelTransModal()">
                                        <a class="btn__link btn__link--white btn--lg ">Cancel transaction</a>
                                    </div>                            
                                </div>
                                <div class="btn-submit">
                                   <div class="btn bg-phase-green font-weight-medium pill-radius d-flex align-items-center m-l-sm" data-ng-click="$ctrl.commitTransfer(); ngCart.empty()" data-ng-disabled="$ctrl.commitTransferBtn">
                                        <a class="btn--lg btn__link btn__link--white">Place this order</a>
                                    </div>  
                                </div>
        					</div>						
            			</div>
        			</div>		
                </div>
        	</div>
        </div>
    </div>
</div>	