<div class="bg-white widget-panel">
	<div class="widget-panel__head border-grey-xs--btm d-flex align-items-center justify-content-between">
		<h3 class="font-h3 font-weight-bold">Recent Activity</h3>
		<div class="d-xl-none panel-nav">
			<ul class="nav panel-nav__list">
				<li data-ng-repeat="item in $ctrl.activityNotifications track by $index" class="pill-radius btn--lg panel-nav__list-item panel-nav__link-item--fluid panel-nav__list-item--plain panel-nav__list-item--green" data-ng-click="$ctrl.setActivityActiveTab(item.activity, $ctrl.activeActivityTabResp); $ctrl.activeActivityTabResp = item.index " data-ng-class="{active : $ctrl.activeMenu == item.activity}">{{item.activity}}</li>
			</ul>
		</div>
	</div>
	<div class="widget-panel__body d-xl-none">
		<div class="view-tabs justify-content-between">
			<uib-tabset active="$ctrl.activeActivityTabResp">
				<uib-tab heading="Stage Change" class="pill-radius pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="0" data-ng-hide="true">
					<div class="widget-panel--max m-t-sm">
						<div class="row" data-ng-if="$ctrl.recentStageArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex justify-content-center align-items-center">
									<p class="font-weight-bold text-center">There is no recent activity to report</p>
								</div>
							</div>	
						</div>
						<div class="row" data-ng-if="$ctrl.recentStageArr.length !== 0">
							<div class="col-md-6 col-lg-6" data-ng-repeat="item in $ctrl.recentStageArr" >
								<table class="table t-data m-b-md">
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Patent No.</td>
										<td class="t-data t-data__w60">{{item.patentApplicationNumber}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold">Description</td>
										<td ng-if="!item.shortTitle" class="txt-grey t-data__w40">[No client description provided]</td>
										<td class="t-data__w60" ng-if="item.shortTitle">{{item.shortTitle}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Amount</td>
										<td class="t-data__w60">$ {{item.currentRenewalCostUSD | number: 2 }}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Current Stage</td>
										<td data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__w60">{{item.costBandColour}}</td>
									</tr>
									<tr class="t-data t-data__row">
										<td class="font-weight-bold t-data__w40">Next Stage</td>
										<td data-ng-class="(item.nextCostBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.nextCostBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.nextCostBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.nextCostBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__w60">{{item.nextCostBandColor}}</td>
									</tr>					
								</table>
							</div>								
						</div>									
					</div>
				</uib-tab>
			    <uib-tab heading="Transactions" class="pill-radius p-few-pill-tabs pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="1" data-ng-hide="true">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row" data-ng-if="$ctrl.recentTransArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex justify-content-center align-items-center">
									<p class="font-weight-bold text-center">There is no recent activity to report</p>
								</div>
							</div>								
						</div>
					    <div class="row border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
							<div class="col-md-12 col-lg-6">
								<table class="table t-data">
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction ID</td>
										<td class="t-data__td-50">{{trans.p3S_TransRef}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction Date</td>
										<td class="t-data__td-50">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
													{{item.patentUI.patentApplicationNumber}}<br>
											</span>
											<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
												<option value="" disabled selected>Multiple</option>									
											</select>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Total</td>
										<td class="t-data__td-50">$ {{trans.transAmount_USD | number: 2 }}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Transaction status</td>
										<td class="t-data__td-50">{{trans.latestTransStatus}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</uib-tab>
			    <uib-tab heading="Renewals" class="pill-radius p-few-pill-tabs pill-tabs no-line-height uib-btn--lg bg-white border-grey-xs border-xs font-weight-medium txt-black" index="2" data-ng-hide="true">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row" data-ng-if="$ctrl.recentRenewalArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex justify-content-center align-items-center">
									<p class="font-weight-bold text-center">There is no recent activity to report</p>
								</div>
							</div>								
						</div>						    
				    	<div class="row" data-ng-repeat="item in $ctrl.recentRenewalArr" data-ng-if="$ctrl.recentRenewalArr.length !== 0">
							<div class="col-md-12 col-lg-12">
								<table class="table t-data m-b-md">
									<tr>
										<td class="font-weight-bold t-data__td-50">Status</td>
										<td class="t-data__td-50">Renewal {{item.latestTransStatus}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Date Renewed</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.certificate.renewedOnDateExEpo | date:'MM/dd/yyyy'}}<br>
											</span>
										</td>
									</tr>																			
									<tr>
										<td class="font-weight-bold t-data__td-50">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.patentUI.patentApplicationNumber}}<br>
											</span>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold t-data__td-50">Amount</td>
										<td class="t-data__td-50">$ {{item.transAmount_USD | number: 2 }}</td>
									</tr>			
								</table>
							</div>
						</div>
					</div>
				</uib-tab>						
			</uib-tabset>
		</div>	
	</div>			
	<div class="widget-panel__body d-none d-xl-block">
		<div class="d-flex justify-content-between">
			<uib-tabset class="panel-nav__list">
				<uib-tab heading="Stage Change" class="pill-radius panel-nav__list-item panel-nav__nav-link--fluid panel-nav__list-item--plain panel-nav__list-item--green">
					<div class="widget-panel--max m-t-sm">
						<div class="row m-t-lg" data-ng-if="$ctrl.recentStageArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex align-items-center justify-content-center">
									<p class="font-weight-bold">There is no recent activity to report</p>
								</div>
							</div>								
						</div>
						<div class="row m-t-md" data-ng-repeat="item in $ctrl.recentStageArr" data-ng-if="$ctrl.recentStageArr.length !== 0">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<table class="table t-data m-b-md">
									<tbody>
										<tr>
											<td class="font-weight-bold t-data__td-50">Patent No.</td>
											<td class="t-data__td-50">{{item.patentApplicationNumber}}</td>
										</tr>
										<tr>
											<td class="font-weight-bold t-data__td-50">Description</td>
											<td ng-if="!item.shortTitle" class="txt-grey t-data__td-50">[No client description provided]</td>
											<td ng-if="item.shortTitle" class="t-data__td-50">{{item.shortTitle}}</td>
										</tr>
										<tr>
											<td class="font-weight-bold">Amount</td>
											<td class="t-data__td-50">$ {{item.currentRenewalCostUSD | number: 2 }}</td>
										</tr>
										<tr>
											<td class="font-weight-bold t-data__td-50">Current Stage</td>
											<td data-ng-class="(item.costBandColour == 'Green' ? 'txt-phase-green': '') + '' + (item.costBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.costBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.costBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.costBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__td-50">{{item.costBandColour}}</td>
										</tr>
										<tr>
											<td class="font-weight-bold t-data__td-50">Next Stage</td>
											<td data-ng-class="(item.nextCostBandColour == 'Amber' ? 'txt-phase-amber': '') + '' + (item.nextCostBandColour == 'Red' ? 'txt-phase-red': '') + '' + (item.nextCostBandColour == 'Blue' ? 'txt-phase-blue': '') + '' + (item.nextCostBandColour == 'Black' ? 'txt-phase-white': '')" class="font-weight-bold t-data__td-50">{{item.nextCostBandColor}}</td>
										</tr>									
									</tbody>
								</table>
							</div>								
						</div>								
					</div>
				</uib-tab>
			    <uib-tab heading="Transactions" class="pill-radius panel-nav__list-item panel-nav__nav-link--fluid panel-nav__list-item--plain panel-nav__list-item--green">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentTransArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex align-items-center justify-content-center">
									<p class="font-weight-bold">There is no recent activity to report</p>
								</div>
							</div>								
						</div>
					    <div class="row m-t-md border-grey-xs--btm" data-ng-repeat="trans in $ctrl.recentTransArr" data-ng-if="$ctrl.recentTransArr.length !== 0">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<table class="table t-data">
									<tr>
										<td class="font-weight-bold">Transaction ID</td>
										<td class="t-data__td-50">{{trans.p3S_TransRef}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Transaction Date</td>
										<td class="t-data__td-50">{{trans.transStartDate | date:'MM-dd-yy'}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="item in trans.renewalUIs" data-ng-if="trans.renewalUIs.length == 1" >
												{{item.patentUI.patentApplicationNumber}}<br>
											</span>
											<select data-ng-if="trans.renewalUIs.length > 1" data-ng-options="item.patentUI.patentApplicationNumber for item in trans.renewalUIs" data-ng-model="data.selectedOption" class="pill-radius form-control">
												<option value="" disabled selected>Multiple</option>									
											</select>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Total</td>
										<td class="t-data__td-50">$ {{trans.transAmount_USD | number: 2 }}</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Transaction status</td>
										<td class="t-data__td-50">{{trans.latestTransStatus}}</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</uib-tab>
			    <uib-tab heading="Renewals" class="pill-radius panel-nav__list-item panel-nav__nav-link--fluid panel-nav__list-item--plain panel-nav__list-item--green">
			    	<div class="widget-panel--max m-t-sm">	
						<div class="row bg-no-data m-t-lg" data-ng-if="$ctrl.recentRenewalArr.length === 0">
							<div class="col-md-12 col-lg-12 d-flex justify-content-center z-index-1">
								<div class="bg-no-data d-flex align-items-center justify-content-center">
									<p class="font-weight-bold">There is no recent activity to report</p>
								</div>
							</div>								
						</div>						    
				    	<div class="row" data-ng-repeat="item in $ctrl.recentRenewalArr" data-ng-if="$ctrl.recentRenewalArr.length !== 0">
							<div class="col-md-12 col-lg-12 col-xl-12 m-t-md">
								<table class="table t-data m-b-md">
									<tr>
										<td class="font-weight-bold">Status</td>
										<td class="t-data__td-50">Renewal {{item.latestTransStatus}}</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Date Renewed</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.patentUI.lastRenewedDateExEpo | date:'MM/dd/yyyy'}}<br>
											</span>
										</td>
									</tr>																			
									<tr>
										<td class="font-weight-bold">Patents</td>
										<td class="t-data__td-50">
											<span data-ng-repeat="renewals in item.renewalUIs">
												{{renewals.patentUI.patentApplicationNumber}}<br>
											</span>
										</td>
									</tr>
									<tr>
										<td class="font-weight-bold">Amount</td>
										<td class="t-data__td-50">$ {{item.transAmount_USD | number: 2 }}</td>
									</tr>			
								</table>
							</div>
						</div>
					</div>
				</uib-tab>						
			</uib-tabset>
		</div>
	</div>
</div>