<div class="widget-panel bg-white">
	<div class="widget-panel__head border-grey-xs--btm">
		<div class="row d-flex align-items-center">
			<div class="col-md-9 col-lg-9 col-xl-9">
				<h3 class="font-h3 font-weight-bold">Colour Key</h3>
			</div>
			<div class="col-md-3 col-lg-3 col-xl-3">
				<div class="d-flex justify-content-center align-items-center flex-column">
					<div class="pill-radius btn btn--lg" data-ng-class="$ctrl.selectedPhase.getPhase().phase.bgClass">
						<h3 class="txt-white widget-pill-title font-weight-medium font-h4">{{$ctrl.selectedPhase.getPhase().phase.title}} Phase</h3>
					</div>
				</div>
			</div>						
		</div>
	</div>
	<div class="widget-panel__body">
		<div class="m-b-md">
			<uib-tabset active="activeTab" type="pills">
			    <uib-tab heading="Green" index="0" class="bg-phase-green font-body" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> 3 months before renewal date - 6 working days before renewal date</p>
					<p class="font-body">The Green Phase is the first phase in the annuity cycle and starts when the renewal window opens 3 months before the renewal date, and closes when only 6 working days remain before the end of the period.  This is the most cost-effective time to renew.</p>
				</uib-tab>
			    <uib-tab heading="Amber" index="1" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> 6 working days before renewal date - 3 working days before renewal date</p>
					<p class="font-body">The Amber Phase starts on day 6 before the renewal date and closes on day 4. We use priority exchange and payments methods during this time which attract a small premium.</p>
				</uib-tab>
			    <uib-tab heading="Red" index="2" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> Final 3 days before renewal date</p>						    	
					<p class="font-body">The Red Phase is the final 3 working days before the renewal date.  We’re not currently able to accept renewals through our web service at this time, but we can certainly help – you just need to give us a call.</p>
				</uib-tab>
			    <uib-tab heading="Blue" index="3" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> Day after renewal date - 10 working days before end of extension</p>
					<p class="font-body">The Blue Phase starts on the day after the renewal date and runs until the end of the 11th working days before the end of the 6 month extension period.</p>
				</uib-tab>
			    <uib-tab heading="Black" index="4" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> The period between 10 and 6 working days before the expiry of the extension period</p>						    	
					<p class="font-body">The Black Phase starts on the 10th day before the expiry of the extension period, and runs until 21:00 UTC on the 6th day before the end of the extension period.</p>
				</uib-tab>
			    <uib-tab heading="Grey" index="5" data-ng-hide="true">
			    	<p class="font-weight-medium font-h4 m-b-md"><span class="font-weight-bold">Timeframe:</span> During this period patents are not generally available for renewal</p>
					<p class="font-body">Generally patents are not renewable during this the Grey phase.  This may be because the patent has already been renewed, or it may be that the renewal window hasn’t opened yet.  If you think you should be able to renew a patent in this phase then please contact us.</p>
				</uib-tab>
			</uib-tabset>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12">
				<div class="phase-tabs">
					<ul class="nav phase-pills">
						<li class="bg-phase-green pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 0; $ctrl.setPhase('green')" data-ng-hide="activeTab == 0">Green</li>
						<li class="bg-phase-amber pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 1; $ctrl.setPhase('amber')" data-ng-hide="activeTab == 1">Amber</li>
						<li class="bg-phase-red pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 2; $ctrl.setPhase('red')" data-ng-hide="activeTab == 2">Red</li>
						<li class="bg-phase-blue pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 3; $ctrl.setPhase('blue')" data-ng-hide="activeTab == 3">Blue</li>
						<li class="bg-phase-black pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 4; $ctrl.setPhase('black')" data-ng-hide="activeTab == 4">Black</li>
						<li class="bg-phase-grey pill-radius btn--reg pill-tabs font-body no-line-height font-weight-medium" data-ng-click="activeTab = 5; $ctrl.setPhase('grey')" data-ng-hide="activeTab == 5">Grey</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>