<div class="row">
    <div class="col-md-12 col-lg-9 col-xl-9">
        <div class="content-panel__body bg-white">
            <h4 class="font-h4">Form 1200</h4>
            <p>The application has been saved to your portfolio which is available to review, download or cancel at anytime you want. You can now either:</p>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn">Download</button>
                    <button type="button" class="btn">Open</button>
                </div>
            </div>
        </div>
    </div>   
</div>
<div class="row">
    <div class="col-md-12 col-lg-9 col-xl-9">
        <div class="content-panel__body bg-white">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>   
</div>

            <!-- <div class="content-panel__body bg-white" data-ng-if="$ctrl.generatedPdf">
                <div class="row">
                    <div class="col-xl-12 d-flex justify-content-end align-items-center">
                        <p class="font-weight-bold m-r-sm">After reviewing the form, can you confirm the details are correct?</p>
                        <button type="button" class="btn btn--default bg-phase-red pill-radius m-r-sm">
                            <a class="btn__link btn__link--white btn--lg" data-ng-click="$ctrl.form1200Incorrect()">Incorrect</a>
                        </button>
                        <button type="button" class="btn btn--default bg-phase-green pill-radius">
                            <a class="btn__link btn__link--white btn--lg" data-ng-click="$ctrl.form1200Correct()">Correct</a>
                        </button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->