<div class="content-panel">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="content-panel__body bg-white">
                <div class="m-t-sm m-b-md">
                    <div class="nav panel-nav__list justify-content-center">

                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-init="$ctrl.activeTab = $ctrl.confirmEntity.index" data-ng-click="$ctrl.activeTab = $ctrl.confirmEntity.index" data-ng-class="{'active': $ctrl.activeTab == 0}">{{$ctrl.confirmEntity.title()}}</button>
                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.amendments.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.amendments.index}" data-ng-disabled="!$ctrl.confirmEntityChecked">{{$ctrl.amendments.title()}}</button>

                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.documents.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.documents.index}" data-ng-if="$ctrl.documents.active" data-ng-disabled="!$ctrl.amendmentsChecked">{{$ctrl.documents.title()}}</button>
                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.extAndValid.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.extAndValid.index}" data-ng-disabled="!$ctrl.documentsChecked">{{$ctrl.extAndValid.title()}}</button>

                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.reference.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.reference.index}" data-ng-disabled="!$ctrl.extAndValidChecked">{{$ctrl.reference.title()}}</button> 
                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-click="$ctrl.activeTab = $ctrl.confirmPages.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.confirmPages.index}" data-ng-disabled="!$ctrl.referenceChecked">{{$ctrl.confirmPages.title()}}</button>
                        <button class="pill-radius panel-nav__list-item panel-nav__list-item--fluid panel-nav__list-item--plain panel-nav__list-item--green font-weight-medium" data-ng-if="$ctrl.renewal.active" data-ng-click="$ctrl.activeTab = $ctrl.renewal.index" data-ng-class="{'active': $ctrl.activeTab == $ctrl.renewal.index}" data-ng-disabled="!$ctrl.confirmPagesChecked">{{$ctrl.renewal.title()}}</button>
                    </div>
                </div>
                <form name="form1200Form" data-ng-submit="$ctrl.submitForm1200(form1200Form, item.selected)" novalidate>
                    <uib-tabset active="$ctrl.activeTab">
                        <uib-tab heading="" index="$ctrl.confirmEntity.index" data-ng-hide="true">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label for="confirmEntityModel""><span class="font-weight-medium">The/Each applicant hereby declares that he is an entity or a natural person under Rule 6(4) EPC.</span>
                                            <input type="checkbox" name="entityCheck" data-ng-model="confirmEntityModel" class="m-l-xs" required>
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" data-ng-disabled="!confirmEntityModel"" data-ng-click="$ctrl.confirmEntity.fn()" type="button">
                                                <a class="btn__link btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="" index="$ctrl.amendments.index" data-ng-hide="true">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label for="confirmAmendments" class="font-weight-medium"><span class="font-weight-medium">Have any amendments been made to the claim?</span>
                                            <input type="checkbox" name="confirmAmendments" data-ng-model="confirmAmendmentsModel" data-ng-change="$ctrl.manualProcess(confirmAmendmentsModel, 'amendments')" class="m-l-xs">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-disabled="confirmAmendmentsModel" data-ng-click="$ctrl.amendments.fn()">
                                                <a class="btn__link btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="" index="$ctrl.documents.index" data-ng-hide="true" data-ng-if="$ctrl.documents.active">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label for="documents" class="font-weight-medium"><span class="font-weight-medium">Additional copies of the document cited in the supplementary European search report are requested</span>
                                            <input type="checkbox" name="documents" data-ng-model="documentsModel" data-ng-change="$ctrl.manualProcess(documentsModel, 'documents')" class="m-l-xs">
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-disabled="documentsModel" data-ng-click="$ctrl.documents.fn()">
                                                <a class="btn__link btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>                        
                        <uib-tab heading="" index="$ctrl.extAndValid.index" data-ng-hide="true"> <!--if ISA = to EP-->
                            <div class="row">
                                <div class="col-xl-6">
                                    <h4 class="m-b-xs font-weight-medium">Extension states</h4>
                                    <div class="row m-b-sm">
                                        <div class="col-md-6" data-ng-repeat="checkbox in $ctrl.chunkedData">
                                            <div data-ng-repeat="item in checkbox"> 
                                                <label for="item.abbr">
                                                    <span class="font-weight-medium" data-ng-bind="item.abbr"></span>{{item.name}}
                                                </label>
                                                <input type="checkbox" id="'{{item.name}}'" data-ng-true-value="'{{item.name}}'" data-ng-false-value="" data-ng-model="item.selected">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <h4 class="m-b-xs font-weight-medium">Validation states</h4>
                                    <div class="row m-b-sm">
                                        <div class="col-md-6" data-ng-repeat="checkbox in $ctrl.chunkedData">
                                            <div data-ng-repeat="item in checkbox"> 
                                                <label for="item.abbr">
                                                    <span class="font-weight-medium" data-ng-bind="item.abbr"></span>{{item.name}}
                                                </label>
                                                <input type="checkbox" id="'{{item.name}}'" data-ng-true-value="'{{item.name}}'" data-ng-false-value="" data-ng-model="item.selected">
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                                <div class="col-xl-12">
                                    <div class="row m-t-sm">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-click="$ctrl.extAndValid.fn()">
                                                <a class="btn__link btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="" index="$ctrl.reference.index" data-ng-hide="true">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-row">
                                        <div class="form-group col-xl-4">
                                            <label for="reference" class="font-weight-medium col-form-label font-body">Please enter applicant’s or representatives reference: </label>
                                            <input type="text" name="reference" class="form-control" class="m-l-xs" data-ng-model="referenceModel" required>
                                        </div>
                                    </div>
                                    <div class="row m-t-sm">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-click="$ctrl.reference.fn()" data-ng-disabled="!referenceModel">
                                                <a class="btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="" index="$ctrl.confirmPages.index" data-ng-hide="true">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group row">
                                        <label for="totalPages" class="col-xl-8 col-form-label font-body">Please enter the total number of pages</label>
                                        <div class="col-xl-4">
                                            <input type="text" name="totalPages" class="form-control" data-ng-model="totalPagesModel" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="totalClaims" class="col-xl-8 col-form-label font-body">Please enter the total number of claim</label>
                                        <div class="col-xl-4">
                                            <input type="text" name="totalClaims" class="form-control" data-ng-model="totalClaimsModel" required>
                                        </div>
                                    </div>
                                    <p>Please enter the page start and end numbers</p>
                                    <div class="row m-t-sm">
                                        <div class="col-md-12 d-flex justify-content-end">
                                            <button type="submit" id="submit" class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-if="!$ctrl.renewal.active" data-ng-click="$ctrl.generateForm1200()" data-ng-if="!$ctrl.renewal.active" data-ng-disabled="form1200Form.$invalid">
                                                <a class="btn__link btn--lg">Generate forrrrrm</a>
                                            </button>
                                            <button class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-if="$ctrl.renewal.active" data-ng-click="$ctrl.confirmPages.fn()">
                                                <a class="btn__link btn--lg">Next</a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="" index="$ctrl.renewal.index" data-ng-hide="true" data-ng-if="$ctrl.renewal.active">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label for="renewal">We can see that the third year renewal can be renewed. Would you like to process the renewal in this transaction?
                                            <input type="checkbox" name="renewal" data-ng-model="thirdYearRenewalModel" class="m-l-xs">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-sm">
                                <div class="col-md-12 d-flex justify-content-end">
                                    <button type="submit" id="submit" class="btn pill-radius btn--default bg-phase-green pill-radius" type="button" data-ng-click="$ctrl.generateForm1200()"data-ng-disabled="form1200Form.$error.required">
                                        <a class="btn__link btn--lg">Generate formm</a>
                                    </button>
                                </div>
                            </div>                            
                        </uib-tab>
                    </uib-tabset>
                </form>
            </div><!--form end-->
        </div>
    </div>
</div>