<div class="modal-header d-flex flex-column align-items-center justify-content-center">
	<span class="modal-cross cursor-pointer" ng-click="dismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="m-b-xs">
		<img src="assets/imgs/icons/modal/alert_icon.png">	
	</div>
	<p class="font-h3 txt-phase-red">Remove Patent</p>
</div>
<div class="modal-body d-flex align-items-center justify-content-center">
	<p class="font-h4 text-center">Are you sure you want to remove patent application {{$ctrl.patent.patentApplicationNumber}}?</p>
</div>
<div class="modal-footer d-flex align-items-center justify-content-center">
	<button class="btn btn--lg btn-portal pill-radius bg-phase-red font-body no-line-height font-weight-medium txt-white d-flex align-items-center justify-content-center m-r-md" ng-click="cancelDeletion()">No <img src="assets/imgs/icons/cross_white_icon.png" alt="cancel icon" class="m-l-xs"></button>
	<button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body no-line-height font-weight-medium txt-white d-flex align-items-center justify-content-center" ng-click="deletePatent()">Yes <img src="assets/imgs/icons/tick_white_icon.png" alt="submit icon" class="m-l-xs"></button>
</div>
