<div data-ng-controller="mainNavCtrl">
	 <section flex>
	    <md-sidenav class="md-sidenav-left bg-phase-black " md-component-id="left" md-disable-backdrop md-whiteframe="3">
	    	<div class="row">
	    		<div class="col-md-12">
			      	<div class="bg-phase-black p-tb-sm">
			      		<div class="row">
					      	<div class="col-md-6 d-flex justify-content-center align-items-center">
					      		<img src="assets/imgs/logos/pp_icon.png" alt="patent place icon small">
					      	</div>
					      	<div class="col-md-6 d-flex justify-content-center align-items-center">
						        <md-button data-ng-click="toggleLeft()" class="d-flex justify-content-right align-items-center">
					          		<img src="assets/imgs/icons/close_icon.png" alt="close menu icon">
					        	</md-button>
					      	</div>			      			
			      		</div>
			      	</div>	    			
	    		</div>
	    	</div>
      	 	<md-content class="bg-phase-black">
	      	 	<div layout="column" class="p-pill-tabs m-b-sm p-a-sm">
		      	 	<div class="d-flex justify-content-center align-items-center m-b-sm white-nav-a">
		      	 		<a class="nav-link txt-white" ui-sref="profile">
		      	 			<img src="assets/imgs/icons/user_icon.png">
	      	 			</a>
		      	 	</div>
	      	 		<div class="d-flex justify-content-center align-items-center white-nav-a">
	      	 			<a class="nav-link d-flex justify-content-center align-items-center txt-white inline-link" ui-sref="profile">
			      	 		<p class="font-h4 font-weight-bold txt-white">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</p>
		      	 		</a>
	      	 		</div>
	      	 		<div class="d-flex justify-content-center align-items-center white-nav-a">
		      	 		<p class="txt-white font-body text-center">{{$ctrl.user.business.businessName}}</p>
		      	 	</div>
	      	 	</div>
	      	 	<div layout="column" class=" d-flex justify-content-center">
	      	 		<nav class="nav">
						<ul class="side-menu w-100">
							<li data-ng-repeat="section in $ctrl.menu.sections" class="font-body txt-white font-weight-medium" ui-sref-active="active" data-ng-class="{'parentActive' : $ctrl.isSectionSelected(section)}">
	                        	<menu-link section="section" data-ng-if="section.type === 'link'"></menu-link>
	        					<menu-toggle section="section" data-ng-if="section.type === 'toggle'" context="$ctrl"></menu-toggle>
					        </li>
						</ul>
					</nav>
				</div>
			</md-content>
			<div class="text-center position-bottom w-100 m-b-sm">
				<img src="assets/imgs/logos/moneycorp_logo.png" alt="moneycorp icon">
			</div>
	    </md-sidenav>
  	</section>
  
    <div layout="column" class="closed-sidenav bg-phase-black">
	  	<div class="text-center w-100 p-tb-35">
	  		<a ui-sref="dashboard">
	  			<img width="40" src="assets/imgs/logos/pp_icon.png">
	  		</a>
	    </div>		
	    <div data-ng-click="toggleLeft()" class="bg-phase-green p-tb-sm text-center btn">
	    	<img class="d-none d-xl-inline-block" src="assets/imgs/icons/menu/menu_menu_icon.png">
	    	<img class="d-xl-none" src="assets/imgs/icons/menu/menu_menu_icon_sm.png">
	    </div>		    
		<ul class="nav flex-column">
			<li class="nav-item" ui-sref-active="active white-nav-a">
				<a class="nav-link p-tb-md txt-white d-flex justify-content-center align-items-center" ui-sref="dashboard">
					<img class="d-none d-xl-block" src="assets/imgs/icons/menu/menu_dashboard_icon.png">
					<img class="d-xl-none" src="assets/imgs/icons/menu/menu_dashboard_icon_sm.png">
				</a>
			</li>
			<li class="nav-item" ui-sref-active="active white-nav-a">
				<a class="nav-link p-tb-md txt-white d-flex justify-content-center align-items-center" ui-sref="portfolio">
					<img class="d-none d-xl-block" src="assets/imgs/icons/menu/menu_portfolio_icon.png">
					<img class="d-xl-none" src="assets/imgs/icons/menu/menu_portfolio_icon_sm.png">
				</a>
			</li>			
<!-- 			<li class="nav-item" ui-sref-active="active white-nav-a">
				<a class="nav-link p-tb-md txt-white d-flex justify-content-center align-items-center" ui-sref="patents">
					<img class="d-none d-xl-block" src="assets/imgs/icons/menu/menu_patent_icon.png">
					<img class="d-xl-none" src="assets/imgs/icons/menu/menu_patent_icon_sm.png">
				</a>
			</li> -->
			<li class="nav-item" ui-sref-active="active white-nav-a">
				<a class="nav-link p-tb-md txt-white d-flex justify-content-center align-items-center" ui-sref="current-transactions">
					<img class="d-none d-xl-block" src="assets/imgs/icons/menu/menu_transaction_icon.png">
					<img class="d-xl-none" src="assets/imgs/icons/menu/menu_transaction_icon_sm.png">
				</a>
			</li>
		</ul>
		<div class="text-center position-bottom w-100 m-b-sm">
			<img src="assets/imgs/logos/moneycorp-logo_small.png" alt="moneycorp icon">
		</div>
  	</div>
</div>
