<div class="row m-b-md">
	<div class="col-xl-12">
		<nav class="navbar secondary-view-nav">
			<ul class="navbar-nav secondary-view-nav__list">
				<li class="secondary-view-nav__nav-item" data-ng-click="$ctrl.activePatentItemMenu = 'Patent Info'" >
					<a class="pill-radius secondary-view-nav__nav-link secondary-view-nav__nav-link--green" data-ui-sref-active="active" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Patent Info'}" data-ui-sref="portfolio.patent.patent-info">Patent Info</a>
				</li>
				<li class="secondary-view-nav__nav-item" data-ng-click="$ctrl.activePatentItemMenu = 'Cost Analysis'; $ctrl.loadChart()">
					<a class="pill-radius secondary-view-nav__nav-link secondary-view-nav__nav-link--green" data-ui-sref-active="active" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Cost Analysis'}" data-ui-sref="portfolio.patent.euro-pct.info">Euro-PCT</a>
				</li>
				<li class="secondary-view-nav__nav-item" data-ng-click="$ctrl.activePatentItemMenu = 'Renewal History'">
					<a class="pill-radius secondary-view-nav__nav-link secondary-view-nav__nav-link--green" data-ui-sref-active="active" data-ng-class="{active : $ctrl.activePatentItemMenu === 'Renewal History'}"" data-ui-sref="portfolio.patent.renewal">Renewal</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<div ui-view></div>