<div class="content-panel bg-white d-none d-xl-block">   
    <div class="content-panel__head border-grey-xs--btm">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="view-tabs">
                    <ul class="nav chart-pills">
                        <li class="nav-item pill-radius btn--lg pill-tabs secondary-view-nav__list-item secondary-view-nav__list-item--black" data-ng-init="renewal.activeSelectedTab = 0;renewal.activePatentItemMenu = 'Renewal Info'" data-ng-click="renewal.activeSelectedTab = 0; renewal.activePatentItemMenu = 'Renewal Info'" data-ng-class="{active : renewal.activePatentItemMenu === 'Renewal Info'}">Renewal Info</li>
                        <li class="nav-item pill-radius btn--lg pill-tabs secondary-view-nav__list-item secondary-view-nav__list-item--black" data-ng-click="renewal.activeSelectedTab = 1; renewal.activePatentItemMenu = 'Renewal History'" data-ng-class="{active : renewal.activePatentItemMenu === 'Renewal History'}">Renewal History</li>
                        <li class="nav-item pill-radius btn--lg pill-tabs secondary-view-nav__list-item secondary-view-nav__list-item--black" data-ng-click="renewal.activeSelectedTab = 3; renewal.activePatentItemMenu = 'Cost Analysis'" data-ng-class="{active : renewal.activePatentItemMenu === 'Cost Analysis'}">Cost Analysis</li> 
                    </ul>
                </div>  
            </div>
        </div>
    </div>

    <uib-tabset type="pills" active="renewal.activeSelectedTab">
        <uib-tab heading="Renewal Info" index="0" data-ng-hide="true">
            <div ui-view="renewalInfo"></div>
        </uib-tab>
        <uib-tab heading="Renewal History" index="1" data-ng-hide="true">
            <div ui-view="renewalHistory"></div>
        </uib-tab>
        <uib-tab heading="Cost Analysis" index="2" data-ng-hide="true">
            <div ui-view="renewalCostAnalysis"></div>
        </uib-tab>
    </uib-tabset>