<form name="userProfileForm" novalidate>
	<div class="content-panel m-b-md">
		<div class="content-panel__head text-center bg-white">
			<div class="row">
				<div class="col-md-12 col-lg-12 col-xl-12">
					<div class="row">
						<div class="col-md-2 col-lg-1 col-xl-1">
							<img src="assets/imgs/icons/user_icon_lg.png" alt="user profile icon">
						</div>
						<div class="col-md-10 col-lg-11 col-xl-11 d-flex justify-content-center align-items-start flex-column">
			      	 		<p class="font-weight-bold font-h3 m-b-xs">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</p>
	      	 				<p class="font-h3">{{$ctrl.user.business.businessName}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content-panel__body bg-white">
			<div class="row m-b-md">
				<div class="col-md-12 col-lg-6 col-xl-5">
					<fieldset class="m-b-md">
						<legend class="font-weight-bold font-h4 m-b-md">User Details</legend>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="emailAddress">Email:</label>
							<div class="col-md-6 col-lg-8">
								<input type="email" name="emailAddress" id="emailAddress" data-ng-model="$ctrl.user.emailAddress" class="form-control font-body pill-radius" readonly>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.emailAddress.$error.required && userProfileForm.emailAddress.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.emailAddress.$error.email && userProfileForm.emailAddress.$dirty">Please enter a valid email address</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="firstName">First name:</label>
							<div class="col-md-6 col-lg-8">
								<input type="text" name="firstName" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.firstName" id="firstName" data-ng-bind="firstName" required data-validate-name>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.firstName.$error.required && userProfileForm.firstName.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.firstName.$error.validName && userProfileForm.firstName.$dirty">Only letters, numbers, ' - and spaces are valid charcters in this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="lastName">Last name:</label>
							<div class="col-md-6 col-lg-8">
								<input type="text" class="form-control font-body pill-radius" name="lastName" data-ng-model="$ctrl.user.lastName"  id="lastName" required data-validate-name>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.lastName.$invalid && !userProfileForm.lastName.$pristine">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.lastName.$error.validName && userProfileForm.lastName.$dirty">Only letters, numbers, ' - and spaces are valid charcters in this field.</p>								
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-start font-body font-weight-medium" for="newPassword">Password:</label>
							<div class="col-md-4 col-lg-8">
								<input type="password" name="newPassword" data-ng-model="newPassword" class="form-control font-body pill-radius m-b-xs" id="newPassword" data-ng-blur="visitednewPassword=true" data-ng-minlength="8" data-ng-maxlength="20">
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.newPassword.$error.required && userProfileForm.newPassword.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.newPassword.$error.minlength && visitednewPassword">Password needs to be a minimum of 8 characters</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.newPassword.$error.minlength && visitednewPassword">Password needs to be a maximum of 20 characters</p>
								<ul class="m-t-xs" id="strength" data-check-strength="newPassword"></ul>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="password2">Confirm password:</label>
							<div class="col-md-4 col-lg-8">	
								<input type="password" name="password2" id="password2" class="form-control font-body pill-radius" data-ng-model="password2" data-pw-check="newPassword" data-ng-blur="visitedPassword2=true">
								 
							</div>
							<div class="col-md-4 offset-md-4 col-lg-8">	
								<span class="font-body txt-phase-red" data-ng-show="userProfileForm.password2.$error.pwmatch && visitedPassword2">Passwords don't match.</span>
							</div>
						</div>
					</fieldset>
					<fieldset class="form-group md-m-b-md">
						<legend class="font-weight-bold font-h4">Email notifications</legend>
						<p class="font-body font-weight-medium">Do you want to receive email notificaitons?</p>
						<div class="row m-t-xs">
							<div class="col-md-4">
								<div class="onoffswitch">
									<label class="switch font-body">
								  		<input type="checkbox" data-ng-model="$ctrl.user.isEmailNotification">
								  		<span class="slider round"></span>
									</label>
								</div>
							</div>							
						</div>
					</fieldset>
				</div>
				<div class="col-md-12 col-lg-6 offset-lg-0 col-xl-6 offset-xl-1">
					<fieldset>
						<legend class="font-weight-bold font-h4 m-b-sm">Business Address</legend>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="businessName">Business name:</label>
							<div class="col-md-6 col-lg-8">
								<input type="text" name="businessName" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.businessName" id="businessName" readonly>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.businessName.$error.required && userProfileForm.businessName.$dirty">Please fill out this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="phoneNumber">Tel:</label>
							<div class="col-md-3 col-lg-8">
								<input type="text" name="phoneNumber" class="form-control font-body pill-radius" data-ng-maxlength="40" data-ng-model="$ctrl.user.business.phoneNumber" id="phoneNumber" data-max-length="40" required data-validate-phone>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.phoneNumber.$error.required && userProfileForm.phoneNumber.$dirty">Please fill out this field.</p>
								<p class="font-body txt-phase-red" data-ng-show="(userProfileForm.phoneNumber.$error.validPhone && userProfileForm.phoneNumber.$dirty) || userProfileForm.phoneNumber.$error.maxlength">Please enter a valid phone number.</p>						
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="street">Street:</label>
							<div class="col-md-6 col-lg-8">
								<input type="text" name="street" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.street" id="street" required data-validate-address>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.street.$error.required && userProfileForm.street.$dirty">Please fill out this field.</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.street.$error.validAddress && userProfileForm.street.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="city">City:</label>
							<div class="col-md-5 col-lg-8">
								<input type="text" name="city" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.city" id="city" required data-validate-address>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.city.$error.required && userProfileForm.city.$dirty">Please fill out this field.</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.city.$error.validAddress && userProfileForm.city.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>								
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="USstate">State:</label>
							<div class="col-md-3 col-lg-8">
								<input type="text" name="USstate" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.usstate" id="USstate" required data-validate-address>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.USstate.$error.required && userProfileForm.USstate.$dirty">Please fill out this field.</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.USstate.$error.validAddress && userProfileForm.USstate.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>				
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="zip">Zip:</label>
							<div class="col-md-3 col-lg-8">
								<input type="text" name="zip" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.zip" id="zip" required data-validate-zip>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.zip.$error.required && userProfileForm.zip.$dirty">Please fill out this field.</p>		
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.zip.$error.validZip && userProfileForm.zip.$dirty">Only numbers and - are valid characters in this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="timezone">Time Zone</label>
							<div class="col-md-2 col-lg-3 col-xl-3">
								<select name="timezone" id="timezone" class="form-control font-body pill-radius"
								    data-ng-model="$ctrl.user.business.timezone"
								    data-ng-change="$ctrl.updateTimezone($ctrl.user.business.timezone)" 
								    data-ng-options="zone.abbr as zone.abbr for zone in $ctrl.ustimezones">
								</select>
								<!--removed track by zone.text in data-ng-options-->
							</div>
						</div>
					</fieldset>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12 col-lg-6 push-lg-6 col-xl-6 push-xl-6 md-m-b-md">
					<fieldset>
						<div class="row m-b-sm">
							<div class="col-md-12 col-lg-12 col-xl-12">
								<h4 class="font-weight-bold font-h4 m-b-sm">Billing address</h4>
							</div>			
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="billing_street">Street</label>
							<div class="col-md-6 col-lg-8">
								<input type="text" name="billing_street" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.billingStreet" id="billing_street" required data-validate-address>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_street.$error.required && userProfileForm.billing_street.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_street.$error.validAddress && userProfileForm.billing_street.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="billing_city">City</label>
							<div class="col-md-5 col-lg-8">
								<input type="text" name="billing_city" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.billingCity" id="billing_city" required data-validate-address>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_city.$error.required && userProfileForm.billing_city.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_city.$error.validAddress && userProfileForm.billing_city.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="billing_state">State</label>
							<div class="col-md-3 col-lg-8">
								<input type="text" name="billing_state" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.billingState" id="billing_state" required data-validate-address>						
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_state.$error.required && userProfileForm.billing_state.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_state.$error.validAddress && userProfileForm.billing_state.$dirty">Only letters, numbers, -, (), . and spaces are valid charcters in this field.</p>			
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-4 d-flex flex-column justify-content-center font-body font-weight-medium" for="billing_zip">Zip</label>
							<div class="col-md-3 col-lg-8">
								<input type="text" name="billing_zip" class="form-control font-body pill-radius" data-ng-model="$ctrl.user.business.billingZip" id="billing_zip" required data-validate-zip>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_zip.$error.required && userProfileForm.billing_zip.$dirty">Please fill out this field</p>
								<p class="font-body txt-phase-red" data-ng-show="userProfileForm.billing_zip.$error.validZip && userProfileForm.billing_zip.$dirty">Only numbers and - are valid characters in this field.</p>
							</div>
						</div>
					</fieldset>
				</div>		
				<div class="col-md-11 col-lg-6 pull-lg-6 col-xl-5 pull-xl-6">
					<div class="row m-b-md">
						<div class="col-md-6">
							<p class="font-h4 font-weight-bold">Company Users</p>
						</div>
						<div class="col-md-6 text-right">
							<p class="font-h4 font-weight-bold">Total: {{$ctrl.companyUsers.length}}</p>
						</div>						
					</div>
					<div class="row">
						<div class="col-md-6" data-ng-repeat="prop in $ctrl.chunkedData.chunk">
							<ul class="ul-bullet-free">
								<li class="font-body font-weight-medium" data-ng-repeat="users in prop"><span class="font-weight-bold">{{users.index}}. </span><span>{{users.firstName}} {{users.lastName}}</span></li> <!-- removed {{$index + 1}}-->
							</ul>
						</div>
					</div>
				</div>
			</div> <!---row end-->
		</div> <!-- content panel body end-->
	</div><!-- content panel end -->
	<div class="row m-t-md">
		<div class="col-md-4 offset-md-8 col-lg-4 offset-lg-8 offset-xl-10 col-xl-2 btn-default d-flex justify-content-end">
			<button type="submit" id="submit" class="btn pill-radius bg-phase-green font-body txt-white btn--lg font-weight-medium d-flex align-items-center" data-ng-click="$ctrl.confirmUpdate(user, newPassword)" data-ng-disabled="userProfileForm.$invalid">Save Changes <img src="assets/imgs/icons/tick_white_icon.png" alt="submit icon" class="m-l-xs"></button>
		</div>
	</div>
</form>