<div class="content-panel modal-max">
	<span class="modal-cross cursor-pointer" ng-click="urgentDismissModal()"><i class="txt-grey fa fa-times fa-2x"></i></span>
	<div class="modal-content--table">
		<div class=" d-flex flex-column align-items-center justify-content-center content-panel__head">
			<div class="m-b-sm">
				<img src="p3sweb/assets/imgs/icons/modal/alert_icon.png" alt="alert icon">	
			</div>
			<p class="font-h3 font-weight-bold m-b-xs">Renewal Stage Changes </p>
			<p class="font-h4 font-weight-medium text-center">Following patents are reaching the next renewal stage.</p>
		</div>
		<div class="content-panel__body p-b-none p-t-none">
			<div ng-repeat="item in urgentPatents" class="d-flex flex-column align-items-center justify-content-center m-b-md">
				<div class="row w-100">
					<div class="col-md-12">
						<table class="t-data font-body">
							<thead class="bg-phase-black">
								<tr>
									<th colspan="4" class="txt-white font-weight-medium text-center">App No. {{item.patentApplicationNumber}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="td-30">Short Title</td>
									<td>{{item.title}}</td>
								</tr>
								<tr>
									<td class="td-30">Current Amount</td>
									<td>$ {{item.currentRenewalCostUSD}}</td>
								</tr>					
								<tr>
									<td class="td-30">Next Stage Cost</td>
									<td data-ng-if="item.costBandColour !== 'Black'">$ {{item.renewalCostNextStageUSD}}</td>
									<td data-ng-if="item.costBandColour == 'Black'" class="font-weight-bold">LAPSE</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="row w-100">
					<div class="col-md-6 p-r-none">
						<div class="bar-phase bar-curr d-flex align-items-center justify-content-center" ng-class="(item.costBandColour == 'Green' ? 'bg-phase-green': '') +' '+(item.costBandColour == 'Amber' ? 'bg-phase-amber': '')+' '+(item.costBandColour == 'Red' ? 'bg-phase-red': '')+' '+(item.costBandColour == 'Blue' ? 'bg-phase-blue':'')">
							<span class="txt-white font-body btn--reg ">Current</span>
						</div>
					</div>
					<div class="col-md-6 p-l-none">
						<div class="bar-phase bar-curr d-flex align-items-center justify-content-center" ng-class="(item.costBandColour == 'Green' ? 'bg-phase-amber': '') +' '+(item.costBandColour == 'Amber' ? 'bg-phase-red': '')+' '+(item.costBandColour == 'Red' ? 'bg-phase-blue': '')+' '+(item.costBandColour == 'Blue' ? 'bg-phase-black':'')">
							<span class="txt-white font-body btn--reg ">Next Stage</span>
						</div>
					</div>					
				</div>
			</div>			
		</div>

		<div class="modal-footer p-t-none d-flex align-items-center justify-content-center">
			<button class="btn btn--lg btn-portal pill-radius bg-phase-green font-body font-body--component font-weight-medium txt-white d-flex align-items-center justify-content-center" ng-click="urgentOk()">Dismiss</button><!-- <img src="p3sweb/assets/imgs/icons/tick_white_icon.png" alt="submit icon" class="m-l-xs"> -->
		</div>
	</div>
</div> 